[2015-12-17 19:12] dpinart commented on #254
@EisenbergEffect  Sure. I understand your point and right not we don't have any customer pushing to view any app in Edge. I'm reallys surprised that the developer tools are so powerful that they can arrange apps :lol
@tuath I'm on Microsoft Edge 25.10586.0.0. So I guess is same than yours

[2015-12-17 19:13] tuath commented on #254
let me know if there is anything i can do...

[2015-12-17 19:46] tuath commented on #254
well, I just rebooted and as soon as I open the doc site with edge, it did not load correctly till I opened the dev tools, I guess I just hadn't rebooted in a looooong time.

[2015-12-17 19:49] EisenbergEffect commented on #254
It behaves erratically from what we can tell, depending on a number of variables. There may be a race condition somewhere. We're working on it...stay tuned.

[2015-12-17 20:07] CasiOo commented on #254
Yes it feels very much like a race condition. Keep refreshing the page, and eventually it will load correctly.

It always seems to load correctly in our own application at work. Neither have we noticed any of the long load times that have been mentioned in this issue. Our app. always starts at the login screen with not a lot of bindings, if that could be of any help at all.

[2015-12-17 20:09] EisenbergEffect commented on #254
Here's one thing I'm curious of. @CasiOo Are you using our http-client or our fetch0client (or neither)? Also, are you using bluebird?

For those of you who do have apps working fine in Edge. I'd love to know your answers to the above.

[2015-12-17 20:14] CasiOo commented on #254
We are using neither. Instead we're using the ajax part of jquery (I don't remember the reasoning behind it).
Our services are using bluebird, because we needed the `finally` part. We aren't creating any native promises at the login page, but we do at later stages in our app.

[2015-12-17 20:21] tuath commented on #254
@EisenbergEffect I am just going with Aurelia-fetch-client. no bluebird

[2015-12-17 20:22] EisenbergEffect commented on #254
I'm wondering if it's a conflict between our http-client and bluebird...

[2015-12-17 20:53] Gheoan commented on #254
I have an app working fine in Edge. Im using native fetch with [polyfill](https://github.com/github/fetch), no http-client, no fetch-client, no bluebird.

[2015-12-17 21:41] lares83 commented on #254
@dpinart, @EisenbergEffect I have the same issue on my Edge browser (ver 10586 ).  Docks page is not being loaded until I open DevTools

[2015-12-17 23:41] genadis commented on #254
@EisenbergEffect I'm working on app without http-client & without bluebird for now, takes very long time to load on Microsoft Edge 25.10586.0.0 with or without dev tools open. Loads same time with or without dev tools open.

If not bundled takes over a minute, when bundled takes about 20 seconds.
The resources are loaded serially one after another, and with pauses between them so the difference be

[2015-12-17 23:53] EisenbergEffect commented on #254
@genadis If you are targeting edge, you need to try out Bluebird. That will likely solve your perf problem. It might introduce the load issue above though. We are trying to find out the source of that still.

[2015-12-18 07:59] mohsin-citiustech opened #272 "Unable to import any jspm package in controller"
Hello,
I am unable to import jspm-packages.
Following is my config
[code]
And below is package.json
[code]
my folder structure is:
![image](https://cloud.githubusercontent.com/assets/16119190/11892012/242b9d1a-a58a-11e5-90a4-12c43170d2e0.png)

my controller code is:
[code]
And this controller gives error as dataTable is not a function means this package is not imported properly. Any way if I add r

[2015-12-18 08:22] SamDeBlock commented on #254
After the last update the docs now open (almost instantly, nice!) in Edge without dev tools open.
I'm running 20.10240.16384.0, before the update the docs would only load with dev tools.

[2015-12-18 13:23] Aniel commented on #254
Docs don't load (Edge: 25.10586.0.0) without dev tools.
After first load with dev tools it works without.
If i clear the cache and try loading again without the dev tools it doesn't work again.
So if dev tools are open a file gets downloaded and cached  that is causing the issue when dev tools are not open.

[2015-12-18 13:39] SamDeBlock commented on #254
@Aniel You are correct.  Just tried this with 20.10240.16384.0.
New InPrivate window, dev tools closed: docs open

New InPrivate window, dev tools open: docs open
Close dev tools, F5 to refresh and docs don't load anymore

[2015-12-18 14:34] csrow commented on #254
For those who can load the docs without dev tools open, try clearing the cache and then try again.
In my case, after the clean cache requires dev tools to be open.  Afterwards, docs open fine without the dev tools.
Edge 10586.0.0

-------------------------------
Chi Sung Row

Date: Fri, 18 Dec 2015 00:23:00 -0800
From: notifications@github.com
To: framework@noreply.github.com
Subject: Re: [framewo

[2015-12-18 18:00] genadis commented on #254
@EisenbergEffect following my previous post.
I've integrated Bluebird, it reduced the load time on Edge by half (~10 sec, on Chrome it's 2-3 seconds).
Still loading regardless of dev tools open or closed, even after clearing cache and data.

Tested the Aurelia docs as well, it loads on Edge in about 6 seconds, regardless of dev tools open or closed, even after clearing cache and data.
It did got f

[2015-12-19 08:07] Gheoan commented on #272
[code]
or
[code]

[2015-12-19 19:17] mikefills commented on #254
I confirm the erratic behavior in Edge. sometimes it works, sometimes it doesn't

[2015-12-19 19:18] mikefills commented on #254
@ohjames how's the loading time these days on the mobile?

[2015-12-19 19:25] mikefills opened #273 "Is Aurelia for mobile?"
Is Aurelia a good choice for mobile, I'm thinking for web-browsers which make sense based on market share (Safari 8+, Chrome for Android) ?
Compatibility and performance on these web-browsers are very important.
Is Aurelia team actively running tests on these web-browsers?
Thanks!

[2015-12-19 20:08] EisenbergEffect commented on #273
Yes.
But, this isn't the place for questions. Ask those on gitter please.

[2015-12-19 20:08] #273 closed

[2015-12-19 22:00] ohjames commented on #254
@mikefills still not good, currently spending my time defeating more pressing bugs involving repeat+animator.

[2015-12-20 03:30] roto5831 opened #274 "Getting more done in GitHub with ZenHub"
Hola! @roto5831 has created a [ZenHub](http://www.zenhub.io) account for the **aurelia** organization. ZenHub is the leading team collaboration and project management solution built for GitHub.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.io?utm_source=ZHOnboarding)** and log in with your GitHub account. On

[2015-12-21 16:58] glen-84 opened #275 "Module 'aurelia-binding' has already exported a member named 'Callable'"
I get this error with TypeScript `1.8.0-dev.20151221`:

[code]

[2015-12-22 06:44] #274 closed

[2015-12-22 11:35] mohsin-citiustech commented on #272
Hey Thanks,
import 'datatables'; works but how it is working?

[2015-12-22 15:33] nazariotpcbf opened #276 "Router:: Inconsistent navigation states when activation interrupted."
I've tested this on a Mac - Firefox and Chrome.
--
Having subscribed to the  **aurelia-router** events **router:navigation:processing** **router:navigation:success** and **router:navigation:complete**, and listening to it's states i understood that the flow into a Route goes like this.

RouterProcessing -> Page canActivate -> Page activate -> RouterSuccess -> RouterComplete.-> Page canDeactivate -

[2015-12-23 00:01] hubroot opened #277 "<require>"
Is there a feature or an implementation of this :
I have :
 one/index.html
 two/index.html

now if I do
<reqiure fom="one/index.html></require>
<reqiure fom="two/index.html></require>

how can I differentiate / use from the 2 above ?

Is there something like
<reqiure fom="one/index.html" as="index1"></require>
<reqiure fom="two/index.html" as="index2"></require>

[2015-12-23 00:29] EisenbergEffect commented on #277
I think something got lost in your post. However, this isn't the place for general questions, only for bugs and features. Instead, please ask this in our gitter chat room.

[2015-12-23 00:29] #277 closed

[2015-12-23 00:35] hubroot commented on #277
well, no one knows, So I fetched the source code and I've got what I looked for personally. Thans anyway ;)

[2015-12-24 08:08] alisabzevari opened #278 "Can not load component in chrome packaged app"
I am writing a chrome packaged app (not extension) with aurelia, typescript, materializecss and jspm.
I have bundled my application using `jspm bundle` and loaded in page using CSP version of systemjs. Everything works but loading my first app component failed with this error:
[code]
You can see my source code [here](https://github.com/alisabzevari/Teatr/tree/chrome-app)
Any ideas?

[2015-12-27 15:53] benjamingr commented on #269
Reading: https://groups.google.com/forum/#!topic/angular-data-dev/AdULPprCkbI%5B1-25%5D

[2015-12-28 08:32] namcv opened #280 "How to call a function outside custom element?"
I have one custom element named custom-element and I put it inside template A (with controller A)

<img width="702" alt="screen shot 2015-12-28 at 3 39 38 pm" src="https://cloud.githubusercontent.com/assets/9289826/12016104/5fdac2cc-ad79-11e5-9c24-193bba8b0c85.png">

export class CustomElem {
	@bindable  onCompleted;
........
}
And updateDescription() is one function of controller A.

export class

[2015-12-28 13:45] #272 closed

[2015-12-28 14:25] EisenbergEffect commented on #280
`on-completed.call="updateDescription()"`

[2015-12-28 14:25] #280 closed

[2015-12-28 17:53] MihaMarkic commented on #81
Same here. If I include jspm_packages all hell breaks loose - a ton of T2300 (duplicate identifier) are reported.
It'd be nice to have the definitions in TSD repository so to include only relevant ones.

[2015-12-28 18:33] EisenbergEffect commented on #81
Please have a look at our TypeScript skeleton to see how to configure things properly.

[2015-12-28 18:36] MihaMarkic commented on #81
You mean the Typescript Kit from Getting started?

[2015-12-28 18:37] EisenbergEffect commented on #81
No, I mean the official TypeScript navigation skeleton. It can be found here: https://github.com/aurelia/skeleton-navigation-typescript But we will be moving all the skele variations into a single repo soon.

[2015-12-28 18:49] MihaMarkic commented on #81
Aaaah, there are samples  floating around, easy to get confused. Looks promising, will dig into, thanks.

[2015-12-29 00:27] Gheoan commented on #271
`DOM` is also not exported.

[code]

[2015-12-29 00:39] EisenbergEffect commented on #271
You can get it from 'aurelia-pal' for the mean time.
It is actually exported. https://github.com/aurelia/framework/blob/master/src/index.js#L8
That it isn't available, we believe is a bug in Babel.

[2015-12-29 18:30] AStoker opened #282 "Update Core-JS Dependency"
Core-JS has been updated to version 2.0 (https://github.com/zloirock/core-js/releases/tag/v2.0.0). In it there are fixes for TFS users who cannot commit files that have `$` in the name (and as a result could not commit core-js files to the server).

Currently, Aurelia is referencing v1.2.6 of core-js. Please upgrade the reference (assuming tests pass) to v2.0.

[2015-12-29 21:29] #108 closed

[2015-12-29 21:29] EisenbergEffect commented on #108
We've added an update about this to our docs. It will be released soon.

[2015-12-29 22:04] EisenbergEffect commented on #212
Can someone put together for me an absolutely simplest possible repro? @davismj If you can send me some src files that I can drop into the nav skele to replicate the problem, I can work on this this week myself.

[2015-12-29 22:14] davismj commented on #212
Take a look at http://davismj.github.io/sentry/. Source at http://github.com/davismj/sentry/

[2015-12-29 22:28] EisenbergEffect commented on #212
I want something really simple. Should be possible with four components: two roots, and two routed to pages, correct?

[2015-12-29 22:47] davismj commented on #212
You only need one route on one of the roots. Yes.

On Tue, Dec 29, 2015 at 5:28 PM, Rob Eisenberg <notifications@github.com>
wrote:

[2015-12-30 13:33] AStoker commented on #282
As a note, I manually upgraded my references in package.json and config.js to use the 2.0 version of core-js without any troubles.

[2015-12-30 16:05] EisenbergEffect commented on #278
I haven't used the CSP version of system.js so I'm not familiar with its actual differences in implementation. Does it have any limitations?

The error you are getting is as if the view is being parsed as javascript instead of text. I'm not sure about using jspm bundle directly either. Have you tried the aurelia-bundler?

For future assistance, please ask this question in the gitter channel: gitte

[2015-12-30 16:05] #278 closed

[2015-12-30 18:02] EisenbergEffect commented on #212
I believe I can make this work without too much trouble. Would it be acceptable to require the following code?

[code]

Where `this.router` references the `AppRouter`.
Let me know.

[2015-12-30 19:23] davismj commented on #212
Routers are set on viewModels in the `configureRouter` function. Since they are intrinsic to viewModels, shouldn't they be automatically deactivated when the viewModel is deactivated?

[2015-12-30 19:27] EisenbergEffect commented on #212
Router deactivation basically turns off routing, so no, I wouldn't think so.

[2015-12-30 19:29] EisenbergEffect commented on #212
Also, the view model doesn't need to retain a reference to the router. The routing system makes no assumption that there is a router property.

[2015-12-31 20:13] cjdibbs opened #283 "self closing form of templates results next element being removed"
using the following code:
[code]
results in the div#cookie to be eaten by some monster, clearly I should use the non-self closing form of the tag (which works with out issue)

I would suggest either fixing it so you can use a self closing form, or making it so that the build process will throw an error.

[2015-12-31 20:29] EisenbergEffect commented on #283
There is no such thing as custom self-closing tags in HTML. The spec defines that only certain, special HTML element can be self-closing. It's beyond the power of any framework to change this since it's part of the HTML spec and enforced by the browser itself.

It is conceivable that we could try to add something to our bundler to check this...but it would involve bringing in a full spec-compliant

[2015-12-31 20:29] #283 closed

[2016-01-02 16:53] doktordirk commented on #249
darn, took me some time to find that bug myself. please fix this before more people waste hours on that.
(i guess last 0.0.x namely 0.0.17 would be recommended)

[2016-01-02 17:48] formfaq opened #284 "Getting more done in GitHub with ZenHub"
Hola! @formfaq has created a [ZenHub](http://www.zenhub.io) account for the **aurelia** organization. ZenHub is the leading team collaboration and project management solution built for GitHub.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.io?utm_source=ZHOnboarding)** and log in with your GitHub account. Onc

[2016-01-02 17:50] #284 closed

[2016-01-02 18:03] RWOverdijk commented on #249
:+1:

[2016-01-03 11:37] schatekar commented on #212
@EisenbergEffect Is this issue still being fixed or can I use the following code from one of your previous comments?

[code]

[2016-01-03 11:40] EisenbergEffect commented on #212
It hasn't been fixed because the `reset` method doesn't exist. We think we can also remove the need to write the first two lines of code so only a call to `setRoot` is needed. It shouldn't take long to fix and we could get it into this week's release, but I didn't really get any feedback from other people here. I was waiting a bit to see if there were any other comments.

[2016-01-03 12:12] schatekar commented on #212
It would be great if we can get it down to 1 line. I am anxiously waiting for this fix.

A related question - In my use case, I have a separate router for `app2`. Would calling `setRoot('app2')` also navigate to default route automatically or I would need to call `navigateToRoute` myself?

[2016-01-03 13:50] davismj commented on #212
There isn't technically a default route. If you mean the '/' route, if you
navigate while at that route, it should activate that route for both roots.

If you have 'mapUnknownRoute' to your '/' route, that would cover almost
every case.
On Jan 3, 2016 07:12, "Suhas Chatekar" <notifications@github.com> wrote:

[2016-01-04 13:56] jleepietech opened #285 "Pages not updating until I hit refresh"
When I create or edit item, the webpage will not update until I hit refresh on the browser at least once.

The webpages makes a web api call to retrieve the data when the page is activated.  I have tried both activation strategy - replace and invokeLifeCyle.  Note this only happens when the page is initially loaded.  If I hit refresh at anytime, the pages will start to update correctly.

[2016-01-04 14:13] BrettMN commented on #285
When you create or edit an item do you update the collection on the client that you are using for the display?

[2016-01-04 14:49] jleepietech commented on #285
Yes, I make a web api call to retrieve the data when I crud something.

return this.data.get().then(response => this.list = response);

[2016-01-04 18:14] giovannicandido opened #286 "href.bind check for undefined and null"
href.bind should check for undefined and null properties and not create a href element if that is the case.

The use case is optional link anchor's, current the code is necessary to create the behaviour:

[code]
if href.bind check for null and undefined properties the duplication above is unnecessary

[2016-01-04 18:17] giovannicandido commented on #286
I think that every bind of a property should check for null and undefined and not create the property in the dom

[2016-01-05 13:53] 32graham commented on #212
[code]

Seems acceptable to me @EisenbergEffect. For my use case I would want to use all 3 lines. It seems possible however that someone might not need/want the first two lines, so I think this is a good solution.

[2016-01-05 16:05] NateRedding opened #288 "Aurelia changes model values bound to input fields."
I am seeing some odd behavior where Aurelia seems to change some of my model values from null to ''.

I have a form with input fields bound to properties of a model object. At one point in my code, I need to replace the existing object with a new model object. After doing so, Aurelia adds new getters/setters onto the model object since this new model object doesn't have any yet. If the new model o

[2016-01-05 16:10] EisenbergEffect commented on #288
@jdanyow Can you look into this? I suspect it has to do with how inputs work.

[2016-01-05 16:59] #212 closed

[2016-01-05 17:00] EisenbergEffect commented on #212
The next set of patch releases, hopefully coming this week, will include this fix. There's no need to call deactivate or reset. Successive calls to setRoot will detect the presence of the router on the previous root view model and deactivate/reset it automatically.

[2016-01-05 17:04] MrAndMrsK commented on #282
@AStoker - when I attempt this find-and-replace of `@1.2.6` to `2.0.0` in `package.json` and `config.json` with a fresh download of the typescript skeleton (for example) `npm install` still ends up getting the old version of core-js because the eventually downloaded dependencies within each individual Aurelia package references that old version.  So must we find and replace AFTER `npm install` in

[2016-01-05 17:06] davismj commented on #212
@EisenbergEffect You're a rockstar. :guitar:

[2016-01-05 17:06] EisenbergEffect commented on #282
You can always remap core-js to an arbitrary module that contains only what you want.

[2016-01-05 17:07] EisenbergEffect commented on #212
Really sorry this took so long.

[2016-01-05 17:16] jdanyow commented on #288
@EisenbergEffect / @NateRedding - I did some digging, there's a couple things going on here...

The primary issue is the input element's `value` property only stores strings.  The element converts null/undefined to empty string. The binding is supposed to keep the element and model in sync which is why empty string is eventually assigned to the model.

If you really want to bind null to input.valu

[2016-01-05 17:20] EisenbergEffect commented on #288
@jdanyow How do you feel about making the change above?

[2016-01-05 17:34] NateRedding commented on #288
Thank you @jdanyow for taking a look at this so quickly! You all are awesome!

I had seen the other approach, but in my case, I really need to compare the models since I have subforms that show up in modals for nested objects. So, I need to know if my whole model has changed, or not... not really just if the primary form has changed.

Your value converter approach could work... feels almost as pai

[2016-01-05 17:40] jdanyow commented on #288
@EisenbergEffect I think the change is safe to make and will help reduce the confusion around this particular element property. Will target this release.

@NateRedding understood, this is a tricky one. These kinds of issues come up with elements that coerce values to strings. Food for thought: in a perfect world, with the initial model value being null, what do you expect the model value to be aft

[2016-01-05 17:57] NateRedding commented on #288
@jdanyow In a perfect world, I would expect the form to be "pristine" again. However, realistically, I am fine with nulls being changed to empty strings after a value has been entered and backed out. I have seen plenty of form dirty checking implementations where once the form is dirty, it stays that way. In my experience, this hasn't really caused many complaints from users as long as they have a

[2016-01-05 17:59] jdanyow commented on #288
ok excellent- so the fix we're planning should work for you- will post back here when it's in-place.

[2016-01-05 21:14] AStoker commented on #282
@MrAndMrsK, it would help if you install (with jspm) the version 2.0 of core-js, that way any other dependency that just says it needs core-js will use 2.0. THEN, you will also have to change the `config.js` file to modify the dependencies to all use v2.0 of core-js. At that point, running `jspm install` should look at all those changes you just made and use the 2.0 version and not download 1.2.6.

[2016-01-06 02:58] #288 closed

[2016-01-06 09:50] schatekar commented on #212
Thanks @EisenbergEffect

It is things like these that made me fall in love with Aurelia instantly.

[2016-01-06 16:08] NateRedding commented on #288
Thanks again! What's the release schedule looking like for this?

[2016-01-07 11:36] MrAndMrsK commented on #282
@AStoker - that's really helpful confirmation and new info, thanks!

[2016-01-08 15:19] arjendeblok commented on #227
I am facing the same issue. My site takes about 8 seconds to load on Edge.
But.. on IE11 it takes less than a second to load.
Very strange. Looks like a SystemJS issue to me.

[2016-01-08 15:21] EisenbergEffect commented on #227
Did you add bluebird? That should solve the problem. We have reported this issue to the Edge team along with tests to verify it for them.

[2016-01-08 15:43] arjendeblok commented on #227
If I add bluebird (not via JSPM, but in the header on index.html) the Edge browser now takes 2 seconds.
IE11 (with or without bluebird) still takes less than a second, so IE11 is still more then 2 times faster.
Thanks for the tip!

[2016-01-08 20:13] jhudler opened #290 "[TypeScript] 'Singleton' decorator requires 'function call' to work"
Suppose the following ViewModel:

[code]

Using the `@singleton` attribute/decorator will incur in the following error:

    ERROR [app-router] Error: Error invoking . Check the inner error for details.
    ------------------------------------------------
    inner error: TypeError: Cannot read property 'hasOwnProperty' of undefined
        at Object.Reflect.defineMetadata (http://localhost:9000/j

[2016-01-08 20:23] EisenbergEffect commented on #290
Welcome to the beautifies of the ES2016 decorator design. Some decorators require the parens...and some don't.

[2016-01-08 20:23] #290 closed

[2016-01-08 20:24] EisenbergEffect commented on #290
Not much we can do about it.

[2016-01-10 18:22] Cedware opened #291 "configure isn't called after System.import('aurelia-bootstrapper')"
since the last update the configure method isn't called after running System.import('aurelia-bootstrapper'):

index.html:
[code]

AureliaConfiguration.ts:
[code]

[2016-01-10 18:33] jhudler commented on #290
Shouldn't then the docs samples adopt a convention of always use parenthesis instead?
Or this is not possible/safe?

I'm sorry if this is a basic/stupid question of mine, but googling some texts about this didn't made me feel clear about a rule of thumb for this...

[2016-01-10 18:40] EisenbergEffect commented on #290
The unfortunate answer is that there isn't a rule of thumb. Some decorators require the parens. Some do not. We've tried to make any paren-less decorators also function correctly without them. But those that require them can't work without them. I think what we can do is try to indicate that in our API docs. If you would like to open a new issue about documenting this feature of decorators, that w

[2016-01-11 12:23] Manuel-S opened #292 "Docs: Alert-Box doesn't wrap text in IE"
If this is the wrong repo to post this issue I apologize, I couldn't find the repo containing the docs framework.

In the official [Docs](http://aurelia.io/docs.html), there is a css error in IE11:

The au-alert - box only has a single line for content, which will then overflow.
Simple fix:
.au-alert h4+p{
...
max-width:100%;
}

[2016-01-11 14:33] EisenbergEffect commented on #292
@joelcoxokc Can you take a look into this.

[2016-01-11 15:49] ChrisEbert commented on #291
I have the same issue with my project

[2016-01-11 16:05] joelcoxokc commented on #292
@manuel-S thank you for the issue and solution. I'll get it taken care of.

[2016-01-13 16:49] Aniel opened #293 "Firefox 43.0.2 if.bind and repeat.for bug"
In Firefox 43.0.2 the following doesn't work:
ViewModel:
[code]

View:
[code]

In chrome the result is the following:
![image](https://cloud.githubusercontent.com/assets/4410553/12301123/c150f0f6-ba1e-11e5-9cc9-334bc53ebc07.png)

In Firefox 43.0.2 (Newer versions work fine)
![image](https://cloud.githubusercontent.com/assets/4410553/12301191/08805c28-ba1f-11e5-8650-c33a879639c2.png)

[2016-01-13 17:03] Gheoan commented on #293
Possible duplicate: https://github.com/aurelia/templating-resources/issues/111#issuecomment-171087593

[2016-01-13 21:27] MrAndMrsK opened #294 "Removal of corejs as a hard dependency"
Corejs is a shim for es6 features.  Some projects will target only browsers that are es6 native.  Also, other es6-compliant shims exist.  Also corejs npm package (current dependency version) causes issues with TFS and totally bloats the app source with 900 files.

I suggest that es6 features become a soft-dependency of Aurelia instead of a hard one.  This will allow for flexibility in the choice o

[2016-01-13 22:06] EisenbergEffect commented on #294
Yes. I agree with you for the most part. We are working on a solution. In the mean time, you can update the map config in your config.js file such that the mapping for core-js points to an empty module. I believe that should work. It's not ideal, so we hope to have a better solution in the future.

[2016-01-13 22:12] MrAndMrsK commented on #294
Ok, cool.  I do love what you guys are doing with the whole of it.  And I just wanted an up or down on this and if up, then now it can be tracked (if not a dup).  I only posted this after some discussion on gitter.

[2016-01-13 22:12] atsu85 commented on #294
One relatively easy option would be to include script that strips some functionality (from the sample app) - what do You think? I know that in long term @EisenbergEffect wants smth fancier, but as a start it might be good enough and wouldn't take too much effort (to create the script and to maintain several samples)

[2016-01-13 22:13] atsu85 commented on #294
(uups, my last comment was meant for another issue)

[2016-01-13 22:15] EisenbergEffect commented on #294
Yes, it's good that you sumitted this issue. I was thinking about it again this week because I was frustrated by the size that core-js added to our library. I was wondering if we couldn't do something better to solve that.

[2016-01-14 00:06] jsobell commented on #291
I can't reproduce this, and I'm using typescript with the same names with no problem.

Check that you have `/dist/AureliaConfiguration.js` generated with the expected content.

Also, in TypeScript beware of TSC build errors that still generate .js files.

[2016-01-14 15:43] Roustalski commented on #174
@sylvain-hamel Great workaround setup. I've also successfully implemented your workaround.

I currently have an existing application in angular, and during the bootstrap of Aurelia, I'm loading a main.js with a configure function. Is there a way to get at the event aggregator when Aurelia starts and subscribe to the event there? How would I load a viewless module, say a simple log implementation,

[2016-01-15 04:04] vinhtq commented on #293
+1 Not working for me also. And also on opera

[2016-01-15 04:10] vinhtq opened #295 "Most of code in get started not working"
I tried to learn Aurelia through get started.

Most of the code not working.

First i ran on opera => not working at all.

Then i tried Firefox => i can see the menu bar but no links or content at all

I used Chrome and then it works but later when i write this code:
[code]

row.href => undefined when i click on the link

One weirdest thing is although i restart server and refresh the page many ti

[2016-01-15 04:56] vinhtq commented on #271
+1 So how can i go over this bug. Is there any work around?

[2016-01-15 06:12] EisenbergEffect commented on #293
Closing since it's a duplicate. You can't have if and repeat on the same element. Should the repeat be ifed? or should the item be ifed? That cannot be determined since browsers don't always preserve the attribute order. The solution is to nest the template elements the same way you would nest if and for blocks in JS.

[2016-01-15 06:12] #293 closed

[2016-01-15 06:16] EisenbergEffect commented on #295
Our apologies. Opera is not among our currently supported set of browsers, but we can look at adding it. We'll need some more information from you to track down the bugs. The same would go for the other issues, as those problems with firefox and Chrome have not been reported before.

[2016-01-15 06:17] EisenbergEffect commented on #271
You can get decorators from 'aurelia-metadata'. You may need to jspm install aurelia-metadata first.

[2016-01-15 06:57] Gheoan commented on #295
Are you starting the webserver using `http-server`? `http-server` is caching the files so you have to clear the cache when you make a change. Use `CTRL+F5` to refreash and clear the cache or start `http-server` with
[code]

[2016-01-15 07:08] Gheoan opened #296 "getting started nodejs webserver"
The Getting Started article recommends starting a webserver on `nodejs` with the command `http-server -o`. However `http-server` defaults to [1 hour of cache time](https://github.com/indexzero/http-server/blob/master/README.md#available-options) which is [not good for a development server](https://github.com/aurelia/framework/issues/295#issuecomment-171885911).

I propose switching to `browser-syn

[2016-01-15 07:15] vinhtq commented on #271
Thanks! I suggest we should put this anwser somehow in the guide. Because i have many problems when i start

[2016-01-15 07:22] vinhtq commented on #295
@Gheoan Your solution helps me. Thank you!

As i know is opera now change to use webkit engine like chrome. I think maybe it is good if we can run on opera.

Since i began from get started, i have had many problems. If you can try out yourself the get started guide as a beginner like me you will see.

Thank your for your potential project. I really like it concept.

[2016-01-15 21:57] CasiOo commented on #295
@vinhtq I've been using Opera with webkit, and I haven't noticed any problems that would not also occur in Chrome yet. There might be some differences though, but I myself haven't ran into them yet.

[2016-01-16 14:06] EisenbergEffect commented on #296
I think, let's stick with http-server for these scenarios. If you want to submit the PR for the docs instructions fix, I would be happy to accept that. This definitely causes an issue.

[2016-01-18 17:03] sylvain-hamel commented on #174
Get EventAggregator from the container:

[code]

[2016-01-19 22:11] sylvain-hamel commented on #174
I figured out how to handle unhanded promise rejections:

[code]

The full code is now:

[code]

According to [the core-js doc](https://github.com/zloirock/core-js#unhandled-rejection-tracking), you also *need* this in `index.html`. Even without deleting the native `window.Promise` it worked with my test case but I guess it is safer to follow the recommendation.

[code]

[2016-01-20 10:26] ramesh-daffodil commented on #16
@ryanwischkaemper @EisenbergEffect

I am using this repo (https://github.com/ryanwischkaemper/aurelia-nw.git ) --> nw.js with aurelia .. I am able to require("nw.gui") as you did in window bar.js
. But I am not able to create new gui.Menu() .
Some code for reference
var gui = require('nw.gui');
export class App {
add_collection () {
console.log("add collection called");
}
attached() {
console.log(

[2016-01-20 13:21] jsobell opened #300 "@computedFrom not working in TypeScript"
The `@computedFrom` appears to have no effect in TypeScript.
For example (based on the current TypeScript skeleton):
[code]
The message shows polling every 120ms.

[2016-01-20 13:58] EisenbergEffect commented on #16
I haven't personally used NWJS with Aurelia. I've only used Electron. I don't see why this issue would be related to Aurelia. In any case, we would  need some more information, such as an error message, etc.

[2016-01-20 14:01] EisenbergEffect commented on #300
@jdanyow Can you take a look into this?

[2016-01-20 14:36] PWKad commented on #300
I just tested this on the skeleton and it works fine for me.  Polls only as expected.

[2016-01-20 14:39] PWKad commented on #300
I just tested this on both typescript skeleton and es2016 skeleton and it works fine for me.

[2016-01-20 22:10] NateRedding commented on #288
@jdanyow You mentioned above that if the user enters a value in a text field that was originally null, and backs out the change, then the value might be an empty string '' instead of the original null. Now, my assumption was that this would happen if the user uses backspace to clear out the original value. However, I am seeing similar behavior that I wanted to run by you. Here is the scenario:

1)

[2016-01-20 23:02] jdanyow commented on #291
@Cedware  / @ChrisEbert are you still hitting this issue?

[2016-01-20 23:09] PWKad commented on #286
If you don't have an `href` on the Anchor it will not appear to be clickable so I think it should be left as-is personally.  No reason to remove the attribute from the DOM since it isn't like `readonly` or `disabled` where the attribute being there actually does something unless I am missing something.

[2016-01-20 23:42] jsobell commented on #300
Interesting.
I've tried it on two dev machines, and both exhibit the same polling issue.
I've attached the .js generated by inserting the snippet above into welcome.ts. Can you confirm it matches yours?
I'm happy to be proven wrong on this, but I undeniably have the issue on two different machines, both running from the skeleton TS project.
Neither have any compile errors, and the code execute wit

[2016-01-20 23:49] jsobell commented on #300
Ah, I've found why it occurs.
The following original code was still present:
[code]
As such, *any* function without a computedFrom() will cause a poll of every property in the object.
I think we need to make this clear in the documentation, as `computedFrom` is an 'all or none' feature.

[2016-01-20 23:52] EisenbergEffect commented on #300
It doesn't poll every property...just the fullName property. That just happens to be computed from firstName and lastName, so those get accessed too as part of the access of fullName.

[2016-01-20 23:52] #300 closed

[2016-01-20 23:54] jsobell commented on #300
Oh bollocks. I see that now. D'oh.
Sorry for the timewaste.

[2016-01-20 23:58] EisenbergEffect commented on #300
No need to apologize. We need more docs and we should make this clear.

[2016-01-21 08:00] Cedware commented on #291
Currently i created a new project at work, I had no problem there, so I assume there must be an error in the project, in which i have this issue.

[2016-01-21 12:34] stevies commented on #174
Is there a way to just let the error bubble up so code I have in the head of index.html page catches it: eg

    window.onerror = function(msg, url, line, col, error) {
      debugger;
    };

That's a trivial example. In reality, I have a custom logger in there that deals with posting back to the server.  I know I could probably pull all of that code into a custom appender - like solution above -

[2016-01-21 13:07] SorenMuller commented on #227
I added bluebird script in index.html, but still the same..
Aurelia stop at splash screen on Edge...
Do I need to do more ??

[2016-01-21 14:50] sylvain-hamel commented on #174
@stevies no it's not possible because unhanded ajax exceptions and unhanded promise rejections don't end up in `window.onerror` (and that is not related to Aurelia).

I created this issue because I think all Aurelia applications should benefit from a simple and reliable global error handling mechanism and I hope the Aurelia team integrates this into the framework.

[2016-01-21 14:52] EisenbergEffect commented on #174
We could add something like this through our pal abstraction. @sylvain-hamel Would you be willing to put together a prototype?

[2016-01-21 15:06] sylvain-hamel commented on #174
@EisenbergEffect would you be ok with adding a dependency on `AjaxInterceptor` (an external library) and one on `window.onunhandledrejection` (a non standard feature added by core-js)?

[2016-01-21 15:08] EisenbergEffect commented on #174
No 3rd party dependencies please. Those constantly cause us issues. Also, the AjaxInterceptor isn't going to work with Fetch I imagine, which is our preferred mechanism for HTTP.

[2016-01-21 15:31] sylvain-hamel commented on #174
You are right.

I feel like the core team is in a better position to find the proper implementation and the all right hooks. My current handler does not work if the error occurs too early and does not cover all error types yet. I think it's important that the global error handling mechanism kicks in as early as possible because errors during initial load are common. Our current app (that we conver

[2016-01-21 15:39] EisenbergEffect commented on #174
Please keep the ideas coming :)

[2016-01-21 15:40] EisenbergEffect commented on #174
Please keep the ideas coming :)

[2016-01-21 20:59] ChrisEbert commented on #291
I'm still facing this issue. But after removing the configure method, my project wasn't running anyway.
I will revert the updated packages to find out which causes the issue.

[2016-01-21 21:06] blkbltjns opened #301 "oneTime binding behavior breaking in a changing collection"
This is not working as expected, the screen should show:
4 4
5 5
after clicking the button.

welcome.html
[code]

welcome.js
[code]

[2016-01-21 21:11] EisenbergEffect commented on #301
What does it show instead?

[2016-01-21 21:14] blkbltjns commented on #301
It shows:
1 1
2 2

[2016-01-21 21:34] Gheoan commented on #301
I think the excepted behaviour with `one-time` is
1 1
2 2

[2016-01-21 21:36] blkbltjns commented on #301
I don't understand this logic. I want a list of divs with each div binding oneTime to it's underlying data. If I replace the list of data, there should be brand new divs...the oneTime should only apply to that specific view-viewmodel, not to the index in the list.

[2016-01-21 21:49] Gheoan commented on #301
http://aurelia.io/docs.html#/aurelia/framework/latest/doc/article/cheat-sheet/5 explains the 3 types of binding in Aurelia. What you want is probably `one-way`

[2016-01-21 22:00] blkbltjns commented on #301
One-way gets dirty checked and removes a bunch of optimizations that one-time gets. One-time usually means the property you are binding to is immutable, which is the case I am talking about.

[2016-01-21 22:05] blkbltjns commented on #301
And just to show what I mean, this -->does<-- work:

[code]

It just doesn't work if the div contains more than one item in the string template

[2016-01-21 22:11] EisenbergEffect commented on #301
I think it's a legitimate bug. @jdanyow @martingust Can you guys look into this?

[2016-01-22 02:45] egeland opened #304 "The <content> element doesn't work for adding <option> to a <select>"
The `<content>` element doesn't work for adding `<option>` to a `<select>`.

I have set up this test, based on the ES2016 skeleton:

ce.html
[code]

and adding this to `welcome.html`:
[code]

This works perfectly:
![image](https://cloud.githubusercontent.com/assets/1281379/12501163/92378768-c0fd-11e5-8898-13ecb955cc77.png)

Change the `ul` to `select` and the `li` items to `option`, and you get an

[2016-01-22 02:56] EisenbergEffect commented on #304
The reason for this is that option elements are not valid inside of the ce element. They are only valid in select, datalist and optgroup. It's a matter of the html spec.

[2016-01-22 02:56] #304 closed

[2016-01-22 03:02] egeland commented on #304
Darn.. so how should I make this functionality?
Use `<ul>` with a `click.delegate` and basically create my own version of a `<select>` ?

[2016-01-22 03:05] EisenbergEffect commented on #304
Consider making a custom option element that you then use as a "data source" to create your real options internally. You can do this with the `children` decorator. Take a look in the cheat sheet and see if that helps you.

[2016-01-22 03:20] egeland commented on #304
Thanks for your time - I'll see how I go! :+1:

[2016-01-22 15:11] Secbone opened #305 "Can't import aurelia files with jspm@0.17.0"
I update my jspm to 0.17.0,  then I found the System get the wrong url of aurelia packages,like this:
[code]
and the right url path is:
[code]

[2016-01-22 16:44] giovannicandido commented on #286
That is exactly the behavior expected for a link with no href, it is not clickable. Or to be more a curate it prevents the default click and do not perform a undesired navigation to null. And is useful in many situations

[2016-01-22 16:57] giovannicandido commented on #286
If you do not forget layout and styling, it is the best non boilerplate way to create menus.
Another reason is that any tag=null tag=undefined should have side effects unless null and undefined are what the developer want, in this case it should be a string

[2016-01-24 13:46] shivajiraot opened #307 "How to use bootstrap-select or any other js control with Aurelia?"
Not sure what I am missing here, probably something silly, but I am unable to find anything regarding, let's say how to use bootstrap-select control in Aurelia views. Can someone point me to the right article please?
PS: I am not looking to create another custom control out of bootstrap-select but use as it as.
Request for your help.

[2016-01-24 17:17] jdanyow commented on #307
Hi @shivajiraot, try your question in the [gitter channel](https://gitter.im/Aurelia/Discuss) or on stackoverflow with the tag `aurelia`. Include links to the specific library you want to integrate.

[2016-01-24 17:17] #307 closed

[2016-01-25 00:45] cehoffman commented on #305
The first path is actually correct. The problem comes from jspm 0.17 changing the key in the directories configuration from `lib` to `dist`. You can get around this temporarily by setting an override of the form `{"directories": {"dist": "dist/amd"}}` for each aurelia package.

It is really painful to do manuall, so I just wrote a script using `jspm/api` to parse out all aurelia packages and set t

[2016-01-25 01:13] EisenbergEffect commented on #305
0.17.0 is in Beta and is not released or recommended except for testing purposes. It has many breaking changes and is not yet supported by Aurelia. That said, we've been talking with the JSPM team about how to migrate in a backwards compatible way so that we can support the current released version and the beta. We'll be doing that in the near future.

[2016-01-25 01:13] #305 closed

[2016-01-26 20:43] NateRedding opened #308 "Aurelia changes model values bound to input fields after code resets value to null"
This is sort of a follow on to https://github.com/aurelia/framework/issues/288

As mentioned in that story, it was acceptable for Aurelia to change a model value to an empty string '' from null in the case that a user enters a value and then subsequently backs out that value. What I am seeing now though is the following:

1) value is initially null
2) user types a value into the text input field
3

[2016-01-27 02:24] EisenbergEffect commented on #230
It's not ready yet and we want to probably add some more features, but he have something like this we're working on:

[code]

[2016-01-27 03:09] sylvain-hamel commented on #230
That's great! Will you consider creating an new `aurelia-test-helpers` project where you'd group all test related helpers? Earlier in this thread @jdanyow was talking about an async assertion queue, which would be useful. Also, this week I was talked with people in Gitter about a helpers to mock `httpClient` and setup expected requests and responses. All this could go into that projects maybe.

Ab

[2016-01-27 03:53] EisenbergEffect commented on #230
The wip is just in my own local skeleton where I'm writing some tests on components to see how it works. We've been chatting about the api. I think Jeremy has a nice idea to provide more control for testing. Here's his api idea:

[code]

There could also be a `component.render()` to push it through the standard lifecycle. But the idea is to be able to slowly move the component through it's lifecyc

[2016-01-27 04:29] sylvain-hamel commented on #230
I really like that!

Those `then`s could be wrappers around `setTimeout` to make it easy to assert and avoid using `setTimeout` in the tests [like this](https://github.com/aurelia/binding/blob/cb1a189a5482787e63c6d5fedf828cdb606f8d13/test/binding-engine.spec.js#L94). I too have to do this a lot in my own tests.

[2016-01-27 04:35] jdanyow commented on #230
you nailed it- that's exactly what the `then`s are for.  A promise's `then` is async, which will eliminate the need for `setTimeout` as well as align component testing with some standard javascript patterns that people are used to.

[2016-01-27 12:41] stoffeastrom commented on #230
Yes it's async but since the `UI rendering` afaik is happening after the `micro task queue` you will not always get the desired result depending on what you want to test

[2016-01-27 12:43] stoffeastrom commented on #230
In `mocha` you could even return the promise chain removing the use of `done` which is very nice! Don't know if `jasmine` supports that

[2016-01-27 12:58] jdanyow commented on #308
Hi @NateRedding, I think this (and #288) are in a grey area- not sure if they're true bugs or supported scenarios. I'll attempt to explain what I mean:

The binding system's responsibility is to keep the view and view-model in sync. This is impossible to do when the model contains a value that cannot be applied to the view. I think the problem stems from the fact that input value binding translate

[2016-01-27 13:03] #262 closed

[2016-01-27 13:04] #295 closed

[2016-01-27 13:04] #296 closed

[2016-01-27 13:04] jdanyow commented on #292
@joelcoxokc can this be closed?

[2016-01-27 14:07] NateRedding commented on #308
@jdanyow Yep, I had a feeling that was going to be your answer. I will work around the problem for now. I do appreciate you leaving this open as a question for further research.

[2016-01-27 16:25] EisenbergEffect commented on #230
I'm going to close this issue for now. I've created a new repo where we will put our testing helpers: https://github.com/aurelia/testing
It contains a very simple proof of concept. We can handle any further conversation through issues on that repo.

[2016-01-27 16:25] #230 closed

[2016-01-27 18:59] Roustalski commented on #174
My usage of the AjaxInterceptor breaks in typescript, so I manually created a definitions file for anyone who is interested until the official support without the 3rd party becomes available:

./typings/ajax-interceptor.d.ts
[code]

[2016-01-28 20:26] atsu85 commented on #308
I'd vote for using converter (maybe it could be provided by the framework).

@jdanyow, question inspired by this issue: Would it be possible to programmatically add converters to form elements? I'm pretty confident that each view or custom element could look up all the form elements and add the converter programmatically just like it is done after parsing the binding expression that contains the c

[2016-01-28 22:34] jdanyow commented on #308
@atsu85 it's definitely possible rewrite a binding's source expression.  Here's an example from `aurelia-i18n` of a BindingBehavior that rewrites the binding expression to include a value converter:
https://github.com/aurelia/i18n/blob/master/src/t.js#L93-L99

It's probably not clear exactly what is going on there but essentially the binding behavior (we'll call it `foo`) will rewrite expressions

[2016-01-29 03:43] adriatic commented on #98
Update: check http://blog.durandal.io/2016/01/28/aurelia-and-kendo-ui/

[2016-01-29 10:37] himanshu-daffodil commented on #16
i have same issue that mentioned above . i m also not able to create instance of  "var gui = require('nw.gui')"

[2016-01-29 17:58] VagyokC4 commented on #94
@cristimusat @Aaike Why must you exclude files ending in 'html.js' and 'css.js' from cache busting?

[2016-01-29 18:06] younesouhbi opened #309 "Window load callback never gets called from a view model"
First, awesome framework! I say that every time and I'll keep saying it.
That said, I'm trying to subscribe to the window load event through jQuery from a view model (in order to activate Masonry) but the callback never gets called. I'm practically sure this has nothing to do with Aurelia per say but with javascript modules and my knowledge about them or lack of it.

Masonry needs to operate after

[2016-01-29 18:17] Aniel commented on #309
you can use the `attached(){
 //your code
}` in your View Model see [Docs ](http://aurelia.io/docs#/aurelia/framework/1.0.0-beta.1.0.8/doc/article/cheat-sheet/2)

[2016-01-29 18:20] younesouhbi commented on #309
attached doesn't work because it's not late enough, it might get called while images are still not loaded.

[2016-01-29 21:15] Thanood commented on #309
Would it work from main.js?

[2016-01-30 08:19] EisenbergEffect commented on #282
All done...

[2016-01-30 08:19] #282 closed

[2016-01-30 19:05] joelcoxokc commented on #292
@jdanyow yes

[2016-01-30 21:57] #292 closed

[2016-01-30 22:07] davidbfrogman opened #310 "Google Bot and others can't seem to render or speed test my site"
So I'm starting to deploy my site ( just to test it out), and I've been looking through page speed insights, and pingdoms website speed tester.  It seems as though they don't wait for my aurelia app to finish loading before calling it good.  There also seems to be some pretty big delays between my main app, and the aurelia bundle actually loading.  I'm curious if anyone has seen behaviour like thi

[2016-01-30 22:53] davidbfrogman commented on #310
Apparently people are saying in the gitter channel that my bundle includes all of core-js, but I have no idea how to remove it. or only bundle the parts that I need.

[2016-01-30 22:58] EisenbergEffect commented on #310
@davidbfrogman I recommend that you use an override so that instead of getting a million separate core-js moduels you just get one. That will mean less runtime module resolution processing. Take a look at the package.json file in our skeleton. You will see the override. Add that to your package and then re-install core-js.

[2016-01-30 23:09] davidbfrogman commented on #310
huge difference:
[image](http://puu.sh/mPR6I/ede3d1fc6e.png)

Although still
[image](http://puu.sh/mPReE/6c5034d952.png)

Which is pretty worrisome.

[2016-01-31 22:40] kburge commented on #98
This is excellent news! Thanks Rob and team.

Ken

On Thu, Jan 28, 2016 at 9:43 PM, Nikolaj Ivancic <notifications@github.com>
wrote:

--
Thanks,
Ken

[2016-02-01 01:24] EisenbergEffect commented on #98
Thanks goes to @adriatic and the group he's assembled to work on UI library implementations.

@adriatic Before I forget, would your team mind authoring an article that we can put into our official docs. We have an "integration" section that would be a good place to talk about using Kendo UI with Aurelia. It doesn't have to be a long article, just something to introduce the library and then point p

[2016-02-01 03:07] adriatic commented on #98
Yes, of course - I know about this "integration" section and it's a good idea to contribute to that.

[2016-02-01 17:45] jdanyow commented on #309
by the time you're in a view model the window.load event has already fired.

[2016-02-01 17:45] #309 closed

[2016-02-01 18:02] younesouhbi commented on #309
Does this mean that by the time I'm in a view model, all images in the corresponding view have been downloaded and available? How is this possible? Unless Aurelia loads the content of every view before starting which sounds inefficient. Can you please elaborate?

[2016-02-01 18:16] jdanyow commented on #309
sorry- i meant document.ready.

if you're looking to this event:  https://developer.mozilla.org/en-US/docs/Web/Events/load
I don't think it's going to fire when the image elements are dynamically added via the templating system.

Maybe this will work for you:  http://imagesloaded.desandro.com/

[2016-02-01 18:49] younesouhbi commented on #309
I was talking about images that are simply added to a view using the regular img html tag. There should be a way to get the window.load event into Aurelia...
That said, thank you! I'll try the plugin you mentioned.

[2016-02-02 00:11] wforney commented on #275
I have this error as well:

`jspm\npm\aurelia-framework@1.0.0-beta.1.1.1\aurelia-framework.d.ts(209,3): error TS2308: Module 'aurelia-binding' has already exported a member named 'Callable'. Consider explicitly re-exporting to resolve the ambiguity.`

[2016-02-02 01:08] EisenbergEffect commented on #275
TypeScript 1.8 is not released yet. If you are using a Beta, we can't guarantee support for that. If you understand the source of that error and why TS 1.8 would cause that, please let us know and we'll do our best to fix it on our end.

[2016-02-02 01:17] wforney commented on #275
I found this: https://github.com/Microsoft/TypeScript/pull/5148/files

This may be the cause of the error...

[2016-02-02 01:31] EisenbergEffect commented on #275
@jdanyow Looks like we might have to libraries exporting the same interface. We need to track that down and see if we can manage to not export one of them.

[2016-02-02 02:22] davidbfrogman commented on #310
Well I made some progress. I'm adding notes here just in case anyone else tries this out, and starts to run into errors.

It seems like google and others must be using something similar to phantom.js to fetch/render pages.  Which is interesting, because it seems like there are some polyfills that are needed in aurelia for these crawlers to be able to execute.  I worked through a lot of the problem

[2016-02-02 03:49] MarkHerhold opened #311 "VM Model Binding Changed in Beta 1.1.x"
It seems that there has been a breaking change between Beta 1.0.x and 1.1.x in regards to child VMs binding to values and calling functions on a parent VM that is repeating over elements. It is my understanding that there were not supposed to be breaking changes in the new 1.1.x beta version.

I have created two plunkrs, each with the same code (`books.js`, `books.html`, `book.js`, `book.html`) bu

[2016-02-02 03:56] EisenbergEffect commented on #311
There may have been a regression. @jdanyow Can you take a look?

[2016-02-02 04:06] Gheoan commented on #310
@davidbfrogman very useful finding !

[2016-02-02 13:20] jdanyow commented on #311
In previous releases there was a bug that allowed custom element templates to access the outer scope.  Fixing this bug is what's causing your issues.

The `book` element's template looks like this:

**book.html**
[code]

And it's view model looks like this:

**book.js**
[code]

This will not work, it creates a situation where the `<book>` element can only be used when the outer scope implements a

[2016-02-02 13:20] #311 closed

[2016-02-03 01:23] MarkHerhold commented on #311
Makes sense. I rather liked the flexibility of the scope bug though.  ;)

Thanks for the detailed response on the proper way™ to do things.

On Tue, Feb 2, 2016, 8:21 AM Jeremy Danyow <notifications@github.com> wrote:

[2016-02-04 12:16] remojansen opened #313 "Question: No way to replace default injector?"
Hi guys,

I'm working on my a IoC container and I would like to see how well would it work with Aurelia.

Do you guys provide some way to replace default IoC container with another IoC container with ease? Something like [`IDependencyResolver`](https://msdn.microsoft.com/en-us/library/system.web.http.dependencies.idependencyresolver(v=vs.118).aspx) resolver in ASP .net.

Thanks!

[2016-02-04 14:13] EisenbergEffect commented on #313
Yes, you can do it, but you will need your own DI to implement a basic interface if you want Aurelia to work. To replace the default DI you need to write your own bootstrapper and supply the Aurelia object with your custom container instance.

So, it's all possible, but requires a bit of work and isn't really recommended. We could possibly make it so you don't have to write a custom bootstrapper..

[2016-02-04 14:13] #313 closed

[2016-02-04 17:25] danfma opened #314 "package.json within the published library"
The current version of aurelia in jspm (1.0.0-beta.1.1.1) only has two files:

* a javascript file: aurelia-framework.js;
* a typescript definition file: aurelia-framework.d.ts.

If you put, with each repository a simple package file like bellow, it will allow the Typescript find the definitions automatically, when using 'node module resolution'.

[code]

For example, if this `package.json` is on

[2016-02-04 17:35] EisenbergEffect commented on #314
Are you saying that all we need to do is add our package.json file to the dist folders and then include the typings entry?

[2016-02-04 19:30] atsu85 commented on #314
@danfma, I'm curious, why You'd like to

?
What (TypeScript code) would use aurelia-framework from node_modules folder instead of jspm_packages? My first thoughts were
* Gulp (haven't figured out how it would be useful, maybe linting?)
* and attempt for server side rendering (i guess this still needs to wait some distant future)

so Your use-case is probably smth else, right?

[2016-02-05 05:38] danfma commented on #314
@EisenbergEffect, yes. The new Typescript 1.9+ release will have a new module resolution that will allow to discover typings in a node package, if the package.json has a "typings" attribute that points to the definition file.

[2016-02-05 05:49] danfma commented on #314
@atsu85, you are right. The only way to use that is if aurelia is installed on jspm and on node. But you can do some hacks like putting a symbolic link into the nodes folder that points to the jspm to overpass that. When I asked that I was trying to generate static bundles using the rollup, but that was not really a good option after all.

@EisenbergEffect, I don't think that you will lose anythin

[2016-02-05 08:50] Cedware opened #315 "NavigationPipeline next.cance(new Redirect("...")) has no effect"
This is my router config:
[code]

This is run method of the AuthorizeStep:
[code]
If return next.cancle(new Redirect("loginStore")); is called simply nothing happens the application stays in the current screen

[2016-02-05 08:54] StrahilKazlachev commented on #315
If this is copy-paste you have a typo `next.cancle`.

[2016-02-05 15:31] EisenbergEffect commented on #314
We will be distributing by npm for Webpack and a future loader we are working on. We can easily start adding this property to our packages.

[2016-02-06 06:03] #275 closed

[2016-02-06 07:17] glen-84 commented on #275
Thanks Rob. =)

[2016-02-07 17:53] ChrisEbert commented on #291
My app is running fine again with the latest updates. Thanks for your great work!

[2016-02-07 18:26] #291 closed

[2016-02-08 20:04] danfma commented on #314
Thanks, @EisenbergEffect!! I think that will be of great help!
Just for curiosity, a new loader? Will JSPM be left apart?

[2016-02-08 21:15] EisenbergEffect commented on #314
We will continue to support jspm, but I think, in order for us to provide a more stable platform, post v1, we are going to need to provide our own loader option.

[2016-02-09 16:38] gingerik commented on #233
Any update on this?

[2016-02-09 19:48] blkbltjns commented on #301
Just checking to see if this is still being worked on...?

[2016-02-09 23:30] EisenbergEffect commented on #301
@jdanyow Can you look at this?

[2016-02-09 23:53] EisenbergEffect commented on #233
We made the repeat.for attribute pluggable so you can teach it how to handle different types of collections. If you have a question on how to do that @martingust can provide some details.

[2016-02-10 01:22] jdanyow commented on #301
sorry guys- I assigned this to myself and then forgot all about it.  It seems to be specific to interpolation bindings, this template works as expected:
[code]

will get a fix in shortly.

[2016-02-10 02:26] #301 closed

[2016-02-10 02:46] xiaoweil opened #317 "CheckedObserver is not defined"
Hi there,

I'm trying out the latest skeleton-navigation 1.0.0-beta.1.1.3, when binding radio input button I got the following exception:

Unhandled promise rejection ReferenceError: CheckedObserver is not defined

at ObserverLocator.createPropertyObserver (http://localhost:9000/jspm_packages/npm/aurelia-binding@1.0.0-beta.1.1.0/aurelia-binding.js:4043:22)

Sample code:

welcome.ts:
`export class

[2016-02-10 03:07] EisenbergEffect commented on #317
@jdanyow Was this fixed?

[2016-02-10 03:09] EisenbergEffect commented on #317
Try running `jspm update` and see if that fixes it.

[2016-02-10 03:19] xiaoweil commented on #317
Just ran the `jspm update` seems to fixed the issue, thanks for the quick response.

[2016-02-10 03:38] #317 closed

[2016-02-10 08:01] DirkHagen opened #318 "Slow load with Windows 10 Edge"
Are all Aurelia-Examples loading very slow with Windows 10 Edge?
Best regards
Dirk Hagen

[2016-02-10 09:30] gingerik commented on #233
Sounds great, thanks @EisenbergEffect.

[2016-02-10 09:48] fopsdev commented on #318
could be related to "the promise" - issue
http://www.danyow.net/edge-promise-perf/

[2016-02-10 12:59] EisenbergEffect commented on #318
@jdanyow What do you think, should we just include bluebird in all of our starter kits by default?

[2016-02-10 13:17] jdanyow commented on #318
The Edge team is working on a fix- https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/suggestions/11329845-improve-promise-implementation-performance

Maybe we should wait?

[2016-02-10 13:23] EisenbergEffect commented on #318
Probably, maybe we should put a note about perf in the getting started and production setup docs just to let people know?

[2016-02-10 13:23] #318 closed

[2016-02-10 20:28] martingust commented on #233
@gingerik We recently added a [Set strategy](https://github.com/aurelia/templating-resources/blob/master/src/set-repeat-strategy.js) to the repeater. So today the repeater supports **Array**, **Map**, **Number** and **Set** out of the box. However as @EisenbergEffect said you can plug in your own strategies.

What you would want to do is implement the [RepeatStrategy interface](https://github.com/

[2016-02-10 22:27] Alexander-Taran opened #319 "Binding to files of input type=file in firefox fails to update on change"
aurelia/binding#314

[2016-02-11 11:23] RomainLanz commented on #318
@EisenbergEffect Thant would be very useful.

[2016-02-11 11:31] Cedware commented on #315
You are right, my fault

[2016-02-11 11:31] #315 closed

[2016-02-11 15:44] djflex68 opened #320 "jspm install jquery breaks Aurelia demo app"
Hello,

I want to install jquery using jspm (jspm install jquery).
This breaks the demo app (Typescript kit).

What is causing this ?

Thanks

[2016-02-11 22:15] jdanyow commented on #320
need more info- what's broken? what's the error?

[2016-02-11 22:31] atsu85 commented on #320
i also encountered some problems with *typescript skeleton* after installing jquery - if i remember correctly, the problem was related to `$` that was being used by jQuery and by some lib for testing as well. (The problem was raised by typescript compiler). I solved it for myself by creating 2 different typescript compilation tasks that only included single definitions file that contained `$` - ei

[2016-02-12 08:55] djflex68 commented on #320
If I take the typescript kit, then run http-server -o -c-1 in the unzipped folder, it works fine (Aurelia Startup page is displaying correctly)
Then I run jspm install jquery into this folder because I need jquery.
When I run Aurelia Again, I got a blank screen but no error in console.

[2016-02-12 15:35] EisenbergEffect commented on #320
It's not an Aurelia issue but an issue with TypeScript. You have multiple d.ts files that are colliding with one another. You will need to resolve those to get the TS compiler to work correctly.

[2016-02-12 15:35] #320 closed

[2016-02-12 15:40] snortblt opened #321 "Installing aurelia-fetch-client or aurelia-http-client package breaks Aurelia"
1.  Unzipped Kit-Typescript starter app to my machine (beta 1)
2.  Ran successfully
3.  Installed aurelia-http-client, which upgraded systemjs from 0.19.17 to 0.19.18 (and corejs from 2.0.3 to 2.1.0)
3. App will no longer bootstrap
4. Replaced systemjs with v0.19.17 files
5. App runs again.

BTW, how do I install and lock a particular version of systemjs? Its not very practical to replace these fi

[2016-02-12 16:52] gingerik commented on #233
That makes a lot of sense. Thanks for the quick reply!
I managed to integrate this example in my project and it works like a charm!

If I understand correctly, in order to fully use the capability of the repeater I should return a _IteratorObserver_ in `getCollectionObserver` to observe the iterable for changes and update the `viewSlot` within the `instanceMutated` method based on these changes, r

[2016-02-12 17:26] snortblt commented on #321
Another issue related to the package update is that config.js paths are modified from
[code]
to
paths: {
    "github:*": "jspm_packages/github/*",
    "npm:*": "jspm_packages/npm/*"
  },
which is also breaks things.

[2016-02-12 17:26] #321 closed

[2016-02-12 18:20] jods4 opened #322 "TS definitions error in TS 1.8"
Apparently TS 1.8 performs additional checks and it doesn't like
[code]
Because they both export `Callable`.

Not sure what proper resolution is, as this migth be a layering/code organization issue, or some renaming to avoid clashing is in order.

[2016-02-12 20:25] atsu85 commented on #320
That is exactly what i described above.

To be able to reuse tsconfig.json configuration for both gulp build tasks (main & test sources) and for IDE as well (Atom), I did following:
1) extracted typescript build logic into separate file that reads configuration from tsconfig.json
2) when compiling main TypeScript sources, i excluded test sources and typescript declarations - see [testTsSourceFiles

[2016-02-13 00:47] DavidRogers commented on #227
Anyone find a fix for this? I am having the same issue...

[2016-02-13 00:52] jhoguet commented on #271
I also ran into this with `metadata`.

I dug deep enough to find that the following [line](https://github.com/aurelia/framework/blob/master/dist/commonjs/aurelia-framework.js#L408) of generated code is not doing what you would expect

[code]

`_aureliaMetadata.metadata` contains what I want, but after this line of code executes, `exports.metadata` does not.

Digging deeper, I find the following [f

[2016-02-13 01:24] EisenbergEffect commented on #271
Thanks for investigating this. It appears to be a bug in the compiler. We are hopeful that when we update to Babel 6 this will be resolved.

[2016-02-13 01:24] #271 closed

[2016-02-13 01:24] EisenbergEffect commented on #227
@jdanyow Any progress on this? I'd put this as our absolute highest priority bug right now...

[2016-02-13 01:31] jdanyow commented on #227
I can't reproduce it. Bluebird fixed my edge issues. No one is seeing it in the docs app anymore either (that I've heard).

[2016-02-13 01:32] EisenbergEffect commented on #227
If that's true then I can now sleep again at night :) Thanks @jdanyow!

[2016-02-13 01:34] EisenbergEffect commented on #322
I believe we've got this fixed in the latest release. Try running jspm update.

[2016-02-13 01:34] #322 closed

[2016-02-13 02:06] Gheoan commented on #227
Just tested the docs app in Edge. Sometimes it loads, sometimes it doesn't.

[2016-02-13 02:12] jdanyow commented on #227
@Gheoan few questions for you- I'm hoping to find a way to reproduce this:
1. what url/route in the docs app?
2. what version of Edge? Here's what I have:
    ![edge](http://i.imgur.com/00u3KQ3.png)
3. if you clear your cache (`ctrl+shift+delete` and check the second and third boxes) does it reproduce?

[2016-02-13 03:04] Gheoan commented on #227
1. http://aurelia.io/docs.html which redirects to http://aurelia.io/docs.html#/aurelia/framework/latest/doc/article/what-is-aurelia

2. ![untitled](https://cloud.githubusercontent.com/assets/9906612/13025343/26839fc6-d20e-11e5-84e8-2466625e8180.png)

3. It seems to _almost_ always reproduce when clearing cache.

[2016-02-13 03:32] jhoguet commented on #271
Looks like this is [not fixed](https://github.com/babel/babel/blob/6.4-stable/packages/babel-helpers/src/helpers.js#L136) and I couldn't find any reference to a known issue, so [I logged one](https://phabricator.babeljs.io/T7102).

[2016-02-13 03:58] EisenbergEffect commented on #271
Thanks for following up on that!

[2016-02-13 04:26] DavidRogers commented on #227
I am seeing the same inconsistent results with the docs as Gheoan and I am running the same version of Edge. On my own site though it seems to never work no matter what I do. However it works great as soon as I open my dev tools and refresh the page...

[2016-02-13 12:17] Gambero81 opened #323 "rendering http://aurelia.io/docs on dolphin browser not working"
Hi, i can't load http://aurelia.io/docs from dolphin browser (both mobile android and desktop user agent) it remain with the loading image in progress without rendering

[2016-02-14 13:22] danielabar commented on #230
Is this available as of `"aurelia-framework": "npm:aurelia-framework@^1.0.0-beta.1.1.3"`?

I'm writing an app that displays a graph where nodes and edges are custom elements. When data changes, the nodes animate into new positions. When a node is clicked on, a border animates in, and click again border fades away. I'm planning on developing more interactions for the nodes and edges, but it's getti

[2016-02-14 21:01] EisenbergEffect commented on #230
It's not quite ready yet. We have a "testing" repo now with some new testing helpers we are working on. I hope it will be ready in the next couple of weeks.

[2016-02-15 08:02] djflex68 commented on #320
The problem came from JSPM for me. When doing jspm install, the path to github and npm repositories is modified. Strange behaviour...

[2016-02-16 07:11] robertogonzalezdelarosa opened #325 "app not working in android smartphone"
Hi, I have an issue right now my app is not working on my android phone with chrome, but in my laptop or desktop my app is working as expected. I just have a login form with this code:

`<template>

  <div class="bg-darkMagenta wrapper-body">
    <div class="login-form padding20 block-shadow">

      <form role="form" submit.trigger="login()">
        <h1 class="text-light">Login</h1>
        <hr

[2016-02-18 05:16] robertogonzalezdelarosa commented on #325
the were missing imports inside my project (like import 'fetch';) but once added the issues went away

[2016-02-18 05:16] #325 closed

[2016-02-18 17:38] jedd-ahyoung opened #326 "GlobalResources throws error when view html is missing"
Attempting to load a custom element as a global resource fails if the HTML component is missing. As it is possible for some components not to have views (via the `@noView` decorator) or inline views (via the `@inlineView` decorator, perhaps it should be possible to pass an argument to the globalResources function on the framework-configuration object specifying this fact.

It would also be nice to

[2016-02-18 17:52] jedd-ahyoung commented on #326
The problem was on my side - I missed removing a `<require>` tag, which was causing the issue. Closing this.

[2016-02-18 17:52] #326 closed

[2016-02-22 09:03] k2s opened #329 "status of Polymer/WebComponents support"
Aurelia documentation is stating that WebComponents technology is supported by Aurelia and also that Polymer is supported.

I am facing some issues with Polymer components in my application. I would like to know what are the plans to support Polymer and help to improve it.

1. Will [aurelia-polymer plugin](https://github.com/roguePanda/aurelia-polymer) be moved to Aurelia organization and maintain

[2016-02-22 15:44] JayLance commented on #227
Seeing the same results here also. With dev tools open it's fine, with dev tools closed it mostly fails.

[2016-02-22 15:45] obany commented on #227
I can confirm I am seeing the same issue with the aurelia docs site, and also our own apps on Edge.

Since the problem always disapears when the dev tools are open it is very tricky to debug, however I have managed to trace the following.

The issue appears to be triggered by a call to the template-registry-entry plugin failing. I augmented the system.src.js with the following:

[code]

and the re

[2016-02-22 15:50] EisenbergEffect commented on #227
@jdanyow A clue! ^^^ Do you have time to look into it?

[2016-02-22 16:28] bdenham commented on #329
I'm interested in support for we components as well. A clarification or update on this specific topic would be welcome. Thanks!

[2016-02-22 16:35] EisenbergEffect commented on #329
What exactly isn't supported? I don't see any real issues here.

* The aureia-polymer plugin was created by a community member. It's possible that we could support it...but why? The community member who built it is actually using Polymer; we aren't. They are a better resource for doing it right than us.
* Polymer is based on HTML Imports, which aren't a standard technology at this point. However,

[2016-02-22 16:35] #329 closed

[2016-02-22 16:56] bdenham commented on #329
Thanks for the explanation, Rob. I'm new to Aurelia, but it's the best framework I've seen in terms of standards, simplicity, and power. I'll contact you via email soon to tell you more.

Best,
Bruce Denham

[2016-02-22 21:59] specimen151 opened #330 "CustomElement not working? Using TypeScript"
I'm having trouble with CustomElement. Created one like this:

[code]
plus some very simple HTML. File names `my-element.ts` and `my-element.html`.

What I observe is that the generated ES5 JavaScript has an error, at least that's what VSCode tells me:

[code]

The error is on the line: `MyElement = __decorate([` 7 lines from the end there.
and reads: _invalid left-hand side of assignment expressi

[2016-02-22 22:03] EisenbergEffect commented on #330
What version of TypeScript is this using? It seems like a bug in the compiler.

[2016-02-22 22:04] specimen151 commented on #330
1.7.3, just downloaded the skeleton yesterday

[2016-02-22 22:19] EisenbergEffect commented on #330
It's strange. It's definitely not an Aurelia issue and your TS code looks fine. Perhaps they recently introduced a bug? I would report this code sample to the TS github account and see what they say.

[2016-02-22 22:19] #330 closed

[2016-02-22 22:39] specimen151 commented on #330
Posted https://github.com/Microsoft/TypeScript/issues/7189 then.

[2016-02-22 23:36] jdanyow commented on #227
@obany awesome :100:-  thanks for sharing! will dig into this some more

[2016-02-23 00:42] masaeedu commented on #81
@EisenbergEffect That link 404s now. Where do the skeletons live at the moment?

[2016-02-23 02:06] PWKad commented on #81
github.com/aurelia/skeleton-navigation

[2016-02-23 10:02] opcodewriter opened #331 "buggy Docs app on aurelia.io on mobile"
I went to http://aurelia.io/docs.html on iPad with iOS 8.4.1, after little navigation, tapping on an article title in left pane stops working.
I can see web-browser navigating but the article content does not load and the small magenta colored indicator does not show near the title I tap in the left pane.
The same issue I saw in the Table of Contents on the right.

I'm sorry I can't give exact rep

[2016-02-23 13:03] opcodewriter opened #333 "question: example of released web apps which use Aurelia"
I heard Rob mentioned for quite a while now that there are companies which Aurelia in production for many months, but he cannot disclose their name, which can be understandable sometimes.

But are there any examples of web apps which uses Aurelia in production and whose names can be given?

I'm looking for:
1. a real product/service, so not a demo or POC. Also something which is like an internal p

[2016-02-23 13:10] wshayes commented on #333
Selventa Inc/OpenBEL.org -- BELMgr - http://belmgr.belframework.org  (demo site - not for production) - our production site is proprietary since it holds proprietary content.  Not a huge application or great example of Aurelia design principles since it is our first (actually second use - first use was a minor enhancement to a Django app) project.

[2016-02-23 13:29] mikefills commented on #333
Thank you.
It's a nice example but I'm really looking for web apps in production.

[2016-02-23 13:34] wshayes commented on #333
Thanks for the reminder to update our Welcome msg.

[2016-02-23 14:28] djoooooe opened #334 "Interpolation binding triggers unnecessary expression evaluation"
to reproduce, download the current navigation-skeleton (commit e2705e8faf4baf5993a005a0f425e05f78640fab) and log something to console everytime fullName() is executed with @computedFrom on.
I suspect that either computedFrom is triggering two executions of the getter on every change, or the change handlers are firing two events.

[2016-02-23 16:29] EisenbergEffect commented on #331
Thanks for catching this. We recently deployed something that created a few issues on mobile. We are working on it.

@joelcoxokc I think there was that bug we discussed in the aurelia-platforms build. I'm not sure if that fixes everything, but when you get a chance, can we fix that issue. I can then deploy and we can do some other device testing to see if anything else is going on. Let me know!

[2016-02-23 19:50] atsu85 commented on #333
I used pre-alpha version of Aurelia (from June 2015) to create an internal application for local governments of the republic of Estonia (it is not available for public). Aurelia has evolved a lot since then, but to my mind mostly with plugins, nice-to-have features, tooling and architecturally (for example simplified APIs for really-really advanced use cases). There were only 2 small issues (with

[2016-02-23 22:21] mPisano commented on #333
My first exposure to a SPA framework was with Durandal and BreezeJs developing a logistics application for use by our international offices, agents and customers.  We launched version 1 and like many was sad when Rob left and cheered when he returned with Aurelia. We have been working with Aurelia from the early beta’s porting the Durandal version over to version 2. We are now 100% complete with t

[2016-02-23 22:36] EisenbergEffect commented on #333
Awesome stuff all! Thanks for the encouragement!

[2016-02-24 10:18] mikefills commented on #333
@mPisano Borland's Pascal, that's funny.

OK, so still no example of a web app product built with Aurelia which I can check-out. Maybe someone will see this post eventually and chime in.

I'm looking for:
1. a real product/service, so not a demo or POC
2. some complexity in the data flow, must have several screens, different kinds of data flow between different UI components and views, validation,

[2016-02-24 10:51] Thanood commented on #333
I've found http://elee.menu/ on reddit. :smile:

[2016-02-24 11:17] stsje commented on #333
https://gist.run/ is a good example. I believe @jdanyow is the creator.

Sadly our app is for enterprise, so you won't be able to see more than the login page.

[2016-02-24 14:50] EisenbergEffect commented on #333
Most of the apps that are in production today are behind closed doors or paywalls. For example, http://www.hogia.com/ has put 6 Aurelia apps in production, but you won't be able to see them because you probably aren't purchasing software related to public transportation. There are lots of examples of this right now as there are plenty of Aurelia apps being written for health care, insurance, the f

[2016-02-24 15:27] jdanyow commented on #333
@mikefills - Public app with a decent amount of complexity [here](https://gist.run) (service workers, embedding, integration with APIs, etc)- it's not a LOB app so probably not quite what you're looking for.  Another public app that does LOB sorts of things that you're looking for is [here](http://jdanyow.github.io/aurelia-breeze-northwind/) but it needs updating, etc.

I'm in healthcare, we have

[2016-02-24 20:18] mikefills commented on #333
@EisenbergEffect why close this? Can you please leave it open so more people see this and might contribute?

[2016-02-24 20:19] EisenbergEffect commented on #333
Sure

[2016-02-24 20:25] mikefills commented on #333
@EisenbergEffect thank you. the 1st link does nothing for me. the 2nd link is nice, I will review closely.
About the podcast interview: I don't want to go off-topic, but it didn't bring anything new. The guy clearly says "I’m just a guy playing around with this stuff. I’m not using Aurelia on any production applications.". The whole interview is repeating exact same story and ideas from Rob's inte

[2016-02-24 20:31] EisenbergEffect commented on #333
@mikefills Here's something someone posted in the gitter room today: https://www.youtube.com/watch?v=yLs4_X7NX-U

[2016-02-24 20:32] EisenbergEffect commented on #333
They said they built it in just a few days.

[2016-02-24 20:33] EisenbergEffect commented on #333
There's lots of stuff going on, including from a number of companies you would know, I just can't show it to you unfortunately.

[2016-02-24 20:33] fractal76 commented on #333
About 5 days, including the developer having to figure out some business logic and twiddling with layout etc...

[2016-02-24 20:43] mikefills commented on #333
@EisenbergEffect looks nice.
Yeah you mentioned about that before. But truth is, popularity is very important when choosing a framework. There are many people in the world right now looking to choose a framework for next project. Like me, some of them need to see something already done.

@fractal76 what you mean, you're the developer of  https://www.youtube.com/watch?v=yLs4_X7NX-U ?

[2016-02-24 21:17] devmai commented on #333
This could be a good start to get in touch what Aurelia can do. It should be extended.
[All-in-one demonstration app of gbegerow](https://github.com/gbegerow/aurelia-gbegerow-samples)
From that one I can imagine a lot stuff for a example showcase.

[2016-02-25 14:32] specimen151 commented on #330
Found why it wasn't working. I had the "reference" wrong - had .html at the end of the file name.

[2016-02-25 15:01] ergo commented on #329
@EisenbergEffect I think many of us could take advantage of bundling google's material design elements among things. Aurelia ecosystem is still quite young,. I know polymer is not vanilla web components but currently is the best component ecosystem out there. So even if it's not standard - it would really make sense to maybe collaborate to make this happen.

[2016-02-25 15:06] EisenbergEffect commented on #329
If it's something that you all want, please start by contacting the author of the  aurelia-polymer plugin and initiating conversations with him. He's the expert and the one most likely to know what the best solution is. We've worked with him in the past and addressed all his issues. He may know how to solve this problem already.

[2016-02-25 16:03] MT-PL-SWF-Dev opened #337 "IE11 framework start strange behaviour"
We have noticed really strange behaviour in IE11 when starting Aurelia application.
It occurs only if it is first time you start app in new window/tab AND mouse cursor is NOT in IE window area (for example program is run from command line with given url - which is important scenario for us). Application then stays on index.html with static content but and nothing happens.
Until you move cursor ove

[2016-02-25 16:08] EisenbergEffect commented on #337
My guess is that this is some sort of IE optimization that relates to timeouts or animations not playing when the browser isn't focues. Promise polyfills use those mechanisms. @jdanyow What do you think?

[2016-02-25 16:28] mPisano commented on #337
I've seen this too. I mentioned it to @jdanyow hoping he wouldn't think i was nuts!
I have seen this in the past with iE - the YouTube up-loader fox example transfers faster in IE if you shake the mouse.  Was hoping Bluebird would of fixed it, but didn't think it was promise related.

[2016-02-26 00:29] Gheoan commented on #337
`Bluebird` uses `setImmediate` when `MutationObserver` is not available and the `MutationObserver` polyfill uses `setImmediate`. Polyfill hell, but maybe loading the `MutationObserver` polyfill before `bluebird` via a script tag would fix this.

[2016-02-26 02:52] MaximBalaganskiy opened #338 "Default value for <select> gets overwritten"
The problem arises when I bind `<select>.value` to a property, not to a simple field. The default value set in the `promise.then` gets overwritten by a framework.

http://plnkr.co/edit/TIVrD2TcJH1VZUYETG9a demonstrates the issue.

Setting the value on a timeout solves the problem though...

[2016-02-26 03:14] z-brooks commented on #338
Seems to _work_ if you put an `if.bind` on the select. https://gist.run/?id=05011ad1c28e303894f6

[2016-02-26 03:21] MaximBalaganskiy commented on #338
It does... Looks hacky as well though :)

[2016-02-26 06:29] EisenbergEffect commented on #338
@jdanyow Can you look into this?

[2016-02-26 07:03] z-brooks commented on #338
Need to use `@computeFrom` on the getter or bind to the `_value` directly. https://gist.run/?id=a15e06e4495c25e25a0e

[2016-02-26 11:42] MT-PL-SWF-Dev commented on #337
I tried to load MutationObserver before bluebird, I'm afraid that it is not working.
`<script src="jspm_packages/npm/webcomponents.js@0.7.20/dist/MutationObserver.js"></script>`
`<script src="jspm_packages/npm/bluebird@3.3.3/js/browser/bluebird.js"></script>`
`<script src="jspm_packages/system.js"></script>`
`<script src="config.js"></script>`
`<script>`
`        System.import('core-js').then(func

[2016-02-26 12:33] k2s commented on #7
Probably related to https://github.com/roguePanda/aurelia-polymer/issues/7.

[2016-03-01 11:48] Tinadim opened #339 "CSS for view-model"
I managed to include css files from my views using the `require` tag like described in #50. However once I require the file and navigate away from the view, the css file remain attached to the `head` of the HTML. I don't know, maybe this is the intended behavior, but I was wondering if there's a way for actually replacing the CSS file for each view model as sometimes the they conflict with each ot

[2016-03-01 14:54] obany commented on #227
This is now the only defect left on our projects and as such has become a very high priority and blocker to release.

Since the last debug session our code and libraries all over the projects have updated and now the issue exhibits in a different location albeit in a very similar fashion.

Bear in mind that this only happens on Edge without the DevTools open, as soon as they are open it works ever

[2016-03-01 15:00] EisenbergEffect commented on #227
@jdanyow This is really the most important thing to work on now. @obany has provided us some good information. Let's see if we can squash this bug fast. If it's an issue in system.js, then let's submit a PR to them to fix it as well.

[2016-03-01 16:39] obany commented on #227
I have now created a minimal example based on the skel app which demonstrates the issue.

https://github.com/obany/skeleton-navigation

Just build and fire up in edge browser and it shows a blank screen, open devtools, refresh and it displays the app.html.

The main changes to reproduce the failure are load some global resources and disable development logging, console.log has the same effect as o

[2016-03-01 16:51] alexmahterian opened #340 "click.delegate doesn't work with repeat.for"
I've got a list of items being pulled from my server that populates a list element. I need to be able to click on those items to add them to an array, but click.delegate doesn't work, nor does $parent.click.delegate. I've also tried to use JQuery via $("#myelement li).click(...) and [...].on('click', funciton(...)); none of these seem to work. Do you have any suggestions as to how I can get around

[2016-03-01 16:54] EisenbergEffect commented on #227
@obany As a temporary hack...could you add a console.log statement to your main.js file to ensure that your app always loads?

[2016-03-01 17:00] obany commented on #227
Nice idea, unfortunately Edge swallows any console.logs if the devtools aren't open so it doesn't help.

[2016-03-01 17:02] EisenbergEffect commented on #227
I thought you just said that console.log has the same effect as opening the devtools and makes it work?

[2016-03-01 20:13] atsu85 commented on #340
@alexmahterian,

`$parent` is supposed to be used in the attribute value, smth like `click.delegate="$parent.save()"`

[2016-03-01 20:16] alexmahterian commented on #340
Haha I'm sorry, that's what I meant.
I tried $parent.function(), not $parent.click.delegate.
On Mar 1, 2016 3:14 PM, "atsu85" <notifications@github.com> wrote:

[2016-03-01 20:22] alexmahterian commented on #340
I don't know why I was trying to do that, but I was indeed trying to use $parent.click.delegate. Thanks for pointing that out, applying it to the function worked fine!

[2016-03-01 20:33] atsu85 commented on #340
I'm glad it got solved - Please close the issue :)

[2016-03-01 20:54] ariovistus opened #341 "bidirectional value converter (sometimes) doesn't update view"
here: http://plnkr.co/edit/cEY805
I have a naive number formatting value converter applied to an input. it mostly works, except in this scenario:

model value = 0 view value = "0.00"
user changes view to "0"
on blur, model remains 0 and view remains "0"

I was hoping for the view to change back to "0.00". I can work around it easily enough with a blur event, but is this behavior what I should be e

[2016-03-01 20:57] dschissler opened #342 "Will it someday be possible to combine style, template and JS into one file like Vuejs"
I've been reviewing Aurelia and Vue for use in the next 2+ years (my timeline) and I really like how in Vuejs it is possible to merge style, template and JS into a `.vue` file with a webpack or browserify way to extract it out.  Is this paradigm possible with Aurelia because I think that it is a huge innovation.  I don't like JSX and I'd like to keep the various fragments in their own section.

[2016-03-01 21:04] atsu85 commented on #342
see [Bundling Your App for Deploy](http://aurelia.io/docs.html#/aurelia/framework/1.0.0-beta.1.1.3/doc/article/bundling-your-app-for-deploy)

[2016-03-01 21:10] dschissler commented on #342
see [vue-loader](https://github.com/vuejs/vue-loader)

[2016-03-01 22:02] EisenbergEffect commented on #342
You want all the source in the same file for development? Or you want all html/js/css in the same bundle for deployment?

[2016-03-01 22:23] dschissler commented on #342
Yes all of the source in the same file for development.  I know that Aurelia already has the JSPM and (soon-to-be) Webpack bundling.  I recently watched this [Vue Laracast](https://laracasts.com/series/learning-vue-step-by-step) on a hangover day and I really liked it.  Of course Aurelia is younger and isn't out of beta yet so there isn't that full ecosystem yet and that kind of thing really helps

[2016-03-01 22:30] jdanyow commented on #227
@obany we were able to determine this was an issue with SystemJS. If you execute `jspm dl-loader --latest` to get on SystemJS v0.19.23 the issue should be resolved.

[2016-03-01 22:34] EisenbergEffect commented on #342
Personally, I don't think it's a good idea to put it all in the same file, but you can do it today like this:

[code]

You could create a custom element to add/remove styles.

[2016-03-01 22:34] #342 closed

[2016-03-01 22:35] #340 closed

[2016-03-01 22:44] obany commented on #227
I am afraid to say that did not fix the issue, the skel app I posted a link to earlier still fails with the 0.19.23 loader.

[2016-03-01 23:06] PWKad commented on #227
@obany was this with 0.19.23 in the package.json or actually in `jspm_packages/system.js`?

[2016-03-01 23:26] jdanyow commented on #227
@obany I was using your app to reproduce the issue- please confirm edge is getting the 0.19.23 version of system.js

[2016-03-02 01:25] michaelmalonenz commented on #227
I am still experiencing the issue both in our app and with the Docs page right after I clear the cache (nearly every time).  I am definitely using 0.19.23 on our site - not sure what you're using on the docs.

Though the docs page might be slightly different - I actually get past the spinner there, but I get a blank screen thereafter.  It works fine if I type in the address again and hit enter at

[2016-03-02 01:38] jdanyow commented on #341
hi @ariovistus, yes this is the correct behavior.  The binding system will update the view only when the model value changes.  When the model value is already zero and you make a change to the input that would be converted to zero, there's no model property change, which is why you don't see the input's value become formatted. I tested this in the latest version of Aurelia, same result:
https://gi

[2016-03-02 01:38] #341 closed

[2016-03-02 01:55] EisenbergEffect commented on #339
We''ve got another issue to track this as a possible new feature. It's not something we are doing right now though. I recommend that you avoid conflicts by using more strict css selectors.

[2016-03-02 01:55] #339 closed

[2016-03-02 02:17] jdanyow commented on #227
We haven't updated systemjs in the docs app yet. @michaelmalonenz I'd be willing to debug your app if you could give me access to it somehow. With @obany's app I was able to reproduce the issue very consistently, only needing to use CTRL+F5. Tracked it down to a specific line of code, upgraded to the latest SystemJS and the issue was fixed.

[2016-03-02 02:18] EisenbergEffect commented on #227
The docs are currently using 0.19.8
They will be updating in the next day or so.

[2016-03-02 02:20] michaelmalonenz commented on #227
@jdanyow sorry - can't give you access to it.  I will attempt to narrow the issue further on something I can.

[2016-03-02 02:34] jdanyow commented on #334
https://gist.run/?id=e12b5973ff2871cc31c8

[2016-03-02 02:44] jdanyow commented on #227
here are some tips to help you debug-

add this before any other scripts:

[code]

replace this:
[code]
with this:
[code]

this should allow you to get the debugger open after the error has occurred to review the error, the stack and other contextual issues.  I used pretty much the same code to dig into @obany's project.

[2016-03-02 03:35] dschissler commented on #342
I bring you the future:

Presenting:

**MyComponent.aurelia:**

[code]

[2016-03-02 03:41] dschissler commented on #342
Alternatively:

[code]

or:

[code]

Or load a normal .js file.  Set the webpack loader to look for `.aurelia` before `.js` or `.css`.

Also github seems to automatically know how to highlight this `.aurelia` file ;).

[2016-03-02 04:21] EisenbergEffect commented on #342
You could certainly write a build task to parse a file like that, tear it apart and turn it into the individual modules, with proper hookups if you want.

[2016-03-02 04:55] michaelmalonenz commented on #227
@jdanyow I have some info for you, but I don't know how helpful it will be:

In the ViewEngine, during the function `loadTemplateResources` the error being thrown is that dependencies is undefined.  Which appears logical, because the "registryEntry" it is trying to load is a function:

[code]

which is where I run out of ideas.  I've tried to go one level up the call stack and find some commonalit

[2016-03-02 08:39] MT-PL-SWF-Dev commented on #337
I did more research on subject and it seems that issue is not directly caused by Aurelia but it is IE/Promises/System.js related bug. Sorry for spoiling the thread. I opened discussion on Stack Overflow [http://stackoverflow.com/questions/35651193/ie11-promise-strange-behaviour](url) and this issue can be closed.

Thank you for your attention!

[2016-03-02 08:39] #337 closed

[2016-03-02 08:46] RomainLanz opened #344 "Documentation didn't work anymore"
Hey everyone.

**Link:** http://aurelia.io/docs.html
**Browser:** Chrome  48.0.2564.116 (64b)
**OS:** OS X El Capitan

I got a 404 in the main javascript file.

[code]

<img width="1821" alt="screen shot 2016-03-02 at 09 44 50" src="https://cloud.githubusercontent.com/assets/2793951/13455071/867409ba-e05b-11e5-9dc5-4f0d00c70a8f.png">

[2016-03-02 10:08] egeland commented on #344
Confirmed.

[2016-03-02 10:20] abhilashsajeev commented on #344
+1

[2016-03-02 11:51] jdanyow commented on #227
@michaelmalonenz good info- sounds like another incarnation of the same issue I was seeing in @obany's project.

What does the following return:
1. `typeof(load.source)` (should be string but I was seeing function when the issue happens)
2. `load.source.toString()` (when the issue occurs it was [this](https://github.com/systemjs/systemjs/blob/0.19.6/dist/system.src.js#L4384) instead of some html)

[2016-03-02 11:58] vcardins commented on #212
This issue seems to be happening again. Just having a similar situation after the latest update. I'll dig into and comment here.

[2016-03-02 12:34] Kaapelikala commented on #344
Was broken yesterday

[2016-03-02 14:41] EisenbergEffect commented on #344
We are working on it. Appears something went wrong with the deploy...

[2016-03-02 14:47] EisenbergEffect commented on #344
Fixed. Apologies.

[2016-03-02 14:47] #344 closed

[2016-03-02 16:55] dschissler commented on #342
I think that browserify and webpack are the only two suitable tools for this.  I see a tool to break it all apart as more like a migration away from Aurelia tool (if anyone every wanted to do that someday).  Again, its above my skills so all that I can do is be a wise-guy.

[2016-03-02 23:37] michaelmalonenz commented on #227
Good News Everyone! (extra points if you automatically read that in Prof. Farnsworth's voice)
The problem disappears after updating _all_ of my dependencies.  This includes the latest Aurelia, jspm in everything.  A frustrating day, but it loads in Edge without problems or the Dev tools open!

So while I believe that the write version of SystemJs was being used (the comments at the top of the file

[2016-03-02 23:40] EisenbergEffect commented on #227
All thanks goes to @jdanyow on this along with @obany who gave us the clue. I had almost nothing to do with it. I might have even caused some problems :laughing:

[2016-03-03 09:28] obany commented on #227
I can confirm that with all the latest updates of aurelia and systemjs the skel app I provided does work.

However the aurelia docs site and our own apps still fail with the same issue with a failure to call back into the template-registry-entry plugin.

I am assuming that the removal of core-js has reduced the overhead of number of files to load for the skel app hence why it is now working. With

[2016-03-03 09:53] obany commented on #227
My test skel app is now updated https://github.com/obany/skeleton-navigation to all the latest code and with the addition of another single blank view/viewmodel (Element5) being loaded it now fails again.

[2016-03-03 12:32] AdamWillden opened #347 "CompositionTransaction Bug (when using jquery autocomplete)"
I've found an issue which I believe to be created by the new CompositionTransaction.

Taken from my comments here: https://gitter.im/Aurelia/Discuss?at=56d82afaf760676329bb4648

I've since noted that if i change pages (so that the router-view updates) the autocomplete element is suddenly added to the DOM and begins to operate as I expect. It's as if aurelia was restricting changes until the aureli

[2016-03-03 12:34] AdamWillden commented on #347
I realise a live example would be useful but I've not got the time to create one and I suspect you will know if this is a likely scenario/bug.

[2016-03-03 12:37] AdamWillden commented on #347
1. Load Application
2. Do no navigate
3. Execute autocomplete search
4. nothing shows

---

1. Load Application
2. Immediately navigate
3. Execute autocomplete search
4. suggestion box shows

[2016-03-03 12:40] AdamWillden commented on #347
Apologies, I will open this bug on the correct templating repository.

[2016-03-03 12:42] #347 closed

[2016-03-03 14:58] EisenbergEffect commented on #227
@jdanyow Can you continue the investigation? Thanks!

[2016-03-03 21:57] davismj commented on #212
Any further info, @vcardins ?

[2016-03-04 01:29] vcardins commented on #212
I'm putting in place a demo project as suggested by Rob, I should upload in a day or two.

[2016-03-04 10:14] MaartenThomassen opened #349 ""aurelia_framework_1.singleton is not a function" after bundeling"
Hello,

In my Aurelia app, I am using a Typescript development environment which transpiles to ES5 and in my code i use the @autoinject attribute and Aurelia's dependency injection framework.

When I build my app and run it locally, everything works fine. When I bundle my app (i made 2 bundles, one with all Aurelia deps i use and 1 with all my own code), i get the following error:

`system.js:41 U

[2016-03-04 15:13] EisenbergEffect commented on #349
Issue moved to [aurelia/bundler #93](https://github.com/aurelia/bundler/issues/93) via [**ZenHub.io**](https://www.zenhub.io/)

[2016-03-04 15:13] #349 closed

[2016-03-04 17:34] opcodewriter opened #350 "log a warning when .html is used"
It looks like it's pretty common to include '.html' by mistake
`<require from='./editor/controls-panel.html'></require>`
this makes the view-model not being loaded and bound.
it would be nice if a warning is given in console

[2016-03-04 17:47] AshleyGrant commented on #350
This is actually an expected use case. This allows you to load an html file that doesn't have a js VM behind it. It's even used in our skeleton: https://github.com/aurelia/skeleton-navigation/blob/master/skeleton-es2016/src/app.html#L2

[2016-03-04 17:50] EisenbergEffect commented on #350
@AshleyGrant I think they would like there to be some meaningful error message when this is done by accident.

[2016-03-04 17:59] mikefills commented on #350
yes, my point was writing a meaningful error message, which would be very helpful.
It's very easy to include html by mistake, especially for all new people, I just heard others saying same thing

[2016-03-04 18:55] crbranch opened #351 "Bluebird warning: a promise was created in a handler but was not returned from it"
While testing with MS Edge, I noticed major slowness until I added the bluebird.js library [as discussed here](http://blog.durandal.io/2015/12/17/more-aurelia-performance-bug-fixes-docs-and-typescript-awesome/).  That does seem to help speed things up tremendously in Edge.  However, ever since adding bluebird, I see messages in the console (Chrome, FireFox, IE11) that look like this:

    Warning:

[2016-03-04 18:59] Gheoan commented on #351
Duplicate of aurelia/skeleton-navigation#282.

[2016-03-05 18:00] BruceL33t commented on #235
I'd be interested to see an example on this. How to have an Aurelia app inside another Aurelia app.

[2016-03-05 19:24] iSkore commented on #333
@mikefills - same here. One of the biggest things for me is seeing examples of what the framework *can do* & *has done*. It's (probably) safe to say the Durandal and Aurelia websites are made using Aurelia, but with them looking nearly the same, for good branding purpose, this doesn't give visitors a good understanding of what it can produce. I saw **many** articles saying "screw Angular, go Aurel

[2016-03-05 19:36] EisenbergEffect commented on #333
FYI We are planning case studies. It takes time because we have to get permission from companies (legal, marketing, etc.) do the case study and then put together the content for our own site and blogs. Then it has to be approved again by the company (legal and marketing).

[2016-03-05 19:40] iSkore commented on #333
@EisenbergEffect, thank you for the quick response. I understand it takes time, I know there are a lot of things going on in the framework religm right now! Any comments on Project X? 😬

[2016-03-05 19:53] EisenbergEffect commented on #333
Project X is a generic name for a collection of things we are working on. We've announced Aurelia Interface...but that is not all we have planned for this year :) I can neither confirm nor deny any suspicions :laughing:

[2016-03-05 20:04] iSkore commented on #333
Hahaha alright then! I suppose keeping closed alpha (and beta? 😢) is probably better. Seems like every major player is in some sort of transition.

[2016-03-05 20:11] iSkore commented on #333
Anyway, thank you for your time! I am looking forward to seeing more from this framework and the addons. My team would certainly benefit from having a stable, forward thinking framework like this. One that is a major player with good support we can get really comfortable with that doesn't make a move like Angulr 1.x to 2. That's quite absurd to us. Have to change way too many things. This looks li

[2016-03-05 23:31] bigopon opened #352 "[question] Is there a way to avoid putting model into dom"
currently we have result dom like this:
[code]
is there a way to have Aurelia work with only this:
[code]

I tried to delete the property and the app still works fine, I don't know why we need it there

[2016-03-06 00:29] jdanyow commented on #352
hi @bigopon- we're tracking this enhancement here:  https://github.com/aurelia/templating-binding/issues/81

[2016-03-06 00:29] #352 closed

[2016-03-06 00:33] #351 closed

[2016-03-06 06:15] cehoffman commented on #212
@vcardins I noticed setRoot wasn't reinitializing the router and the root cause came down to me not saving the router instance from **configureRouter** for the first setRoot module as `this.router`. Once I saved the instance in that property, the changes in 0f83b9b kicked in.

[2016-03-06 08:14] vcardins commented on #212
@cehoffman, thanks for looking at. has this fix been published yet?

[2016-03-06 11:54] EisenbergEffect commented on #235
Something like this should create a custom element capable of creating child app instances.

child-app.js
[code]

child-app.html
[code]

[2016-03-06 14:56] mikefills opened #353 "repeat.for without giving view or view-model"
Is there a way for `<compose repeat.for="item of items" ></compose>` to render and have it figure out itself what is the view by the type of item?

Based on what I know I need to set either `view` or `view-model` on the `<compose>`

[2016-03-06 16:09] #353 closed

[2016-03-07 02:10] jdanyow commented on #254
@ohjames can this be closed? I think bundling, bluebird and the recent removal of core-js have fixed the perf issues.

[2016-03-07 02:21] jdanyow commented on #227
@obany I pulled down your latest app, the fix is working for me.  I cannot reproduce the issue.

[2016-03-07 02:26] jdanyow commented on #202
closing- aurelia no longer has a dependency on core-js

[2016-03-07 02:26] #202 closed

[2016-03-07 02:29] jdanyow commented on #241
closing- Aurelia no longer has a dependency on core-js

[2016-03-07 02:29] #241 closed

[2016-03-07 02:31] jdanyow commented on #294
Aurelia no longer depends on core-js

[2016-03-07 02:31] #294 closed

[2016-03-07 02:34] EisenbergEffect commented on #227
@jdanyow I saw it happen with the docs app yesterday ;(

[2016-03-07 02:53] jdanyow commented on #227
zzzzzzzzzzzzzzz this issue is the worst! I can't reproduce in @obany's app or the docs app.  Even when clearing my cache.

[2016-03-07 03:26] EisenbergEffect commented on #227
I didn't see it in the docs app at first but it appeared after refreshing multiple times.
However, I did just release updates to the polyfills library this evening. If you jspm installed and got those, maybe there was something related? I hadn't updated the docs app myself to see.

[2016-03-07 07:15] glen-84 commented on #241
Thanks Jeremy.

[2016-03-07 11:48] mikefills opened #354 "Material design support. How to inject into view creation"
There's a aurelia-material library to add MD to an Aurelia app, author describes the implementation very well here http://blog.redpelicans.com/aurelia-material-design-lite/

The gist is it's using a 'mdl' custom attribute which calls MD's 'upgradeElement' on the element. The author does not maintain the library anymore.

I was wondering if instead of this, wouldn't be possible to inject into Aurel

[2016-03-07 11:52] Thanood commented on #354
Please have a look here: https://github.com/genadis/aurelia-mdl
It's the same principle but genadis still maintains the repo.

IFAIK, you could subscribe to a router event and do ```componentHandler.upgradeDom()``` there when each view is injected. Personally I find the attribute solution more elegant, but that should work.

Basically it's the same as calling ```upgradeDom()``` in every ```attache

[2016-03-07 12:11] mikefills commented on #354
thank you.
the attribute is nice, but it requires you to put it everywhere in the HTML

[2016-03-07 12:11] stoffeastrom commented on #354
There is also the possibility adding hooks like [here](https://github.com/aurelia/templating/issues/65). Maybe it would be possible to have a global resource for all your views that calls the `upgradeElement` ?

[2016-03-07 12:15] Thanood commented on #354
Wow, hooks.. That definitely needs documentation. :smile:

[2016-03-07 12:53] schatekar commented on #354
Sorry for a noob question, but why would you not simply use a material CSS framework like [Materialize CSS](materializecss.com)?

[2016-03-07 12:55] mikefills commented on #354
the link to Materialize CSS is https://github.com/Dogfalo/materialize

[2016-03-07 12:56] jdanyow commented on #227
Could be- I had `aurelia-polyfills@1.0.0-beta.1.0.2` installed because I had `jspm install`ed all the aurelia libs prior to testing @obany's skelly

This morning I *can* reproduce the docs app hanging at the splash screen :dizzy_face:  I'll update my copy, add the instrumentation and keep digging...

[2016-03-07 13:26] Thanood commented on #354
@schatekar Materialize does almost everything on ```$(document).ready()``` which also is too early for dynamic apps like Aurelia. You'd still have to initialize controls which do not only rely on CSS (e.g. most controls in the ["javascript"](http://materializecss.com/collapsible.html) category).

@mikefills Materialize is another implementation of MD. I'm not sure if it's lightweight, though. It w

[2016-03-07 13:49] mikefills commented on #354
not sure, but I wouldn't want to use anything but Material Design Lite, which is Google's official implementation of MD.

[2016-03-07 14:52] EisenbergEffect commented on #354
It's possible to create a global behavior that will affect each view after it is created. However, I usually don't recommend that sort of hidden behavior. I would usually recommend creating some sort of custom attributes or elements to represent the widgets. This makes things more explicit. Something like this would be preferred: https://github.com/genadis/aurelia-mdl It also reduces the number of

[2016-03-07 14:52] #354 closed

[2016-03-07 15:33] mikefills commented on #354
@EisenbergEffect how would the "global behavior" work exactly ?  HTML pipeline hooks?
can you please shed some light since this issue is now closed

[2016-03-07 23:36] embedthis commented on #39
Does this also fix the case where are required CSS sheet cannot do relative url() sourcing. E.g.

[code]

where semantic.css then does:

[code]

The "themes/default/assets/fonts/icons.eot" cannot be found when building because the base directory does not seem to be set correctly.

[2016-03-07 23:43] EisenbergEffect commented on #354
To accomplish this, you need to plug into the view engine's resource pipeline. You do this be creating classes that have metadata which describe their "resource behavior". Things like custom attributes and custom elements, binding behaviors, etc. are all different resource types. Most of the time, the resource descriptor is assigned by convention, but when you apply an decorator such as `customEle

[2016-03-08 01:11] EisenbergEffect commented on #39
When require a css file, the urls in that css file are relative to the view that it is imported inside of. For scenarios like this, I would recommend just adding it as a link in your html file. You could also use the system.js css plugin to import the css in your main.js file if you preferred.

[2016-03-08 14:47] MrAndMrsK commented on #294
:+1:

[2016-03-08 16:38] ohjames commented on #254
@jdanyow The load times are much better in the latest release I'll close it. Now rather than the spinner spinning for 8+ seconds it spins for less than a second.

After this the browser freezes for about 1-2 seconds which is still pretty high and probably enough to turn people off :( I assume it's compiling all the bundled js files in one go. I think the only way to work around that would be via c

[2016-03-08 16:43] ohjames opened #356 "1-2 second freeze after loading bundled app where mobile browsers become frozen."
After the loading spinner vanishes the browser pauses for 1-2 seconds becoming completely unresponsive on mobile even with very tiny bundled apps. The more dependencies you add the longer this freeze is.

I assume this is due to the slower js JIT on mobile. I've seen this problem on many other frameworks in large projects though. One *great* way to work around this is via webpack's code splitting/

[2016-03-08 21:04] mikefills commented on #254
@ohjames I am also interested about webpack. I don't know what's the aurelia-webpack status now

Here's some conversation from chat room which you might find useful:

mikefills
Mar 04 19:23
I was reading the Aurelia docs on bundling and I saw this:
"inject: If set to true, this will inject the bundle in config.js, so whenever the application needs a file within that bundle, the loader will load th

[2016-03-08 21:06] EisenbergEffect commented on #254
Yes, you can do it today with our bundler. For example, the Aurelia docs are deployed as two bundles: one with the framework and all 3rd party libraries and one with the app code. You can do whatever you want. For example, common bundling strategies are based on bundling features or based on user role.

[2016-03-08 21:15] mikefills commented on #254
Thank you Rob.
For less experienced people, some example are very useful. Unfortunately I'd love to checkout how it's done in Aurelia docs app but as far as I understand that's not available anymore.

[2016-03-08 21:22] EisenbergEffect commented on #254
The very first example in our article on bundling shows how to deploy an app split into two bundles: http://aurelia.io/docs.html#/aurelia/framework/1.0.0-beta.1.1.4/doc/article/bundling-your-app-for-deploy/3

Notice how the bundles section has two entries: "dist/app-build" and "dist/vendor-build" Globs are used to tell the bundler which  modules go in which bundle. You can have as many bundles as

[2016-03-08 21:23] EisenbergEffect commented on #254
Although...I see that some of that config is out of date. It's referencing github for aurelia libs. That's not right. @ahmedshuhel We need to get the bundle docs updated ASAP. They have been showing the wrong thing since November...

[2016-03-08 21:42] alvarezmario commented on #254
@mikefills one very nice thing about bundles is that they load on demand. If you set up your bundles correctly, you won't need to load the whole app on page load.
Imagine you have a big app, which contains frotnend and backend. If you set up things correctly, on page load you'll be able to load only the frontend bundle, then if you go somewhere backend code is used, that code is loaded on demand..

[2016-03-08 22:44] ohjames commented on #254
I've used jspm bundles a lot but the way webpack handles bundles is superior as it calculates the optimal bundles by scanning the code for dynamic and static imports calculating the minimum number of chunked bundles necessary. To do this manually can be untenable for huge projects.

I'm not really a fan of webpack but this one feature is indispensable for large projects.

[2016-03-08 22:46] EisenbergEffect commented on #254
It's not really hard with aurelia's bundler, you simply supply globs to tell it what should be in the different bundles. If you organize your app by features or by user scenarios, then that makes it even easier.

[2016-03-08 22:51] ohjames commented on #254
It isn't hard in simple apps but when you have many external dependencies per each of your code modules then calculating the optimal bundles becomes much less simple. In huge apps making a mega bundle of third party dependencies such as in the Aurelian skeleton app will lead to a very suboptimal user experience while they wait for that huge bundle to compile. With webpack these are non-issues.

[2016-03-08 22:58] ohjames commented on #254
@rosenfeld and me recently had a discussion where I was arguing that jspm's approach was good enough but he won me over with some very convincing arguments, he has some great blog articles on how to optimise page load times.

[2016-03-08 23:46] rosenfeld commented on #254
I believe you are discussing different subjects. I employ both techniques in the application I maintain but they are not necessarily related to each other. The technique described by @EisenbergEffect is commonly referred to as creating separate bundles, like vendor and app, both of which must be loaded for the application to load. This is handled in webpack by the CommonsChunkPlugin.

Even though

[2016-03-08 23:55] EisenbergEffect commented on #254
The bundles created using system.builder or the aurelia bundler do not have to be loaded up front. They can be loaded on demand. SystemJS knows what modules reside in which bundles. As a result, it only downloads the bundle when a module that resides inside that bundle is needed. It does not download it otherwise. This is basically the same capability as you are describing with Webpack. What it do

[2016-03-09 00:08] dpinart commented on #254
I haven't tried webpack yet, if it works as fine as @rosenfeld and @ohjames I'll have to consider its usage. I'm implementing lazy load via aurelia bundles, I do have a bundle that contains minimal stuff to show a login screen to the user. Meanwhile user is logging in I'm importing some module contained in the following bundle to load (inspecting the url I can know which view user is navigating to

[2016-03-09 00:10] rosenfeld commented on #254
@EisenbergEffect I'd love to better understand how this works since I'm interested in webpack alternatives which would support persistent caching so that it could be useful for incremental builds to speed up the deploy process.

Suppose you want to generate 3 bundles, Vendor, App and OnDemand. Suppose both Vendor, App and OnDemand depend on jQuery. How does SystemJS know that Vendor and App should

[2016-03-09 01:52] EisenbergEffect commented on #254
Basically, you tell it what goes into each bundle. Then it generates a manifest of the bundle contents so it knows what is where. Whenever jQuery is request is simply ensures that the bundle that contains jQuery gets loaded.

[2016-03-09 09:44] mikefills opened #357 "bindable without view-model"
is there any reason why using `bindable` in the template only works without view-model?
myComponent.html file:
[code]
it works only if you use <require from="./expander.html"></require>
I think this is a very cool feature so why doesn't it also work when you have a view-model?
(it would also be nice to update documentation to let people know you can actually use as several comma delimited paramete

[2016-03-09 10:05] Thanood commented on #357
I don't know if it is the intention but from my point of view it can become confusing if you were able to declare bindables in both view and view model. It's clearer to have these things in one place, IMO.

[2016-03-09 10:07] mikefills commented on #357
I agree with you, but think of the `ref` attribute for example, it does that already.
Second, you wouldn't have to use it if you don't want to. It would spare some lines from having to declare `@bindable` in the view-model.

[2016-03-09 11:38] rosenfeld commented on #254
@EisenbergEffect, if I understood it correctly, you basically tell the build system that modules in the Vendor bundle shouldn't be included in the App bundle and that neither Vendor, App and their dependencies should be included in the Common bundle and the build system is able to manage this correctly to remove any duplicates, is that correct? For example, if all bundles require jQuery neither Ap

[2016-03-09 11:40] rosenfeld commented on #254
Also, how do you manage the lazy load behavior? Does that system already provide you the required tools to ask for the module and run a callback once it's loaded? Or do you have to manage this part with your own custom code?

[2016-03-09 12:07] dpinart commented on #254
For each bundle there's an entry in the config file that lists the modules contained. Whenever app imports a module SystemJS knows if it's included in a bundle, if so SystemJS first downloads the bundle before resolving the import, bundles are only download once. A bundle is not downloaded until threre's an import asking for a module contained in.

[2016-03-09 12:22] rosenfeld commented on #254
@dpinart, I'll take your words to build a pseudo example.

"For each bundle there's an entry in the config file that lists the modules contained."

 Here's the config:

[code]

How do you tell the config that all dependencies (and their dependencies) included in Vendor should not be part of the App bundle and that all dependencies from App (including the ones bundled in Vendor) should not be part

[2016-03-09 15:59] AshleyGrant commented on #254
The Aurelia bundler is built upon the SystemJS Builder. The Aurelia Bundler Documentation is currently here: http://aurelia.io/docs.html#/aurelia/framework/1.0.0-beta.1.1.4/doc/article/bundling-your-app-for-deploy. It lays out the answers to all of your configuration questions.

When the SystemJS Builder builds up the bundles (based upon the configuration passed to it by the Aurelia Bundler toolin

[2016-03-09 16:19] dpinart commented on #254
@rosenfeld You have to be aware to avoid modules being duplicated. Aurelia bundler does not warrants this point. This task is a bit tedious and it requires some time. I ended watching in the debugger what modules were being downloaded in order to show the login view and I set up the "login" bundle with these modules. Then I built the "app" bundle excluding all the modules that were present in "log

[2016-03-09 19:11] rosenfeld commented on #254
Hi @dpinart, this is what I was trying to understand.

I've detailed how I use webpack to create two bundles (vendor and app) and load them async and how to load more code lazily in this article:

http://rosenfeld.herokuapp.com/en/articles/2016-02-29-getting-an-spa-to-load-the-fastest-possible-way-and-how-webpack-can-help-you

Webpack consider each chunk in an special way. Take a look at "Chunk ty

[2016-03-09 19:17] stefan2410 commented on #333
We have in production the Admin portal, built in Aurelia for a product  running in call centers (desktop clients) in the Parking Industry.  We started October middle  and it works in production from end January.

[2016-03-10 03:01] vcardins commented on #212
I out in place a small repo, based on skeleton-es2016 to reproduce my issue https://github.com/vcardins/skeleton-es2016-multiple-root.
(For some reason the AuthorizeStep is not working, so I redirected manually)
Steps ...
1. main.js
`aurelia.start().then(() => aurelia.setRoot('bootstrapper'));`
2. bootstrapper.js
   2.1 Configure the routes: `this.appRouterConfig.configure();`
   2.2 Check's wheth

[2016-03-10 03:34] vcardins commented on #212
@davismj Please, see my previous post. Thank you !!

[2016-03-10 20:07] atsu85 commented on #357
I'd vote for NOT changing current implementation, for the same reasons @Thanood gave:

I understand @mikefills point:

My point is it would be just an option having to declare @bindable in the view-model.

but the down side is, that every time You want to use a custom element, You'll need to check 2 files instead of one.

[2016-03-11 00:17] unional opened #360 "Consider exposing `.d.ts` in top level declaration"
Current they are wrapped in `declare module "aurelia-framework" {`
It is actually not needed and can be exposed as top-level declaration instead.
https://github.com/Microsoft/TypeScript/blob/master/doc/spec.md#23-declarations

It's the same format `tsc` expose.
With that format, you can expose the typings through `package.json/typings` property and IDE (e.g. vscode) can pick it up.

Also, top leve

[2016-03-11 09:15] brianeyre commented on #227
Hi people - I'm getting this issue 9 times out of 10 using Edge.  Any progress with it yet? It's a massive issue for our project as we are targeting Windows 10 devices.

[2016-03-11 15:03] EisenbergEffect commented on #227
We believe it is a bug in system.js. It's extremely hard to pinpoint. You may want to try using require.js instead and see if that solves the issue.

[2016-03-11 15:03] EisenbergEffect commented on #227
We are still working on it from our end.

[2016-03-11 15:49] brianeyre commented on #227
We will try that next week, thanks for the suggestion.

[2016-03-11 17:49] opcodewriter opened #361 "make latest Docs app URL version indepedent"
With web-browser history it's very easy to go to an outdated Docs App, possibly missing features.
For example this example for "Declare Custom Element Without View-Model With Binding" is only in v1.1.4:
[code]
http://aurelia.io/docs.html#/aurelia/framework/1.0.0-beta.1.1.4/doc/article/cheat-sheet
and it's missing in
`http://aurelia.io/docs.html#/aurelia/framework/1.0.0-beta.1.1.3/doc/article/cheat

[2016-03-12 01:08] BruceL33t commented on #235
Thanks a lot Rob.

It works somewhat, however if for example we take the aurelia navigation skeleton as the child application, whenever we click the routes in the navigation, it not only changes inside the  custom element - it also changes in the browser url (the main application). How would we contain actions and links clicked inside the custom element, so the main app won't react on it?

[2016-03-12 01:20] EisenbergEffect commented on #235
That's going to be very complicated if possible to handle the routing in both cases.

[2016-03-12 01:27] BruceL33t commented on #235
I guess iframes is the way to go the, for child applications then - which also seems to work fine! :-)

[2016-03-13 22:56] remojansen commented on #313
Hi @EisenbergEffect thanks for answering. I asked this question because I've been working on http://inversify.io/ please take a look to [this comment](https://github.com/aurelia/dependency-injection/issues/73#issuecomment-196076010) you may find it interesting.

[2016-03-14 00:09] EisenbergEffect commented on #313
To replace our Container, you would have to implement all the same methods that are expected. Then, you would have to manually bootstrap the Aurelia app, because that allows you to pass the root container in.

[2016-03-14 00:17] remojansen commented on #313
I would like to try this without touching Aurelia code our touching it as little as possible. Replacing the injector should be more or less possible using the adapter pattern. Doing my own bootstrap sound more complex but I will try to give it a go at some point.

[2016-03-14 00:45] EisenbergEffect commented on #313
You don't have to write your own bootstrapper. See the docs on manual bootstrapping. Just provide your container instance to Aurelia.

[2016-03-14 05:05] sidman1988 opened #362 "Slow loading on Edge and firefox"
Playing with aurelia using the startup kit and the navigation skeletons, and one thing i seem to notice no matter how small the app is, how slow its loading on Edge and firefox. It works great for me on chrome but those other two browsers are having some performance problems on the initial startup. Ive seen other bugs related to this issue, was there any solution for this? Is there any way all aur

[2016-03-14 10:03] doktordirk commented on #362
@sidman1988 seems you didn't bundle http://aurelia.io/docs.html#/aurelia/framework/1.0.0-beta.1.1.4/doc/article/bundling-your-app-for-deploy

[2016-03-14 10:07] martingust commented on #362
What @doktordirk said. Also if you are targeting Edge you should use `bluebird promises` instead of the native implementation, which is extremly slow on Edge. Microsoft is working on a fix for this but in meantime its recommended to use `bluebird`.

http://bluebirdjs.com/docs/getting-started.html

[2016-03-14 12:07] silverbucket opened #363 "npm-centric getting started?"
It seems like the only efficient way to get started with aurelia is to download a `zip` file, which to me seems pretty cumbersome in this day and age when most frameworks can be installed with a simple `npm` command. From looking at the downloaded package.json there are 10s of packages which need to be installed to get the aurelia suite working properly. This is seems like quite a burden. Can we n

[2016-03-15 09:10] obany commented on #227
Having updated a couple of our projects to use RequireJS I can confirm this resolves the issue, which does indeed point to it being an issue with SystemJS.

While this is a solution for now having to use requirejs and switching from JSPM/systemjs is not an ideal long term solution.

Most of the Aurelia examples use JSPM/systemjs and the Edge user base is rapidly growing so I assume a resolution fo

[2016-03-15 11:56] jdanyow commented on #338
Agree- need to use computedFrom otherwise the select doesn't know it's value changed until the dirty-check fires, which is too late, this code will have already caused the model value to be overwritten: https://github.com/aurelia/binding/blob/master/src/select-value-observer.js#L127

[2016-03-15 11:56] #338 closed

[2016-03-15 12:25] EisenbergEffect commented on #227
@obany Thanks for taking time to research that and confirming what we suspected. This helps us press the issue with the system.js team. Hopefully they can address it quickly. In the mean time, we have recently released experimental support for Webpack. We'd like to grow this a bit in the feature as a strong alternative to jspm/system.js. You may want to look into that and see if it would work for

[2016-03-15 15:48] joakimhallberg opened #364 "Cache busting and Navigation-Skeleton"
When using SystemJS for cache-busting as suggested here https://github.com/aurelia/framework/issues/94, it breaks the navbar in the skeleton-navigation application. The navbar is no longer visible and doesn't get loaded into the view. There are no errors in dev-tools. The html gets loaded
![image](https://cloud.githubusercontent.com/assets/7515153/13783751/35cd0638-ea92-11e5-891e-cb9b5ceb83e1.png)

[2016-03-15 16:02] #364 closed

[2016-03-15 16:02] EisenbergEffect commented on #364
Issue moved to [aurelia/templating-resources #203](https://github.com/aurelia/templating-resources/issues/203) via [**ZenHub.io**](https://www.zenhub.io/)

[2016-03-16 06:42] hiscodeness opened #365 "Templating/binding detaches incorrect nested component when splicing from a databound array"
When removing an item from an array bound to custom components with `repeat.for="..."`, it is possible that an incorrect nested component is detached. This occurs only if the nested component is contained within another component that doesn't implement `attached()` or `detached()`. The workaround is to add one of these methods.

I ran into this issue while developing an application and managed to

[2016-03-16 06:45] hiscodeness commented on #365
Note that in the reproducable, when the alert is shown, the values remaining in the custom component are incorrect. After the alert is dismissed, correct data is bound to the custom component. Nevertheless, when `detached()` is called, it is called in the wrong viewmodel, so any custom logic in that method will be applied in an incorrect context.

[2016-03-16 10:27] EisenbergEffect commented on #365
@jdanyow @martingust I'm going to guess this has to do with some of the recent optimizations around lifecycle. Can you take a look?

[2016-03-17 18:13] FunkMonkey33 opened #366 "Value binding can break change.delegate"
Textbox binding:

`<input type="text" value.bind="myValue | numberFormat:'0,0[.]00'" change.delegate="myValueChanged()" >`

Value converter:

`import numeral from 'numeral';
export class NumberFormatValueConverter {
    toView(value, format) {
        if (value === null || value === undefined){
            value = 0;
        }
        return numeral(value).format(format);
}
    fromView(input) {

[2016-03-17 22:05] MarkHerhold opened #367 "Lifecycle Events Promise Proposal"
I like the concept of the lifecycle events, namely `created()`, bind(), `attached()`, `detached()`, and `unbind()`. I do think that Aurelia could provide more functionality behind these, especially in regards to waiting on async operations.

Ideally, I would like to be able to implement a hook for the `created()` callback, return a promise, and have Aurelia wait for it to resolve before invoking t

[2016-03-17 22:10] EisenbergEffect commented on #367
We can't provide this across all components. It would be a disaster for performance and would no longer map in any way to web components. If you don't care about web components, you can use the new CompositionTransaction: http://aurelia.io/docs.html#/aurelia/templating/1.0.0-beta.1.1.2/doc/api/class/CompositionTransaction Simply have that injected into your component constructor and then call `enl

[2016-03-17 22:10] #367 closed

[2016-03-17 22:45] MarkHerhold commented on #367
This works **really well** and was exactly what I was after, @EisenbergEffect! You have my thanks.

Here is what @EisenbergEffect said translated into code:

[code]

[2016-03-17 22:59] wshayes commented on #367
Great question and answer - I saved this to my offbrain storage:  http://blog.williamhayes.org/2016/03/aurelia-custom-element-async-life-cycle.html <http://blog.williamhayes.org/2016/03/aurelia-custom-element-async-life-cycle.html>

[2016-03-17 23:05] EisenbergEffect commented on #367
Glad it worked for you! :)

[2016-03-17 23:13] wshayes commented on #367
And Dwayne is adding it to his book as well :)

[2016-03-18 02:50] MarkHerhold commented on #366
@FunkMonkey33 pretty much unrelated, but you should look into using `numbro` instead of `numeral` https://www.npmjs.com/package/numbro

[2016-03-18 05:14] sensedeep commented on #333
We're developing a substantial management portal for a cloud-based intrusion detection service for a new startup SenseDeep. We've used Angular heavily in the past, but the elegant simplicity of Aurelia is compelling. So far so good in our development with no major issues we could not solve. We plan to launch 2nd half of this year.

[2016-03-18 06:43] atsu85 commented on #367
@MarkHerhold
following line from Your example isn't needed as i understand:
`this.compositionTransaction = compositionTransaction;`

[2016-03-18 12:48] MarkHerhold commented on #367
@atsu85 you are correct. The constructor could be changed to:
[code]

[2016-03-18 14:24] alvarezmario commented on #366
@MarkHerhold any specific reason for that that you can share?

[2016-03-18 15:23] MarkHerhold commented on #366
@alvarezmario The numeral project hasn't been touched for 2 years and there are bugs. The project is dead. See: https://github.com/adamwdraper/Numeral-js/issues/242

Don't waste your time with it like I did. Numbro is nearly a drop-in replacement so you should be able to switch easily.

[2016-03-18 18:07] alvarezmario commented on #366
@MarkHerhold thanks for the info, I wasn't aware of numeraljs not being maintained anymore.

[2016-03-18 19:08] jap1968 opened #368 "Feature request"
After some initial tests I find this is a great framework with a lot of improvements over other alternatives.

I would like to know if it is possible to include the npm modules from Google in order to authenticate (OAuth2) with them.

In particular I have done some initial testing using [google-auth-library-nodejs](https://github.com/google/google-auth-library-nodejs) and [google-api-nodejs-client

[2016-03-18 21:10] bpierce88 commented on #183
Newbie here ...to both Web development and Auralia. So far seems like it'll be fantastic to work with.

I'm playing with the aps.net5 skeleton, and it seems like this issue still isn't fully resolved. I added a new page to the nav that does nothing except set and render the heading, and I added an e2e test just to check the title (a copy/paste of the users page test that does the same). Running th

[2016-03-18 21:40] bpierce88 opened #369 "E2E tests failing "asynchronous script timeout" for script in waitForRouterToComplete"
Newbie here ...to both Web development and Aurelia. So far seems like it'll be fantastic to work with.

I'm playing with the aps.net5 skeleton, and it seems like issue #183 still isn't fully resolved. I added a new page to the nav that does nothing except set and render the heading, and I added an e2e test just to check the title (a copy/paste of the users page test that does the same). Running th

[2016-03-19 08:22] atsu85 commented on #183
@bryanrsmith

Do i understand correctly, that router navigation completes before content of custom elements are bound and populated from data fetched from the server? If so, then this workaround isn't going to be usable for e2e testing in most cases in real life, or am i missing smth?

[2016-03-19 12:15] jpray opened #370 "Should bound values of dashed "attributes" be assigned to dashed properties or camelCase"
Hi!

I have a bunch of vanilla custom elements that I'm working on using within an Aurelia app.  A standard interface for custom elements are HTML attributes, so I was a bit surprised to see that something like
[code]
would assign the value of aValueForBar to the bar property and not set the attribute.  But after reading more I came to accept that this was probably done for performance reasons, th

[2016-03-19 14:02] EisenbergEffect commented on #183
If you return a promise from the navigation activate callback. The data will be sure to load before routing completes.

[2016-03-19 14:31] EisenbergEffect commented on #370
Issue moved to [aurelia/templating #300](https://github.com/aurelia/templating/issues/300) via [**ZenHub.io**](https://www.zenhub.io/)

[2016-03-19 14:31] #370 closed

[2016-03-19 16:42] bpierce88 commented on #183
Sorry to be daft, but are you saying just implement the activate method in every view model and return a promise that performs a noop? Something like this: activate() { return new Promise(() => { }); }?

[2016-03-19 16:49] EisenbergEffect commented on #183
No. If you have a screen that loads data, one that is controlled by the router, then in that view model you should load your data in the activate callback and return the promise from that method.

Here's an example:

[code]

[2016-03-19 17:22] bpierce88 commented on #183
Thanks. It's just a minor annoyance for the workflow: I'd like to start with e2e test that just checks that the page loads and the title is correct before even implementing the api that provides the data.

I think my noop (which I corrected in my last post) was being optimized away, as all is well if I do something like this:

    activate() {
        return new Promise(f => {
            this.hea

[2016-03-19 17:27] EisenbergEffect commented on #183
You don't need a promise for that. You only need a promise if you are doing something asynchronous. Your e2e tests should work fine without data. Also, make sure you have the latest versions of aurelia via `jspm update` because there were some improvements in composition that would affect this scenario.

[2016-03-19 17:46] bpierce88 commented on #183
Ah - did a jspm update, and now all is well if I remove that activate method altogether. Thanks again.

[2016-03-19 17:56] atsu85 commented on #183
@EisenbergEffect

I knew that, view activation works like that, but my question was related to **custom elements** used in view that is getting activated through navigation:

So i guess my concern is still probably valid:

[2016-03-19 18:02] kiryaka commented on #79
Can you please provide some small example that allow to accomplish this? I have a list of elements. Let's say `this.columns`. And I want to have `if.bind` binded to them programmatically. So something like this:
[code]

[2016-03-19 18:02] EisenbergEffect commented on #183
It should not. If it does then we have a bug.
On Mar 19, 2016 1:56 PM, "atsu85" <notifications@github.com> wrote:

[2016-03-19 20:06] sidman1988 commented on #362
Both solutions work especially the bluebird library it made a huge difference in edge, it loads in a second for me now.

[2016-03-19 20:06] #362 closed

[2016-03-20 06:59] atsu85 commented on #367
@MarkHerhold,
one more thing. I guess it doesn't make sense to return a promise from `created()`, as the framework doesn't do anything with it. So probably there is one more thing You should change:
To avoid misunderstanding, You should replace
`return this.http.fetch('/books/')`
with
`this.http.fetch('/books/')`.

[2016-03-20 11:39] jap1968 commented on #368
Answering myself: [aurelia-auth](https://github.com/paulvanbladel/aurelia-auth) and [aurelia-authentication](https://github.com/SpoonX/aurelia-authentication) seem to be the answer to this request.

Feel free to close this *issue*

[2016-03-20 11:39] #368 closed

[2016-03-20 17:13] MarkHerhold commented on #367
@atsu85 Great point! I updated the code block above to reflect both changes discussed.

[2016-03-20 17:21] EisenbergEffect commented on #367
@MarkHerhold Does it work equally well if you enlist inside of the `bind` callback? and kick off the data load during bind?

[2016-03-20 18:12] MarkHerhold commented on #367
@EisenbergEffect Yes it does. :+1:

I have two custom elements on the same page that are using the `CompositionTransactionNotifier`. I renamed the `created` hook to `bind` and Aurelia correctly waited for the data to load before displaying the contents for both custom elements.

[2016-03-20 18:13] MarkHerhold commented on #367
@EisenbergEffect please disregard my previous commment (deleted)

[2016-03-20 18:19] MarkHerhold commented on #367
@EisenbergEffect Yes is does. :+1:

Here is an equivalent-example of what the code looks like that I tried:

[code]

[2016-03-20 21:24] atsu85 commented on #367
@EisenbergEffect

what would be the benefit of this approach? The down side of this approach is
1) simplicity (more code without much difference)
2) holding references to 2 objects instead of 1 (in fields)
so i'd probably only store the compositionTransactionNotifier to the field (in the constructor) if there are no good reasons of doing what You asked about.

[2016-03-20 21:53] EisenbergEffect commented on #367
If you ever wanted to use view caching, the first option would not work because when a view is cached its created callback is only called once on the initial creation, not when it is reused. However, bind, attached, detached and unbind are always called. Also, in many cases, the async composition operation is dependent on some data, which would not usually be available until the bind phase. For th

[2016-03-21 01:18] grantcarthew opened #371 "Binding Event Order Issue"
### Senario

I have a `view` that has a `custom element` in it with a `@binding` and I need the `view-model` to cache data to localStorage when the `custom element` changes.

The `custom element` contains input checkboxes that are bound `checked.bind='object.boolproperty'` and also have `change.delegate='checkboxClicked()'`.

I am using `element.dispatchEvent` on the `custom element` to inform the

[2016-03-21 06:58] atsu85 commented on #367
Good point, thanks!

[2016-03-21 16:46] EisenbergEffect commented on #227
We are closing this for now. The issue is with SystemJS. We plan to move the community away from SystemJS/JSPM in the future. For the present, you may want to look into using our new Webpack setup. We are also working on an NPM/RequireJS workflow. Preliminary tests show it is 4-5x faster than SystemJS as well.

[2016-03-21 16:46] #227 closed

[2016-03-21 17:10] EisenbergEffect commented on #314
@danfma Can you provide me a reference to the documentation on this please?

[2016-03-21 17:32] alvarezmario commented on #227
@EisenbergEffect only for curiosity, do you know if Angular2 is having this issues as well? Is SystemJS really that bad?

[2016-03-21 17:37] sensedeep commented on #174
Another example of an uncaught error in the latest release.

[code]

[code]

The error is captured and discarded. Nothing in the console or dev tools. Nothing to the Aurelia log either.

[2016-03-21 17:38] EisenbergEffect commented on #227
I don't know if they are or not. It mostly appears to manifest when an app reaches above a certain size. My guess is that there aren't enough significant ng2 apps being deployed yet to uncover it in their community.

[2016-03-21 17:43] weegeekps commented on #227
@EisenbergEffect Any idea on a timeline for deprecating SystemJS/JSPM?

[2016-03-21 17:46] EisenbergEffect commented on #227
We aren't going to deprecate it. We are planning to continue to support it. However, we are working in improving the alternative options and switching to one of those as our recommended default. No timeline yet. We do have core team members working on it presently for real apps that need deploying. So, we should have an alternate solution soon.

[2016-03-21 18:01] alvarezmario commented on #227
@EisenbergEffect thanks! The NPM/RequireJS option seems very promising

[2016-03-21 18:31] snortblt opened #372 "ref binding to child object causes unbind failure"
Using the **ref** binding to a child object of a vm property as shown works until the view is destroyed.

`  <li class="ex-choice-src" ref="option.element">
        <span class="ex-choice-drag">${option.text}</span>
   </li>`

When the view is being unbound, the context object in the following snippet from aurelia-binding.js (beta 1.2.2) is null.

`AccessScope.prototype.evaluate = function evaluat

[2016-03-21 18:35] weegeekps commented on #227
Has anyone opened an issue on the SystemJS Github for this?

[2016-03-21 19:20] EisenbergEffect commented on #372
I believe this has already been fixed. Run `jspm update` to get the latest and please try again. Thanks!

[2016-03-21 19:31] EisenbergEffect commented on #227
I think there have been issues reported. I've also personally reported both the IE/Edge and performance issues to Guy.

[2016-03-21 19:43] EisenbergEffect commented on #174
@sensedeep  I just put an error in the `submit` method of the skeleton. When I click the button or hit enter in the form, I see the error reported in the console clearly. This is on master of all repos, so perhaps it's fixed. However, I don't remember any particular fixes related to this. Could there be something else unique about your scenario?

[2016-03-21 21:36] ruslant opened #373 "IE Out of stack space Evaluating babel-core@5.8.35/browser.js"
Getting error in IE 11.162 v.:

![issue](https://cloud.githubusercontent.com/assets/205502/13934969/866244de-efbd-11e5-9926-b7f560094f90.png)

In Firefox and Chrome everything works fine. Any ideas?

[2016-03-21 22:37] Thanood commented on #373
I can confirm this.
Bundled apps don't seem to have this problem.

[2016-03-21 22:52] jdanyow commented on #366
https://developer.mozilla.org/en-US/docs/Web/Events/change

Let's look at what happens when the input has "12" for a value and the presses "3" and then "tab":

1. The "3" key is pressed, triggering the input element's "input" event
2. The binding system is listening for the "input" event and sends the input's value ("123") through the value converter's `fromView` method, updating the model from "1

[2016-03-21 22:52] #366 closed

[2016-03-21 23:21] jdanyow commented on #365
reproducible in more recent build: https://gist.run/?id=173e62d9adfc6b776814

[2016-03-22 04:59] sensedeep commented on #174
The difference may be I'm using async functions with the Babel runtime.  The full code is:

[code]

I've singled stepped through the code and if I uncomment the "throw", the Babel runtime gobbles the event as it unwinds the async promises. When it returns to evaluate in aurelia-binding, the exception is gone.  I can do a try/catch in login(), but I'd like to have a global capture of such exception

[2016-03-22 09:15] MeirionHughes opened #374 "execution of delegate when model changed"
I've got a really wierd problem. I have websockets sending and recieving a list of models.

[code]

I create a  view for each model and each has a button and a click.delegate.

[code]
with command template:
[code]
with the viewmodel:
[code]

So... When clicked it sends the updated model to the server. The server then sends all the commands out again to all clients (update).

The problem is when I

[2016-03-22 09:27] MeirionHughes commented on #374
oddly, it doesn't occur if you have two tabs open in the same browser, it specifically has to be two separate browser windows. :[

[2016-03-22 09:38] MeirionHughes commented on #374
Well I think I figured it out... browser sync was literally synchronising everything that occurred in two open browsers. navigating directly to app and the problem is not evident.

[2016-03-22 09:38] #374 closed

[2016-03-22 10:12] EisenbergEffect commented on #174
Ok, this is a specific problem with the fact that the method is an async method.
@jdanyow What do you think of this? Should we be doing anything to handle this in the event manager? Should we be detecting if a Promise is returned from the method and connecting a "catch" handler to it? I'm not sure...

[2016-03-22 11:56] stoffeastrom commented on #174
There are some discussions in whatwg [here](http://lists.w3.org/Archives/Public/public-whatwg-archive/2014Sep/0024.html).

Seems like the common thing for vendors would be to call `window.onerror` eventually. Depending on `Promise` implementation there are some support already. Not sure if it's feasible to handle all different scenarios.

[2016-03-22 11:59] EisenbergEffect commented on #174
Right. Doesn't Bluebird handle this automatically? Perhaps the best solution would be to just use that?

[2016-03-22 12:09] stoffeastrom commented on #174
Yeah there are a couple of different approaches for bluebird depending on if it's in node or browser but there seems to be events for [this](http://bluebirdjs.com/docs/api/error-management-configuration.html#global-rejection-events). Haven't used that myself though.

[2016-03-22 12:20] genne opened #375 "<content> doesn't work within if-bindings"
Using the content tag within an if-binding doesn't seem to work at all, the result becomes empty. Changing "if" into "show" makes it work fine.

For example:

**app.html:**
[code]

**test.html:**
[code]

Expected result would be "content", but instead it's empty.

Tested in aurelia-framework 1.0.0-beta.1.1.4.

[2016-03-22 12:25] EisenbergEffect commented on #375
No. That is a characteristic of the shadow dom. The content selection points have to be static. They cannot be added ore removed dynamically. If you want to hid them, then consider using `show.bind` instead.

[2016-03-22 12:25] #375 closed

[2016-03-22 14:39] sensedeep commented on #174
Async functions are really, REALLY elegant. I'm not using bluebird and running in the browser ... chrome only at this point.

To handle this, I think the framework would have to test if a rejected promise is returned. That is what an async function that throws will do.

Ideally, you want the Aurelia logging to capture it at the actual function invoked and not at the bubble up point. Much better fo

[2016-03-22 18:52] thomas-darling opened #376 "Loading a 'feature' from within a feature requires an absolute path"
Say I have an app that contain a `feature` that itself is structured as a set of `features`.
Here, `infrastructure` is a feature, and so is `localization` and `logging`:
[code]
Now, in `app.ts` I load the `infrastructure` feature like this:
[code]
And in `infrastructure/index.ts` I load the nested features like this:
[code]

This works, but **I expected that the paths to the nested features would

[2016-03-22 19:03] EisenbergEffect commented on #376
@ahmedshuhel You've recently been in this code...how hard do you think it would be to make this work? Basically, before running the configure methods we would need to track which module is running config and then use that information the same way that we do in the globalResources helper method. Any interest in taking this on since you've been working in that code most recently? It would be pretty

[2016-03-22 23:59] snortblt commented on #372
Yeah, maybe not so much. I updated prior to posting this and again just now. Doesn't work over here. I will say that the parent object is transitive and part of the dependency tree itself. I suspect that may not be supported.

`@computedFrom('currentIndex','childVM', 'childVM.hasAnswer')`

[2016-03-23 00:24] EisenbergEffect commented on #372
We will need a repro to see the actual problem so we can fix it.

[2016-03-23 00:25] EisenbergEffect commented on #372
I don't think computedFrom supports property paths until after the upcoming release is out. So, there may be a problem with your decorator as well.

[2016-03-23 08:45] ahmedshuhel commented on #376
@EisenbergEffect I would love to work on it. I will talk about it in details on gitter channel tonight.

[2016-03-23 12:03] thomas-darling commented on #376
@EisenbergEffect, @ahmedshuhel Awesome, thank you!

A related question:
Have you guys thought about how features and lazy-loaded routes might work together?
We're building a large site here, and it would be good for maintainability if each area of the site could be implemented as a feature, so e.g. any area-specific `globalResources` calls can be defined within the area, instead of in the site roo

[2016-03-23 13:47] genne commented on #375
I would at least recommend adding some error message when this happens, since it's not obvious why it doesn't work (I spent at least one hour troubleshooting). Or some documentation covering it?

[2016-03-23 13:52] wshayes opened #377 "SystemJS.import should now be System.import in documentation"
In the docs - there are several references to SystemJS.import - should be System.import now.

[2016-03-23 14:13] EisenbergEffect commented on #377
I talked to Guy about this. The newer versions of SystemJS have SystemJS as an api to shield you from breaking changes coming in the module loader spec. For example. System.import is going away. Unless he has changes something again...

[2016-03-23 14:13] #377 closed

[2016-03-23 14:13] EisenbergEffect commented on #377
You may need to update your loader `jspm dl-loader --latest` will do that for you.

[2016-03-23 14:14] wshayes commented on #377
Thanks!

[2016-03-23 14:21] wshayes commented on #377
FYI - the latest Skeleton uses System.import.  I was using the latest Skeleton and cutting and pasting the documentation example for Progressive Enhancement (which uses SystemJS.import() and getting the SystemJS doesn’t exist error.

[2016-03-23 14:22] EisenbergEffect commented on #376
We have the ability, in the future, to make global resources be global only to a plugin/feature area. It hasn't been implemented yet.

To have routes trigger a plugin configuration, we would also need to extend the router. That's the more tricky part, but it could be added to the pipeline at the very beginning. We would need to add an additional configuration parameter on the route config so a plu

[2016-03-23 14:25] EisenbergEffect commented on #375
@AshleyGrant Since you are working on the custom elements documentation. Can you include a note in those docs on the above, namely that content elements have to be statically defined and cannot exist inside template controllers like if, repeat, with, etc?

[2016-03-23 14:29] EisenbergEffect commented on #377
This is so frustrating. Did you jspm install from scratch on that skeleton and have it not give you the latest loader? Or did the loader get in there some other way? I just want to try to determine how you got a non-up-to-date loader so I can try to fix the skeletons to prevent that from happening.

[2016-03-23 14:29] EisenbergEffect commented on #377
To clarify, I'm not frustrated with you...but with jspm/system.js.

[2016-03-23 14:46] AshleyGrant commented on #375
Will do.
On Mar 23, 2016 10:25 AM, "Rob Eisenberg" <notifications@github.com> wrote:

[2016-03-23 15:20] snortblt commented on #372
Ugh. My bad. I was confusing the computedFrom issue with this other issue, but thanks for reporting status on that too. I need to get more sleep.

The unbinding issue continues to be a problem after updating.

[2016-03-23 15:22] EisenbergEffect commented on #372
Can you provide us with a simple reproduction. I imagine @jdanyow could fix this pretty easily if we had this.

[2016-03-23 15:22] wshayes commented on #377
Never worried about the direction of your frustration - though I’ve earned it on occasion :)

On a Mac:

skeleton-navigation-1.0.0-beta.1.1.6
npm@3.7.3
jspm v0.16.15

When I changed System.import to SystemJS.import: "Uncaught ReferenceError: SystemJS is not defined"

[2016-03-23 15:22] snortblt commented on #372
Thanks. Let me see what I can do with the navigation skeleton app to repro.

[2016-03-23 17:45] snortblt commented on #372
[Aurelia Bug 372 demo.zip](https://github.com/aurelia/framework/files/186534/Aurelia.Bug.372.demo.zip)

This exhibits the behavior. Just click the 'Next View' button, which will load a new child view. Every other view instantiation will throw the exception.

[2016-03-23 20:30] StrahilKazlachev commented on #376
What do you expect in the following case: plugins **X** and **Y** load internally plugin **Z**, and an application loads **X** and **Y**.
- Aurelia to log/throw some error/warning.
- Aurelia to set plugin **Z** to be loaded/requested only once.
- the module loader should handle this.
- ...

[2016-03-23 20:32] atsu85 commented on #375
Having the error (either message or even thrown error) would also be nice.

[2016-03-23 20:36] EisenbergEffect commented on #375
I'm actually not sure it's possible to reliably message or error in this case, especially if the browser is implementing native shadow dom.

[2016-03-23 23:15] atsu85 commented on #375
Yeah, actually i also had some doubts, if it is possible to do it at runtime.

I'd really love to see a linter for Aurelia, that would detect problems at build-time (here i don't mean JS errors, that can be detected with TypeScript, other types of errors, for example wrong usages or missing methods/properties, etc.). Probably it is worth creating separate issue for that (in framework repo)?

[2016-03-23 23:17] EisenbergEffect commented on #375
Yes, that is a great idea. I think...maybe create that on our tools repo?

[2016-03-24 05:52] jedd-ahyoung commented on #363
@silverbucket While Aurelia can be installed using a zip file, it can also be installed using git. One can clone the skeleton-navigation repository and generate a clean installation from there (using either Typescript or ES2015).

If you would like to get set up without the skeleton-navigation repository, check out [this answer on StackOverflow](http://stackoverflow.com/a/32081822/677526) - this s

[2016-03-24 07:10] atsu85 commented on #375
Done: https://github.com/aurelia/tools/issues/31

[2016-03-24 10:35] EisenbergEffect commented on #363
We are planning a metapackage, however, if you want to use npm, then using npm 3 or any npm package that flattens dependencies, you can simple `npm install aurelia-bootstrapper` and you will get everything you need to start with.

[2016-03-24 10:35] #363 closed

[2016-03-24 15:09] SamuelCaudenberg opened #379 "File name too long"
Every time I try to publish my webapp I get this error:
"The fully qualified file name must be less than 260 characters, and the directory name must be less than 248 characters."
Is there a way to ignore my node_modules and jspm_packages folders while publishing?
Or another/better sollution to publish my webapp?

[2016-03-24 15:10] EisenbergEffect commented on #379
What do you mean by "publish"? What is giving you this error?

[2016-03-24 15:14] SamuelCaudenberg commented on #379
I basically right click the aurelia project (skeleton-typescript) and use "Publish Web App"
`------ Build started: Project: skeleton-typescript(1), Configuration: Debug Any CPU ------
------ Publish started: Project: skeleton-typescript(1), Configuration: Debug Any CPU ------
Connecting to \\hvdev05\c$\inetpub\wwwroot\WABatchBirdWebApp...
C:\Program Files (x86)\MSBuild\Microsoft\VisualStudio\v14.0

[2016-03-24 15:25] EisenbergEffect commented on #379
Ok, so this is some sort of Visual Studio bug. You might want to ask this question in the gitter. That's a better place to get an answer.

[2016-03-24 15:25] #379 closed

[2016-03-24 15:26] SamuelCaudenberg commented on #379
Ok, thank you for you time

[2016-03-24 15:27] mgerwinn opened #380 "Question - Sourcemaps from other libraries getting lost on aurelia startup"
As soon as we call aurelia.setRoot() our sourcemaps from other libraries getting lost. So debugging becomes a nightmare. I posted an image below about the exact source that is getting removed:
![image](https://cloud.githubusercontent.com/assets/836048/14021678/d953eb22-f1dc-11e5-9cee-9b5b5bb2b390.png)

Any help is highly appreciated!

[2016-03-24 15:29] EisenbergEffect commented on #380
My guess is that it has to do with the script tags being in the body and the body content being replaced with you call setRoot. To avoid that, set the aurelia-app attribute on a child div of the body with no content or content that is safe to remove.

[2016-03-24 15:29] #380 closed

[2016-03-24 16:50] Gheoan commented on #379
@SamuelCaudenberg using `npm` version 3 should fix this.

[2016-03-24 17:44] dpinart commented on #79
+1 to provide an Example.Once I have created the binding expression how can I attach it to an input's value property in created callback?

[2016-03-24 21:42] jdanyow commented on #372
Thanks @snortblt, I've distilled your sample down to this:
https://gist.run/?id=de82773d5e8fd23c4ff7

Looks like we need to move [these lines](https://github.com/aurelia/templating/blob/master/src/view.js#L154-L155) to the end of the view's unbind method.

[2016-03-25 00:32] npelletm commented on #380
Fun, I was face with exactly this this issue two days ago and I set the aurelia-app attribute on a child div :)

[2016-03-25 09:00] hadrienl opened #381 "Binding break when an object attribute is deleted"
If I bind an object attribute in a template and I delete one, then the view is no more updated. You can see [a demo in this plnkr](http://plnkr.co/edit/MiszbNYkrNBwLCLuYmnP?p=preview). The first button set value to null, the second button delete the value.

[2016-03-25 09:03] mgerwinn commented on #380
@EisenbergEffect: Thanks for your fast response. Working fine now!

[2016-03-25 15:58] ariovistus opened #382 "unit test custom element"
I am trying to unit test a custom element here: https://github.com/ariovistus/aurelia-mask/tree/dev
I am injecting Element and the test fails with

[code]

[2016-03-25 15:59] EisenbergEffect commented on #382
You will need to use Element as the DI key but not as the actual constructor since it's a base class that cannot be directly instantiated. So, if you want a spy, for your test, you could do someting like this

[code]

[2016-03-25 15:59] #382 closed

[2016-03-25 16:01] ariovistus commented on #382
ah, thank you

[2016-03-25 16:47] atsu85 commented on #363
@EisenbergEffect, what did You mean with "metapackage"? I guess http://wiki.ros.org/Metapackages is not what You meant?

I haven't looked into @zewa666's Aurelia [project generator](https://github.com/zewa666/generator-aurelia) that is implemented with Yeoman, but i'm wondering what's wrong with that approach? I've seen great [presentation](https://www.youtube.com/watch?v=baVOGuFIe9M) about [Angul

[2016-03-26 03:35] astanciu commented on #363
I was looking for something similar. I cannot find any examples of how to setup an Aurelia project from scratch or outside of a pre-made kit. I tried the yo generator and all it did is generate the exact files from the starter kit with the getting started guide (nested router example).

Also, did you mean `**jspm** install aurelia-boostrapper`? This was the closes I could come to doing it from scr

[2016-03-26 14:45] #372 closed

[2016-03-26 18:45] jdanyow commented on #381
Deleting properties that are being observed is not supported. The binding system rewrites properties it's observing with a getter and setter.  This enabled the binding system to intercept property assignments and handle the property change.  Deleting the property will put things in a bad state.

[2016-03-26 18:45] #381 closed

[2016-03-26 20:45] EisenbergEffect commented on #381
Also, you don't want to delete properites, usually for performance sake, because that changes the runtime's "shape" understanding of the object, which is costly. It's better to simply set the property's value to undefined or null.

[2016-03-27 17:47] doktordirk commented on #367
any suggestion on howto handle a rejected promise here? can i cancel attaching, unbind myself or something?

[2016-03-27 22:52] EisenbergEffect commented on #367
You can't cancel those events. You probably want to plan, from a UX perspective for failure and have the component render differently if that happens.

However, my personal recommendation is to not put data access inside of "wdigets" but instead to put that inside "screens" that are controlled by the router. Then you can control navigation if there is a failure. Those screens can then bind the dat

[2016-03-28 16:24] 32graham commented on #227
Looks like @guybedford is using systemjs/systemjs#1182 to track this issue.

[2016-03-28 16:26] EisenbergEffect commented on #227
Yes, he's working on a fix for the bug. It doesn't address the performance issues though. That's different.

[2016-03-28 21:40] 5ebastianMeier opened #385 "Error loading Custom Element without View-Model"
When trying to register a Custom Element without a View-Model by using globalResources JSPM seems to attach ".js" to the file path. The .html file gets correctly copied into the /dist folder.
Could this be caused by the recent JSPM update?

This is what the error looks like:
[code]
[code]
I looked it up in the cheatsheet and followed the exact same pattern.
My configuration looks like this:
[code]

[2016-03-28 21:44] PierBover commented on #50
Hey @EisenbergEffect

When you do `<require from="./my-styles.css" as="scoped"></require>` I understand these styles are scoped to the component and CSS selectors only apply to the current component. Is that correct?

What happens when such component is removed from the DOM with a route change? Are these scoped styles removed as well or kept in memory?

And finally, is there a plan to be able to w

[2016-03-28 21:48] EisenbergEffect commented on #385
This was a regression. We've got a fix and it's going out tonight or tomorrow morning. Hang in there.

[2016-03-28 21:48] #385 closed

[2016-03-28 21:52] 5ebastianMeier commented on #385
Glad to hear that. Thanks for the info!

[2016-03-28 21:54] EisenbergEffect commented on #50
Good questions. First the `as="scoped"` designation only works if you are using shadow dom (and the browser natively supports it) or if you are using a browser that supports scoped css, such as firefox. If this is true the css will be scoped and added/removed along with the component.

However, this isn't the majority of browsers today. So, this is best thought of as a "future" capability. It woul

[2016-03-28 22:03] PierBover commented on #50
Thanks for the fast answer Rob!

I will keep an eye on those CSS modules.

[2016-03-28 22:37] thomas-darling commented on #376
@EisenbergEffect Thanks, sounds good - I'll create issues for it when I get back from my holidays :-)

@StrahilKazlachev I would expect the `configure` function of **Z** to be executed only once - it just needs to register it's resources and stuff like that, and that should only happen once :-)

[2016-03-29 08:07] stalniy opened #386 "Replace dirty checking every 120ms with something like zone.js"
Wouldn't it be more performant to use something like https://github.com/angular/zone.js for dirty checking fallback instead of checking values every 120ms?

Currently mobile apps which use dirty checking fallback eating battery very quickly just because of `setTimeout` which checks expressions every 120ms

[2016-03-29 10:42] EisenbergEffect commented on #386
I'm not sure if we want to do this because:

* zone.js monkey patches a massive number of browser APIs, which is just not a good practice in general
* Your app shouldn't have much dirty checking since that's a fallback for scenarios where observation can't be performed. So, the cost should be minimal.

I'll let @jdanyow chime in. We did talk about some ways that we could be more efficient with the

[2016-03-29 11:33] jdanyow commented on #386
What if we used the [page visibility api](https://www.w3.org/TR/page-visibility/) and the window's focus and blur events to pause and restore dirty checking?

http://caniuse.com/#feat=pagevisibility

http://stackoverflow.com/questions/1060008/is-there-a-way-to-detect-if-a-browser-window-is-not-currently-active

[2016-03-29 11:42] EisenbergEffect commented on #386
Absolutely, we just need to fake it for browsers that don't support that. This seems like a nice little improvement.

[2016-03-29 18:02] 5ebastianMeier commented on #385
@EisenbergEffect I updated jspm and got it running again. But the dist folder is no longer the base path for referencing relative file paths - I have to include it in the path.

Is this by accident or by design?

[2016-03-29 19:30] EisenbergEffect commented on #385
Hmm. That's unexpected. @ahmedshuhel Can you look into this?

[2016-03-30 12:58] ahmedshuhel commented on #385
@5ebastianMeier Could you show me what is the change you had to make it work with the following information?
- The previous path and current path. .
- JSPM version
- SystemJS version

Thanks

[2016-03-30 13:17] 5ebastianMeier commented on #385
Before I expected this configuration to work:
[code]
Now I have to specifiy the dist folder as well (so the base path seems to be the project root folder)
[code]
My example file templatename.html is located in the same folder as the main.js in the skeleton project.
The path is:
[code]
I guess my phrase above may have been misleading in terms of JSPM - I didn't update jspm for my example to work, b

[2016-03-30 21:26] michaelmalonenz commented on #227
Even though I said it had been fixed for me earlier, it hadn't - I just got lucky a couple of times in a row.  However, now that the fix has been released, I've discovered that there is an interaction with Bluebird promises.

After removing Bluebird, Edge starts up without the Dev Tools open and still has decent performance.  So either Microsoft have released their improved performance of the prom

[2016-03-30 21:49] jdanyow commented on #227
what version of edge do you have- on 25.10586.0.0 the promise implementation is still using setTimeout:

[code]

[2016-03-30 21:56] michaelmalonenz commented on #227
I have Edge v25.10586.0.0, and jspm v0.16.32 and systemjs v0.19.25.
Ok, so decent performance is relative.  I timed our app startup (with a manual stop watch, so times are subject to human) and it's ~7.5s on Edge compared to ~2.5 on Chrome, but I think I'll take "slow" over never.

The decent performance means that the drawing times, etc when loading the most complex screen on our UI isn't too fru

[2016-03-31 10:29] Zenorbi opened #387 "Inheriting a class having autoinject causes weird behavior"
See https://github.com/Zenorbi/aurelia-autoinject-bug for the example.

This example shows, how `@autoinject` on a base class causes aurelia to only render the first custom element inherited from that base class and also swizzle its content.

To test the weird behavior:

1. See how both of the custom element's render below.
2. Open `base-class.ts` and remove the comment from `@autoinject`
3. See h

[2016-04-01 01:29] unional commented on #360
Actually exposing them in two formats. The current one can be consumed directly (e.g. used by WebStorm).

The top-level declaration on for `TypeScript language service` (used by vscode and Visual Studio, and atom?). expose that through `package.json/typings`

[2016-04-01 11:19] henning-krause commented on #373
Having the same issue. Problem existed before, but updating to the latest and greatest version of Aurelia (despite JSPM 0.17 - working with 0.16.32 for now), did not solve the issue. My bundled version also has this issue.

"Error: Out of stack space
   at Collection (eval code:20772:9)
   at Collection (eval code:20773:11)
   at Collection (eval code:20773:11)
   at Collection (eval code:20773:11

[2016-04-04 01:19] tallesdantas opened #388 "Socket IO + Aurelia.IO double activation"
Guys , when its created a structure like this:

[code]
It triggers the "ON" response twice , but when i create it like this:

[code]
It triggers once, but if i leave the model , and enters it again  it will load twice.

[2016-04-04 02:01] EisenbergEffect commented on #388
I'm afraid I can't quite follow what you are talking about here. We will need more context.

[2016-04-04 02:04] AshleyGrant commented on #388
@tallesdantas would you mind creating a gist.run or Plunkr example so we can help you debug this?

[2016-04-04 15:39] ZoolWay opened #389 "Contributions of Durandal"
Hello,

I got a small question about the contributions to Aurelia from Durandal Inc.
Over 70% of the commits are done by Rob. Does he merge the work of other Durandal contributors so these are not visible on GitHub themselves or does really 70% of the work rely on sole Rob Eisenberg?

This is no offense, I just would like to get a feeling how much Aurelia really relies on Rob alone.

Best regards,

[2016-04-04 15:52] EisenbergEffect commented on #389
Hello Ricky,

A couple of notes for you:

* All the original code was contributed by Rob in early 2015, so the remnants of that original large commit are still around. However, most development is no longer done by Rob.
* It’s important to realize that Aurelia is split across 40+ repositories. So, if you are looking at only the “framework” repository, you aren’t seeing the majority of the work bei

[2016-04-04 16:19] atsu85 commented on #388
@tallesdantas, could it be caused by browsersync You might be using in development environment?

[2016-04-04 16:26] tallesdantas commented on #388
the problem is that if i put a socket listener inside the constructor of aurelia it will register as many times i enter in the model, it should only execute once.

[2016-04-04 16:33] wshayes commented on #388
You should register your listener’s in a separate service that is injected as a singleton to your topic V/VM
 e.g. topic-listener.js constructor would contain all of your listeners.

[2016-04-04 17:20] philmueller commented on #314
@EisenbergEffect Module resolution via "typings" field in `package.json` is described here: [Typings for NPM Packages.md](/Microsoft/TypeScript-Handbook/blob/master/pages/Typings%20for%20NPM%20Packages.md)

As @unional pointed out in the related issue #360, the `declare module "aurelia-framework" {...}` wrapping has to be removed for this mechanism to work.
I just did a quick test by adjusting all

[2016-04-04 17:33] EisenbergEffect commented on #314
@cmichaelgraham We need to look into this for the future... Can you take a look at what would be involved on our end? It would be nice to have this finally dealt with for v1.

[2016-04-04 17:39] unional commented on #314
To clarify this a bit. Typings discovery for node package works in 1.8 (or prior) with `package.json/typings`. In 1.9+ it adds path mappings so that supporting `jspm` is possible without the symlink.

[2016-04-04 17:56] ZoolWay commented on #389
Hello Rob!

Thanks for your fast response!

The size of the whole ecosystem with all those repositories has slipped my attention, sorry.
That makes sense and gives me a better overview of the project. So my first impression that this relies on a very large scale on you Rob was mislead.Thanks for pointing out!

Best regards,
Ricky

[2016-04-04 18:14] EisenbergEffect commented on #389
Ricky,

Thanks for checking out the platform!

Rob

[2016-04-04 18:18] #389 closed

[2016-04-04 23:06] jdanyow commented on #388
If you subscribe in `activate`, you should unsubscribe in `deactivate`- here's an example:

[code]

This will prevent memory leaks and fix the issue you've described.

[2016-04-04 23:06] #388 closed

[2016-04-05 01:08] tallesdantas commented on #388
@jdanyow  you saved my project i'm really thankfull dude, thanks alot =D

[2016-04-05 17:55] jdalton commented on #373
I'm seeing this issue in Edge too but only when the debugger isn't attached.
Open F12 and the page loads.

[2016-04-06 07:21] Zenorbi commented on #387
I updated the repo showing the behavior. Removed the skeleton-navigation example, removed gulp, just a simple `jspm install` and you can open up the `index.html`.

[2016-04-06 15:34] trusktr opened #391 "Comparison of Aurelia templating to Angular, React, etc."
How does Aurelia templating compare to other libraries like React, Angular, Meteor Blaze? What are the differences and similarities not just in outter usage, but in implementation details and techniques (f.e. React uses a dom-diffing strategy to update the DOM).

Has this been written about somewhere? Searching for "aurelia vs anything-else" on Google doesn't really help, as everything that I find

[2016-04-08 07:40] grofit opened #392 "Custom attribute not setting value if @bindable present"
## Scenario

So the scenario is I have a custom attribute which I would expect users to use in one of two ways.
### Shorthand

`<div some-attribute.bind="someVal">...</div`

So this way the user would use it without having to set any internal properties for the attribute and generally the cleanest way of expressing the intent.
### With additional options

`<div some-attribute="property1.bind: some

[2016-04-08 09:59] vkomodey commented on #373
+1

[2016-04-08 13:55] EisenbergEffect commented on #392
Today, it is intentional that you either have a basic attribute or an options attribute. An options attribute can't function with a simple value. However, we would like to add this in the future. We have a use case for it inside Aurelia with our route-href attribute.

That said, I don't think we'll have time to implement this ourselves for v1. I think it could be done in a point release thereafter

[2016-04-08 13:56] EisenbergEffect commented on #392
Important note, most of this feature might actually need to be implemented in the syntax parser itself. @jdanyow @martingust @AshleyGrant You guys have any thoughts on the above?

[2016-04-08 14:10] grofit commented on #392
Thanks for the info, currently I don't know the aurelia code base well enough (I have barely used Aurelia to date) so I wouldn't feel comfortable jumping in and trying to alter the main parsing functionality for this.

I have not tried `@dynamicOptions` I assume this would yield same issues, but its not the end of the world for me, it's just I would rather have shorthand methods for consumers of t

[2016-04-08 14:12] EisenbergEffect commented on #392
I think we definitely want to support this. It just might have to wait a bit until we tackle a few other things.

[2016-04-08 15:32] JeroenVinke commented on #373
:+1:

[2016-04-09 19:58] atsu85 commented on #360
@unional, **I don't think there are any reasons to change current format how TypeScript declarations are generated for Aurelia**, or add another "unwrapped format". I guess Your IDE is incorrectly configured and therefore results problems for You. I haven't ever had any problems with Atom and Aurelia TS declrations, and I'll bet that there are no such problems with other IDEs either - otherwise th

[2016-04-09 20:03] atsu85 commented on #314
@philmueller, @unional, @EisenbergEffect, @cmichaelgraham
I think that following is incorrect:

I've written a longer [comment](https://github.com/aurelia/framework/issues/360#issuecomment-207843997) to the referenced issue.

*To be clear, I'm not stating anything about the required changes in package.json, just the format of TypeScript definitions for Aurelia*

[2016-04-09 20:06] unional commented on #360
First of all, thank you for taking time to write your response.

I think you misunderstand what I said. I'm proposing to unwrap it from `declare module "aurelia-framework" { }`. You can check out any typings repos in https://github.com/typed-typings
These are typings that expose module in top-level declaration format.

It is the same format exposed by tsc if the code is written in TypeScript and g

[2016-04-09 20:08] unional commented on #360
By the way, you can try it out yourself. Go to `./node_moudules/aurelia-framework` and edit the `aurelia-framework.d.ts` file like I said, it is pretty simple.
It will work on Atom too.

[2016-04-09 20:09] unional commented on #314
@atsu85 just responded. :smile:

[2016-04-09 20:11] unional commented on #360
Also, this might help you to understand it a little better:
https://github.com/typings/typings/blob/master/docs/external-modules.md

[2016-04-09 20:19] unional commented on #360
One more point to make is that the TypeScript handbook have not (yet) clearly address the downside of having `declare module "abc" {` wrap. There are numbers of issues I'm involved in TypeScript and you can look it up to understand it better. :rose:

Good job in reading the docs thou. :+1:

[2016-04-09 21:55] atsu85 commented on #360
@unional, thanks for quick response

Now i understand the downside. It really didn't occur to me when reading the official TypeScript documentation from the website. I should have read more Typings docs than just usage and upgrade from TSD.

Sorry for the confusion, and thanks again for educating me :)

[2016-04-09 22:00] atsu85 commented on #314
@unional, You are the man! Sorry for the confusion.

[2016-04-09 22:03] unional commented on #360
You are welcome. It is not simple to understand. :+1:

[2016-04-09 22:36] EisenbergEffect commented on #360
Can someone summarize for us what we should do going forward?
On Apr 9, 2016 6:03 PM, "Homa Wong" <notifications@github.com> wrote:

[2016-04-10 12:42] MaximBalaganskiy commented on #254
@rosenfeld Could you please give more details on how to separate aurelia and app code into two bundles? I'm having an exception when try to do that, although one bundle app works fine. I managed to trace it to an undefined `Element` injection. I feel that it has something to do with in which bundle `aurelia-pal-browser` is located but couldn't get to the bottom of it.

[2016-04-11 00:47] wujimin commented on #286
ES2106:
[code]

then use like this:
[code]

i don't know if it is recommended, but it can work.
and this logic can not impl by typescript, because the d.ts export ObserverLocator as a interface
so use typescript, i only find the way can work(i like the ES2016 logic more):
[code]

anyone can tell me, what's the recommended way to do "href.bind check for undefined and null"
any my project is based o

[2016-04-11 02:59] jdanyow commented on #392
Would it make sense to introduce the ability to declare one of the bindable properties the "default" or "primary"?  Instead of using `value` OR `property1` and `property2` we could declare `property1` as the primary bindable.  Then `property` could be bound using the shorthand or options syntax.  I think this would simplify the code a developer needs to write.

[2016-04-11 07:02] grofit commented on #392
that would work just as well for me, if anything that would be more consistent too, as the way I mention you have to check if `this.value` exists then use it etc, but if you just have a default property then it streamlines logic and takes less "magic" out of the process.

[2016-04-11 09:41] EisenbergEffect commented on #392
@jdanyow We definitely need to keep `value` if there are no bindables, but if there are bindables, I think being able to declare one the default would be nice. Then we could support what @grofit is looking for.

[2016-04-11 13:20] fabioluz commented on #212
@cehoffman I had this same problem today. After read your comment I realised that I was not saving the router instance in the login root component. Everything worked after saving the router instance in the `this.router` property.

[2016-04-11 15:19] Zenorbi opened #395 "How to animate a view model value in the view?"
Given the following template:
[code]
I would like to animate `foo`. How should I start working on an animator?

I tried value converters, but a value converter does not have the ability to change the piped value without it being called from aurelia.

Then I looked at how `throttle`, `debounce` work and tried binding behaviors like so:
[code]
Worked like charm, the only problem is, that I cannot wr

[2016-04-11 17:10] sylvain-hamel opened #396 "Provide a method to dispose an Aurelia instance"
The framework should provide a method to shut down / dispose an Aurelia application instance.

Calling `aurelia.dispose()` would dispose all objects / event listeners created by Aurelia including:

- release instances held by containers
- dispose all EventAggregators and bindings to release subscribers
- dispose / deactivate the router(s)
- null out the aurelia.container property and the aurelia.l

[2016-04-11 21:16] rosenfeld commented on #254
Hi @MaximBalaganskiy, I don't actually use Aurelia myself. I was brought to this discussion by someone while we were discussing some performance issues related to the build tool and just contributed to this specific subject. I can't give you details on how that applies to an aurelia application. In my application I bundle all libraries in a vendor JS and the application code in another JS. I also

[2016-04-12 13:54] bhatnagar-ankur opened #397 "3rd party plugins have stopped working"
Hi,

Last night I have updated the jspm packages for aurelia framework. After the update all my 3rd party plugins like material.spinner, twitterTypeahead, bootstrap-datepicker and many more have stopped working.
Every plugin is throwing error 'Unhandled promise rejection' and respective function is a not a function.

I have attached the image showing error for of the plugin.

![unhandled_promise_r

[2016-04-12 14:10] EisenbergEffect commented on #397
I'm not sure this is an Aurelia issue. I built an app with plugins just fine yesterday. It could be related to system.js somehow. Make sure you run `jspm update` to ensure you have the latest and also check that you don't have any forks. @ahmedshuhel can you look into this further? @bhatnagar-ankur We will need a specific set of instructions or a sample that reproduces the problem.

[2016-04-12 15:33] cdennig commented on #397
I bet this has nothing to do with Aurelia. Check if jQuery is imported (as dependency in your 3rd party plugins) multiple times. There should be just one „source“, NPM or GitHub. If you have Github **and** NPM, jQuery is pulled into your browser several times…overwriting the previous instance.

I had the same issue some time ago and just manually updated the dependencies to pull in the „NPM Versio

[2016-04-12 15:34] #397 closed

[2016-04-13 01:59] #308 closed

[2016-04-13 09:40] bhatnagar-ankur commented on #397
@EisenbergEffect thanks for the quick reply.

@cdennig last night even I tried the same thing, and it has started working.
and you are correct two different versions of jQuery were getting downloaded, one from npm and other from github. Thanks for sharing your experience.

Ankur

[2016-04-13 14:12] glen-84 opened #398 "useView doesn't load views relative to the view model?"
I have a structure like this:

[code]

For the `index` module, I load the view using `@useView("../views/index.html")`.

For the `view` module, if I try to do the same thing, it tries to load the view from `/assets/app/views/view.html` instead of `/assets/events/matches/views/view.html` – shouldn't it load the view relative to the view model?

Note: `assets` is the folder that the files are built

[2016-04-13 14:14] EisenbergEffect commented on #398
It should indeed. Please create a simple production using the es2016 nav skeleton and attach it here. That will help us locate the bug and fix it. Thank you.

[2016-04-13 14:39] glen-84 commented on #398
Here we go: https://github.com/glen-84/skeleton-navigation/commit/354ee8a6fed929f32dadb7bec702a58de170fe0b

[2016-04-14 12:13] petervdn opened #399 "/undefined/ appears in start of url in bundled version"
the bundled deployed version of a site i'm working on has the issue that every url (either by navigating by code, or by href="/some/kind/of/route") ends up looking like:

    domain.com/undefined/some/kind/of/route

the site functions normally with these urls. it appears that the `this.options.root` in `aurelia-history-browser.js` is undefined here:

    this.root = ('/' + this.options.root + '/')

[2016-04-14 12:46] petervdn commented on #399
apparently this was an issue with the base-href being set independent of the protocol (`<base href="//domain.com/" />`), which was different from what we were doing locally  (`<base href="http://domain.com/" />`)

[2016-04-14 12:46] #399 closed

[2016-04-14 14:47] chriscantu commented on #183
FYI:  For a work around, I move the `browser.waitForRouterComplete()` command into my first `it` block.  This work-around has worked consistently.

Important Notes:
* Based on  aurelia-skeleton-es6
* demo.spec.js executed first
* utilized `browser.waitforRouterComplete()` inside `it` block instead of `beforeEach`

[code]

I am curious as to why this would work.

[2016-04-14 19:29] codeaid opened #400 "Switching application root (`setRoot()`) breaks after the second run"
Firstly, apologies for the long-winded explanation but I thought it makes sense to explain everything step by step to make it easier to replicate the issue.

#### Background
I am writing a website that requires users to log in to access protected content. As expected, the login page has a completely different layout to all the authenticated pages that contain elements like toolbar, sidebar, naviga

[2016-04-15 00:47] jdanyow commented on #334
The first property-getter access happens when the binding evaluates the expression during the initial bind, to assign the model value to the element.

The second property-getter access happens when the binding "connects" the expression (sets up the observers).  The observer grabs the current value because it needs the `oldValue` when it fires change events.

I couldn't find a way to eliminate eith

[2016-04-15 00:47] #334 closed

[2016-04-15 01:33] #365 closed

[2016-04-15 03:15] mPisano commented on #365
got further after googling...

C:\Work2\Cifc\Spa>npm install glob

site looks up, but some errors below

npm WARN package.json concordia-freight-client@1.0.0 No license field.
glob@7.0.3 node_modules\glob
??? path-is-absolute@1.0.0
??? inherits@2.0.1
??? once@1.3.3 (wrappy@1.0.1)
??? inflight@1.0.4 (wrappy@1.0.1)
??? minimatch@3.0.0 (brace-expansion@1.1.3)

C:\Work2\Cifc\Spa>gulp watch
[23:11:45]

[2016-04-15 05:45] unional commented on #360
@EisenbergEffect sorry for the late reply.

Are the users relying on `tsc` to load the typings? If they are, then the action item is simple: Just remove the `declare module "aurelia-framework" {` wrapping.

If there are users who use it through `/// <reference path="node_modules/aurelia-framework/aurelia-framework.d.ts" />`, then the situation is more complex as TypeScript 2.0 might have some chan

[2016-04-15 07:28] vkomodey commented on #373
So what about this issue?
Currently we have ie-incompatible application at production(edge works fine).
Maybe some workarounds?

[2016-04-15 13:38] EisenbergEffect commented on #360
Ok, so we need two d.ts files, one for each usage scenario, but we need the unwrapped on linked from our package.json files. Is that correct @unional

@cmichaelgraham Can you look into this? It looks like changes in the TS ecosystem that we need to account for. We'll need to change our build processes.

[2016-04-15 16:27] blakeembrey commented on #360
@unional LGTM. You won't need Typings at all if the whole dependency tree switches to the module format. From the TypeScript docs on providing typings: https://www.typescriptlang.org/docs/handbook/typings-for-npm-packages.html

[2016-04-15 17:11] lmj0011 opened #401 "add anchor to headings in aurelia docs"
This will allow for easier sharing of a topic.
https://www.w3.org/TR/html401/struct/links.html#h-12.2.3

[2016-04-16 13:10] jdanyow commented on #401
We're on it @lmj0011 :+1: - there's an open issue in the docs app for this feature:
https://github.com/aurelia/app-documentation/issues/32

(you might not be able to see it because it's a private repo)

[2016-04-16 13:10] #401 closed

[2016-04-18 11:32] Zenorbi commented on #395
I did sort of answer my question at http://stackoverflow.com/questions/36654673/create-a-new-binding-context-for-a-custom-attribute/36692609#36692609

Feel free to close this issue if the answer is good, I would however document this feature, maybe in the cheat sheet.

[2016-04-18 15:27] niieani commented on #333
I have developed a Slack/Gitter-clone using Aurelia and RethinkDB that uses GPG encryption for all conversations and file uploads; currently in production for internal use. That's quite a bit of complexity. I'll make it open source once I'll clean up the code.

[2016-04-19 12:50] grantcarthew commented on #371
Oh, I just found this on [reddit - Aurelia Observer Patterns](https://github.com/axwalker/aurelia-observer-patterns/wiki/Observer-patterns-in-Aurelia). I will try each one and see if I can get a solution. Thanks to @axwalker.

[2016-04-19 20:53] chalisegrogan commented on #5
For whoever happens to come across this issue in the future, aurelia-framework is available here: https://www.npmjs.com/package/aurelia-framework

[2016-04-19 21:41] sirgalleto opened #402 "Dont load app.js in safari"
Hi, actually im testing aurelia for create an app in my company, but when im testing on safari or mobile i dont see the execution of `app.js`whitout any error.

app.js
[code]
I have any bad implementation or incompatibility?

[2016-04-21 05:11] grantcarthew commented on #371
OK, so I fixed my issue thanks to the document @axwalker wrote. Although I think it is a little hackish. I added a bindable value on the parent and changed the value on the child custom element when the element changed. I made the bindable value an integer and just increment it each time a checkbox on the child is checked and processed.

This worked over DOM events, EventAggregator and other metho

[2016-04-21 10:16] jwtvh commented on #257
Issue still exist, please reopen

[2016-04-21 10:27] alsoicode commented on #257
I'm seeing the same issue.

On Thu, Apr 21, 2016, 6:16 AM Jeroen van Hinsbergh <notifications@github.com>
wrote:

[2016-04-21 10:53] dpinart commented on #257
For me, switching from JSPM/Systemjs to Webpack fix the issue. I now can run my aurelia apps on any browser (chrome, edge, firefox, safari) and even on any device (androis/ios/windows phone) as phonegap apps

[2016-04-21 11:06] stsje commented on #257
Our web app. loads in under a second using Edge and the following stack:
Bluebirdjs, Systemjs, Jspm

You will be having load time issues if you haven't included bluebirdjs before systemjs in your index file. The performance improvements webpack would bring us were very minimal, if even any at all, when we tested it out on our application. For us it made no sense to make the switch to webpack, sinc

[2016-04-21 12:32] devmondo commented on #257
i fully agree with @stsje, we tested Webpack and saw minimal advantage, not to mention some lacking features that are important to us like dynamic modules creation.

just as @stsje  said, make sure you include bluebird before System.js in your index.html, also we faced strange issue that caused IE 11 to freeze if we include bluebird,  to solve the issue we included the minified version
https://git

[2016-04-21 13:46] djoooooe commented on #334
In that case I would suggest to at least add a warning to the docs, since this behavior does have a big performance impact when developers decide to put CPU-intensive computations inside the getter.

[2016-04-21 13:56] SamuelCaudenberg opened #403 "Font-Awesome and Bootstrap won't load or are outdated?"
Hi guys,
I'm getting this error:
![image](https://cloud.githubusercontent.com/assets/10906724/14711302/1f878b82-07d9-11e6-8d81-7ad74053bee8.png)
I'm sure its an easy fix, I just don't know how to fix it.
The error popped up after the node_modules downloaded a new version and I decided to use an older folder of node_modules.

Thanks in advance.

[2016-04-21 14:07] wshayes commented on #403
Make sure that the libraries are actually available and that your versions are correct (e.g. you do have npm/font-awesome@4.5.0 not something else like 4.4.0).

[2016-04-21 14:07] EisenbergEffect commented on #403
Check in your config.js. As @wshayes says, your version numbers are probably off.