[2018-03-19 18:45] #863 closed

[2018-03-19 18:48] EisenbergEffect commented on #845
Closing. This question can be continued on Discourse if need be.

[2018-03-19 18:48] #845 closed

[2018-03-19 18:50] EisenbergEffect commented on #821
I think we'll address some of this through the build-time compilation work of vNext along with the accompanying new implementation of compose.

[2018-03-19 18:50] #821 closed

[2018-03-19 18:50] EisenbergEffect commented on #824
Let's keep this open for consideration in a future version.

[2018-03-19 18:52] EisenbergEffect commented on #818
Should be fixed now since the props are no longer enumerable.

[2018-03-19 18:52] #818 closed

[2018-03-19 18:54] EisenbergEffect commented on #808
This is not an intended use case. @davismj to comment on whether or not he wants to take this on. It seems very tricky to determine how to make this work all the time.

[2018-03-19 18:54] EisenbergEffect commented on #779
Closing because either it was fixed or at least it can no longer be reproduced.

[2018-03-19 18:54] #779 closed

[2018-03-19 18:55] #753 closed

[2018-03-19 18:56] #743 closed

[2018-03-19 18:57] EisenbergEffect commented on #711
Moving to a different approach for the getting started article and for vNext.

[2018-03-19 18:57] #711 closed

[2018-03-19 19:00] EisenbergEffect commented on #671
For vNext, I'm keeping this scenario in mind much more. I think we'll have a better way of handling this in the future.

[2018-03-19 19:00] #671 closed

[2018-03-19 19:02] EisenbergEffect commented on #226
I'd like it if this could be more consistent, but it's probably very difficult without breaking some things. This at least well-documents the return type so that there is no confusion.

[2018-03-19 19:02] #226 closed

[2018-03-19 21:14] bigopon commented on #834
To me this is a user unintended data assignment issue. The error says very clearly that its not a repeatable value, and the repeater support array, map, set, number, null, undefined. So that leaves only few left: boolean, string, symbol, other object types that are not instance of array, map or set.

[2018-03-19 21:39] Alexander-Taran commented on #834
@bigopon could it be that skeleton uses some polyfill that changes the behavior of provided in gist code?

[2018-03-20 06:39] pkkummermo commented on #830
Sure, I'll do an upgrade test today :)

[2018-03-20 09:00] bigopon commented on #834
Could be, as [these lines](https://github.com/aurelia/templating-resources/blob/master/src/repeat-strategy-locator.js#L28-L32)

[code]

help ensure it is the reference used by everything else. Unless somewhere in user code, he / she creates the map / set / array with one Map implementation, and then import a polyfill to override that, so the locator will fail to find repeat strategy as shown in th

[2018-03-20 09:57] javadbat commented on #827
something in Aurelia to allow you to better use your widget when we use our own module or widget in a team we need something to read as a document to know how module config and work and what module need as a input because JS is not static and class base to determine a class as a input so we can add interface to do the job

[2018-03-20 10:40] Alexander-Taran commented on #834
@einaradolfsen looks like polifils fight each other.
If you require more assistance with that.
we need to see how your failing app is loaded
so package.json
config.js if any
the html that references scripts
main.js
app.js
and the vm that fails

for starters

[2018-03-20 13:38] roy46 commented on #830
Hi. I am not sure if i am experiencing exactly the same issue detailed in this thread. However, I have an issue with the `repeat.for` attribute rendering twice in an Aurelia App/Widget (creating via the `bootstrap((aurelia: Aurelia) => { //.... })`) inside another Aurelia app.

It's almost as if Aurelia is proxying the array functions (push, splice etc) twice. Although it's worth noting that the u

[2018-03-20 13:45] Alexander-Taran commented on #830
@roy46 could you describe a bit more your double aurelia setup?

[2018-03-20 14:28] roy46 commented on #830
I have a widget class that exposes an `init()` to start up the component:
[code]

[2018-03-20 14:33] roy46 commented on #830
I have a widget class that exposes an `init()` to start up the component:
[code]
Then I have created a test harness (another Aurelia app) that imports and uses that widget. In the test harness I created a wrapper component:
[code]

[2018-03-20 15:15] Alexander-Taran commented on #830
@roy46 can't explain why, but it looks like a way to disaster (-:

[2018-03-20 17:59] EisenbergEffect commented on #827
@javadbat Is the purpose to document a component's API?

[2018-03-20 20:01] pkkummermo commented on #830
@Alexander-Taran I tried updating to the newest versions, ie
[code]
and I'm afraid the problem still persists. Is there any deps I should be updating alongside these which might cause interference?

[2018-03-20 20:35] einaradolfsen commented on #834
@Alexander-Taran
If this workflow of creating a jspm project is outdated, I think we can close the issue.
Do you know if au-cli has a way to use jspm as package manager?

I've created a project, you can have a look at, the issue is relevant.

We have moved to webpack, which seams to work better for us, Thanks

[2018-03-20 20:38] EisenbergEffect commented on #834
We don't support using jspm via the CLI but we support using System.js. I'll close the issue.

[2018-03-20 20:38] #834 closed

[2018-03-20 23:51] thinkOfaNumber commented on #820
gist.run seems to be overwriting my gists when I fork new ones from gist.run, so that gist looks empty... if you look at the [revisions here](https://gist.github.com/thinkOfaNumber/74d33945221dd5fa6aa01b42d310f097/revisions) you can still see how to reproduce it. Let me know if you want me to get the gist going again.

[2018-03-21 04:52] davismj commented on #808
I'm going to guess this is a dialog issue and the dialog would need to be modified to support this.

@vinayhfs In your case, please consider building a dialog component rather than relying on a library. It might be easier than you think. See my article here: http://davismj.me/blog/easy-dialog/

[2018-03-25 03:15] obedm503 commented on #855
@AshleyGrant why not just import it directly and let webpack take care of it?
[code]

[2018-03-27 08:26] javadbat commented on #827
@EisenbergEffect  not only for doc but also to declare default value for config property and IDE auto complete  feature

[2018-03-28 20:03] atsu85 commented on #827
@javadbat, use TypeScript instead of ES when creating Aurelia project - Aurelia has decent TypeScript declaration files that all modern IDEs understand to provide auto complete features and static code analysis

[2018-04-01 12:51] Alexander-Taran commented on #830
Ok then. Got nothing to add for the moment.

[2018-04-01 16:57] pkkummermo commented on #830
OK. Went through several stuff now.

1. Went to the CLI to see if I was missing any dependencies. Added several (which I guess was mostly implicit within the other existing deps).
2. Updated _all_ aurelia-related packages with the exception of the `aurelia-webpack-plugin` (haven't updated to WP4 yet.
3. Still no go.

Example of a simple dialog with two pushes over time:
![image](https://user-image

[2018-04-01 22:00] Alexander-Taran commented on #830
@pkkummermo will do.. maybe.. if.. and when (-:

[2018-04-05 21:25] amartens181 commented on #830
In some components, if I put the function to set the array in the bind method, it will duplicate the first half items. It works correctly in the attached method.

[2018-04-06 17:13] johannes-maierhofer opened #877 "Package causes 'Out of stack space' error with IE11"
**I'm submitting a bug report**

* **Library Version:**
0.31.3

**Please tell us about your environment:**
* **Operating System:**
Windows 7

* **Node Version:**
8.2.1

* **NPM Version:**
5.6.0

* **Aurelia CLI OR JSPM OR Webpack AND Version**
CLI 0.31.3

* **Browser:**
IE 11

* **Language:**
TypeScript

**Current behavior:**
Adding the package '@ aspnet/signalr-client' to the project causes an 'O

[2018-04-06 19:13] Alexander-Taran commented on #877
please read this issues for hints
https://github.com/aurelia/skeleton-navigation/issues/821
https://github.com/aurelia/cli/issues/843

[2018-04-07 06:12] bigopon commented on #717
@sousekd fix for this is at https://github.com/aurelia/binding/pull/677

[2018-04-08 06:04] EisenbergEffect commented on #808
I don't think we should make special support for this. It's a very particular case and not that common. I'm not sure if it's a good idea or not. Also, it's still possible to implement on top of the router by end users, I would think. You would just use a wildcard route for your dialog routes and then handle the fragment manually in your wizard. Or you could use special query strings that were inte

[2018-04-08 10:41] Alexander-Taran commented on #808
close as won't-fix?

[2018-04-09 08:28] johannes-maierhofer commented on #877
Thanks for the hints. I had seen them before.

As for missing polyfills, the example is a new project, and it includes the 'aurelia-polyfills' dependency per default. That seems to be what fixed it in the hints you sent. Could there be other polyfill missing? Which ones?

Another thing that might be relevant. The package in question has different versions. The default one is ES6. That doesn't work

[2018-04-09 09:41] Alexander-Taran commented on #877
side note.. @aspnet/signalr-client is just @aspnet/signalr now.

[2018-04-09 12:15] johannes-maierhofer commented on #877
The new @aspnet/signalr library does not have that issue.

The reason why I use the older one is that it works with the current ASP.net Core server side version (2.0). The newer one (2.1) is still in preview only. Once it is released, I will switch. That hopefully will be before we have to release our app. In that sense, the issue for me hopefully is solved.

Still, I have no idea why this is happ

[2018-04-09 17:03] Alexander-Taran commented on #877
signalr as far as i know is not released at all.. But if server side package targets 2.1 then you are out of luck.
I'd suggest you ask David Fowler @ aspnet team on how to proceed

[2018-04-11 12:03] ilyasOne opened #878 "Aurelia and Vis"
Hi,
i'm new in Aurelia and have a question about third party library useage.
i'll use http://visjs.org/ library and facing with different issues.

Can someone make a simple Aurelia example with a vis.network?
http://visjs.org/examples/network/basicUsage.html

After installing with "npm install vis"
Importing the vis library does not work !? Error look like below.
========== begin error============

[2018-04-11 13:54] ilyasOne commented on #878
this can be removed.

[2018-04-11 16:04] johannes-maierhofer commented on #877
Thanks. This is good enought for me. Will have to switch to the new library sooner or later anyways.

[2018-04-11 17:43] Alexander-Taran commented on #878
@ilyasOne care to share your own answer?

[2018-04-11 17:44] Alexander-Taran commented on #877
@johannes-maierhofer this one can be closed then?

[2018-04-12 07:49] ilyasOne commented on #878
Yes, sure.
After installing with "npm install vis" you have to install it also with jspm as folow "jspm install npm:vis" this cause for registration in config.js file. Otherwise Aurelia comes with error "Can not find resource  ../dist/vis.js".

Thus run:

npm install vis
jspm install npm:vis

For the visualization of it you have to create an Div Attribute  element and call it from the code-behind,

[2018-04-12 08:11] johannes-maierhofer commented on #877
That is up to you. For me personally, I have a solution. I will (later) switch to the newer package. Still it would have been good to know why this happens.

[2018-04-12 09:07] Alexander-Taran commented on #878
great. It would probably just work with just `jspm install` unless you use typescript.. and npm package got typings in it. then it's a nice hack (-:
for referencing elements there are some tricks.
you can inject Element into attribute constructor
http://aurelia.io/docs/fundamentals/cheat-sheet#custom-attributes

or you can use `ref` custom attribute on some tag in your view to get a reference in y

[2018-04-12 09:19] Alexander-Taran commented on #877
can be closed

[2018-04-13 03:45] #877 closed

[2018-04-13 22:39] martynchamberlin commented on #145
@EisenbergEffect I'm curious if any of this has gotten easier with Aurelia 1.2? Lazy loading custom components in the context of a router [has become a first-class citizen](https://ilikekillnerds.com/2017/03/code-splitting-aurelia-webpack-applications/).  It's amazing and just works. I'm wondering how hard it would be for us to have something similar in the configure function? I'm envisioning some

[2018-04-13 22:59] EisenbergEffect commented on #145
@martynchamberlin Great question. I think we discussed this back when we were working on the `moduleName` api. @jods4  may be best to comment.

[2018-04-16 08:55] jods4 commented on #145
You can code split your resource with `moduleName` but Aurelia will still load them when applying the config so you cannot lazy load them for real, i.e. just in time when loading a view that needs them.

We discussed this with @bigopon, who's trying to add new APIs that don't rely on module names and it's an improvement that we would like to make.

It requires more than just changing bundling or r

[2018-04-17 00:37] djensen47 commented on #12
Is there documentation on how to use this?

[2018-04-17 04:27] zewa666 commented on #12
@djensen47 this Event is used as part of the Aurelia protractor Plugin. https://github.com/aurelia/protractor-plugin

You can find a guide in the official Aurelia docs

[2018-04-17 09:52] Alexander-Taran commented on #878
@ilyasOne that's weird.. because jspm downloads the package.. and I bet that the bundler picks the jspm one.. Still confident that npm only helped with typing.

[2018-04-18 09:20] gordon-matt opened #879 "Dynamic routes (migrating from Durandal to Aurelia)"
Hi there,

A couple of years ago I asked [this question](https://github.com/aurelia/framework/issues/150) and managed to get Aurelia working with Razor Views in [.NET Core 1.0](https://github.com/gordon-matt/aurelia-razor-skeleton). I've been very busy on other projects since then and not been able to get back to looking at Aurelia until now. I have just yesterday made the aforementioned project o

[2018-04-18 13:08] gordon-matt commented on #879
I just realized that since this is more of a question than an issue, that you might prefer I ask this somewhere else, like Stack Overflow. If that's the case, let me know and I will close this and move it to SO or wherever you prefer.

[2018-04-18 13:42] gordon-matt commented on #879
**UPDATE:** After "Googling" around a bit, I've managed to figure out how to get the dynamic routes working:

[code]

However, I am still at a loss as to how to change the JS locations. In Durandal, I used requirejs paths for that. Am I right in guessing that for Aurelia, I need to look at SystemJS? I don't know much about Aurelia yet and I'm not much of a frontend dev (I spend most of my time in

[2018-04-18 13:48] StrahilKazlachev commented on #879
The preferred place for questions is [discourse](https://discourse.aurelia.io/), but SO is also a legit option.
Aurelia can also work with RequireJS. Try the `aurelia-cli` and create a RequireJS based project if you need some kind of starting/reference point.

[2018-04-18 14:35] gordon-matt commented on #879
Nevermind guys - I figured out all I need is to modify the `moduleId`, which is the path to the JS (should have been obvious) and I also had to change something in my **main.js** (the `ViewLocator.prototype.convertOriginToViewUrl`). For anyone interested, you can find the working code here: [aurelia-razor-netcore2-skeleton](https://github.com/gordon-matt/aurelia-razor-netcore2-skeleton)

[2018-04-18 14:35] #879 closed

[2018-04-19 18:33] martynchamberlin opened #880 "The attached method is firing before a component's HTML is actually in the DOM"
**I'm submitting a bug report**

* **Library Version:**
1.0.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.9.0

* **NPM Version:**
5.5.1

* **Aurelia CLI OR JSPM OR Webpack AND Version**
JSPM 0.16.47

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
The `attached()` method for components is firing before the HTML within them

[2018-04-19 18:42] AshleyGrant commented on #880
What happens if you use the `ref` attribute instead of `document.getElementById`?

[2018-04-19 18:43] AshleyGrant commented on #880
Also, just to check, the current release of the framework is `1.2.0` does this behavior happen in `1.2.0` or only in `1.0.0`?

[2018-04-19 19:54] martynchamberlin commented on #880
Good questions. Regarding the `ref` question, it happens when using that as well, in terms of wrapping it in a jQuery object. If I have a `ref="username"` then I cannot access it like so in the ViewModel:

[code]

I'm checking to see if this exists in 1.2.0 or not...

[2018-04-19 20:29] AshleyGrant commented on #880
@martynchamberlin if there's any chance you can conjure up a simple repro, that'd be awesome. @EisenbergEffect looks like we need to have @jdanyow and others give this one a look.

[2018-04-19 20:49] martynchamberlin commented on #880
You know... I think I've been wasting ya'lls time on this one. I looked at our specific example more closely and we have a `if.bind` at the root of the component, which returns `true` once some data from a callback arrives. That explains why a hard page reload catches the problem whereas coming to it from elsewhere does not. Sorry for the confusion. I think it's safe to close this one.

[2018-04-19 20:49] #880 closed

[2018-04-20 08:17] SebGX opened #881 "Event Handlers for DOM Event Listeners Lose the Context of "this""
**I'm submitting a bug report**

* **Library Version:**
3.1.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10 Pro, version 1709, build 16299.371

* **Node Version:**
8.10.0

* **NPM Version:**
5.8.0

* **Aurelia CLI OR JSPM OR Webpack AND Version**
CLI 0.32.0

* **Browser:**
all

* **Language:**
all

**Current behavior:**
If you add a DOM event listener, the "this" k

[2018-04-20 10:18] bigopon commented on #881
All `Element` subclasses (used to implement) extend base (used to be interface) class `EventTarget`. When an event is dispatched, the callbacks or listeners will be invoked with the context is the object that called `addEventListener`. In your example, it will be `someElement`, which is the expected behavior. There are many ways to handle this, some like you described above, some others are:

###

[2018-04-20 13:34] martynchamberlin commented on #880
I think I might have been a little bit premature here, but time will tell.

We have two components. One in which that aforementioned `if.bind` was the holdup. The other in which this problem manifests itself does not have a `if.bind` anywhere in the component. We have some `show.bind` going on but that shouldn't cause this.

This second problematic component only has this bug in Edge on a old, slo

[2018-04-20 14:55] SebGX commented on #881
@bigopon Thank you very much for the detailed response. I'm kicking myself right now, handleEvent is absolutely the right way to do this... thank you.

[2018-04-20 14:55] #881 closed

[2018-04-20 15:08] AshleyGrant commented on #881
TIL about `ElementEvents`.. There's a slightly uglier way to handle this without using `ElementEvents`, though I'd use `ElementEvents` now that I know about it. I'm putting this here b/c it's good to learn about the pattern of using arrow functions to keep `this` being what you expect it to be. You can run the example here: https://gist.run/?id=5ad8fa46f8e6e0bbf0936ce9e020a46a

[code]

I create a

[2018-04-20 15:10] AshleyGrant commented on #880
Do you have any other template controllers in the view containing the component? Maybe it's inside a `repeat.for`?

[2018-04-20 15:14] AshleyGrant commented on #881
Also, I want to mention that you should use the templating/binding engine to attach/remove event handlers if at all possible. The stuff mentioned above is a fallback when, for some reason, that isn't possible.

[2018-04-20 16:59] martynchamberlin commented on #880
Not quite sure I'm following. Do you have a concrete example?

If I had a component that looked like this, I'd expect `#username-0` to be immediately accessible upon `attached()`. That's the case, isn't it? Not following why a `repeat.for` would impact this, assuming `users` is immediately present upon the construction of the input.

[code]

We don't have a `repeat.for` in this particular case, fo

[2018-04-22 09:59] davismj commented on #808
@EisenbergEffect Yes, please close as wont-fix.

[2018-04-23 00:00] gordon-matt opened #882 "Request: add a `viewUrl` property to the routes"
As discussed in an email with @EisenbergEffect, could we please have a **viewUrl** property in the routes? At the moment it appears that Aurelia is simply taking the moduleId and appending a **.js** extension to find the model and an **.html** extension to find the view.

In order to use Razor routes, I make use of `ViewLocator.prototype.convertOriginToViewUrl` as follows:

[code]

If you look at

[2018-04-23 09:12] davismj commented on #882
@EisenbergEffect can you move this to router please?

[2018-04-23 11:35] stsje commented on #882
I'm not sure a new `viewUrl` property will be a good name when/if the new `component` property is implemented. https://github.com/aurelia/templating-router/pull/75
At least consider the above PR before implementing `viewUrl` :)!

[2018-04-23 12:02] johot opened #883 "Aurelia router documentation never mentions the need of PLATFORM.moduleName"
I got really stuck trying to make the router work now that the aurelia-cli uses WebPack.

Nowhere in the official router documentation is it mentioned that you need to wrap your `moduleId` part with `PLATFORM.moduleName(...)`.

I understand that everyone might not use webpack yet but are there any plans to adress this? I guess someone new to aurelia would get stuck very fast.

[2018-04-24 04:04] EisenbergEffect commented on #882
Issue moved to [aurelia/router #590](https://github.com/aurelia/router/issues/590) via [**ZenHub**](https://www.zenhub.com/)

[2018-04-24 04:04] #882 closed

[2018-04-24 22:12] Alexander-Taran commented on #881
this is gold
someone please make a guide of this thread..
https://github.com/aurelia-contrib/aurelia-getting-started/tree/master/guides

[2018-04-27 15:24] mipod commented on #818
I know that this topic is closed but I don't know where else to ask. I  have a problem with the @observable decorator from Aurelia. When I try to call JSON.stringify on a model class that has an property with the decorator it will be eliminated from the JSON data. For example:

`export class ProductModel {
  productId: string;
  @observable quantity: number;
}`

I initialize a variable:
`var produ

[2018-04-28 00:03] rossvegas commented on #818
I think I ended up putting parenthesis after the observable, so
export class ProductModel { productId: string; @observable quantity: number; }
became
export class ProductModel { productId: string; @observable() quantity: number; }

Give that a go and let us know if that works

[2018-04-30 08:39] mipod commented on #818
@rossvegas I have tried  putting "()" after the observable keyword with no luck. When it hits the JSON,stringify it just ignores that field, like it never existed...

[2018-04-30 09:56] rossvegas commented on #818
Ok so I remember what I did, its the best I could come up with but it's a bit ordinary.

using @observable you need to overwrite toJson. I wanted to track dirty in the class so it would be

[code]

depending on what you are trying to do you could drop observable and try computed from for a particular property. That way you wont have to decorate the properties with @observable and they will strigif

[2018-04-30 10:18] mipod commented on #818
@rossvegas  thank for the response. I ended up doing something similar to what you suggested. I modified the class to look like this:
`export class ProductForReservationModel {
  productId: string;
  @observable() observableQuantity: number;
  quantity: number;
  tickets: TicketForReservationModel[];

  observableQuantityChanged(newValue) {
    this.quantity = newValue;
  }

}`

I use the observab

[2018-05-08 19:42] mikeesouth commented on #830
Any updates here? I got the same issue. I have a repeater like so:
[code]

I subscribe to the EventAggregator and when an updated array is sent in an event I update myArray like this:
[code]

I specifically did this to not reassign the array but rather clear it and update it. This was to prevent the binding from "being lost" in earlier versions. This causes empty items in my repeater, just like @p

[2018-05-08 22:28] EisenbergEffect commented on #830
@bigopon I think this would be a great issue for you to look into :)

[2018-05-09 08:18] Peppe opened #884 "Transpilation of ESNext in the Creating a todo app -tutorial does not work."
**I'm submitting a bug report**

* **Library Version:**
It is what ever comes with the https://aurelia.io/docs/tutorials/creating-a-todo-app#setup zip labeled "Download the Basic Aurelia Project Setup" on 2018-05-09. The framework is in the scripts -folder. I looked through the source files but there is not a mention to the version.

**Please tell us about your environment:**
* **Operating System:

[2018-05-09 13:40] bigopon commented on #830
I have fix this issue by instructing `Repeat` to ignore mutation while processing instance change (main changes can be found at https://github.com/bigopon/templating-resources/blob/d4ff656a44fd2c2fc4d7b5770f6c036723325b60/src/repeat.js#L138-L142). Code:

[code]

With the above changes, the issue in @powerbuoy 's demo is fixed, demo at https://gist.run/?id=56d85dc0c87214d1f79b5b284c76308a . Though

[2018-05-10 01:57] EisenbergEffect commented on #884
@Peppe I'm terribly sorry for the issue you've experienced. I've looked into it and it appears that there's actually a bug in our site. The language switcher that lets you choose between ES Next and TypeScript has somehow broken ;( As a result, it appears to be showing you TypeScript code in the tutorial, rather than JavaScript. That's breaking the compiler. I've attached a file with updated sourc

[2018-05-10 04:14] EisenbergEffect commented on #884
Again, apologies for the trouble you've had. We've found the issue in the site and deployed the fix. Thank you for letting us know!

[2018-05-10 04:14] #884 closed

[2018-05-10 12:05] Peppe commented on #884
Awesome! Thanks for fixing it. I don’t know enough about TypeScript and ESNext to know that it wasn’t working. I thought the similarity was one of the perks. 🙂

Having these tutorials working is really important for adoption! 👍

[2018-05-10 16:09] greensponge commented on #883
I sent a pull request to aurelia/router where I attempted to provide that documentation here: [PR 594](https://github.com/aurelia/router/pull/594)

Let me know how I can assist in getting the request merged if it's not fully up to standards.

[2018-05-10 19:07] AshleyGrant commented on #883
@davismj would please review the linked docs PR

[2018-05-10 19:14] AshleyGrant commented on #883
@greensponge I just discovered your dotnet aurelia template. I'm gonna be playing with it this afternoon as it just so happens to be exactly what I am working on this afternoon for a client.

[2018-05-10 20:18] greensponge commented on #883
@AshleyGrant Great if you find it useful! If you find any issues with it let me know. I'm very interested in keeping this particular repository up to date, as I use this type of project setup all the time for my projects. 👍

[2018-05-12 07:15] davismj commented on #883
@EisenbergEffect can be closed

[2018-05-12 18:42] #883 closed

[2018-05-14 09:41] Alexander-Taran commented on #830
@bigopon could it also improve the rendering perf for patial updates?

[2018-05-14 10:36] bigopon commented on #830
@Alexander-Taran  That's a nice suggestion. Not sure if ignoring mutation while processing mutation will cause any issue. Will need to investigate a bit

[2018-05-14 10:43] bigopon commented on #830
@Alexander-Taran To answer the main question: I don't think it would have any impact on that.

[2018-05-14 11:01] Alexander-Taran commented on #830
@bigopon this thread: https://github.com/krausest/js-framework-benchmark/pull/376#issuecomment-388396221
last 4-5 comments.
Sometimes partial update benchmark produces way more than 1-2 paints.. and the resultant timing is off charts.

[2018-05-16 23:14] coder8keyboard commented on #435
Has anyone find a solution to this? I'm having he same problem. Only works in Developer Mode on IE11.
Works fine on Chrome.
I'm using Edge.

[2018-05-16 23:25] coder8keyboard commented on #435
ok, I've added the following to main.ts and it started working on IE:
(<any>Promise).config({
  warnings: {
    wForgottenReturn: false
  }
});

[2018-05-20 18:11] teskonetic opened #887 "Aurelia: command not found?"
**I'm submitting a bug report**

* **Library Version:**
major.minor.patch-pre

**Please tell us about your environment:**
Operating System:
OSX 10.13.4

Node Version:
v8.11.2

NPM Version:
5.6.0

Aurelia CLI OR JSPM OR Webpack AND Version
aurelia-cli@0.33.1

Browser:
Safari: Version 11.1

Language:
both in TypeScript X.X  and ESNext

IDE: Sublime text, visual studio code,
Current behavior:

Aureli

[2018-05-29 19:58] yuananthony opened #888 "manuallyHandleLifecycle() data in view-model not going to view"
**I'm submitting a bug report**

* **Library Version:**
major.minor.patch-pre

**Please tell us about your environment:**
* **Operating System:**
OSX 10.13.4

* **Node Version:**
6.9.5

* **NPM Version:**
3.10.10

* **Aurelia CLI OR JSPM OR Webpack AND Version**
webpack 3.11.0

* **Browser:**
Chrome 66.0.3359.181

* **Language:**
TypeScript 2.8.3

**Current behavior:**
When using manuallyHandleLif

[2018-06-02 06:06] CiriousJoker opened #891 "Viewmodel variables are being "reset" to their initial state."
**I'm submitting a bug report**

* **Library Version:**
1.2.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.2.1

* **NPM Version:**
5.3.0

* **Aurelia CLI OR JSPM OR Webpack AND Version**
webpack 4.10.0

* **Browser:**
Chrome 67

* **Language:**
TypeScript 2.8.3

**Current behavior:**

Look at this (greatly simplified) code:

[code]

**Expect

[2018-06-02 15:52] CiriousJoker commented on #891
# Update: OH MY GOT I'M SO STUPID

All of this was just a bug in my code and im feeling retarded right now...

[2018-06-02 15:52] #891 closed

[2018-06-02 23:37] teskonetic commented on #887
Hi Alexander;

Thank you for your reply. I entered "au run" , and the response was
"command not found". Though i did many researches, none of the
recommendations helped me out

Thnaks again

On Wed, May 23, 2018 at 7:04 AM, Alexander Taran <notifications@github.com>
wrote:

[2018-06-03 19:18] elmt1 commented on #887
@teskonetic  you can install Aurelia CLI. One common way to do that is to run npm install -g aurelia-cli. That will install aurelia-cli globally.

There are a few books available that should give you a better learning experience than github issues and Google, and I believe some like [this one](https://www.syncfusion.com/ebooks/aurelia_succinctly) may be free.

[2018-06-07 00:38] teskonetic commented on #887
Hi Alexander;

Yeah, I tried all these and gave up. Thanks though for your effort. I
prefer now to use other tools instead

Sincerely

On Sun, Jun 3, 2018 at 3:18 PM, David Morris <notifications@github.com>
wrote:

[2018-06-07 00:40] AshleyGrant commented on #887
Did you try restarting your bash editor? (shouldn't be necessary but who knows)

Also, is it possible for you to run `npm install -g aurelia-cli` without the `sudo`?

[2018-06-08 03:33] teskonetic commented on #887
thanks Ashley, I did every thing you said but nothing helped me out!

On Wed, Jun 6, 2018 at 8:40 PM, Ashley Grant <notifications@github.com>
wrote:

[2018-06-08 15:01] AshleyGrant commented on #887
In that case, I would recommend maybe uninstalling and then reinstalling Node and NPM on your computer. Just please understand that the issue you are having is with either Node, NPM, or your computer's PATH variable and not with the Aurelia CLI or Framework.

[2018-06-08 20:48] paolocarrasco commented on #887
My two cents: maybe it was because of the fact that the installation of the aurelia-cli was performed using sudo: https://johnpapa.net/how-to-use-npm-global-without-sudo-on-osx/

[2018-06-12 13:48] teskonetic commented on #887
I did all these things; install and uninstall, thanks

On Fri, Jun 8, 2018 at 11:01 AM, Ashley Grant <notifications@github.com>
wrote:

[2018-06-12 15:26] pragmaproducts opened #892 "Using Aurelia native modules"
I would like to use the standard <script type="module"> as supported in the browser along with Aurelia.
I am looking for ways to get rid of bundlers and external module loaders in favor of the default browser.

I noticed you have a native modules folder but the inter dependencies does not use relative pathing. Because of this you can't use it in module scripts.

So this is both a how do I and a bu

[2018-06-12 15:34] StrahilKazlachev commented on #892
Can you be more specific with * inter dependencies*?

[2018-06-12 15:39] teskonetic commented on #887
Hi Paolo;

with the link you provided, I installed and run on terminal. the most part
seemed working good, but when i run this:

npm list -g --depth=0

i got this below error message. do you have any suggestions?

└──  error: ENOENT: no such file or directory, stat
'/Users/chung/.npm-packages/lib/node_modules/npm

npm ERR! error in /Users/chung/.npm-packages/lib/node_modules/npm: ENOENT:
no such f

[2018-06-12 17:05] pragmaproducts commented on #892
If I want to initialize aurelia currently I do something like this.

[code]

but what I want to do is this

[code]
the problem here is that the module resolver has to have relative paths. e.g.
"/" or "./" ...

and this counts for inter dependencies also.
When aurelia refers to it's internal dependencies it does it like this.

[code]

What the browser expects is the actual path including the extens

[2018-06-12 17:09] pragmaproducts commented on #892
https://discourse.aurelia.io/t/module-resolver-for-aurelia-packages/1233

[2018-06-13 00:27] paolocarrasco commented on #887
I see. There was an update in the link, now I realize. There is an easier path without using brew (it is similar to the [second option suggested by NPM](https://docs.npmjs.com/getting-started/fixing-npm-permissions#option-two-change-npms-default-directory)):

- Install Node.js from https://nodejs.org/en/download/
- Update to the latest version of npm: `npm install npm -g` (don't use sudo)
- Make a

[2018-06-13 04:01] teskonetic commented on #887
Thank you for your time again. Nothing changed. Am done and not interested
anymore in this framework, it's so so outrageous !. This framework is at
early stage of development and i don't recommend to use it for anyone. I do
write my bad experience and review on the founders page too.

Best

On Tue, Jun 12, 2018 at 8:27 PM, Paolo Carrasco <notifications@github.com>
wrote:

[2018-06-13 04:12] EisenbergEffect commented on #887
@teskonetic I'm sorry to hear about your bad experience. However, the issues you have experienced are in no way related to Aurelia. They are issues with Node/NPM or with your machine's configuration. I highly recommend that you seek a solution to the root problems, otherwise, you are likely to have many issues like this with many frameworks and libraries in the future.

[2018-06-13 04:12] #887 closed

[2018-06-13 20:01] MortenChristiansen commented on #174
@EisenbergEffect Am I understanding it correctly, that to add global logging for async event handlers, I need to use a Promise library? Note - I'm using Typescript compiling to es6 - I don't know if my situation/solution applies in all cases.

I need global error logging and the only way I have found that allows me to capture errors in async is to override the generated `__awaiter` object inside e

[2018-06-13 21:41] Alexander-Taran commented on #888
@yuananthony did you check the example @ docs? https://aurelia.io/docs/testing/components#manually-handling-lifecycle
does it work for you?

[2018-06-13 22:05] justindra commented on #839
@ndelangen @eriklieben Happy to help contribute as well. But yea, just had a quick skim through the storybook repo, and not sure what is involved. Would be great if you guys can point me in the right direction.

[2018-06-13 22:45] EisenbergEffect commented on #174
Check this SO article out and see if it helps: https://stackoverflow.com/questions/28001722/how-to-catch-uncaught-exception-in-promise

[2018-06-14 11:34] doktordirk commented on #881
for fun i'll add:

Use the binding operator ::
`::this.clickEventHandler` or `this::this.clickEventHandler`  for `this.clickEventHandler.bind(this)`

[code]

[2018-06-14 12:01] bigopon commented on #881
`::this.clickEventHandler !== ::this.clickEventHandler` or `this.clickEventHandler.bind(this) !== this.clickEventHandler.bind(this)` so the bound function reference will need to be stored somewhere.

[2018-06-14 13:59] MortenChristiansen commented on #174
@EisenbergEffect  It does not. While `window.addEventListener("unhandledrejection"` does catch some cases, it does not work for this async/await case.

[2018-06-15 14:55] yuananthony commented on #888
Hello @Alexander-Taran,
Thank you for your response to my post. I have looked at the docs but they were unable to help me with my problem. I have other component tests that manually handle the lifecycle and they work fine I'm only having problems with this one test for some reason. I believe it is a problem with `.bind({})` in `manuallyHandleLifecycle()` because my regular component test works fin

[2018-06-15 21:57] EisenbergEffect commented on #174
This might be something you want to bring up with the TypeScript team, particularly if it's related to the code they are generating.

[2018-06-18 12:33] srinivasrgowda opened #893 "Aurelia view model showing error after adding hyperlink tag"
I am using Aurelia Dialog Service for model pop up, when i use hyperlink tag inside view model (model popup), it is showing error as Message: Maximum call stack size exceeded

Here is the code:-

HomePage.html

`
import { autoinject, observable,PLATFORM } from 'aurelia-framework';
import { DialogController, DialogService } from 'aurelia-dialog';
import { PreviewWorkbook } from './../../components/

[2018-06-18 12:58] StrahilKazlachev commented on #893
Since you are *not* following the *issue template* I'll take a guess you are experiencing aurelia/dialog#283 - workaround is in the issue.

[2018-06-18 13:02] AshleyGrant commented on #893
As stated in the Issue Template, support questions are to be posted to Stack Overflow or to the Gitter channel.

The issue template states that if you do not follow the template your issue will be summarily closed and also that support questions posted as GitHub Issues are summarily closed.

If you would like help, please post your question on Stack Overflow.

@eisenbergeffect, please close this.

[2018-06-18 13:14] srinivasrgowda commented on #893
Hi, I have posted in Stack Overflow also, but still there is no response, Here is the link https://stackoverflow.com/questions/50872723/aurelia-view-model-showing-error-after-adding-hyperlink-tag?noredirect=1#comment88752128_50872723

[2018-06-18 13:56] StrahilKazlachev commented on #893
@srinivasrgowda if you've been having this issue before today, focus on aurelia/dialog#283.

[2018-06-19 07:10] srinivasrgowda commented on #893
@StrahilKazlachev  Thanks for the link.
I tried to modify the code by adding the below line in the constructor:
`constructor(private controller: DialogController) {PLATFORM.moduleName('./request-dialog-path'); }`  and it is working fine. :)

[2018-06-20 07:11] #893 closed

[2018-06-20 10:01] davismj commented on #779
This seems to be the result of adding a template inside a template, including custom elements. So something like these:

<template slot="name"></template

<template>
  <div if.bind="isTrue"></div>
</tempate>

<template>
  <template repeat.for="i of 10"></template
</template>

[2018-06-21 13:50] bfil opened #895 "JSPM throws 'no version match found' on repos specifying dependencies containing multiple versions separated with '||'"
**I'm submitting a bug report**

* **Library Version:**
1.2.0

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x

* **Node Version:**
10.1.0

* **NPM Version:**
6.0.1

* **Aurelia CLI OR JSPM OR Webpack AND Version**
JSPM 0.16.53

* **Browser:**
all

* **Language:**
all

**Current behavior:**

`jspm install` started failing and throwing a `no version match found` error wh

[2018-06-25 18:02] pvettori opened #896 "if.bind not working in MS Edge"
**I'm submitting a bug report**

* **Library Version:**
1.2.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.11.3

* **NPM Version:**
5.8.0

* **Aurelia CLI OR JSPM OR Webpack AND Version**
CLI 0.32.0

* **Browser:**
Edge  41.16299.492.0

* **Language:**
ESNext

**Current behavior:**
On **MS Edge** the `if.bind` directive does not work and the

[2018-06-25 19:54] StrahilKazlachev commented on #896
Currently you can **not** have more than one *template controller* on a single element. Both *repeat* and *if* are such. The issue is that the order of the attributes is not preserved in some browsers.

[2018-06-25 21:42] EisenbergEffect commented on #896
You can nest these by using a `template` tag so that you can use them together.

[code]

However, you might just want to consider using a value converter to filter the list that you are repeating over as well.

[2018-06-25 21:42] #896 closed

[2018-06-26 12:50] wouth commented on #895
Seems that jspm doesn't support the || syntax.
https://gist.github.com/hmps/995583ff1c8755d5f795 states 'Remember that JSPM only supports the ranges specified above.'.

[2018-06-27 06:43] zefubachs commented on #830
I just started using Aurelia using aspnetcore, aurelia-cli and the todo tutorial:
Each time i add a todo to the array it renders another (empty) `<li>` element after the 'correct' elements of the array.

When i log the amount elements in the array, it shows the correct amount.

Initially i added aurrelia to an existing aspnetcore project but later i reproduced thesame with a simple emtpy aspnetcor

[2018-06-27 08:08] bulldetektor commented on #895
There's a similar issue raised on JSPM's Github repo; https://github.com/jspm/jspm-cli/issues/2406

[2018-06-27 08:43] zefubachs commented on #830
Managed to fix it by updating nodejs to the latest version.
After that removing the `node_modules` folder and manually executing `npm install`.

[2018-06-27 19:06] gasolinewaltz opened #898 "Change Website Search "not found" default text"
**I'm submitting a feature request**

**Current behavior:**
When searching the docs, when something isn't found the following text is displayed:

**Expected/desired behavior:**

Something more helpful, given the state of the docs.

* **What is the motivation / use case for changing the behavior?**

The Aurelia framework is so poorly documented that it insults my intelligence to read "inconceivable

[2018-06-27 21:16] pvettori commented on #896
Thank you @EisenbergEffect, I've been working with Aurelia for a while and I definitely love it.
The documentation may probably benefit from more examples, as sometimes I have trouble grasping the exact behaviour of certain classes, directives or methods. I probably need to read the source code as well for better understanding.

Keep up the awesome work!

[2018-06-28 00:20] EisenbergEffect commented on #898
@gasolinewaltz Thanks for your feedback. We hear a wide variety of feedback on our documentation. Some community members think we have the best docs they've used. Others hold an opinion that they need significant work. What we need from you is more concrete information on what you want us to add or change. We could go and do a lot of work, but if it doesn't meet your needs, then it would just be a

[2018-06-28 00:20] #898 closed

[2018-06-29 08:55] pndewit commented on #333
I am working for [Drillster](https://www.drillster.com/) which is a smart learning system to increase and maintain knowledge. Drillster is an adaptive, assessment based learning tool.

I am currently migrating a huge legacy AngularJS application to Aurelia part by part. Some parts are already migrated and running Aurelia in production. Some of these are publicly available (e.g. https://www.drillst

[2018-06-29 16:11] AquilaSands commented on #895
I ran into this issue when trying to update some of the Aurelia packages. I managed to work around it by adding JSPM overrides for the affected package's dependencies to package.json in the `jspm` section.

    "overrides": {
      "npm:aurelia-framework@1.3.0-rc.2": {
        "dependencies": {
          "aurelia-binding": "^2.0.0",
          "aurelia-dependency-injection": "^1.0.0",
          "au

[2018-07-04 02:52] datvm opened #900 "@autoinject does not work only for Element in Custom Attribute"
**I'm submitting a bug report**

* **Library Version:**
Sorry I am using the scripts in the file http://aurelia.io/downloads/basic-aurelia-project.zip and cannot find the version anywhere, but I suppose it is the latest release.

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
Not Applicable. I am running using my own HTTP (.NET HttpListener and n

[2018-07-04 11:41] Alexander-Taran commented on #900
Please show your tsconfig.json

[2018-07-04 11:55] datvm commented on #900
@Alexander-Taran hi, tsconfig.json file should not matter, because there is none served (TS is not being compiled server-side, and Chrome network does not show one being requested).

I have tried to create a new project to reproduce the problem, and it didn't have tsconfig.json, and the problem is there. This is the file in my main project (I use it simple for VS's Intellisense, not to compile TS

[2018-07-04 14:07] Alexander-Taran commented on #900
@autoinject works only with typescript so.. tsconfig does matter
and for @autoinject to work you have to have 2 settings in it in `compilerOptions`
[code]

[2018-07-04 14:40] datvm commented on #900
@Alexander-Taran Hi, in the `config-typescript.js` for SystemJS I see those two options are enabled.

[2018-07-04 18:43] datvm commented on #900
@doktordirk Sure, will do and see if the bug exist in the CLI

[2018-07-04 20:50] doktordirk commented on #900
@EisenbergEffect i though that downloadable sample had been removed quite some time ago. if that's not desired it certainly needs an update

[2018-07-05 05:05] searus opened #902 "Duplicate of aurelia-binding in webpack bundle"
Hi,

I experienced a strange issue yesterday when I updated an existing project to use Webpack 4.  I started seeing duplicated custom elements rendered and could see no reason for it.

Eventually, I managed to track it down to 2 instances of aurelia-binding being included in my bundle.  The second instance is included as an older version appears under node_modules/aurelia-templating-router/node_mo

[2018-07-05 05:07] searus commented on #902
Could this be related to #830 ??

[2018-07-05 05:10] searus commented on #902
Here's a screen shot through dev tools to show the duplicate:

![image](https://user-images.githubusercontent.com/1336630/42303547-cf703714-8019-11e8-8b41-1e4f4e2f3105.png)

If I install aurelia-templating-router in my package then the problem goes away.

[2018-07-05 10:04] Alexander-Taran commented on #902
Update aurelia packages.. This is resolved.

[2018-07-05 10:13] searus commented on #902
@Alexander-Taran  I am on the latest versions

[2018-07-05 10:56] StrahilKazlachev commented on #902
You sure you don't have a *lock* file?

[2018-07-05 10:58] searus commented on #902
I think you're right... I was getting the wrong version from aurelia-dialog I believe.  Thanks!

[2018-07-05 10:58] #902 closed

[2018-07-05 10:59] StrahilKazlachev commented on #902
`aurelia-dialog` is still not updated, sorry. Will try this week.

[2018-07-05 11:01] searus commented on #902
No need to apologise... you guys are great and I appreciate everything coming from the Aurelia team!!

[2018-07-06 06:08] datvm commented on #900
@EisenbergEffect It is in this tutorial: https://aurelia.io/docs/tutorials/creating-a-todo-app, the "Download the Basic Aurelia Project Setup" link.

[2018-07-06 20:13] EisenbergEffect commented on #900
Ok. Understood. We are actually getting ready to re-vamp the entire tutorial experience soon. We've also got a prototype single-script-file builder for Aurelia. Between those two upcoming items, we should be able to get this fixed.

[2018-07-10 08:30] mikeesouth commented on #830
@shunty-gh Have you tried a fresh `npm install`? Remove node_modules and package-lock.json and then a fresh npm install with the new package versions from your updated package.json. I had the same issue but a clean npm install solved the problem.

[2018-07-10 08:52] shunty-gh commented on #830
...and I can confirm that using a local (non npm) copy of aurelia-breeze and, thus, ignoring the outdated dependencies allows the Array.push approach to work fine. And makes my bundle a little smaller too :-)

[2018-07-10 09:17] shunty-gh commented on #830
@mikeesouth Thanks for that. I had tried deleting node_modules and re-running `npm install` but I hadn't tried removing package-lock.json too.
However, I have now tried and it gives the same erroneous results with repeat.for so I'll stick with the local copy of aurelia-breeze for now.

[2018-07-11 13:04] Germanaz0 opened #903 "Template binding: Internet Explorer does not support interpolation."
**I'm submitting a bug report**

I am new into aurelia and I was debugging a project based on aurelia, I am having some issues regarding the browser, but I do not know where to look to fix this error.

**Please tell us about your environment:**
* **Operating System:**
OSX 10.12

* **Node Version:**
v8.11.2

* **NPM Version:**
5.6.0

* **Aurelia CLI OR JSPM OR Webpack AND Version**
CLI 0.33.1 | aur

[2018-07-11 15:06] AshleyGrant commented on #903
Use the `css` attribute instead of `style`. That's what the error message tells you to do. If you use `css`, then IE works great with Aurelia.

[2018-07-11 15:47] #903 closed

[2018-07-11 17:15] Germanaz0 commented on #903
That's the problem, I have no style attribute into my HTM, but I do have `css`, for example:

[code]

[2018-07-13 18:55] Germanaz0 opened #904 "[Question] Aurelia routing without hash"
Hello, I am using the latest stable version of aurelia with webpack, my question is the next one, on angular 1.4 I was able to has the routings without the "hash" (#). for example the route `/#/contacts ` would be `/contacts`.

Is that even possible using Aurelia ?

[2018-07-14 11:00] bemon opened #905 "Aurelia with storybook"
Hi,

Im trying to make aurelia work with storybook. I tried to initialize aurelia with webpack, but when storybook triest to load aurelia app i get this message:
[code]

Webpack config file:
[code]

Full repo source code to clone is at https://github.com/bemon/storybook if anyone wants to take a look and try run.

I dont know how exacly configure webpack to proper load aurelia modules.

[2018-07-14 12:52] doktordirk commented on #905
seems to be in there plain aurelia project. so, just use aurelia-cli do make one for you, same as some other frameworks there

[2018-07-14 12:54] weagle08 commented on #904
You need to configure push state: https://aurelia.io/docs/routing/configuration#options

[2018-07-14 22:10] bemon commented on #905
I've configured storybook webpack.config.js to add aurelia webpack plugin like this
[code]

But now when building webpack i got this error:
[code]

Should I add any additional config info ? Default aurelia webpack config dont have any specific stuff.  I think this error is only thing that prevents me to run aurelia app inside storybook. Any ideas ?

[2018-07-15 07:38] doktordirk commented on #905
try .AureliaPlugin({includeAll: "src"}) https://github.com/aurelia/webpack-plugin/wiki/AureliaPlugin-options

[2018-07-19 13:13] frvncis commented on #367
Hi,
I'm currently working on a Aurelia SSR app.
This app is just a front-end displayer. Most of the data displayed are coming from an external API. As this app must be SEO friendly, I need to have these data displayed in the source code at the page rendering.
Right now I have the API call with aurelia-http-client in the activate() method of my VM. WIth this setup,
the data appears in the template

[2018-07-20 00:40] ljtn commented on #830
This seems to remain unsolved, so here is my workaround in case someone else is stuck here, and needs a quick fix.
**VM:**
<element if.bind="!updatingArray" repeat.for="item of items"></element>
**DM:**
    this.updatingArray = true;
      setTimeout(() => {
        this.items.push(item);
        this.updatingArray = false;
      },1);

As stated above - it seems like as long as the array is reren

[2018-07-20 15:05] fkleuver commented on #830
@ljtn could you share your package-lock.json in a gist?

[2018-07-20 18:47] ljtn commented on #830
Sorry, I was using an old version of aurelia-templating-resources (version _1.6.0_.) Works now that I updated to _1.7.1_.

[2018-07-30 12:30] NRKirby opened #906 "Change functions not firing when value changed with Aurelia Store"
Whilst this bug only happens when I change state using [Aurelia Store](https://github.com/aurelia/store) I feel like this could be an issue in the framework. If this issue should be raised somewhere else could you advise where please?

**I'm submitting a bug report**

* **Library Version:**
1.3.0

* **Operating System:**
Windows 10

* **Node Version:**
8.11.1

* **NPM Version:**
5.6.0

* **Webpack

[2018-07-30 14:40] NRKirby commented on #906
Hi @AshleyGrant , thanks for your reply.

Isn't the `parameterChanged()` function the property's change function for `parameter`? I would have expected this function to fire when the value changes. Or am I misunderstanding something?

Thanks again for taking the time to help me with this.
Nick

[2018-07-30 15:23] AshleyGrant commented on #906
Yes, but `parameter` isn't changing. the `value` property of `parameter` is changing.

[2018-07-30 15:54] #906 closed

[2018-08-01 07:40] Tim-Erwin opened #907 "require SCSS with webpack not documented correctly"
In the [documentation it says](https://aurelia.io/docs/cli/bundler#configuring-the-loader)

    Require the style by [filename].css instead of [filename].[extension]. This is because your style file is transpiled into a module that encodes the resulting css file extension.

However, that's not the case. I created a fresh project with `au new` and chose webpack as bundler and Sass as CSS pre-proces

[2018-08-01 07:41] Tim-Erwin commented on #907
[The project](https://github.com/aurelia/framework/files/2248467/scss.zip)

[2018-08-03 16:55] Alexander-Taran commented on #904
Can be closed

[2018-08-04 05:55] #904 closed

[2018-08-04 17:01] azaharafernandezguizan opened #908 "Aurelia-router.d.ts is not a module error."
I have just created a new Aurelia project with Aurelia.cli and I am trying to implement Aurelia routing following the official documentation.
But when I do the import:

import {RouterConfiguration, Router} from 'aurelia-router';

it gives me this error:

[ts] File '../dist/aurelia-router.d.ts' is not a module.

Anyone knows how to solve this issue?

[2018-08-04 17:17] StrahilKazlachev commented on #908
Please follow the issue template. We do need the info from it, like TS version, loader/bundler, cli version, ...
Also do you get this error in the editor or during compilation?

[2018-08-16 08:31] Mobe91 commented on #830
What is the status on this? I am using aurelia-templating-resources@1.7.1 and the issue still persists for a simple view like:
[code]
[code]
When I click the "Add" button once, 2 list items are produced instead of just one. No `if` involved here.

[2018-08-16 09:00] bigopon commented on #830
@Mobe91 you should also see the warning about duplicated attempt patching Array prototype if it was causing you issue. If you are using webpack, please see https://github.com/aurelia/cli/pull/906

[2018-08-16 09:00] bigopon commented on #830
@EisenbergEffect I think this can be closed

[2018-08-28 15:06] sebb3 commented on #235
@millicandavid I'm trying to achieve the same thing you described two years ago, "The goal is to enable separation of source for the children apps and to be able to deploy them independently."

Did you get that work?

[2018-08-28 15:12] millicandavid commented on #235
I don't think I did. I think ended up having to compromise my design a bit IIRC but that was a long time ago now and I don't get to work on Aurelia professionally anymore. :(

[2018-09-05 13:54] mattpjohnson commented on #797
Just wanted to share my $0.02 here.

I think Aurelia could get more visibility if it was added to the [CodeSandbox](https://codesandbox.io/) homepage. With Svelte and Dojo on there, I think the team would be open to adding Aurelia. While there is [this sandbox](https://codesandbox.io/s/2w8j7n9w) which contains a demo for Aurelia, it isn't quite as accessible as a template.

The great thing that Co

[2018-09-05 15:08] obedm503 commented on #797
I agree with the CodeSandbox idea here, however a component library specific to Aurelia seems unnecessary. It would be better to support cross-framework component libraries to push web components forward.

Aurelia should be shaped so that it works in environments like CodeSandbox instead of building something specific to Aurelia. This would show how aurelia compares to other frameworks on equal fo

[2018-09-05 23:26] EisenbergEffect commented on #797
Also, as a general update, for vNext, the entire codebase is in a single monorepo, so it should be much easier to contribute to than our current version. It's also written with TypeScript and uses their new build system (combined with lerna), so it's really easy to make cross-package changes, build everything and test everything (almost 12,000 unit tests now with approx 82% coverage and climbing)

[2018-09-05 23:45] bigopon commented on #797
@EisenbergEffect Ideally I think we should have templates for both vCurrent and vNext. I got an example how to submit a new template for codesandbox, I need to actually sit down and do it ... well if anyone wants to help, I'll be very happy.

[2018-09-05 23:47] EisenbergEffect commented on #797
@bigopon I definitely would like to have templates for both vCurrent and vNext. However, once those are set up, I think we should reach out to them about getting their home page and more prominent template list displaying our logo with a link to the vCurrent (for now). Does that make sense?

[2018-09-05 23:50] bigopon commented on #797
Yes. That's something I've been wanting to do too :)

[2018-09-20 01:03] silbinarywolf commented on #382
For those who stumble upon this in the future, my solution was:
[code]

[2018-09-21 14:23] fkleuver opened #909 "Looking for kitchen sink apps"
I'm putting out this ask in public for any core team member or community member to contribute to.

I'm looking for any *runnable* Aurelia app, ranging from little more than 'Hello World' demos, to apps with deeply nested routing structures and custom elements, attributes, dynamic compilation and the sorts (the more complex, monkey-patchey using-private-apis-in-ways-you-shouldn't, the better)

My p

[2018-09-21 14:27] davismj commented on #909
I am guilty of an "I will." I think the biggest problem with this, at least for vCurrent, is that complex dev tool arrangements, not complex applications, tends to be the source of regressions. In the router, for example, webpack vs other, push state vs hash change, etc. Things you can't capture in a single app.

[2018-09-21 14:43] fkleuver commented on #909
I'll get the ball rolling with a few I already had in mind:
https://github.com/gothinkster/aurelia-realworld-example-app

https://github.com/aurelia/app-ux-showcase
https://github.com/aurelia/skeleton-navigation

https://github.com/bigopon/aurelia-monopoly
https://github.com/bigopon/aurelia-fractals
https://github.com/bigopon/aurelia-rainbow-spiral
https://github.com/bigopon/aurelia-sierpinski-tri

[2018-09-21 15:30] jbockle commented on #909
theres also https://builtwithaurelia.com/

[2018-09-21 19:13] fkleuver commented on #909
@Vheissu I looked [here](https://github.com/Vheissu/builtwithaurelia-projects/blob/master/projects.json) to find all the repository urls associated with those projects but that list seems very dated. Do you have an up to date list of these projects where I can easily extract the repo urls? Cheers!

[2018-09-23 22:31] doktordirk commented on #880
I'm having the same issue. (chrome currrent)

[code]
with a breakpoint there, it is clearly visible in the browser, that nothing got attached yet

has no repeat.for, but does have an if.bind, hmm

[2018-09-28 04:37] Spaceman1861 opened #910 "CompositionTransaction and CompositionTransactionNotifier not work as per 367"
**I'm submitting a bug report**

* **Library Version:**
      "aurelia-after-attached-plugin": "github:aurelia-ui-toolkits/aurelia-after-attached-plugin@^0.1.3",
      "aurelia-bootstrapper": "npm:aurelia-bootstrapper@^2.3.0",
      "aurelia-cookie": "npm:aurelia-cookie@^1.0.10",
      "aurelia-event-aggregator": "npm:aurelia-event-aggregator@^1.0.1",
      "aurelia-fetch-client": "npm:aurelia-fet

[2018-09-28 04:49] bigopon commented on #367
@frvncis If you need data to be loaded, and loaded fast, maybe you should load early. I see that you mentioned employing `activate`, why it didn't work for you?

[2018-09-28 05:00] bigopon commented on #910
I don't think `CompositionTransaction` is meant to be used that way in the constructor. It's a away to wait ensure `swap` happens after transaction has finished, which means only `attached` called / done is guaranteed to come after `bind` done. Now your actual results are a bit unexpected, can you provide a reproduce based on this https://gist.run/?id=0bee57f9e341fabf5360c55073bcf4f9

[2018-10-01 20:57] trondhindenes opened #911 "Downloadable "basic project" zip doesn't work on Linux."
I Downloaded this url http://aurelia.io/downloads/basic-aurelia-project.zip from here: https://aurelia.io/docs/tutorials/creating-a-todo-app#setup and the zip seems damaged. Unzipping it on my linux machine, the src dir is empty and I'm seeing a bunch of strange `__MACOSX` folders around. It would be good to have a zip that worked on all os-es (for all I know it doesn't work on mac either, I'm not

[2018-10-01 23:34] EisenbergEffect commented on #911
@trondhindenes Apologies for the issues you are facing! Here's a version of the zip from my machine that unzips properly for me.

[basic-aurelia-project.zip](https://github.com/aurelia/framework/files/2436020/basic-aurelia-project.zip)

Can you give it a try? If it has issues as well, then we'll provide an alternate source for you.

@bigopon Can you test the attached file as well? I'm on OSX. I be

[2018-10-01 23:45] bigopon commented on #911
@EisenbergEffect  I'm having the same issue with @trondhindenes

[2018-10-01 23:47] EisenbergEffect commented on #911
Very odd. Let me commit the raw files somewhere and see if you can create new zip @bigopon Then we can test it across all the platforms. Very strange stuff.

[2018-10-01 23:57] bigopon commented on #911
@trondhindenes @EisenbergEffect I see where the confusion coming from. The base project setup is for starting up the application the traditional way, with `<script src="aurelia..." />`. And it's meant for following the tutorial in the doc. So `src` folder should be empty and later filled up with content from the tutorial. I think it works fine. Can you check again @trondhindenes

[2018-10-02 06:01] Spaceman1861 commented on #910
I am unable to replicate exactly in the gist im still looking into why.

Can you explain why in https://github.com/aurelia/framework/issues/367
You can await the constructor and the bind?

Im probably being dense sorry.

[2018-10-02 06:06] bigopon commented on #910
Awaiting in the constructor should have never worked. `bind` works because it's what the composition engine waits for before it swap views. If it did work, then I'd need a reproduction of it to even know what it's doing

[2018-10-02 23:32] trondhindenes commented on #911
Thanks @EisenbergEffect this one looks good, output for ref:
[code]

[2018-10-02 23:36] trondhindenes commented on #911
@bigopon I think I understand what you mean. I read `you need to swap its src so that it points at scripts/config-esnext.js` but at that point there is no file at `scripts/config-esnext.js` but that's okay? tbh I stopped reading because I was pointing at a non-existing file.
It would probably make sense to have a note in the walkthrough about the fact that those dirs are expected to be empty at th

[2018-10-02 23:46] bigopon commented on #911
@trondhindenes Sounds like some todo for @EisenbergEffect :)

[2018-10-02 23:49] EisenbergEffect commented on #911
There should be a file at `scripts/config-esnext.js` but no content under the `src` folder yet.

[2018-10-03 02:02] Spaceman1861 commented on #910
Ok so i have managed to replicate in the gist looks like it only occurs when I nest additional viewmodels.

Up until that point as you say the bind => attached CompositionTransaction is observed.

Whilst I would prefer to have all the steps between lifecycle state functional I really only need one to work so bind => attached is fine.

Here is the gist.
https://gist.run/?id=e96391f6787b9695bdae3800

[2018-10-03 11:08] trondhindenes commented on #911
ok. let me recheck. sorry for the conundrum

[2018-10-16 20:53] Alexander-Taran commented on #911
![image](https://user-images.githubusercontent.com/1029452/47046759-946cdb00-d19e-11e8-99a2-ef250febf549.png)
![image](https://user-images.githubusercontent.com/1029452/47046777-9d5dac80-d19e-11e8-8108-3c897c803c4d.png)
everything works fine on linux

[2018-10-16 21:02] Alexander-Taran commented on #907
@Tim-Erwin that document is about Aurelia-CLI bundler. Not webpack.
For webpack you require the scss.
I know.. It is hard to have that many options.
Historically scss was being processed separately by another task.. and produced .css in the dist
Which later was bundled. So there was no way to require scss..

[2018-10-16 21:02] Alexander-Taran commented on #907
Can be closed.

..
Maybe (-:

[2018-10-16 21:04] Alexander-Taran commented on #908
@azaharafernandezguizan and exact steps how you end up there as well. Please.

[2018-10-16 21:05] Alexander-Taran commented on #908
[code]

[2018-10-17 00:19] #908 closed

[2018-10-18 20:34] trondhindenes commented on #911
Since this was my bad, I guess I get to close it. Thanks for the help everyone!

[2018-10-18 20:34] #911 closed

[2018-10-18 22:58] Alexander-Taran commented on #712
namespace claimed..
and vNext is heading that way.

Can be closed, I guess

[2018-10-18 23:00] bigopon commented on #642
Closing since we have better application for Rollup now: prebundled Aurelia in esm / umd format.

[2018-10-18 23:00] #642 closed

[2018-10-19 00:19] #712 closed

[2018-10-19 00:43] Spaceman1861 commented on #910
Any chance on an update on this? Its a bit of a blocker for me :(

[2018-10-19 00:49] EisenbergEffect commented on #910
@bigopon Are you able to take a second look?

[2018-10-20 00:19] bigopon commented on #910
@Spaceman1861 I think you are confused by the logs. They are behaving as documented for me. Note that the logs don't reflect the order of lifecycle correctly, as each widget has their own logs.
A little tweak to show the order: https://gist.run/?id=d31fd5ddb639af5a6c48876b593be0b9

Simple playable project for local experiment with some styling to highlight the issue with logs (extract zip and run

[2018-10-23 17:47] alankila opened #913 "Observing variables not contained in repeated item in a repeater doesn't seem to work."
**I'm submitting a bug report**

* **Library Version:**
0.35.1

**Please tell us about your environment:**
* **Operating System:**
OSX 10.12.0

* **Node Version:**
10.12.0

* **NPM Version:**
6.4.1

* **Aurelia CLI OR JSPM OR Webpack AND Version**
CLI 0.35.1 | webpack 4.22.0

* **Browser:**
all (only tested on Firefox 63 and Chrome 69, but I expect the problem to be general.)

* **Language:**
Type

[2018-10-23 21:19] bigopon commented on #910
I see what you meant. I think you are correct. Let me check it again.

[2018-10-24 12:00] bigopon commented on #910
The above is what I said, and it's horribly wrong, I didn't understand it enough. My apology.

Here is an updated gist log showing the behavior you'd expect https://gist.run/?id=0de9543f3f53bf73cf891c4f7258a634

So the key point is to enlist composition transaction notifier before `bind`, and delist it via `done()` before `attached()`. If you try to delist via `done()` in constructor, via a timeou

[2018-10-24 12:32] Spaceman1861 commented on #910
I can confirm that if i only use the compositionTransactionNotifier to "Await" the bind step and nothing else it appears to work.

[2018-10-24 13:15] bigopon commented on #913
@alankila When a binding tries to find value of `someValue` expression, it walks up the scope tree, which is `repeat ---> app` and looks for property `someValue` along the way. If none of the scope has that property, it will be then defined in the current level, which is the scope created on the fly by `repeat`, and the binding will be bound against that. Thus, app `scope` changes won't be seen by

[2018-10-24 17:32] alankila commented on #913
Thank you for helping me to understand this issue. This indeed also fixes the issue. I understand that the situation is tricky, because the unresolved reference must be created in some scope, and in this case the choice just happens to be wrong.

Since my code is in typescript, with some class metadata included, I wonder if some introspection could be added to Aurelia to discover the existence of

[2018-10-24 17:49] alankila commented on #913
Never mind. I imagined that such class metadata would exist in the first place, but based on some investigation, it appears that the use cases for metadata are limited to just examining the presence of various decorators. The "someValue?: string" appears to just vanish in the compilation process.

As far as I'm concerned, this issue is probably unfixable and may be closed.

[2018-10-24 17:49] #913 closed

[2018-10-25 05:59] Spaceman1861 commented on #910
@bigopon Ok so I attempted to translate only using bind into my app and I found that if the component is conditional its does not adhere to the transaction notifier.

https://gist.run/?id=1beeeae39facd87ad9eec9c6e4c3d0db

I have updated the gist with an example where some arbitrary trigger(in this case a timeout) causes the widget to be bound, it will ignore the transaction notifier.

note:
` <sub

[2018-10-25 07:47] bigopon commented on #910
For the updated gist:
- `enlist()` should happen before `bind()` life cycle, and `bind()` will never be called or always be called if `_compositionCount` is `> 0` or ` <= 0`, respectively. Because of this, you need to `enlist()` in constructor or `created()` lifecycle.
- `CompositionTransaction` is meant to used for a composition transaction, which is typically `setRoot`, or `<compose/>`. If the a

[2018-10-25 23:32] Spaceman1861 commented on #910
Would you be able to update the gist showing how you would implement it with the if / else i'm not following your suggestion at the moment.

[2018-10-25 23:47] bigopon commented on #910
@Spaceman1861 I was giving that suggestion based on this:

I would normally hide `<sub-widget/>` like this:
[code]
And on data comes from ws or fetch, just turn `hasData = true`.

The above is what I guessed out of what described. I think you may want to move this topic to Discourse (https://discourse.aurelia.io) or StackOverflow. It's better for future visibility.

[2018-10-26 00:52] Spaceman1861 commented on #910
So you are suggesting i move the onus of the data loading to the parent widget?

If this is the case, im not a huge fan of this solution.

I would prefer to have the widget responsible for loading its own data.

I have managed to create a work around tho.
https://gist.run/?id=b02132587e9def755a5d0d6c64f2b3ee

It just means i need to wrap the html in some dummy if binding within the widget.

[code]

[2018-10-26 00:56] bigopon commented on #910
@Spaceman1861 There is nothing preventing you from moving data loading to the child element. What I was suggesting was to offload the logic of delaying `attached` to a simple visibility toggle, either in parent or child. Glad you figured it out though

[2018-10-29 23:51] #910 closed

[2018-10-31 10:52] ricardograca commented on #12
This event is called `aurelia-started` for those that are wondering, so to use it just:

[code]

[2018-11-07 17:12] dmongrel opened #914 "IE11 fails to run Aurelia due to => not getting transpiled from TS to ES5"
**I'm submitting a bug report**

* **Library Version:**
2.1.6

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
11.1.0

* **NPM Version:**
6.1.0

* **Aurelia CLI OR JSPM OR Webpack AND Version**
CLI 1.0.0-beta.3

* **Browser:**
IE 11

* **Language:**
TypeScript 3.1.2

**Current behavior:**
Aurelia fails to run in IE11.  The aurelia-binding function

[2018-11-07 18:02] EisenbergEffect commented on #914
@dmongrel Can you update the CLI to beta.4. We just pushed a fix yesterday that I think is related to this. Let me know!

[2018-11-08 03:20] dmongrel commented on #914
@EisenbergEffect Yes it seems to get through the errors related to transpiling to ES5.  I'm not sure if this would be classified as the same bug, but, after the b4 version, the aurelia-loader-default throws an error in ensureOriginOnExports.  It thinks that target is null or undefined when it reaches the if statement.   I can file a new bug if you prefer.

function ensureOriginOnExports(executed,

[2018-11-08 04:35] EisenbergEffect commented on #914
@huochunpeng Are you available to look into this?

[2018-11-08 05:16] huochunpeng commented on #914
@dmongrel can you try reset the cache? `au clear-cache`

@bigopon I guess you did not see this error when testing on ie11?

[2018-11-08 05:35] bigopon commented on #914
Let me test this properly first. I'll update as soon as I finish that

[2018-11-08 08:21] bigopon commented on #914
It works totally fine in my local env. Here is how it looks like on IE11

![image](https://user-images.githubusercontent.com/9994529/48186168-56bd3580-e38b-11e8-8819-c6e435c600d9.png)

With TS - Requirejs, for the following structure:

![image](https://user-images.githubusercontent.com/9994529/48186196-6c325f80-e38b-11e8-9a08-94a33cdfc5bb.png)

For the following app files:
![image](https://user-im

[2018-11-08 19:07] dmongrel commented on #914
OK, I think we can close this issue.  I tried a default project, and at least that works now.  Thanks.  Au clear-cache had no apparent effect on the issue, which appears to be something else.  I'll have to track it down (likely is plugin-related:  I'm using aurelia-jstree and aurelia-dialog).  Those are the only things that should really be different from the default project.

[2018-11-08 20:31] dmongrel commented on #914
Turns out the default error comes up, when tsconfig.json has compilerOptions target es2015.  I changed it to es5 and that solved the remaining issue.  Please close this issue, everything is now running as it should be.  If you'd like me to file a bug regarding the compiler option, let me know.

[2018-11-12 17:59] powerbuoy commented on #848
@Eagle94T I did not. But even if that works it's inconsistent it doesn't work the same with and without pushState

[2018-11-12 20:05] bigopon commented on #848
@powerbuoy Maybe just ignore the router altogether ? adding an attribute `router-ignore` will make sure router does not participate in processing the event?

[2018-11-13 09:35] powerbuoy commented on #848
@bigopon I don't want the router to ignore it though. Most of the time I want the `route-href` to work as it should, and then in some cases I want my custom `route-popup` attribute to take over and open the route in a popup instead (think Pinterest where each post has its own page/URL but they open in popups on the home-page in high res screens).

To be the fact that it works when `pushState: fals

[2018-11-13 09:54] bigopon commented on #848
@powerbuoy Can you try the work around described here https://github.com/aurelia/history-browser/pull/32#issuecomment-409470589

[2018-11-13 10:01] powerbuoy commented on #848
@bigopon Honestly that's a little more hassle than I'm willing to get this working :P I'll try mousedown first at least.

[2018-11-13 10:04] bigopon commented on #848
@powerbuoy Sure x) it may look like a lot, but it boils down to ensure you register your click handler before all else, even the one from router history browser

[2018-11-13 10:09] powerbuoy commented on #848
@bigopon Ah I see. I'll take a look at it when I get a chance. This particular feature (open some URLs in popups in some resolutions) has been pushed down on the priority list a bit for the moment.

[2018-12-01 21:34] Alexander-Taran commented on #830
Definitely can be closed

[2018-12-01 22:10] #830 closed

[2018-12-06 15:24] janat08 commented on #731
Is being fixed by https://github.com/aurelia/router/pull/621

[2018-12-07 20:15] bigopon commented on #794
There is a way to do it with Aurelia, though not obvious. For anyone curious, please have a read here https://discourse.aurelia.io/t/assign-all-new-attributes-to-specific-element-transparent-wrapper-components/1949

[2018-12-13 07:50] javadbat commented on #827
yeah you are right type script do the job but what I mean is something like mobx-state-tree that is pure js but constant

[2018-12-17 17:36] lemoustachiste commented on #642
Hello,

I might be missing something silly (a flag to npm or something), but I can't figure out how to load the `es2015` for all the `aurelia` packages.

Rollup is failing on:

[code]

I am currently doing manual imports such as
[code]
And that works, until I hit internal files imports.

I guess I could work around that:
- using replace in rollup, but that's going to be tedious
- using commonjs pl

[2018-12-17 21:09] bigopon commented on #642
@lemoustachiste Can you check your version of `aurelia-pal-browser`? it has field `"module"` in its `package.json` pointing to es2015. In theory Rollup should have automatically picked that up

[2018-12-18 10:11] lemoustachiste commented on #642
Thanks, I'll look into it. I am working with a somewhat legacy project so
indeed, I didn't look at updating dependencies first.

On Mon, Dec 17, 2018 at 10:09 PM bigopon <notifications@github.com> wrote:

[2018-12-19 12:29] HubertoKusters opened #917 "Loosing characters in bound field when using Barcode scanner and IE"
**I'm submitting a bug report**

* **Library Version:**
aurelia-framework@1.3.0

**Please tell us about your environment:**
* **Operating System:**
Windows 7/10

* **Node Version:**
v10.8.0

* **NPM Version:**
6.5.0

* **Aurelia CLI OR JSPM OR Webpack AND Version**
CLI 1.0.0-beta.7 (Webpack)

* **Browser:**
IE 11

* **Language:**
TypeScript 2.7.2

**Current behavior:**
We have an application that

[2018-12-19 13:06] qmennens commented on #917
I would like to add additional information to this issue since I've also been working on the application mentioned by @HubertoKusters.

Strange thing here is that I created a new Aurelia application using the CLI and when first using it in IE with a barcode scanner I had no problem. But after closing IE and then again starting IE and opening the application the handling of the scan would be only p

[2018-12-20 04:49] silbinarywolf commented on #600
@atsu85 Thanks a lot for your insight atsu85 and your gist. I hit this when trying to write my own bootstrapping tool for unit testing via Cypress.

I'm gonna raise another Github issue for this as this is quite nasty.

[2018-12-22 16:33] wzrdtales commented on #804
Just stumbled upon this and am suprised that this is already that old :o of a bug.

In my case this is not about handling state across route changes on the layout level, but efficiency and an attempt to solve multi layout problems.

But first things first:

I have an application, where I have a login screen, which is very rudymental nothing special and the actual application screens, which include

[2018-12-22 17:30] EisenbergEffect commented on #804
I definitely wouldn't use layouts for this scenario. In your case, you might want to call `setRoot` with your login screen and then after login is complete, call `setRoot` a second time with your app screen. In that app screen you would have the `router-view` surrounded by normal components for your sidebar, etc. This workshop (which is now 100% free to stream) https://vimeo.com/ondemand/intermedi

[2018-12-22 17:33] wzrdtales commented on #804
@EisenbergEffect Actually exactly what I am testing out currently, having read the setroot suggestion over here https://discourse.aurelia.io/t/solved-use-child-router-for-main-routes/678.

[2018-12-22 17:47] wzrdtales commented on #804
Just need to find out how to access setRoot outside of main.js

[2018-12-22 19:38] wzrdtales commented on #804
@EisenbergEffect After some extensive testing, it seems I have to draw the conclusion that also setRoot seems to be pretty broken for such use case scenarios.

What I have got working is that I can change the root now and also can get back from the login screen, and switch back to the app. So far sounds like success, but only if applications would be that simple in reality :/ . So first of all I s

[2018-12-22 19:40] wzrdtales commented on #804
@jwx Not sure, please elaborate, I already explained what I want: two different kinds of pages with different layouts. One for the application when it is authorized, one when it is unauthorized.

[2018-12-22 19:52] jwx commented on #804
@wzrdtales Well, how about having two viewports, one for the unauthorized and one for the authorized, and setting content in the appropriate one. And then you just hide the empty one (and possibly its surroundings if you need to).

[2018-12-22 20:04] wzrdtales commented on #804
That would be a very nasty workaround to do this, could work, but would limit drastically when it comes to optimizing. Especially optimizing loading behaviors. But it seems as there is no possibility in aurelia without working around it currently :/. So that would be an option, but not one I would want to choose.

[2018-12-22 20:47] jwx commented on #804
@wzrdtales I must be missing something or lack some information, because I'm not seeing the nasty problems you're describing. As far as I know, there are no real penalties to having more than one viewport and I wouldn't think hiding some elements, with css or binding or whatever, should be so problematic.

Regardless, if you do find a solution, please share it since there's some interest in layout

[2018-12-23 16:03] wzrdtales commented on #400
As I wrote in #804 it is definitely coming from the router and that maybe there needs to be two different routers when changing the root element, to have a predictable behaviour.

[2018-12-23 16:16] wzrdtales commented on #804
@jwx With viewports I can't reset any css, I will need to do that dynamically with executed code instead, since I will end up otherwise with the exact same problems again. Rerendering too much and resetting contextes and the other examples I already wrote about here.

But last but not least, it is just not a solution. It is a workaround and that means always that there is unwanted behaviour includ

[2018-12-23 16:53] EisenbergEffect commented on #804
What do you mean by accessibility of `setRoot`? You can inject `Aurelia` into any class in your app and call `setRoot`. Do you mean something else by accessibility?

But for different types of page layouts, you can use some simple techniques that have been in practice in vary large-scale apps (such as VS, etc) for probably 20+ years. Simply model your shell structure itself with different pluggabl

[2018-12-23 17:20] wzrdtales commented on #804
Thats good to hear :)

With accessibility I mean first of all, accessibility in terms of usability and visibility. That starts with documenting it, there is actually little to no information about that in the docs yet (except for a tiny auto generated api bits) and ends up with simplifying it. So for example thinkable would be instead of calling `setRoot` a possible simplified alternative would be

[2018-12-24 18:31] EisenbergEffect commented on #804
I guarantee that it's more than possible. It's been done before many times in different ways. I've built things much more complicated than what's described here with no perf issues. Each app is different and has different concerns to take into consideration and it's hard reading this thread for me to figure out just what things matter to you and what you consider "bad" or "unacceptable" and why. T

[2018-12-25 04:09] davismj commented on #804
I think I understand where @wzrdtales is coming from. setRoot does work, but it is not nearly as robust and powerful as other features in Aurelia. It's actually worked its way up my priority queue of things I want to improve in vCurrent.

@wzrdtales if you could either make a quick list of things you expect to be able to do and how, and bonus points if you could add some failing tests to a branch,

[2018-12-29 23:54] AngelMunoz opened #918 "Camelcase Custom Events"
**I'm submitting a feature request**

* **Library Version:**
1.3.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
v10.10.0

* **NPM Version:**
6.4.1

* **Aurelia CLI OR JSPM OR Webpack AND Version**
Local aurelia-cli v1.0.0-beta.8 | webpack 4.27.0

* **Browser:**
all

* **Language:**
all

**Current behavior:**
Camelcase Custom Events are not han

[2018-12-30 21:14] EisenbergEffect commented on #918
Thanks for bringing this up @AngelMunoz

@bigopon @fkleuver I think we should decided how we want to handle this with vNext first and then backport that API to vCurrent so that we have forward/backward consistency and make sure to address this the right way. Thoughts?

[2018-12-31 02:40] AngelMunoz commented on #918
@fkleuver Yeah I totally get the idea of the kebab-case  my concern was about other users/authors looking at projects like ionic/stencil and grabbing  the same conventions even though they don't adhere to the standard naming cases and since those conventions work for them in their use cases, there could be people thinking that Aurelia got it wrong even though it works as expected,

Note: Thanks fo

[2018-12-31 04:12] EisenbergEffect commented on #918
Nice use of a binding behavior @fkleuver 😄

I think we wouldn't want to auto-camel case kebab-cased events without the developer having a way to opt-out and to also configure excpetions. There could be component vendors who use kebab-casing directly and we wouldn't want to break things the other way around.

[2018-12-31 04:34] fkleuver commented on #918
The thing is that events listener bindings are basically opposite property bindings.
In a property binding the attribute name is the target property and the attribute value binds to the source property.
For an event, the attribute name binds to the source property (the event name) and the attribute value to the target property (the event handler).
On one hand it made perfect sense to do this from

[2018-12-31 08:57] StrahilKazlachev commented on #918
For *vCurrent* can't we just show how to *monkey patch* or override the [`SyntaxInterpreter.prototype.trigger`](https://github.com/aurelia/templating-binding/blob/8ec29ef02270d707095ac53234385d1495d7ef20/src/syntax-interpreter.js#L78) & Co.? Then the *tryKebabToCamel* could be applied [here](https://github.com/aurelia/templating-binding/blob/8ec29ef02270d707095ac53234385d1495d7ef20/src/syntax-inte

[2018-12-31 12:56] fkleuver commented on #918
For folks who are okay with it being a global override I suppose that's okay. A fancy plugin could even add a little configuration api to specify which events to include or exclude from this transform (with a regex perhaps).
Well, seems like it's easy enough to fix one way or the other

[2019-01-07 13:12] Alexander-Taran commented on #415
[code]

[2019-01-07 15:43] #415 closed

[2019-01-23 11:33] ConductedClever opened #921 "Ability of changeing state twice in on action | dispatching action inside another | disposing actions in async way"
**I'm submitting a feature request**

* **Library Version:**
major.minor.patch-pre

* **Operating System:**
Windows 10

* **Node Version:**
11.2.0

* **NPM Version:**
6.4.1

* **Aurelia CLI OR JSPM OR Webpack AND Version**
CLI 1.0.0-beta.6

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
In our company an skeleton (template) is developed to be used in many projects. The main idea

[2019-01-23 14:31] zewa666 commented on #921
Hi @ConductedClever, could you move over/recreate this issue to the [aurelia-store](https://github.com/aurelia/store) repo so we continue the discussion over there?

[2019-01-23 17:31] ConductedClever commented on #921
Hi @zewa666, ofcourse.

[2019-01-23 17:31] #921 closed

[2019-01-23 17:39] ConductedClever commented on #921
Successfully moved [here](https://github.com/aurelia/store/issues855)

[2019-01-29 09:40] bigopon commented on #794
@EisenbergEffect I think this issue can be closed, it's tracked in vnext, and has work around in vCurrent, together with a plugin that demonstrates its behavior, also with some ready made elements: https://github.com/aurelia-contrib/aurelia-global-binding

[2019-01-29 10:46] bigopon commented on #695
@cluka Thanks for filing this bug. May I know if `tabModel.ViewModel` is a function (class constructor) or an object? I think this has already been fixed, but I'm not sure about your usage.

[2019-01-29 11:36] bigopon commented on #917
@HubertoKusters @qmennens Hi, may I know how this has been handled for you? Did you manage to find out the cause for this?

[2019-01-29 11:38] bigopon commented on #895
@EisenbergEffect @bfil @wouth @bulldetektor Probably we can close this, all core packages has been updated to work with JSPM. It would be awesome if anyone having issues still could update this or open a new one.

[2019-01-29 11:40] bigopon commented on #892
I think this is only related to how native import works, there is no module resolution. @pragmaproducts Please have a look at Aurelia script, which helps simplify similar usage like this https://github.com/aurelia/script

[2019-01-29 11:40] bigopon commented on #892
@EisenbergEffect I think this can be closed

[2019-01-29 13:30] HubertoKusters commented on #917
Unfortunately we did not get any response until now. For now we  have limited the application to be used with the Chrome-browser. However, this is not a solution and as such we are not sure if Aurelia is the way to go for us.

[2019-01-29 13:33] bigopon commented on #917
I see the frustration, I'm not sure how to reproduce this behavior and I'm not sure in which way it can be debugged. IE11 has quirks that are probably not in my awareness. I will try to simulate the scanner by repeatedly dispatching input and see if I can reproduce it on IE11.

[2019-01-29 17:18] #892 closed

[2019-01-29 17:19] #895 closed

[2019-01-29 17:19] #794 closed

[2019-01-29 18:21] HubertoKusters commented on #917
If you could shed some light on this, that would be great, Quirine has added a sample application in this thread. Maybe that could help. Also, it is very much possible that we made a design-error in the handler that just happens to work for Chrome by 'accident'. So, we keep an open mind on this.
TIA

[2019-01-30 19:36] gooeyideas commented on #53
I know that this has been closed for awhile but I stumbled across this while looking for a solution. I found a better way of doing this using the `<let>` element. Posting here to help anyone else who is looking for a better way:

[code]

[2019-01-31 10:36] Khazamastan opened #922 "Unable to debug code debugger is show in scss file instead of js"
**I'm submitting a bug report**

* **Library Version:**
aurelia-cli 0.35.1

**Please tell us about your environment:**
* **Operating System:**
OSX 10.13.2
* **Node Version:**
8.9.0

* **NPM Version:**
6.7.0

* **Aurelia CLI OR JSPM OR Webpack AND Version**
aurelia CLi 0.35.1

* **Browser:**
Chrome 71.0

* **Language:**
ESNext

**Current behavior:**
Unable to debug code most of the times, debugger

[2019-01-31 10:38] bigopon commented on #922
@Khazamastan Thanks for filing this. May I know how you setup your project?

[2019-01-31 13:44] Khazamastan commented on #922
I have done setup using Aurelia-cli

[2019-01-31 14:10] Khazamastan commented on #922
We run the app using au run, we are using Jspm

[2019-02-08 17:50] LilSebastian5000 opened #924 "Injected variables in app.js don't load on initial screen"
**I'm submitting a bug report**

* **Library Version:**
[code]
and

[code]
**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
v8.9.0

* **NPM Version:**
6.7.0

* **Aurelia CLI OR JSPM OR Webpack AND Version**
webpack 3.12.0

* **Browser:**
All

* **Language:**
ESNext

**Current behavior:**
When injecting a variable into the constructor of app.js, it

[2019-02-08 19:35] bigopon commented on #924
@LilSebastian5000 The behavior described  probably comes from implicit binding context inheritance of composition engine. Can you check if `welcome.js` view model has property name `constants`?

[2019-02-08 22:25] LilSebastian5000 commented on #924
@bigopon So, `welcome.js` does not have a property named constants, but neither does `users.js`. However, `users.html` is still able to access the constants property despite its omission, while `welcome.html` cannot.

This can be reproduced in the skeleton-esnext-webpack repository after upgrading all existing aurelia dependencies to the latest, as well as webpack to version 3.12.0, and then addin

[2019-02-08 22:57] bigopon commented on #924
Inheriting binding context is desirable in some scenarios, such as composition with only view specified. There is no context being specified, so the newly compose view should use the parent binding context.

There is some other scenarios where it's less desirable to inherit binding context, such as composition with both view and view model specified. Inheriting binding context in this case seems l

[2019-02-17 19:01] tnaigtnelis opened #925 "Allow for <script> tag in <template> to auto execute."
**I'm submitting a feature request**

* **Library Version:**
2.3.0

**Please tell us about your environment:**
* **Operating System:**
Windows [10]

* **Node Version:**
11.6.0

* **NPM Version:**
6.5.0-next.0

* **Aurelia CLI OR JSPM OR Webpack AND Version**
CLI ^1.0.0-beta.13

* **Browser:**
Chrome 69.0.3497.106
* **Language:**
ESNext

**Current behavior:**
<script> tags nested in <template> tags

[2019-02-17 20:12] bigopon commented on #925
@tnaigtnelis The behavior you described is exactly the expected behavior. It's what `<template/>` was designed for. You can easily test this via pasting the folloing code into your console:
[code]
You should see that though the script element is there, no alert box is shown.

[2019-02-17 22:38] EisenbergEffect commented on #925
Closing this since this behavior is by design per the HTML5 specification.

@tnaigtnelis I'm sure you've got a good reason for attempting this. If you can provide a few more details, we can probably help you find a workable solution. If that sounds good to you, please start a thread at https://discourse.aurelia.io/ and someone from our community will reach out.

[2019-02-17 22:38] #925 closed

[2019-03-06 02:46] CuddleBunny commented on #909
I had started to re-build my portfolio site with Aurelia. The main project is in Azure DevOps but I've pushed a mirror to GitHub: https://github.com/CuddleBunny/portfolio. I've paused development since I got a job but will probably keep tinkering with it once I get settled. Eventually I intend to use it as a test bed for https://github.com/CuddleBunny/aurelia-office-ui-fabric. I am definitely look

[2019-03-06 04:02] davismj commented on #644
OP is asking for typings support for the jspm repository. [Typings is deprecated.](https://www.npmjs.com/package/typings).

The problem OP was trying to solve is "how do we make typescript and typescript-enabled IDEs aware of types installed by jspm." [The TypeScript team has noted](https://github.com/Microsoft/TypeScript/issues/6012#issuecomment-163348809) that analyzing jspm_packages for types t

[2019-03-06 04:02] #644 closed

[2019-03-09 10:55] MikeKovarik opened #926 "better error logging"
**I'm submitting a feature request**

* **Library Version:**
aurelia-script 1.3.1

**Current behavior:**
If you make a typo, or on this case I forgot to add `async` to a function, you get a long but useless stacktrace pointing to inside of aurelia but nowhere in the stack trace does it give me any clue of what view, class, file is at fault. I've had this issue for years, ever since Aurelia was sti

[2019-03-09 11:04] bigopon commented on #926
@MikeKovarik thanks for filing this.

The error you got is `SyntaxError`, so first thing to do would have been looking for ... syntax error.
The reason why it got so long stack is because that module is loaded by Aurelia Router, via dynamic `import()` api, as I see you are using `aurelia-script` there. That said, there's thing we can improve in the router, such as checking error, if it's SyntaxErr

[2019-03-10 15:32] fkleuver commented on #909
@CuddleBunny That's perfect, thank you! The fact that it uses ASP.NET Core is only better because if anything that's a scenario we want to make much more robust and easier to work with in vNext. I'll definitely use that app as a source for some good test cases :)

[2019-03-21 08:44] mreiche opened #927 "Returning a ModifyArrayObserver in SortValueConverter results in infinite task queue loop"
**I'm submitting a bug report**

* **Library Version:**
aurelia-task-queue@^1.3.1
aurelia-binding@^2.0.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
11.6.0

* **NPM Version:**
6.5.0

* **Aurelia CLI OR JSPM OR Webpack AND Version**
webpack@4.29.6

* **Browser:**
all | Chrome  72.0.3626.12

* **Language:**
typescript@3.3.4000

**Current behavi

[2019-03-21 10:51] bigopon commented on #927
@mreiche The behavior you described is an expected behavior. What happens when you have the following template:

[code]

There will be 2 `repeat` instances, observing mutation on the same array. Because `sort` mutates the array so sorting the `repeat(1)` will trigger `repeat(2)` change handler, and make it reevaluate the expression, and `repeat(2)` has `sort` in its expression, so it trigger chang

[2019-03-22 14:18] mreiche commented on #927
@bigopon Thanks for your answer. As you can see, I've already implemented the bugfix. But you should consider to update the code in the example SortValueConverter here: https://aurelia.io/docs/binding/value-converters#multiple-parameters-composing-converters
[code]

[2019-03-24 00:31] bigopon commented on #927
@mreiche thanks. Let's ping @EisenbergEffect 😆

[2019-03-24 02:01] EisenbergEffect commented on #927
We'd be happy to take a PR to the documentation. It can be found here: https://github.com/aurelia/documentation/blob/master/current/en-us/4.%20binding/8.%20value-converters.md

[2019-04-01 11:48] #927 closed

[2019-04-17 10:44] IsaacHub opened #928 "After building my project, the dist folder is not loading the vendor files"
I have created a new aurelia project using `au new`, and when I run using `au run`, everything works fine, but after I build using `au build --env prod` I got a `dist` folder and successfully built as it should be..

Here's my project specs:

![aurelia_issue](https://user-images.githubusercontent.com/20126441/56281754-08c30f80-612b-11e9-84d1-77247b66169c.png)

Now I moved the dist folder to other

[2019-04-17 11:38] IsaacHub commented on #928
I created a virtualhost and it worked.

[2019-04-17 15:56] #928 closed

[2019-04-17 21:16] bigopon commented on #928
@IsaacHub it sort of always requires a web server, or what you would call virtualhost to work. I guess what we can improve, as you suggested, is to generate html with path to bundle without leading slash so that if someone chooses to have everything in 1 bundle, it will just work.

cc @huochunpeng

[2019-04-17 22:31] huochunpeng commented on #928
Most browser doesn't support relative resource path when opening a html page directly from file system.

The easiest way to get a web server to verify static files.
[code]
Then in the folder, run
[code]

[2019-04-18 01:32] huochunpeng commented on #928
Sorry, I missed the original question. I tried to find out how to remove the absolute path in https://github.com/jantimon/html-webpack-plugin#options but webpack is just too much for my primitive brain to understand.

[2019-04-25 13:28] IsaacHub opened #929 "How to fetch data from a JSON file in aurelia framework?"
I'm trying to fetch data from external JSON file using [aurelia-fetch-client](https://aurelia.io/docs/plugins/http-services#aurelia-fetch-client) but it gives 404 not found error.

I have tried implementing the basic setup suggested by the official docs.

Here is my code:

[code]

I should get the result of the JSON data, but I'm getting the following error:

![error](https://i.imgur.com/Slap6Oe.p

[2019-04-25 15:11] EisenbergEffect commented on #929
Can you share what you are seeing in the raw response? The browser's network panel should be able to show that to you. It will help us better diagnose what's going on here.

[2019-04-25 15:22] AshleyGrant commented on #929
Also, what Aurelia CLI setup are you using? Are you using Webpack or the built-in bundler?

[2019-04-25 15:35] AshleyGrant commented on #929
Nevermind.. I see you're using Webpack from your StackOverflow question... @EisenbergEffect please close this issue.

[2019-04-25 16:28] #929 closed

[2019-04-25 16:28] EisenbergEffect commented on #929
Thanks @AshleyGrant !

[2019-04-30 12:01] Bibis97 opened #930 "How to bind repeat.for on the async array variable?"
I'm fetching json from a file which is inside `static` folder and I retrieve the keys and push it into an array and trying to bind in the html.

I have the following code in `home.js`:

[code]

and then in `home.html` I have the following:

[code]

**Because we fetch the json asynchronously the `headArr` is empty when the page is loaded. In Angular we have `async` pipe to fix this, similarly how t

[2019-04-30 15:55] weagle08 commented on #930
What you have shown should be working. The async fetch doesn't matter here. You might could try to do a this.headArr.splice(0) and push the new values into the existing array reference rather than do a reassignment and see if that fixes it.

[2019-04-30 17:29] StrahilKazlachev commented on #930
I don't understand your issue. Nothing shows, things show later than expected or ...?
Also the way the binding is shown seems a bit awkward to me, all those spaces.

[2019-04-30 17:37] fuligana commented on #788
Replay

[2019-05-02 10:05] Bibis97 commented on #930
Ok.. Now it's working, and I have another issue: I have html in JSON as seen below `<i>` tag for font awesome icon, and it is being rendered as normal text string. How to render as html element?
[code]

[2019-05-02 10:29] Bibis97 commented on #930
Ok done, I achieved it with `<span innerHTML.bind="val"></span>`

[2019-05-02 10:29] #930 closed

[2019-05-02 12:42] bigopon commented on #930
@Bibis97 please note that the correct syntax is
[code]
Just html is case insensitive, so it will see `innerHTML.bind="..."` as `innerhtml.bind="..."`, so it worked as intended.

[2019-05-07 06:02] ajoslin103 opened #931 "aurelia.use.developmentLogging(environment.debug ? 'debug' : 'warn'); is broken?"
**I'm submitting a bug report**

in a fresh: au new sample

$cat aurelia.json
{
  "name": "junk",
  "type": "project:application",
  "paths": {
    "root": "src",
    "resources": "resources",
    "elements": "resources/elements",
    "attributes": "resources/attributes",
    "valueConverters": "resources/value-converters",
    "bindingBehaviors": "resources/binding-behaviors"
  },
  "transpiler":

[2019-05-07 12:32] bigopon commented on #931
@ajoslin103 can you help clarify what you were trying to do and it failed? It seems you tried to run `au build test`? It doesn't look like the right command to run.

[2019-05-07 12:44] ajoslin103 commented on #931
sorry, I actually was tired and it was late and I ran these commands

cd Desktop

au new junk

(I ran thru the choices, as shown in the aurelia.json)

I then updated the app.js to this

import { LogManager } from 'aurelia-framework';
const Console = LogManager.getLogger('app');
export class App {
  message = 'Hello World!';
  attached() {
    Console.info('info');
    Console.warn('warn');
    Con

[2019-05-07 12:51] bigopon commented on #931
@ajoslin103 Calling `.use.developmentLogging` will register a console appender, which gives you the log message in the browser console by default.
the method `developmentLogging()` does not take any arguments, that's why it's normally guarded like this:

[code]

[2019-05-07 13:32] ajoslin103 commented on #931
I’m sorry, I’m just using what comes out of the CLI — I’m not that good at reading source to figure out what’s the right thing to do

I tried to track through the code behind developmentLogging (using a typescript project) — and it seems to take a string, yet all the LogManager levels are defined by number

I’ve tried calling it with no params

I’ve tried commenting out the line that calls develop

[2019-05-12 17:15] ajoslin103 commented on #931
tracked this down to the aurelia/logging-console library

closing this issue in favor of: https://github.com/aurelia/logging-console/issues/18

[2019-05-12 17:15] #931 closed

[2019-05-18 14:48] euglv opened #932 "Navigation to dynamic routes does not work properly"
**I'm submitting a bug report**

* **Library Version:**
1.3.0

**Please tell us about your environment:**
* **Operating System:**
Windows [10]

* **Node Version:**
8.11.2

* **NPM Version:**
6.9.0

* **Aurelia CLI OR JSPM OR Webpack AND Version**
CLI 1.0.0-beta.7

* **Browser:**
Chrome

* **Language:**
ESNext

**Current behavior:**
[Documentation](https://aurelia.io/docs/routing/configuration#dyna

[2019-05-19 13:44] bigopon commented on #932
@euglv thanks for filing this.

@EisenbergEffect please help move this to Router.

@davismj This case falls into `no-change` activation strategy even when params got changed. I was debugging and noticed that both current/previous instructions have no query parameters in it. Do you have any guesses?

[2019-05-19 14:23] bigopon commented on #932
On a second thought, from the look of the code, what has been changed is `queryParams`, so the router doesn't try to detect that changes and turn the url change into a `no-change` instruction, thus gave the "not doing anything" impression.

@davismj @fkleuver @EisenbergEffect What do we do in case of only query params change? Do we have any similar issues?

[2019-05-19 23:01] bigopon commented on #932
@euglv you can add a method `determineActivationStrategy` on `App` and return `'invoke-lifecycle'` to signal router to do something. By default only parameter will trigger routing pipeli e, not query parameter

[2019-05-22 16:52] euglv commented on #932
@bigopon  Adding `determineActivationStrategy` does not solve the problem.

But I have solved the issue by changing `navigationStrategy` function implementation:
[code]
Here is updated gist with working sample:
https://gist.run/?id=4fde41f2bba1c2fd1914e09baad02a08

When `navigationStrategy` function is called for the first time - `instruction.config.viewPorts` is `null`, but when it is called for

[2019-06-05 09:47] DavidBawden1 commented on #887
I had this issue, You need to add Aurelia to your PATH as the npn install aurelia-cli -g command does not do this for you. the Install dir will be something like C:\users\user\appdata\roaming\npm

[2019-06-05 12:38] AshleyGrant commented on #887
@DavidBawden1 if the `npm` global install folder is not added to your path when you install Node, then I would recommend reinstalling Node. Also, sometimes Windows can require a reboot to recognize newly added paths on the PATH variable. In either case, these are issues with Node/NPM and not Aurelia.

[2019-06-09 18:15] Serhioromano opened #933 "Building all public files to www folder"
I am trying to setup an app, but I am not really happy with the project structure. I use aurelia-cli to build app. My which is to have all files like ts, less,  in `src` folder, and after build move it to `www` so that this folder becomes app web root and contains only website files. My root of the project might have so many other configuration files, so I do not want to have that mess in the proj

[2019-07-02 11:05] raugustinus commented on #54
Am I right to assume this is still an issue?

[2019-07-02 11:37] bigopon commented on #54
@raugustinus this is still an issue. I think to properly support this, we need to make the CSS class for hidden style configurable

[2019-07-03 11:22] diegohb commented on #616
there's also this site which specifically covers web component compliance.. https://github.com/webcomponents/custom-elements-everywhere/issues/50

[2019-07-03 15:12] Atfreeman240 opened #934 "Files are no longer watched after update from Gulp 4 alpha to v4"
* **Library Version:**
"aurelia-cli": "^0.30.1"

* **Operating System:**
Windows [10]

* **Node Version:**
12.4.0

* **NPM Version:**
6.9.0

* **Aurelia CLI OR JSPM OR Webpack AND Version**
CLI 1.0.2

* **Browser:**
Chrome v75.0.3770.100

* **Language:**
TypeScript 3.4

**Current behavior:**
The application had no issues before our team switched from the alpha version of Gulp 4 to version 4. After

[2019-07-06 23:31] ilsergente1993 opened #935 "set object that has observed properties breaks the observing system"
**I'm submitting a bug** ( even question and feature request)

**Current behavior:**
To observe an object that has several properties I'm using an array that collects the subscribes performed through the `BindingEngine`.
I use this code:
[code]
Where `be` is the `BindingEngine` instance and to cancel the subscription I just perform the `unscribe()` on each element of the array.

So, if I directly

[2019-07-07 08:20] bigopon commented on #935
@ilsergente1993 thanks for filing this issue.

The behavior you experienced is the expected behavior. Observing an object does not and should not observe other objects. In your example, I would observe both `obj` and its property for changes, so it would look like the following:

[code]

[2019-07-07 11:44] ilsergente1993 commented on #935
Thanks for the code @bigopon
I got your point to keep it flexible but, in my opinion, the framework should offer easy ways for common scenarios.
First of all, if I have an object with several properties, I expect one function to observe all the object properties, at least till the first nested level, that share the same callback, like:
[code]
and this can return the array of subscriptions or
[code

[2019-07-08 11:39] bigopon commented on #935
The API propery observer is:
[code]

It reads like this: for a given `obj`, and a `propertyName`, create a observer on `obj` for that `propertyName`.

So you can see that what we create is an observer of an object. It doesn't care if you threw that object away to replace it with something else. It only cares about its job: observe `propertyName` property on  object `obj`.

Probably what you want i

[2019-07-08 19:06] ilsergente1993 commented on #935
Now I got it, thanks for the explanation @bigopon

And the expression observer now has a reason to be there 😄
Again, thanks

[2019-07-08 19:06] #935 closed

[2019-07-18 10:16] devteamexpress opened #936 "Issue with compose element and composition"
If you use a compose element (who's activate function returns a promise) within a ViewModel, the router complete event seems to fire before the promise is resolved which causes a jumpiness in the navigation. If we remove the compose element from the view model everything works fine.

Is this behavior intended? Shouldn't the router wait for the entire view to compose include any composed elements (

[2019-07-27 07:37] ConductedClever opened #937 "Combination of `@dynamicOptions` and `primaryProperty`"
**I'm submitting a feature request**

* **Library Version:**
v1.0.2

* **Operating System:**
Windows 10

* **Node Version:**
v12.5.0

* **NPM Version:**
v6.9.0

* **Aurelia CLI Version**
CLI v1.0.2

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
By now while developing a custom-attribute in aurelia, I have two options. One to use `dynamicOptions` and one to not.
If not using `dy

[2019-07-27 10:25] ConductedClever commented on #937
And also there is a need to combination of `@dynamicOptions` and `@bindable`. Let say I am developing a component for my inputs, which contains a `label`, `input` and a `span` for validation messages. Then I want to have some bindables defined like `@bindable labelText` to fill the label tag content, and then forward other unexpected bindables to the attributes of input itself. For example I want

[2019-07-28 11:07] ConductedClever commented on #937
Another necessity of this behavior is when I want to have some bindables dynamic and also have some two-way bindables or other ways.

[2019-07-28 11:43] bigopon commented on #937
@ConductedClever thanks for filing this issue. It maybe do-able, let me have a look, are you blocked by this or it only causes boilerplate code that you would love to eliminate?

[2019-07-28 12:07] SMohsenBazghandi commented on #937
and I have this problem how to set defaultBindingMode for dynamicOptions?

[2019-07-28 18:13] ConductedClever commented on #937
Related question on stackoverflow:
https://stackoverflow.com/questions/54051319/aurelia-dynamicoptions-mixed-with-bindables

@bigopon has said that it seems to be a bug. But I don't think it is solved by now.

[2019-07-28 18:41] ConductedClever commented on #937
@bigopon thanks for paying attention to this issue. In fact this issue does not exactly block our job but pulls our job out of its way. Let me describe more. We are developing a full UI-component framework for our company. And with existence of this issue, we have to not use dynamicOptions to be able to use binding options, and etc. So it will be good news that this issue will be fixed. And if not

[2019-08-14 23:22] baerrach commented on #905
Is anyone actively working on this?

[2019-08-15 00:47] EisenbergEffect commented on #905
Not on our core team at least. We'd love someone to help out with this, particularly for Aurelia 2.

[2019-08-28 07:36] bemon commented on #905
@brandonseydel can you give link to repo ?

[2019-08-30 04:41] brandonseydel commented on #905
I pushed another version which handles global container/registration/component registration.  This also allows adhoc registration per story past the original.  One could register a plugin in the config.ts and then register custom component in story for HMR.

[2019-09-04 20:16] UMANGAWASTHY opened #939 "Publish Aurelia project with visual studio 2017."
As I am new to Aurelia, Can any one please sent me the steps to deploy Aurelia application to IIS using Visual Studio 2017.
I am using web api, which is build on dotnet 4.7.1 framework for server side and aurelia framework for client side.
I want to publish aurelia project to IIS with web deploy package.

[2019-09-04 20:51] EisenbergEffect commented on #939
Hello @UMANGAWASTHY I think the best place to get a response to that question is in our community forum. You can find that at discourse.aurelia.io.

[2019-09-04 20:51] #939 closed

[2019-09-09 15:01] Genfood commented on #688
Also make sure to change the name in the include section in the `tsconfig.json` file form `web-api.js `to `web-api.ts`, after renaming it.

[2019-09-18 10:06] JontyMC commented on #804
Is this issue being addressed in v2? We have the same problem.

We have authentication pages (login, signup, reset password, etc) that have a completely different shell to the main app pages. We started with setRoot, but that had issues eg #400, so we switched to layouts. We didn't realise this issue occurs and it is now causing flickering in the UI (which makes layouts practically unusable).

Thi

[2019-09-18 10:27] jwx commented on #804
@JontyMC I wouldn't try to do parts of the router's job since there's a fair amount of moving pieces involved. The router of Aurelia 2 should however support your use case (the way I understand it) since viewports can be placed within components/custom elements without their surroundings updating when the viewports get new content.

[2019-09-18 11:09] JontyMC commented on #804
This is kind of my point. I don't want lots of moving pieces and complexity I don't need. I also want full control over lifecycle, module creation and when/where I replace modules.

If I can be subscribe to routing changes, I can
- Create a new/reuse a cached modules based on the parameters (either using routing map or using my own logic)
- Optionally call and await my own pipeline/activate method

[2019-09-18 11:45] jwx commented on #804
You're basically describing the job that the router does and what it gives you. But rolling your own routing solution will of course give you a solution that fits your requirements perfectly with nothing more and nothing less. If you have the time for it, and especially if you have specific requirements, it's definately one way to go. (This goes for any part of the framework.)

If you're doing all

[2019-09-24 08:59] romain-preston commented on #905
@brandonseydel We are **really** interested in your branch ! Any update :) ?

[2019-09-24 11:57] brandonseydel commented on #905
I will nudge storybook authors some more.  We want it for our alpha release, so it should be rtm soon.

[2019-09-24 12:35] brandonseydel commented on #905
I think i will actually open a PR into them so the back and forth will become public.  I will link it when complete.

[2019-09-24 18:31] romain-preston commented on #905
Looking forward to reading these back and fourth!

[2019-09-25 18:35] brandonseydel commented on #905
https://github.com/storybookjs/storybook/pull/8199

[2019-09-26 08:38] rmja opened #940 "Allow better typing for module configuration"
**I'm submitting a feature request**

* **Library Version:**
1.3.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
12.8.0

* **NPM Version:**
6.11.3

* **Aurelia CLI OR JSPM OR Webpack AND Version**
none

* **Browser:**
all

* **Language:**
TypeScript

**Current behavior:**
During intial configuration when modules are included, the module configu

[2019-09-26 18:08] EisenbergEffect commented on #940
I don't think that we'l be able to address this in the current version of Aurelia. However, we've gathered a ton of feedback over the years on our plugin system in general and have made a bunch of improvements for our vNext. I'm going to close this out since we've already addressed this particular concern there.

[2019-09-26 18:10] EisenbergEffect commented on #940
Actually, if all it really takes is the above modification of the types, I think we could do that in vCurrent possibly. I'm a bit nervous that this could break some people. We don't want to do that. If you want to submit a PR for this, we could discuss the implications further there.

[2019-09-26 20:43] bigopon commented on #940
Yes, its doable, and a quality of life improvement that can help many typescript users. Can we reopen this?
@rmja maybe you already have in mind ideas how to go forward, pelase help PR for this

[2019-09-26 21:35] EisenbergEffect commented on #940
Re-opened 😄

[2019-09-27 06:48] rmja opened #941 "Upgrade gulp to v4."
**I'm submitting a bug report**

* **Library Version:**
1.3.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
12.8.0

* **NPM Version:**
6.11.3

* **Aurelia CLI OR JSPM OR Webpack AND Version**
none

* **Browser:**
all

* **Language:**
all

**Current behavior:**
Unable to build with node 12 because gulp 3 is not supported (https://github.com/gulp

[2019-10-01 10:24] stereoscope opened #942 "Staging a component for testing"
**I'm submitting a bug report**

* **Library Version:**
1.3.1

**Please tell us about your environment:**
* **Operating System:**
Linux (LinuxMint 19.2)

* **Node Version:**
10.16.1

* **NPM Version:**
6.9.0

* **Aurelia CLI OR JSPM OR Webpack AND Version**
JSPM 0.16.55

* **Browser:**
all

* **Language:**
TypeScript 3.6.3

**Current behavior:**
Executing the app and loading views with @useView('r

[2019-10-10 08:39] Squabak commented on #824
create a file to add 'ValueConverter' for gloabal use

`import { FrameworkConfiguration, PLATFORM } from "aurelia-framework";`

`export function configure(config: FrameworkConfiguration) {`
`  config.globalResources([`
`    PLATFORM.moduleName("##you valueConverter"),`
`    ##you can add more valueConverter## `
`  ]);`
`}`

add on main.ts or you file with aurelia.use this part:

`.feature(PLATFORM

[2019-12-01 12:25] bemon commented on #905
@brandonseydel any progress with storybook ?

[2020-01-23 09:42] ypkhub commented on #924
tyrstadfsadf

[2020-01-23 09:47] ypkhub commented on #924
sadfklasjdl;kfjkl;asdjl;kasdjkl;dfjskl;sdfjkljsdf

[2020-01-31 09:35] ypkhub commented on #905
asdfdfsa

[2020-02-17 11:43] akdnfbf opened #947 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/ulpu2gz

[2020-02-17 13:28] johnmanko commented on #947
And this is what happens when Microsoft buys GitHub.

[2020-02-17 17:15] helen773 opened #948 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/tza85ua

[2020-02-17 19:06] heken375 opened #949 "Wanna see my private photos?💋💋💋"
Hello!😻😻😻 Wanna see my private photos?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is pussycat18 👇👇👇

https://tinyurl.com/rupocj5

[2020-02-18 09:44] helen225 opened #950 "100$ for registration for everyone! 💰💰💰"
Register on this site and get $ 100! It's free!
👇👇👇

https://tinyurl.com/qq6hb9f

[2020-02-18 10:14] helen225 opened #951 "HOT STREAM WITH ME 💋💋💋"
HOT STREAM WITH ME 💋💋💋
👇👇👇

https://tinyurl.com/qq6hb9f

[2020-02-18 10:49] helen225 opened #952 "HOT STREAM WITH ME 💋💋💋"
HOT STREAM WITH ME 💋💋💋
👇👇👇

https://tinyurl.com/qq6hb9f

[2020-02-18 12:15] helen225 opened #953 "HOT STREAM WITH ME 💋💋💋"
HOT STREAM WITH ME 💋💋💋
👇👇👇

https://tinyurl.com/qq6hb9f

[2020-02-19 09:38] helena8823 opened #955 "MY HOT VIDEOS HERE 💋💋💋"
MY HOT VIDEOS HERE 💋💋💋
👇👇👇

https://tinyurl.com/v43x47t

[2020-02-19 17:16] kate5586 opened #959 "WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋"
WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋
👇👇👇

https://tinyurl.com/t46ja28

[2020-02-20 07:54] nika7732 opened #964 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://tinyurl.com/srmjb2y

[2020-02-20 14:15] KBABUB commented on #942
fghchcfghvcghcvghcvghgvchgf

[2020-02-27 19:57] gromovadarya90 opened #967 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-04-13 10:00] euglv commented on #798
Please add more info about `@processContent`, not only cool things. Please describe each function parameter (`compiler`, `resources`, `node`, `instruction`) and their members and how to use them.

[2020-04-13 23:26] bigopon commented on #798
@euglv thanks for pointing this out. I may have a go at this, unless someone else from our community wants to tackle it, since I guess it's pretty commonly used.

[2020-05-10 08:22] KSahithyan opened #971 "UI is not re-rendered when Set is used."
**I'm submitting a feature request**

* **Library Version:**
1.3.1
(But what is the library version? How to find it? 1.3.1 is Aurelia CLI version)

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
12.16.2

* **NPM Version:**
6.9.0

* **Aurelia CLI OR JSPM OR Webpack AND Version**
CLI 1.3.1 | webpack 4.43.0

* **Browser:**
Chrome 81 (81.0.4044.138)

[2020-05-10 11:26] bigopon commented on #971
For you main Q related to
[code]

It is how Aurelia works, nothing wrong with your extension. The expression `Array.from(classNames).join(' ')` will have only `classNames` property observed. Which means as long as the value of `classNames` hasn't changed, the binding to update `class` on the `<div/>` won't be updated. Note that mutation of an object/array/set/map doesn't count as property change.

[2020-05-11 02:06] KSahithyan commented on #971
Thank you for your response. I will test it out and get back to you soon.

[2020-05-11 02:52] KSahithyan commented on #971
I found another workaround to do this. Instead of using identities, I created a new Set and updated the classNames with it. So now, it is not a mutation and it works.

See it running here. (Click on the Hello World text to see it)
https://gist.run/?id=41630e04f1399a58fd693b8f7611c028

[2020-05-11 03:04] bigopon commented on #971
@KSahithyan yup, it works well that way too. So it's up to you, based on different situation/scenarios. Glad you got it work the way you want.

For reproduction of issues/bugs, I'd recommend this https://gist.dumber.app, it can be considered the successor of gist.run

[2020-05-11 04:01] bigopon commented on #971
@KSahithyan @EisenbergEffect I guess we can close this?

[2020-05-11 04:39] #971 closed

[2020-05-26 19:25] arturovt commented on #714
@EisenbergEffect

Hello. This would be a great addition and I guess it shouldn't be hard to implement for some core contributor.

The use case is a micro-frontend application that should be created and destroyed multiple times according to conditions (URL match or any DOM event, etc.).

I have tried what you proposed (calling `detached & unbind`), it invoked lifecycles hooks but didn't remove DOM

[2020-05-26 21:35] bigopon commented on #714
@arturovt can you help point out what's not disposed from your snapshot?

[2020-05-28 07:15] arturovt commented on #714
@bigopon

I've got such simple code. This is `index.ejs`:
[code]

And this is `main.ts`:
[code]

I actually could create a minimal reproducible example and push it to some GitHub repo, but I'm sure you understand what's going on here w/o a doubt.

It works. I mean if I click `mount` button then it will render an application and if I click `unmount` it will call lifecycle hooks and _unrender_ app.

[2020-05-28 11:11] bigopon commented on #714
Thanks for the detailed explanation. Currently we lack a teardown API in v1. I'd imagine such api works by providing a hook during configuration so that plugins can register their corresponding dispose functions:
[code]

Or, we can do it much simpler way, as the only thing that mis behave at the moment is the console appender, since it's quite a static API. Which means:
[code]

[2020-05-28 11:12] bigopon commented on #714
cc @fkleuver @EisenbergEffect We have this in v2 already, though pinging you just in case

[2020-05-28 11:26] arturovt commented on #714
@bigopon thank you very much, I will try it today after the job and will give feedback.

Btw `aurelia.stop()` seems like to be undocumented, I just googled it and searched through Aurelia API docs. That would be very helpful to expose it as a public API and add it to docs.

[2020-05-28 11:38] bigopon commented on #714
it's a new API, to be added if we decide to go with a new API. The API name comes from v2. In v2, it's designed for this very scenario, where you could start/stop multiple times repeatedly, confidentially, thanks to @fkleuver

[2020-06-22 01:27] weoreference commented on #905
@brandonseydel

[2020-06-22 01:55] weoreference commented on #774
I am wondering if anyone has made progress with this? Thank you

[2020-06-22 04:35] bigopon commented on #774
I've made good progress on v2, for v6+. You can have a try with the example here https://github.com/aurelia/aurelia/tree/nativescript/examples/au-ns in v2 repo. Though at the moment, I'm preparing for alpha and have put it on hold a bit.

[2020-06-22 06:32] weoreference commented on #774
@bigopon That is awesome, thank you, you are always so nice :)

I will try your demo

[2020-06-23 03:05] brandonseydel commented on #905
It is out already on NPM (au2). https://www.npmjs.com/package/@storybook/aurelia

[2020-07-02 12:43] pablicki opened #972 "G"

[2020-07-02 12:59] pablicki opened #973 "Msmd"

[2020-07-02 14:14] #973 closed

[2020-07-02 14:14] #972 closed

[2020-08-12 14:58] elimt commented on #905
@brandonseydel Any instructions on how to set this up?

[2020-08-19 06:13] jenslw commented on #905
@elimt I found an example on https://github.com/storybookjs/storybook/tree/master/examples/aurelia-kitchen-sink that I'll try out.

But some type of guide on how to set this up would be helpful. The `npx -p @storybook/cli sb init` command cannot detect the project type and manually setting the project type with  `npx -p @storybook/cli sb init --type aurelia` doesn't work too.

In https://github.co

[2020-08-19 14:02] brandonseydel commented on #905
@jenslw I will try to get a small guide set up and I will investigate the --type not working with SB

[2020-08-19 14:20] jenslw commented on #905
After experimenting a bit with the example aurelia-kitchen-sink, I found out that `@storybook/aurelia` works only with Aurelia 2 applications because it depends on the `aurelia` npm package used in new Aurelia 2 apps only. Is this correct?

[2020-08-19 14:21] weoreference commented on #905
Thank you @brandonseydel

[2020-08-19 16:21] brandonseydel commented on #905
Yes this is au2 only.

[2020-12-15 11:18] rcmosher commented on #688
I'm hitting this issue as well. the rename fix addressed it. I didn't need to make any changes to tsconfig.json. But it seems like this is still an open issue for anyone trying to do the tutorial with typescript.

[2020-12-18 21:58] roddharris opened #978 "Binding Engine seems to strip CR from text"
**I'm submitting a bug report**

* **Library Version:**
1.3.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
10.3.0

* **NPM Version:**
6.1.0

* **Aurelia CLI OR JSPM OR Webpack AND Version**
webpack@4.43.0

* **Browser:**
all

* **Language:**
TypeScript ^3.9.7

**Current behavior:**
When binding text that contains `\r\n` to `<textarea>`, the te

[2020-12-21 18:31] roddharris commented on #978
Based on conversations on Aurelia Discourse, I now realize this is normal HTML behavior and not a bug in the Aurelia framework.

[2020-12-21 18:31] #978 closed

[2020-12-26 13:05] googleoryx opened #979 "Component inheritance with bindings on the base doesn't work as expected"
**I'm submitting a bug report**

* **Library Version:**
[code]

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
12.7.0

* **NPM Version:**
6.14.8

* **Aurelia CLI OR JSPM OR Webpack AND Version**
I'm using Webpack
[code]

* **Browser:**
Chrome (maybe All)

* **Language:**
TypeScript 3.6.4

**Current behavior:**
I'm talking about normal components,

[2021-02-27 16:54] peterpolman commented on #714
@arturovt Thanks for your comment! It helped me with creating a teardown/unmount feature for [this package](https://www.npmjs.com/package/single-spa-aurelia-framework).

I ended up using the `Container` class to fetch the `Aurelia` instance outside of the `configure()` method while maintaining a clean scope.

[code]

[2021-02-27 18:57] vkiranmaniya commented on #905
@brandonseydel Any updates on Aurelia's storybook. I made few changes and it's opening storybook. unfortunately, It doesn't show up the example button component.

[2021-03-04 09:14] Infuser commented on #905
I am also interested in this.

I have managed to get the go ahead to use AU2 at my work against all odds but we need it working with storybook

[2021-03-29 09:12] Infuser commented on #905
@EisenbergEffect anyone have information on this I am trying to get storybook Aurelia2 working but it looks broken to me.

issues with typings and something about reflect metadata being imported twice

[2021-04-06 02:15] bigopon commented on #905
A commit that relax the strictness around metadata has been merged. Can you try again @infuser

[2021-09-13 11:20] PrasanKumar93 commented on #774
@bigopon , Does Aurelia v2 supports native script officially ? Can you share any integration docs which can be helpful !

[2021-11-10 15:36] #798 closed

[2021-12-03 13:43] FrantisekPostl commented on #859
Hi, can you explain why is template tag necessary?

[2021-12-03 15:12] FrantisekPostl opened #986 "Content of repeat for on tr tag rendered outside of tag"
**I'm submitting a bug report**

* **Library Version:**
aurelia-bootstrapper 2.3.3

**Please tell us about your environment:**
* **Operating System:**
Ubuntu 18.04.6 LTS

* **Node Version:**
14.16.0

* **NPM Version:**
6.14.11

* **Aurelia CLI OR JSPM OR Webpack AND Version**
CLI 2.0.3 |  webpack 5.64.2

* **Browser:**
Chrome 96.0.4664.45

* **Language:**
TypeScript 4.5.2

**Current behavior:**
Te

[2021-12-17 14:11] CiriousJoker commented on #986
Last real commit was ~2018, I doubt this issue will be fixed anytime soon.

[2021-12-18 20:42] bigopon commented on #986
Text is not a valid child of a tr element, it should be wrapped in a td. Can you try that?

[2021-12-28 13:33] crazy365966834 opened #987 "How to use aurelia in qiankun"
I need to use aurelia in [qiankun](https://qiankun.umijs.org/guide/tutorial)。 but no doc in tutorial of qiankun 。I really need help to solve this problem。
       Can someone give me a demo？
       Thanks very much!

      I've tried to test but failed  ,my code at https://github.com/crazy365966834/qiankun-demo.git。

[2022-01-06 13:31] johnmanko commented on #987
https://stackoverflow.com/questions/tagged/aurelia

[2022-01-19 02:35] Jody-Six opened #989 "Content editable div inside a parent div that has a mousedown event on it cannot be edited in Aurelia"
**I'm submitting a bug report**

* **Library Version:**
"aurelia-bootstrapper": "2.3.3",

**Please tell us about your environment:**
* **Operating System:**
OSX 10.0.19042

* **Node Version:**
v12.22.8

* **NPM Version:**
6.14.15

* **Aurelia CLI OR JSPM OR Webpack AND Version**
Local aurelia-cli v2.0.3

* **Browser:**
Chrome Version 97.0.4692.71 (Official Build) (64-bit)

* **Language:**
TypeScri

[2022-03-01 14:53] josundt opened #992 "npm audit warning for aurelia-framework - XSS vulnerability in default HTML sanitizer implementation"
**I'm submitting a security vulnerability audit report**

* **Library Version:**
aurelia-framework 1.3.1

**Please tell us about your environment:**
* **Operating System:**
Windows 11 (N/A)

* **Node Version:**
16.14.1 (LTS)

* **NPM Version:**
8.3.1 (LTS)

* **Aurelia CLI OR JSPM OR Webpack AND Version**
N/A

* **Browser:**
N/A

* **Language:**
all

**Current behavior:**
When installing Aurelia 1

[2022-03-16 11:03] bigopon commented on #992
Thank you for reporting this issue. We will be releasing a new minor version of the templating package, with a throw, instead of the current way of doing it. After that, we will be upgrading the min dependency requirement here.

[2022-03-29 16:12] Sayan751 commented on #992
@josundt The release is already out with v1.14.0: https://github.com/aurelia/templating-resources/releases/tag/1.14.0.

[2022-03-31 12:32] bigopon commented on #992
with `aurelia-framework@1.4.1` and `aurelia-templating@1.11.1` and `aurelia-templating-resources@1.14.0`, the reported vulnerability should be resolved.

Thanks @mroeling, @josundt for reporting & help resolving the issue & @Sayan751 for the discussion.

Though I'm not sure how we should actually make npm aware of this. @mroeling can you have a check and update the status?

[2022-03-31 17:21] mroeling commented on #992
Even though I'm happy to see this resolved, @bigopon are you sure you meant to tag me in here? :)

[2022-03-31 17:23] Sayan751 commented on #992
@mroeling I think that's because you are credited in the reported vulnerability: https://github.com/advisories/GHSA-m6j2-v3gq-45r5.

[2022-03-31 18:17] mroeling commented on #992
A, yes, I've contributed by adding I think the last line to the references :) Thanks for pointing that out. But I had nothing to do with the original findings. So no, I don't think I'm the appropriate person in this matter...

[2022-04-02 12:55] bigopon commented on #992
I've submitted a resolution at https://github.com/github/advisory-database/pull/175
Will update here.

[2022-04-06 12:32] bigopon commented on #992
It's been merged https://github.com/github/advisory-database/pull/175

This issue is resolved. Thanks everyone.

[2022-04-06 12:32] #992 closed

[2022-05-13 09:02] milkshakeuk commented on #992
@bigopon what's the official recommended way to fix the new error which is thrown is there a plugin you recommend for html sanitisation? I found this https://www.npmjs.com/package/@appex/aurelia-dompurify/v/0.5.0 but it's not been touched in a year.

[2022-05-13 11:31] bigopon commented on #992
@milkshakeuk you can do the following:
`main.js`
[code]

[2022-05-21 22:47] Alexander-Taran commented on #989
https://aurelia.io/docs/binding/basics#dom-events
Aurelia will automatically call [preventDefault()](https://developer.mozilla.org/en-US/docs/Web/API/Event/preventDefault) on events handled with delegate or trigger binding. Most of the time this is the behavior you want. To turn this off, return true from your event handler function.

you can `return true` from your mouse down handler or change `d

[2022-05-21 23:08] Alexander-Taran commented on #987
@crazy365966834
 I'd suggest going to forums : https://discourse.aurelia.io and looking for volunteers to help you integrate the two.
On the topic of microfrontends there are other solutions available
checkout: https://github.com/dumberjs/examples/tree/master/runtime-composition-aurelia

[2022-05-23 20:51] Alexander-Taran commented on #682
@ckotzbauer  can we close this?
seems like it never happened

[2022-05-24 04:39] ckotzbauer commented on #682
Yes, you can

[2022-05-24 18:54] Alexander-Taran commented on #721
Sort mutates the array
We either have to override it in framework as we do for splice, push etc..
or one has to assign new array to the observed variable

@bigopon
can close this

[2022-05-24 22:18] #989 closed

[2022-05-24 22:19] #987 closed

[2022-05-28 22:47] Alexander-Taran commented on #841
@MarcScheib looks like it never happened.
The two are different beasts I guess.

can you close this one?

[2022-05-30 10:53] Alexander-Taran commented on #784
@reeddunkle is this still relevant to you?
if not, please close the issue
And have a good day (-:

[2022-05-30 13:04] #784 closed

[2022-05-30 20:23] Alexander-Taran commented on #748
@bigopon should definitely be done to v2 docs (-:
How can I help?

[2022-05-30 21:13] Alexander-Taran commented on #860
@bigopon  can be closed.. maybe..

[2022-05-30 21:15] Alexander-Taran commented on #837
@bigopon maybe can be closed..

[2022-05-30 23:37] bigopon commented on #748
We'll need to check Gitbook documentation for this. If it doesn't support it we may need to do something (add some button at the end of the markdown ourselves, via a plugin) or use another product.

[2022-05-30 23:37] #748 closed

[2022-05-31 01:01] #837 closed

[2022-05-31 19:56] Alexander-Taran commented on #735
@bigopon this is an interesting one (-:

[2022-05-31 22:15] Alexander-Taran commented on #849
@3cp
[code]

[2022-06-01 00:52] bigopon commented on #735
All repo dists are bundled into a single file by now, and `files` are used. Src is still delivered for sourcemap purposes. I think it'll be better than where it was in this thread.

[2022-06-01 00:52] #735 closed

[2022-06-01 00:53] 3cp commented on #849
Tested with latest skeleton, the multiline comments are ignored as expected.

[code]

@bigopon can close this.

[2022-06-01 00:54] #849 closed

[2022-06-01 19:40] Alexander-Taran commented on #878
@bigopon can be closed

[2022-06-01 20:11] Alexander-Taran commented on #839
![image](https://user-images.githubusercontent.com/1029452/171492761-3df928e7-73ac-4e9f-9d10-81070be4ab2a.png)

[2022-06-02 02:58] #878 closed

[2022-08-12 03:44] jamesg1 commented on #992
Hi it is a bit disappointing this security fix has resulted in existing functionality to stop working without much warning. The docs also should provide the solution above to the error.

[2022-08-15 04:24] jamesg1 commented on #992
A typescript version for the above

[code]

[2022-08-15 04:38] bigopon commented on #992
Hi @jamesg1 , thanks for the suggestion. Glad you got it working for you. I'd also say that if you don't have any HTML from user, maybe no need to use a sanitizer.
For the doc, cc @Vheissu

[2022-10-18 14:18] jded76 opened #1003 "Many aurelia libraries are broken in iOS 16"
**I'm submitting a bug report**

* **Library Version:**
aurelia-bootstrapper: 2.3.3

**Please tell us about your environment:**
* **Operating System:**
OSX 16

* **Node Version:**
14.16.0

* **NPM Version:**
6.14.11

* **Aurelia CLI OR JSPM OR Webpack AND Version**
CLI 1.3.1 | webpack 4.46.0

* **Browser:**
iOS 16 Safari

* **Language:**
all

**Current behavior:**
After the new IOS 16, Safari has

[2022-10-18 22:39] bigopon commented on #1003
I'm not able to guess what has started to fail. `ownerDocument` suddenly becomes null seems to be an error on Safari part more than Aurelia. This probably is not specific to Aurelia, many others will start to fail as well. Does this happen only when you start navigating away from a page?

[2022-10-19 08:04] jded76 commented on #1003
I thought the same (that this is not specific to Aurelia) and I tried to find any issues with Safari 16 on other frameworks or whatever, but I couldn't find anything.
I just tested with a component (with if.bind) and it is not happening in the detached event.
So it seems you are right, it only happens when you are navigating to another page.

You can see this [repo ](https://github.com/jded76/aure

[2022-10-20 09:05] Tamu commented on #1003
I also have issues with Safari 16 too, but I'm not sure it's the same reason.

Here is my [repo](https://github.com/platform5/aurelia1-fast) (close to jded76 repo but with Fast)

and the bug in a nice animation :
https://user-images.githubusercontent.com/5020311/196905608-6971e194-df3c-4ef8-b0b2-fd86cc00b975.mp4

How can I help to find a solution???

[2022-10-20 09:12] bigopon commented on #1003
Thanks @Tamu, nice 🙂
I suspect this is the prevent default call that is causing the issue.  Can you try to returm `true` from inside the `emailChanged`?

[2022-10-20 09:37] Tamu commented on #1003
Awesome @bigopon, if I add `if.bind=true` in the component it works !

`<fast-text-field if.bind="true" type="text" value.bind="email" change.trigger="emailChanged()"></fast-text-field>`

On the other hand if I add `return true` in `emailChanded` it does not change anything

[code]

<img width="209" alt="image" src="https://user-images.githubusercontent.com/5020311/196914464-2dc43594-16b7-472f-952

[2022-10-20 09:55] bigopon commented on #1003
@Tamu can you help check the console to see if there is any errors for the one without if? Please paste the whole trace if possible.

[2022-10-20 10:09] Tamu commented on #1003
here is all the console log :

[code]

[2022-10-20 19:40] ben-girardet commented on #1003
Hi @bigopon and @Tamu

I confirm that there is a new issue with iOS 16 when observing properties in Aurelia 1. The `aurelia1-fast-adapter` that you helped me write a long time ago doesn't work anymore (only in iOS 16).

In the file [aurelia-fast-adapter.ts](https://github.com/ben-girardet/aurelia1-fast-adapter/blob/master/src/aurelia1-fast-adapter.ts#L141), in iOS 16 the `getObserver()` on line 14

[2022-10-21 15:40] jded76 commented on #1003
I searched further on the problem, and if I'm right (because I don't know the internals of aurelia) the problem is not at the detached event, but at the creation of the View.

I had a breakpoint at this [this line](https://github.com/aurelia/templating/blob/aaf3a00cb28af59021421f99e179dc9f60ce2d28/src/view-factory.ts#L479) (aurelia-templating - ViewFactory - create), hit refresh on the browser and

[2022-10-21 15:44] bigopon commented on #1003
@jded76 `this.template` can have `null` for `ownerDocument`, but after the `document.adoptNode` call, it should have the right `ownerDocument`. Can you check further after that?

[2022-10-21 15:51] jded76 commented on #1003
I saw that all the views have on fragment property the about:blank on Safari, even before the detached event. That led me there. I wanted to find why we have different behavior between Safari and Chrome. As you can see on Chrome has already the right document.

You can see here, after DOM.adoptNode the content is about:blank document
![AfterCom adoptNode](https://user-images.githubusercontent.com/

[2022-10-21 16:03] bigopon commented on #1003
@jded76 right, thanks. I guess you have replicated the bug. Safari 16 `document.adoptNode` when called on `DocumentFragment` stopped working the way it did before. Maybe it's time to file a bug with Safari/webkit team. I'm not sure where the place is.

[2022-10-21 16:06] bigopon commented on #1003
A test can be like this I think
[code]
With Safari 16, it'll fail while it'll succeed with Safari < 16

[2022-10-21 16:08] jded76 commented on #1003
I just found that the source has the right document, but the source.content has the wrong one at this [line](https://github.com/aurelia/templating/blob/aaf3a00cb28af59021421f99e179dc9f60ce2d28/src/view-compiler.ts#L101).

[2022-10-21 16:15] bigopon commented on #1003
That is expected, before `.adoptNode` call, it'll likely have a different owner document. If it still does after the `.adoptNode` call then that's the change/bug.

[2022-10-21 16:17] jded76 commented on #1003
Sorry this is the same behavior as in Chrome. Ignore my previous comment.
The problem is that after `content = DOM.adoptNode(source.content);` in chrome has the right ownerDocument but in Safari the wrong one.

[2022-10-21 16:48] jded76 commented on #1003
Actually the ownerDocument is not null, but an empty document (about:blank).
I created a fiddler [here](https://jsfiddle.net/j6duwkbt/).
In Chrome the console says "about:blank" and then "https://fiddle.jshell.net/j6duwkbt/show/?editor_console="
In Safari 16 the console says "about:blank" in both cases.
In Firefox the console says ""https://fiddle.jshell.net/_display/?editor_console=true"" in both

[2022-10-22 06:08] 3cp commented on #1003
Few investigations:

1.
https://github.com/aurelia/templating/blob/aaf3a00cb28af59021421f99e179dc9f60ce2d28/src/view-slot.ts#L335

For reference, I am able to bypass this issue if I manually modify the ViewSlot removeAll (this issue only used removeAll code path) method, to do detached() callback before child.removeNodes().

In other words, I tested calling detached() callback before the view is r

[2022-10-22 06:37] 3cp commented on #1003
https://bugs.webkit.org/show_bug.cgi?id=246899

[2022-10-22 07:47] bigopon commented on #1003
Thanks @3cp

[2022-10-22 08:42] jded76 commented on #1003
I'm still thinking about this.
I found this relevant [commit ](https://github.com/WebKit/WebKit/pull/2034) in webkit on July and if I followed the discussion correctly, they did this to be compatible with the standard (see the 3rd rule [here](https://dom.spec.whatwg.org/#dom-document-adoptnode))

Safari is the first major browser that supports that rule.

It look's like that this is not a bug of S

[2022-10-22 18:18] jded76 commented on #1003
Finally I'm getting somewhere for aurelia-kendoui-bridge, maybe for other libraries too that using jquery.

I changed this [line](https://github.com/jquery/jquery/blob/d0ce00cdfa680f1f0c38460bc51ea14079ae8b07/src/selector/contains.js#L5) from
`var adown = a.nodeType === 9 ? a.documentElement : a, bup = b && b.parentNode;`
to
`var adown = a.nodeType === 9 && a.documentElement ? a.documentElement :

[2022-10-22 22:39] 3cp commented on #1003
One not-so-great way to partially ignore the error. Only works for route component.

[code]

This swap order loads new route component before unloading old one. The exception still happens on the old component, error log still shows up in console, but it would not stop the new route from loading up.

[2022-10-22 23:20] 3cp commented on #1003
@bigopon, since @jded76 found out Safari is likely following the updated spec. There is no much we can do about it.

https://github.com/aurelia/templating/blob/aaf3a00cb28af59021421f99e179dc9f60ce2d28/src/view-compiler.ts#L104

I tested replace the adoptNode with importNode, it works.

[code]

Obvious the deep clone has performance penalty, but it seems necessary to be compatible with updated spec

[2022-10-23 07:50] jded76 commented on #1003
I'm not sure that aurelia will have a problem with the change of the spec.
I made this [repository](https://github.com/jded76/Safari16-vanilla-js) so you can test with vanilla js.

You can see (with Safari 16+) that the template and the template.content have an empty ownerDocument, and I think this is right because they don't belong to the main document.
But after you add the template to main docu

[2022-10-23 08:59] 3cp commented on #1003
@bigopon I recall you have some benchmark setup? if `importNode` didn't hurt performance too much, it might be a good enough fix.

[2022-10-23 09:11] jded76 commented on #1003
If [this ](https://stackoverflow.com/questions/34963872/differences-between-adoptnode-and-importnode) is right, then if we change to `importNode`, we must change the remove process too.
As it is now (and if I understand it correctly), it's adding the removed elements back to template fragment again. If 'importNode' is not removing them from the beginning then we must change the remove process too.

[2022-10-23 09:15] jded76 commented on #1003
And I think if we change the remove process to just remove the elements from the current view (and not adding them back to the template), then we will have the same problem, that the elements don't have an ownerDocument

Or maybe even worse, that the elements don't exist any more on the detached event?

[2022-10-23 09:52] 3cp commented on #1003
https://bugs.chromium.org/p/chromium/issues/detail?id=1031811
https://bugzilla.mozilla.org/show_bug.cgi?id=1602200

It seems both Chrome and Firefox are still waiting for some further spec change. https://github.com/whatwg/dom/pull/819

There is new option forceDocumentFragmentAdoption mentioned in the pending change.

[2022-10-23 09:54] 3cp commented on #1003
From my limited understanding, au1's remove process only returns view to a cache (which is just a simple JS array to hold those views).

[2022-10-23 09:59] 3cp commented on #1003
Also, it's little bit unusual for DOM spec to introduce a breaking change.

[2022-10-23 10:01] jded76 commented on #1003
I'm not sure but when I was searching, I have shown [this](https://github.com/aurelia/templating/blob/aaf3a00cb28af59021421f99e179dc9f60ce2d28/src/view.ts#L297) and I thought that is the removal process.

I have shown that too, the request of the change is two years old but I couldn't follow them...

[2022-10-23 10:33] 3cp commented on #1003
I think you are right :-) I didn't read these lines.

[2022-10-24 06:59] 3cp commented on #1003
webkit team is doing something on that. I don't quite understand the details, but it seems they think the bug I raised is a valid bug.

🤞🏻

[2022-10-24 08:15] bigopon commented on #1003
Thanks @3cp @jded76 🤞  . We have a way around it, which is around the template parsing time: immediately import the fragment after creating the template from a string. And perf won't be an issue here since we are never going to compile 10000 times per second.
Though I'd really prefer if the DOM wasn't broken this way, we are probably not the only will be affected by this change.

[2022-10-25 22:30] 3cp commented on #1003
Too bad, webkit closed the ticket as "intentional behaviour" :-(

[2022-11-05 12:09] jded76 commented on #1003
It looks like that the change of the specs is stuck without any updates and we have to figure out what we have do to be compatible with Safari again...
Personally I changed locally the jquery script and removed the aurelia-resize library and it seems the application is working again with Safari.
But I still don't know if will have other hidden problems elsewhere.
@bigopon do you think that this ch

[2022-11-05 12:32] bigopon commented on #1003
Maybe we can have a snippet to let apps temporary patch it until further action from the spec and Safari? Then apps can use it to verify whether it's a bug from this change or not. I'm a bit afraid of doing any "fix" for this right now, before a resolution in the spec.

[2022-11-05 12:38] jded76 commented on #1003
I agree with that, that's why I asked your opinion if this affects the core functionality.

About the snippet and the patch, i can't follow you. What do you mean?