[2016-09-12 17:52] DerAlbertCom commented on #227
after gaving up  on that issue, trying moving to aurelia-cli (which has other problems, and does not worked out yet). i gave this a shoot. first check, the App in Up and Running in Edge. Thank you. But we have not tested it.

[2016-09-12 18:06] AStoker commented on #227
Wish we had that a few weeks ago! :D
We've moved to the Aurelia CLI, and although it's promising, it's not quite at the same place that we had SystemJS (I'm working on getting a few of those features implemented). Glad to hear that there was some fix, and at least a source to the problem was found (theoretically).

[2016-09-13 09:12] tmkn opened #600 "Multiple enhance() calls fail every 2nd time."
**I'm submitting a bug report**

* **Library Version:**
1.0.0-rc - TypeScript Skeleton Template

**Please tell us about your environment:**
* **Operating System:**
Ubuntu 15.10

* **Node Version:**
6.3.1

* **NPM Version:**
3.10.3

* **JSPM OR Webpack AND Version**
JSPM 0.16.45

* **Browser:**
all

* **Language:**
TypeScript 2.0

**Current behavior:**
I use Aurelias Custom Elements to augment an e

[2016-09-13 09:45] Gheoan commented on #600
There is a PR related to the au-target class: https://github.com/aurelia/templating/pull/455, but I don't think that fixes this issue.

[2016-09-13 10:45] tmkn commented on #600
No it doesn't fix the issue, I changed it locally, it was just something that I noticed in the DOM while I investigated the issue so I thought I would mention it.

[2016-09-13 15:35] CD-UNCC opened #601 "Every view loads another CSS file to be enforced site wide causing conflicts"
**I'm submitting a bug report**

* **Library Version:**
Aurelia-CLI 0.17.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
4.4.0

* **NPM Version:**
3.9.5

* **Browser:**
Chrome Version 53.0.2785.101 m

* **Language:**
ESNext

**Current behavior:**
For every view visited Aurelia inserts that pages CSS rules into the head tag of the index.html. Af

[2016-09-13 15:37] EisenbergEffect commented on #601
The style system in Aurelia is pluggable. I suggest you look into using CSS Modules. There is a plugin for it. You can see how it works here: https://github.com/bryanrsmith/aurelia-binding-loader#css-modules-example

[2016-09-13 15:37] #601 closed

[2016-09-13 17:35] CD-UNCC commented on #601
We spoke very briefly in Gitter about this and you recommended this before. It does not appear to be compatible with Aurelia-cli projects. Vendor-Bundle.js will append '.js' to the CSS file when it makes it's GET call then later throws a requireJS error. The overall result is an error 404 and an uncaught exception.

I don't understand why this plugin would be applicable to my problem even if it wo

[2016-09-14 03:01] guilhermewaess commented on #563
Are you using layouts?
I have the same problem, but with attached() <- attached() never calls when I using layouts :(

[2016-09-14 07:43] alpox commented on #563
Seems to be a duplicate of https://github.com/aurelia/templating-router/issues/34

[2016-09-14 22:38] jpray opened #602 "@transient does not appear to work for custom elements"
**I'm submitting a bug report**
* **Library Version:**
1.0.0

**Please tell us about your environment:**
* **Operating System:**
OSX 10.11.2

* **Node Version:**
0.4.0

* **NPM Version:**
3.8.9

* **JSPM OR Webpack AND Version**
JSPM 0.16.38

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
@transient on a custom element doesn't cause it to be created/destroyed using `if.bind`

**

[2016-09-14 22:48] forest commented on #587
@Zensavona any progress on this. I am having the same issue. I found that if I comment out the `applyMiddleware` code it works fine. I can call `createStore` with a basic reducer, but when I try to `applyMiddleware` I get the `No view model found in module` error.

[2016-09-14 22:55] forest commented on #587
@Zensavona this isn't redux specific. I think it has something to do with webpack. I removed the `applyMiddleware` and then ran into the same issue with some firebase initialization code.

[2016-09-14 22:57] StrahilKazlachev commented on #602
This has nothing to do with the `@transient` decorator but how the `if` attribute works. Custom elements are transient by default and not so easy to make otherwise.

[2016-09-14 23:32] jpray commented on #602
Okay, thanks.  If you don't mind me asking, I have two follow up questions.

1. If custom elements are transient by default, would you agree the documentation I referred to should be updated or removed since the @transient in that example isn't  doing anything.

2. Is there a way besides compose and router-view to make a custom element be destroyed and recreated when a bindable value changes?

[2016-09-14 23:44] EisenbergEffect commented on #602
Custom element lifetime is controlled by the View itself.

[2016-09-14 23:44] #602 closed

[2016-09-14 23:44] EisenbergEffect commented on #602
Using `compose` lets you take control as you desire.

[2016-09-14 23:49] Zensavona commented on #587
@forest my issue was to do with Redux Devtools, if you check line 38 of `configureStore.js` in my repro repo you'll see `window.devToolsExtension ? window.devToolsExtension() : null`.

In fact it should have been `window.devToolsExtension ? window.devToolsExtension() : f => f`. Aurelia was just swallowing the error.

I guess this can be closed, swallowing errors like these is far from ideal behavi

[2016-09-14 23:49] #587 closed

[2016-09-14 23:53] StrahilKazlachev commented on #602
@jpray About 1. - the example isn't using a custom element, so without `@transient` `CustomerDetail` will be registered as `singleton`.

[2016-09-15 00:01] forest commented on #587
Thanks for the update.
On Wed, Sep 14, 2016 at 4:50 PM The Software Engineer Formerly Known As Zen
<notifications@github.com> wrote:

[2016-09-15 00:18] EisenbergEffect commented on #587
@Zensavona I'll close this for now. If you can locate a place where we can put some error handling code in Aurelia itself to report the error, let us know.

[2016-09-15 00:44] jpray commented on #602
Thanks @EisenbergEffect and @StrahilKazlachev.

I was hoping to avoid compose but I'll chew on this for a while and work on some more gists.  I think there might be a feature request coming soon to normalize the lifecycle methods between a regular viewModel/custom element/router-view/compose.  It seems that any view/viewModel pair should be able to be developed on its own without having to be spec

[2016-09-16 19:46] itsfelipesan opened #603 "Why Can't I get the value from a Promise?"
I have this service in order to simulate somethings:

[code]

And this is my component:

.ts

[code]

.html

[code]

I want to show the component login if isLogged is false and the component timeline if isLogged is true, but I's not working, because isLogged has no value.

What am I doing wrong?

[2016-09-16 19:49] AshleyGrant commented on #603
Please post support questions to Stack Overflow as mentioned in the issue template.

[2016-09-16 19:54] #603 closed

[2016-09-17 13:18] geleto opened #604 "$index should be a number, not a string"
* **Library Version:**
1.0.3

It seems that when I do value.bind("$index") the value is bound to a string of the index.
Which can sometimes cause confusion, for example, see this gist:
**https://gist.run?id=4bf7ef1466a13a03b9966114f17cacf2**

For the first drop-down I have a number property which is bound to a `<select>` value, and each `<option>` value is bound to `$index`. I think this does not

[2016-09-17 15:11] jdanyow commented on #604
An HTMLOptionElement's value attribute will coerce anything it's assigned to a string (as will an HTMLInputElement's value attribute).

A string interpolation binding (`${.....}`) will also coerce values to a string, replacing null and undefined with empty-string.

Check out the binding docs for the `<select>` element. There a bunch of samples demonstrating data-binding to various data-types.

[2016-09-17 15:11] #604 closed

[2016-09-18 17:13] atsu85 commented on #333
@utrolig, regarding Your sample project structure with scss files next to each component. Are You manually scoping the scss content so it would affect only that specific component or have You automated it using build pipeline to do smth like
1) extract style elements from Aurelia custom element templates
2) wrap the extracted styles with custom element tag name (to scope the styles to specific cus

[2016-09-18 18:14] komalkamble opened #606 "not able to run an application( skeleton-typescript-webpack )"
Node = 6.6.0
npm = 3.10.7

[default] Checking started in a separate process...
[default] /home/komal/skeleton-navigation-1.0.0/skeleton-typescript-webpack/custom_typings/aurelia-protractor.d.ts:17:36
    Cannot find name 'Locator'.
[default] /home/komal/skeleton-navigation-1.0.0/skeleton-typescript-webpack/node_modules/protractor/built/index.d.ts:6:9
    Export declaration conflicts with exported

[2016-09-18 18:16] AshleyGrant commented on #606
Please submit support requests to Stack Overflow as explained in the issue template. Thank you.

[2016-09-19 06:38] hadrienl commented on #333
@atsu85 I don't really understand the goal of your asking… It will only works once since my-demo-ce.html will have its style tag removed and you'll have to write your scss file. So, what you're asking for is just a way to automatically create the scss file when you create the html file, a task which is very simple to do manually…

[2016-09-19 08:59] utrolig commented on #333
@atsu85 I haven't done anything custom in regards to scoping/encapsulation of the styles.. I just make sure to name my styles to avoid issues.

So for example sub-page.scss would have all it styles called

.sub-page-header
.sub-page-element
.sub-page-element-header
.sub-page-element-body

[2016-09-20 01:07] wasimf opened #607 "Chrome latest updates leads for app Ui freeze"
Please take a look on this crazy bug :
http://stackoverflow.com/questions/39560883/repeat-for-binding-hangs-with-latest-chrome-version/39580811#39580811

[2016-09-20 05:13] kevmeister68 commented on #164
@EisenbergEffect, can you confirm that your commit from Aug 4 actually fixed the problem concerning rebinding the ref when the view is re-bound?

[2016-09-20 12:58] EisenbergEffect commented on #164
@kevmeister68 It should have, yes. However, there have been more changes made to the ref binding command since last year. Are you having an issue? If so can you create a new ticket on Github and cc @jdanyow on that. If there's an issue, he's the best person to track it down.

[2016-09-20 16:56] jdanyow commented on #164
@kevmeister68 looks like it's working: https://gist.run/?id=cae35b0bfd7510d797e8e0ef88b4af2c

[2016-09-21 06:09] huochunpeng opened #609 "contact-manager-tutorial.md needs to be updated around $parent, which is not needed in current Aurelia version."

[2016-09-21 09:34] ah1508 opened #610 "Properties defined in app.js are not always visible for second level child views"
**I'm submitting a bug report**

* **Library Version:**
1.0.0

**Please tell us about your environment:**
* **Operating System:**
Linux Unbuntu

* **Node Version:**
6.2.2

* **NPM Version:**
3.6.5

* **JSPM Version**
JSPM 0.16.45

* **Browser:**
Chrome 49, Firefox 47

* **Language:**
ESNext

* **Other:**
local server : browserSync + connect-history-api-fallback

**Current behavior:**
With a child

[2016-09-21 12:39] EisenbergEffect commented on #610
2nd level views don't have access to their parent view model. That is by design in order to encapsulate views and prevent unnecessary structural coupling. If you need access to the App class, you can have it injected into the child component. That makes the relationship explicit and is considered a better practice.

[2016-09-21 12:39] #610 closed

[2016-09-22 08:06] fgambino commented on #427
I don't think the feature dependencies should be configured in the router. Let's say you configure a route to load feature A upon navigation, and feature A requires feature B in some way. Does that mean we must also specify B in the route config?

If features are always sub folders, could `<require>` be extended to call all the registered features above the required file's directory? For example,

[2016-09-22 10:52] mariajplmiranda opened #611 "Bind across templates"
At app.html I'm drawing a breadcrumb
<breadcrumb></breadcrumb>

Breadcrumb template
[code]

Now, I would like to define a different value for "breadcrumb" property for each page. But I would prefer to call the breadcrumb template only once, at app.html.
[code]

How can I achieve this?

[2016-09-22 12:18] Thanood commented on #611
I guess you could use `@useView('path/to/breadcrumb/template.html')` in both view models.

[2016-09-22 12:41] EisenbergEffect commented on #427
@fgambino We don't want to try to hack the module loader. However, we can enable the actual lazy load in various ways. What we would do is create a core capability to enable that and then expose it through a few different places: route config, require elements, etc.

[2016-09-22 12:46] EisenbergEffect commented on #611
Github is for bugs and feature request. The best place for questions is Gitter or Stack Overflow.

[2016-09-22 12:46] #611 closed

[2016-09-22 14:48] fgambino commented on #427
Thanks for the clarification!

[2016-09-26 04:24] EisenbergEffect commented on #609
Actually, $parent is required for one of the bindings but not the other. We're investigating this because there may be a bug. We'll update the docs or fix the bug or both after we investigate a bit further.

[2016-09-26 04:40] EisenbergEffect commented on #607
Appears to be a CSS issue unrelated to Aurelia. Chrome is implementing some new houdini features so perhaps they had some regressions related to that.

[2016-09-26 04:40] #607 closed

[2016-09-26 04:44] EisenbergEffect commented on #606
Closing since OP should post to SO or Gitter.

[2016-09-26 04:44] #606 closed

[2016-09-26 11:35] jdanyow commented on #599
String interpolation binding always converts the result of a binding expression to a string. In this context, developers always want `null` or `undefined` to be presented as empty-string.

Attribute binding can be used for all sorts of types: objects, numbers, strings, dates, etc.  It would be very confusing if the binding system coerced values to strings. It's already confusing enough for develop

[2016-09-26 11:35] #599 closed

[2016-09-26 11:36] #597 closed

[2016-09-26 11:47] #582 closed

[2016-09-26 11:50] jdanyow commented on #526
closing, SO post was answered.

[2016-09-26 11:52] jdanyow commented on #498
is this a mobile safari issue or desktop safari?

http://stackoverflow.com/a/13492999/725866

[2016-09-26 11:53] #510 closed

[2016-09-26 11:59] jdanyow commented on #537
This is working: https://gist.run/?id=3cd5f3bc07dda58e058f5b64f57f1ffd

[2016-09-26 11:59] #537 closed

[2016-09-26 12:03] jdanyow commented on #588
Issue moved to [aurelia/router #410](https://github.com/aurelia/router/issues/410) via [**ZenHub**](https://www.zenhub.com/)

[2016-09-26 12:03] #588 closed

[2016-09-26 12:04] jdanyow commented on #563
Issue moved to [aurelia/router #411](https://github.com/aurelia/router/issues/411) via [**ZenHub**](https://www.zenhub.com/)

[2016-09-26 12:04] #563 closed

[2016-09-26 12:04] #503 closed

[2016-09-26 12:04] jdanyow commented on #503
Issue moved to [aurelia/router #412](https://github.com/aurelia/router/issues/412) via [**ZenHub**](https://www.zenhub.com/)

[2016-09-26 12:07] jdanyow commented on #506
Issue moved to [aurelia/cli #341](https://github.com/aurelia/cli/issues/341) via [**ZenHub**](https://www.zenhub.com/)

[2016-09-26 12:07] #506 closed

[2016-09-26 12:12] jdanyow commented on #522
need to add this to the router documentation:  when using multiple viewports, each route must specify a module for each of the viewports.

[2016-09-26 12:12] #522 closed

[2016-09-26 12:13] jdanyow commented on #522
Issue moved to [aurelia/router #413](https://github.com/aurelia/router/issues/413) via [**ZenHub**](https://www.zenhub.com/)

[2016-09-26 12:16] #276 closed

[2016-09-26 12:49] eblancperso commented on #498
Desktop Safari!

[2016-09-26 12:57] jdanyow commented on #498
The issue report says windows 10- is that a typo? There's no safari for windows anymore.

[2016-09-26 13:00] eblancperso commented on #498
Yep, that was I typo! Sorry

[2016-09-26 14:31] AshleyGrant commented on #556
@jdanyow would you mind looking at this and the linked issue above? @ricbermo contacted me from reddit about this issue.

[2016-09-27 01:11] xenoterracide commented on #526
I believe I answered it before creating this ticket, it simply includes the sample code/process leading up to this. So that really doesn't resolve the issue of parameter binding being willing to create an object for the view model, thus possibly instantiating an improper type.

[2016-09-27 02:09] jdanyow commented on #526
@xenoterracide please put together a reproduction of the issue using the aurelia gist and we'll look into it: https://gist.run/?id=7542e061bc940cde506b

[2016-09-27 03:41] #609 closed

[2016-09-27 11:08] trenneman commented on #369
@EisenbergEffect -- are you sure it has been fixed? Using the latest aurelia packages I get a `Failed: asynchronous script timeout: result was not received in 30 seconds` when testing the **bundled** app:

[code]

When I run the same e2e test on the **unbundled** version, all tests are successful.

---

Leaving the `browser.waitForRouterComplete()` out of the `beforeAll` makes the tests pass for t

[2016-09-27 11:38] xenoterracide commented on #526
So the problem is super obvious in Javascript, is there a way to make the gist in typescript?

I mean the issue is that the view will create an object for you, and so if you have methods on your object, they will not be available if you don't instantiate your object yourself. With Typescript, the compiler is "You have a type it has method" in the debugger "you have an object, in the spot where the

[2016-09-29 22:19] doublemarked commented on #541
The babel guys (from the Issue link above) seem to disagree that it's a Babel issue, referencing semi-recent changes to TC39?

[2016-09-29 22:35] EisenbergEffect commented on #541
@doublemarked Can you get a link to the latest spec and find out what the change was?

[2016-09-30 05:12] EisenbergEffect commented on #600
@tmkn You cannot enhance the same dom subtree more than once. That would cause problems. Is that what you are doing? Can you confirm?

[2016-09-30 08:00] doublemarked commented on #541
@eisenbergeffect I don't know where this is in the spec, but I believe this discussion here is highly relevant: https://github.com/tc39/proposal-class-public-fields/issues/36

@doktordirk started discussing with them there as well but things seem to have stalled.

Anyways - I don't feel informed enough to determine whether it's a problem in Aurelia or in Babel, but I encountered the problem last n

[2016-09-30 08:58] tmkn commented on #600
@EisenbergEffect Yes, that's actually what I do, however the stacktrace that I posted in the opening post only happens if there is a HTML only component somewhere.

If there are no HTML only components (all have a class and template) then they will get re-instantiated just fine by just calling `enhance()` over and over again. Although if you look at the html, the components all then have multiple

[2016-09-30 09:44] doktordirk commented on #541
here's a fix:
[code]

usage:`
[code]

[2016-09-30 11:54] tmkn commented on #600
well, I just tried it with arguments but it seems like on the very first enhance, the dom subtree is saved and used for every other enhance call, so if there's something like this:
[code]
and the first enhance call specifies `sub1` to instantiate `custom-component1` then  any enhance call for `sub2` will silently fail as `sub2` is not part of the `sub1` dom sub tree and is ignored.

I guess it has

[2016-09-30 15:52] EisenbergEffect commented on #600
Please try using the templating engine's enhance method. The aurelia enhance method is designed to be called oncej per application vs. the templating engine, which can be called multiple times. In either case though, you cannot enhance html that has always been enhanced because that will cause the dom node to live inside multiple view instances simultaneously and those views will then conflict ove

[2016-09-30 15:52] #600 closed

[2016-09-30 21:49] tmkn commented on #600
Isn't then the enhance functionality very limited if you're only supposed to fire it off one time?
I think the vast majority of people who would want to go this route want to instantiate their components one at a time because they already have some spa/ajax mechanism in place and want to use aurelia  components in multiple places?
I mean I wanted to when I read about the `enhance` functionality in

[2016-10-01 00:36] EisenbergEffect commented on #600
You can use enhance as many times as you want, you just need to use the right version. The api on the Aurelia object is for a single application enhance event, in place of using the setRoot api. You use one or the other, but not both. If you need to manually enhance parts of the dom, and do it multiple times, then you use the enhance api on the templating engine itself. But you don't want to "re-e

[2016-10-01 13:16] jdanyow commented on #600
@tmkn would you mind putting together a gist that demonstrates what is not working: https://gist.run/?id=7542e061bc940cde506b

This will enable us to get to the bottom of this very quickly, and can be the basis for the unit tests we'll write if there's a bug-fix required.

[2016-10-01 13:21] jdanyow commented on #593
@SidKH would you mind putting together a gist that demonstrates what is not working: https://gist.run/?id=7542e061bc940cde506b

This will enable us to get to the bottom of this very quickly, and can be the basis for the unit tests we'll write if there's a bug-fix required.

#600

[2016-10-01 18:21] atsu85 opened #616 "doc: Comparison with Other Frameworks"
**I'm submitting a feature request**
Document Comparison with Other Frameworks.

**Current behavior:**
Aurelia documentation doesn't include any comparison with other frameworks.

**Expected/desired behavior:**
Aurelia documentation should compare Aurelia with other frameworks.

* **What is the motivation / use case for changing the behavior?**
Vue.js has created great comparison from its own pers

[2016-10-01 21:14] atsu85 commented on #616
Note, I've also created an [issue to Vue repo to have Aurelia in their comparison](https://github.com/vuejs/vuejs.org/issues/432) next to other frameworks

[2016-10-03 04:03] EisenbergEffect commented on #593
Please use the templating engine's enhance to specifically target individual elements that you want to enhance when you are doing this multiple times.

[2016-10-03 04:03] #593 closed

[2016-10-03 11:23] tmkn commented on #593
@EisenbergEffect Can you provide a code snippet of how to best access the TemplatingEngine for this use case?
[code]
I'm using the TypeScript skeleton btw
thx

[2016-10-03 14:34] EisenbergEffect commented on #593
I'm honestly not sure what you are trying to do. The code above is where you would use the aurelia object's version, but if you want to enhance new elements at a later time, you would use the templating engine on those elements.

Additionally, I would like to understand why you are trying to do this. I can only think of one or two valid reasons. Most people do this because they don't realize there

[2016-10-03 22:36] SidKH commented on #593
Thanks for the answers, I've already used the templating engine enhance to solve this problem.
And about my reasons to do this. I have an existing application in production which was built in a terrible way with jQuery plus Angular and what I want is to refactor it component by component in Aurelia. And to do it I need a possibility to enhance several elements on the page.

[2016-10-03 22:37] EisenbergEffect commented on #593
Got it. Glad you got it sorted. Perhaps you would be interested in contributing something to our docs to help future developers?

[2016-10-04 01:54] Rleahy22 commented on #225
I was hoping to help out with this, but the pr opened against this issue was closed due to "cleaning of the code we have to do. The cleaning relates to issues with the output of the Babel transpiler."  Is there an issue tracking this cleaning or any specifics around what this cleaning entails that would allow work to be done here?

[2016-10-04 08:22] tmkn commented on #593
Well, actually the same thing @SidKH is trying to do, refactor existing webapp component by component.
The code sample is just the one from the docs for progressive enhancement. However as pointed out I need to use the templating engine but idk what my startup code needs to look like.

[2016-10-04 12:08] evrenesat opened #623 "In contact-manager tutorial, code samples shows only TypeScript"
No matter what I select, code samples of the contact-manager app tutorial showing only TypeScript version.

[2016-10-04 13:09] SidKH commented on #593
@EisenbergEffect of course. I'm on vacation currently without access to my notebook, but as soon as I return I will create a PR with additional information on how you can enhance several components with template engine.

[2016-10-04 13:46] EisenbergEffect commented on #623
We've got this tracked as a bug elsewhere. Apologies for the confusion!

[2016-10-04 13:46] #623 closed

[2016-10-04 13:48] EisenbergEffect commented on #593
@SidKH Great! That would be a huge help to the community and a very nice contribution credit :)

[2016-10-05 04:22] EisenbergEffect commented on #556
@charlespockert We've had a couple of people report this issue. Since you did the original work to enable the layouts, would you be willing to look into this bug and attempt to fix it?

[2016-10-05 21:50] abeam-intricity commented on #400
I'm facing this issue, as well. Any updates? Thanks!

[2016-10-06 16:14] inhuman-programmer opened #625 "Error when importing files"
**I'm submitting a bug report**

* **Library Version:**
"aurelia-cli": "^0.20.1"

* **Operating System:**
Windows 10

* **Node Version:**
6.2.0

* **Language:**
Typescript + Sass

**Current behavior:**
When importing a js dependency in order to inject it later, Visual studio recognises the file whereas gulp says file not found and throws an error. Not the case when a file is from mode modules

**E

[2016-10-06 16:56] inhuman-programmer commented on #625
I replaced rpi.js with rpi.ts and it fixed the problem.

[2016-10-06 16:56] #625 closed

[2016-10-07 19:31] JoshMcCullough opened #629 "Plugin config should support promises."
**I'm submitting a feature request**

* **Library Version:**
1.0.0-rc.1.0.0

**Please tell us about your environment:**
* **Operating System:**
n/a

* **Node Version:**
n/a

* **NPM Version:**
n/a

* **JSPM OR Webpack AND Version**
JSPM 0.16.32

* **Browser:**
n/a

* **Language:**
n/a

**Current behavior:**
Plugin configuration callbacks are expected run synchronously.

**Expected/desired behavior

[2016-10-07 19:53] JoshMcCullough commented on #629
Moved this to `aurelia-configuration` since it looks like the framework _should_ support this workflow as long as the plugin returns a promise from its `configure` function.

https://github.com/Vheissu/aurelia-configuration/issues/73

[2016-10-07 19:53] #629 closed

[2016-10-09 08:59] atsu85 commented on #600
@jdanyow,

I think he did exactly that and mentioned it in the first isssue comment:

https://gist.run/?id=2d137c4d2c5aa1080ee2ad130bbae042

[2016-10-09 10:51] atsu85 commented on #600
@EisenbergEffect, out of curiosity I tried to follow Your suggestion with [this gist](https://gist.run/?id=c59eed72e1c255b8f462c1d45e495a7a), that uses
[code]
instead of `aurelia.enhance()`, but I experience pretty-much the same as described by @tmkn .

In this case every second time `instruction` is `undefined` in `applyInstructions` and [it](https://github.com/aurelia/templating/blob/7693dbd65e5

[2016-10-09 10:56] atsu85 commented on #600
The workaround (that seems to work in this simple case) would be to manually remove `au-target` classes from enhanceable element before calling `templatingEngine.enhance(enhanceableElement)` - @EisenbergEffect, @jdanyow, I'm not sure this is how it should be, **so without deeper knowledge, I'd still consider this a bug**, even if my workaround works as expected.

[2016-10-13 12:04] sousekd opened #633 ""css" attribute seems to be ignored on <textarea>"
**I'm submitting a bug report**

* **Library Version:**
1.0.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

**Current behavior:**
"css" attribute seems to be ignored on `<textarea>`

**Expected/desired behavior:**

1) add `<textarea css="color: blue">` and `<textarea style="color: blue">` to a template
2) open in browser - the one with "style" attribute "works", t

[2016-10-13 21:20] stevenvachon commented on #65
Why do we need JSPM? I tried using [](https://www.npmjs.com/package/babel-plugin-transform-es2015-modules-commonjs), but it's still producing:

[code]

[2016-10-14 04:29] EisenbergEffect commented on #633
@jdanyow Can you check this out?

[2016-10-14 10:06] jdanyow commented on #633
this is https://github.com/aurelia/templating-resources/issues/237

need to use `css.bind` or the `style` attribute directly if there's no data-binding in the attribute.

[2016-10-14 10:06] #633 closed

[2016-10-14 19:17] ghithub commented on #74
I feel like startups like to mess with those _fancy fresh-looking_ JavaScript front end frameworks/libraries. There are so many in the market, most of them don't last long. So, my suggestion is: Stay with mature, mainstream technologies, use native JavaScript or jQuery. Observe a new framework/library for a couple of years before you decide to use it in your project.

[2016-10-18 06:07] geleto opened #637 "@observable does not work when used with reflect-metadata polyfill and TypeScript"
- **Library Version:**
  1.0.7
- **Browser:**
  Chrome
- **Language:**
  TypeScript

When using the [reflect-metadata](https://www.npmjs.com/package/reflect-metadata) polyfill in a TypeScript project - the @observable decorator does not work, the callback is never called. If I use @bindable instead, or use an ЕSNext project - everything works properly.
While there looks to be a reflect polyfill in

[2016-10-18 16:46] daveroberts opened #638 "Converter doesn't detect change within object"
**I'm submitting a bug report**

* **Library Version:**
1.0.7

* **Operating System:**
Linux (CentOS 6)

* **Node Version:**
6.8.1

* **NPM Version:**
3.10.8

* **JSPM OR Webpack AND Version**
webpack 2.1.0-beta.22

* **Browser:**
Firefox 45.4.0

* **Language:**
ESNext

**Current behavior:**
In a view model, I bind to a property on an object

[code]

When the user types into the input box, the con

[2016-10-18 17:38] EisenbergEffect commented on #638
Binding expressions only watch for changes in referenced properties. If you bind to myobj, you are telling us to watch for changes in the myobj property, not changes in all it sub properties. That is something we recommend avoiding if you want your application to perform well. If you nee this type of behavior, you would need to leverage the Binding Engine directly to observe whatever properties on

[2016-10-18 17:38] #638 closed

[2016-10-18 17:53] daveroberts commented on #638
In Angular 1, you could write:

[code]

And your page would show the JSON representation of the object, continually updated.  Doing this is very helpful while writing an application, and you can remove the "debug" section from your template later.

I'm trying to accomplish something similar with Aurelia.  At first, the page would show [object Object], so I wrote a converter which would convert a J

[2016-10-18 18:06] AshleyGrant commented on #638
The reason Angular 1 could do that is that it had the digest cycle doing dirty checking. You could simulate that with a simple custom element. Check out the `debug` custom element here: https://gist.run/?id=07e645e46f7cc945b4e43c4ec80c6424 It just uses `setInterval` to constantly re-evaluate the JSON.

You can ignore the more complex stuff going on there w/the dynamically generated form. That's ju

[2016-10-18 18:07] StrahilKazlachev commented on #638
Create a property, **not** adding `@computedFrom()`, and return from it the object you want. Then bind against the property. Could even skip the converter 👇. **I** don't know other way to force dirty checking.

***
get objProp() { // bind against in view
   return JSON.parse(myObj);
}
***

[2016-10-18 18:08] AshleyGrant commented on #638
Heh. Yeah, what @StrahilKazlachev shows works too, and is basically the same thing I'm saying to do, only a lot less code. kudos!

[2016-10-18 18:20] EisenbergEffect commented on #638
Just bear in mind that Angular 1 had tons of performance issues because it did this. Aurelia tries to avoid those pitfalls. Definitely, don't put this in production :)

As a feature, we could add a custom debug element to our testing library that enabled output like this... Anyone want to PR that?

[2016-10-18 19:04] Thanood commented on #638
You could also use a [signal bindingBehaviour](http://aurelia.io/hub.html#/doc/article/aurelia/binding/latest/binding-binding-behaviors/5) to force a string interpolation to update.

[2016-10-19 09:25] Jfy6Y3TtV698a646 commented on #54
Obviously the exact modules that get bundled, and the functionality used may have varying requirements, but I found that if I swapped to the CSP version of system, and (as above) moved the import to a separate js file, I could get Aurelia up and running with a clean CSP configuration:

index.html
[code]

HTTP header
[code]

[2016-10-20 21:03] Kabe0 opened #639 "default export module"
**I'm submitting a bug report**

* **Library Version:**
1.0.2

**Please tell us about your environment:**
* **Operating System:**
Linux (distro)

* **Node Version:**
6.2.0

* **NPM Version:**
3.5.2

* **JSPM OR Webpack AND Version**
JSPM 0.16.46

* **Browser:**
Chrome 54

* **Language:**
TypeScript X.X

**Current behavior:**
Module loads but aurelia ignores the component and does not display it.

[2016-10-20 21:08] AshleyGrant commented on #639
@Kabe0 would you mind updating the description with some information? We need you to fill out the issue template or we cannot help you.

Thanks!

[2016-10-20 21:10] Kabe0 commented on #639
Haha, Sorry accidentally submitted before being able to writing anything! thanks!

[2016-10-20 21:16] tochoromero opened #640 "injecting non existing class does not log any errors"
Hello guys. Today I encounter a very weird issue.

I had the following code:

[code]

and then my timesheet-service.js

[code]

Please note how I had the wrong casing, I was importing _Time**s**heetService_ but the actual class name was _Time**S**heetService_.

So yeah my bad, the problem is that there was no error in the console, there was no indicating anywhere that the class I was trying to imp

[2016-10-21 00:09] EisenbergEffect commented on #639
It's a feature request to support default exports. We have that tracked already elsewhere.

[2016-10-21 00:09] #639 closed

[2016-10-21 00:10] EisenbergEffect commented on #640
Part of this has to do with transpilation of modules by Babel. I'm not 100% sure if we can solve this. If there's a DI error, we do usually have something in the console. Can you create a reproduction for me so I can see what is going on?

[2016-10-21 07:18] johot commented on #590
Just wanted to say thanks and that Robs suggestions work! It's important to note that without the:
`... { replace: true, trigger: false });`

part it didn't work properly and I would get errors during the second app root switch (for some reason?).

Also the deactivate method does not exist on the router, should it still be called?

[2016-10-21 07:22] johot commented on #400
I got this working, check out this stackoverflow thread: http://stackoverflow.com/questions/36247052/aurelia-clear-route-history-when-switching-to-other-app-using-setroot/40170520#40170520

[2016-10-21 10:20] tochoromero commented on #640
So I created a Gist Run with the code, and I DO get an error in the logs there, but of course I'm using preconcatenated scripts, so as you mentioned, it probably has to do with transpilation with Babel. On any case, this is the failing code.

https://gist.run?id=f8ede1fb1454bc2eb37f60951667a643

[2016-10-21 13:11] pwhe23 commented on #342
+1 Polymer also uses this single-file per component approach

<dom-module id="contact-card">
    <style>...</style>
    <template>
      <content></content>
      <iron-icon icon="star" hidden$="{{!starred}}"></iron-icon>
    </template>
    <script>
      Polymer({
        is: 'contact-card',
        properties: {
          starred: Boolean
        }
      });
    </script>
  </dom-module>

I cou

[2016-10-21 13:17] EisenbergEffect commented on #342
You can put the html and js in one file if you really want to by using `@inlineView()`. We just don't recommend that since it mixes concerns together and can effect work parallelization, source control systems and effective use of various code editors.

[2016-10-21 13:21] pwhe23 commented on #342
You make a good point, but I guess the only issue I have with the inlineView is that I'm not sure all text editors would understand it contains an html string. With the Polymer approach, the file is essentially a somewhat-valid HTML file with just <style>, <script>, and <template> tags which means any html editor should be able to make sense of it. Certainly not a show-stopper, but seems like some

[2016-10-21 15:18] tochoromero commented on #640
So I found another instance where this is happen.
But this time I had a typo on my Template. I had `repeat.for="number in numbers`.
And there was no error in the console. I tried it on a GistRun and there, it shows me the expected error. But when I have that error on the Skeleton Navigation app running with gulp and ES6 the error is swallowed.

[2016-10-21 15:33] EisenbergEffect commented on #640
Hmm. I think this may be something else entirely. We recently had a small regression in our logging library that caused certain logged messages to not be displayed. I suspect that Gist has an older version prior to this regression and the skeleton you have has a newer version. We're updating the logging repo with the fix today or Monday.

[2016-10-21 15:38] tochoromero commented on #640
I'm actually glad is a regression and not something more obscure.
On the meantime, what library and to what version should I downgrade?
Thanks for the info Rob

[2016-10-24 10:04] theDogOfPavlov commented on #54
For the current aurelia-cli build that uses require instead of jspm, the following CSP seems to work fine out of the box (though may need to be varied depending on the modules you call and the external resources you access):

[code]

[2016-10-25 09:54] samuelmukoti commented on #74
Enjoyed watching the Polymer summit last week.   Really like where they are going with it in version 2.0  Looks like Aurelia and Polymer will work well together.  Any thoughts?

[2016-10-25 11:13] smolinari commented on #74
Isn't Aurelia and Polymer covering the same domain, i.e. front-end application development? In other words, they are competitive frameworks?

Scott

[2016-10-25 13:44] vamp commented on #386
if callback of `setTimeout` will be called via (ms|moz|webkit|)`requestAnimationFrame` (if Page Visibility API is not available) - callback will be executed only when page will be visible.

POC:
[code]

[2016-10-26 03:48] bigopon opened #642 "[Feature Request] Bundling with Rollup"
**I'm submitting a feature request**
- **Library Version:**
  1.0.*

**Please tell us about your environment:**
- **Operating System:**
  all
- **Node Version:**
  6.8.0
- **NPM Version:**
  3.8.9
- **Browser:**
  all
- **Language:**
  all
- **Current behavior:**
  No Rollup support
- **What is the expected behavior?**
  Support to build Aurelia`application with Rollup, beside`requirejs`,`webpack`

[2016-10-26 03:51] EisenbergEffect commented on #642
We are researching this for the CLI

[2016-10-26 08:48] brendonco commented on #72
@EisenbergEffect any roadmap plan on when will the server rendering be integrated?

[2016-10-26 14:25] EisenbergEffect commented on #72
We are working on it but don't have a timeline for that. It's difficult to make projections like that with most open source projects. If you want server rendering though, there's no reason you can't work on it and then bring your prototype to the table to assist us in building the official version. That's the beauty of open source. You don't have to wait for the "official" team to do anything. You

[2016-10-27 04:35] eamodio opened #643 "Use npm @types for TypeScript definition file acquisition"
**I'm submitting a bug report**
Acquiring TypeScript definition files for Aurelia is very difficult. If they were published on npm under @types it would be drastically improved (as TypeScript 2 automatically looks for types there and no need for another tool like typings).
- **Library Version:**
  1.0.7

**Please tell us about your environment:**
- **Operating System:**
  OSX 10.12.1
- **Node Vers

[2016-10-27 06:22] StrahilKazlachev commented on #643
I'm not using the `typings` tool and have not problems whatsoever. The aurelia packages have the `typings` property set. The TS [docs](http://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html) say:

[2016-10-27 06:26] eamodio commented on #643
@StrahilKazlachev it must be JSPM that is borking things for me then -- since I'm using jspm rather than npm to install the Aurelia packages

[2016-10-27 06:27] StrahilKazlachev commented on #643
Aaaah, yes, I have npm packages for dev/compilation, jspm for runtime deps.

[2016-10-27 06:28] eamodio commented on #643
So you duplicate all the packages? once in devDependencies and once in jspm?

[2016-10-27 06:31] StrahilKazlachev commented on #643
Yes. Also we do have our own packages, so we have some of them in peer.

[2016-10-27 06:32] eamodio commented on #643
@StrahilKazlachev thanks - I'll have to give that a try!

[2016-10-27 23:28] unional opened #644 "typings not included in jspm distribution"
Hi @EisenbergEffect ,

I finally get time to test jspm support for `typings`.
I notice when I install `aurelia` packages in jspm, the `package.json` and `*.d.ts` is not included.

Using `aurelia-pal` as an example, it points to `dist/amd` which does not have `*.d.ts`
Also, `package.json` should also be deployed to that we can find out where the typings file is located (same as what `tsc` does on `

[2016-10-30 14:04] sysanin opened #645 "View-specific css isn't unloaded after navigation to another view"
Hi,
I use bootstrap for admin part of my site and it conflicts with public site css, so I want to load bootstrap only for the admin part. I used `<require from="bootstrap/dist/css/bootstrap.css"></require>` in admin template, so Aurelia loads it only in admin part.
The problem is that this css isn't unloaded after navigating back to public site, it stays in head.

I use the latest aurelia with web

[2016-10-30 15:22] llicht opened #646 "Cannot bind to list attribute of input element"
Hi,

**I'm submitting a bug report**

* **Library Version:**
1.0.5

* **Browser:**
Chrome 54 on Windows 7

**Current behavior:**
If I place the following in a template file: (where listIdVar is a string variable with any value)
[code]
I get the following error:
    `TypeError: Cannot assign to read only property 'list' of object '#<HTMLInputElement>'`
Same happens if I use `list="prefix-${listIdVa

[2016-10-31 16:31] AshleyGrant commented on #645
Hi @sysanin this is a known issue. We are currently exploring the correct way to fix this.

[2016-11-01 00:33] jdanyow commented on #646
Right- for some reason `HTMLInputElement.list` is read-only:

You'll need to set the input's `list` via the HTML attribute instead of it's DOM property:

[code]
Make sure you have aurelia-templating-resources [1.1.0](https://github.com/aurelia/templating-resources/releases/tag/1.1.0) or higher.

Keeping this open so we can add logic to the binding engine to use the html attribute by default for th

[2016-11-01 01:57] jdanyow commented on #645
@AshleyGrant are there plans to remove css once it's been loaded. Wondering if this would be an unnecessary perf tax in most people's use cases.

[2016-11-01 02:06] jdanyow commented on #644
@unional take a look at the typescript skeleton. It uses typescript, typings and jspm:

https://github.com/aurelia/skeleton-navigation/tree/master/skeleton-typescript

[2016-11-01 02:10] jdanyow commented on #643
closing - @StrahilKazlachev is correct, Aurelia packages provides the `typings` property in their package.json which is the preferred way to tell the typescript compiler where the defs are.

[2016-11-01 02:10] #643 closed

[2016-11-01 02:20] unional commented on #644
Please reopen. I'm a contributor of `typings`. This is directly related to adding `jspm` support in `typings`.

Currently, due to limitation of TypeScript support for `jspm`, we have to install the package both on `jspm` and `npm`, or install on `jspm` and use `typings install github:aurelia/***` to install the typings.

I'm adding `jspm` support in `typings`, so that user can do:

[code]

ping @E

[2016-11-01 03:07] EisenbergEffect commented on #645
I wasn't planning to change this actually.
However, the new styles coming in AureliaXP might be a nice alternative. That's what I would use.

[2016-11-01 03:10] EisenbergEffect commented on #644
Opening this to consider updating our distribution somehow.

[2016-11-01 19:09] AshleyGrant commented on #645
I was speaking of the styles stuff that @EisenbergEffect is mentioning.

[2016-11-01 21:45] onecrayon opened #648 "doc: automatically link classnames to their documentation pages throughout API docs"
**I'm submitting a feature request**

I'm not sure if this is the most appropriate place for this request, but I could not find the hub.html app that serves Aurelia documentation open sourced anywhere (so I can't try and implement this on my own to contribute).

Basically, anywhere there's a classname (or ideally, method/property/etc.) in the API docs served by hub.html, it would be brilliant if i

[2016-11-02 00:02] unional commented on #644
Thanks. The PR for this feature is at `typings/core` and there is one identified bug not related to this feature blocking the merge. I hope it will be merged soon.

[2016-11-02 15:32] EisenbergEffect commented on #648
Makes sense. We should be able to do that I think it's just a matter of going through all the docs and updating them.

[2016-11-02 16:09] onecrayon commented on #648
The API docs are autogenerated by TypeDoc, which is why I was looking for the hub.html source (best I can tell from an outsider's perspective who has never worked with TypeDoc before, linking stuff up dynamically based on the TypeDoc-generated JSON is the most likely route to success; I thought about modifying the JSON directly as part of the Gulp `doc` step, but that seemed more prone to breakage

[2016-11-02 16:59] vedaantees commented on #235
Correcting typos in Rob's code
[code]

[2016-11-02 17:00] vedaantees commented on #235
[code]

[2016-11-03 06:32] Nasicus opened #649 "doc: quickstart - basic-aurelia-project.zip should be with ES Next by default"
Hi

This is more like a PR instead of an issue, but since I would need to change the content inside the download package (and I don't know how to do this), I'm trying it here.

It's a minor thing, but since everything (especially all code samples) are by default set to "Es Next" the basic package should also reference the ES Next file instead of the TS file.

Basically this would mean to change

`

[2016-11-03 14:54] EisenbergEffect commented on #649
Feel free to submit PRs for that.

[2016-11-03 15:41] peterpde commented on #227
@SamDeBlock Amaizing.  Your fix worked like a charm.  I have been struggling with this issue for quite a while.  Just wanted to say thank you.

[2016-11-03 17:30] michaelsg opened #650 "RouterView with Layout Causes "attached" Not Called on Custom Elements"
**I'm submitting a bug report**
* **Library Version:**
1.0.7

* **Operating System:**
Windows 10

* **Node Version:**
6.5.0

* **NPM Version:**
3.10.3

* **Browser:**
all

* **Language:**
TypeScript 2.0

**Current behavior:**
If a layout-view is used on a RouterView or a layout is specified for a route, the composed view's used custom elements' "attached" functions are never called.
This happens w

[2016-11-03 23:44] aegenet commented on #650
Unfortunately same issue : #https://github.com/aurelia/templating-router/issues/34 .

[2016-11-05 10:55] aditeeau commented on #400
please give the convention of =>

[2016-11-06 11:25] stefan2410 opened #651 "Doc hub ( Library API section) : scrolling at top of the page"
Current behavior:
In Library API, when we are scrolling down in a page (in cases with a lot of contents)  and later we select another page from the left navigation pan, the new page  is not scrolling up at the top of the page. So we can't understand easily that the page was refreshed and we should scroll at the top every time.
In contrast the "Articles and Guides" section   works normally,  scroll

[2016-11-06 13:16] ohjames commented on #254
If I reload the majority of the websites linked from http://builtwithaurelia.com then I get 3+ seconds of loading on every reload. I've switched phones recently (to a comparatively much more powerful Xiaomi Redmi Note 2) so it rules out my previous phone being the issue. Am stuck on Android 5.1 though, but using the latest Chrome.

There are a few examples linked that do load within a second after

[2016-11-06 13:53] Thanood commented on #254
Northwind takes like 6 seconds to load on my Galaxy S6 and around 5 seconds in my PC.
The longest "wait times" are loading something from the breeze controller, though. Especially "Metadata" which takes nearly a second.

There seems to by a relatively huge gap (around 1 second) between loading google analytics and `index.js`.

That being said, I think it uses SystemJS. That's kinda slow if not eve

[2016-11-07 01:58] ohjames commented on #254
I suspect the issue is with systemjs being slow after doing some of my own analysis, although I doubt its use of promises are exclusively to blame.

I just upgraded to the latest aurelia-bundler and now kchomp.co takes a lot longer to load on mobile. Oh no ;)

[2016-11-07 01:58] #254 closed

[2016-11-07 01:59] ohjames commented on #254
SystemJS is just super slow even when bundled, I've hacked the loader a little and made it much faster. My approach isn't suitable for a PR though.

[2016-11-07 02:41] MaximBalaganskiy commented on #254
well, this is not what we see in our environment. While the web site is definitely slower on a mobile, on the desktop it's almost instantaneous.

[2016-11-07 14:51] cb-fred opened #652 "Doc Hub is not indexed by Google"
**I'm submitting a bug report**

**Current behavior:**
The Doc Hub website is not indexed by google or other search engine due to it's implementation as a client-side web application.

**Expected/desired behavior:**
The Doc Hub contents should be accessible from google and not just from the built-in search.

**What is the motivation / use case for changing the behavior?**

The usual workflow when

[2016-11-07 15:47] EisenbergEffect commented on #652
Closing as a duplicate. We've already addressed this elsewhere. The docs app is designed to dogfood the platform. As part of that, it's a prime candidate for dogfooding the upcoming server-render features, which are designed to solve this problem.

[2016-11-07 15:47] #652 closed

[2016-11-07 17:34] ohjames commented on #254
Every single aurelia website deployed with systemjs, bundled or otherwise, spends at least 3 seconds bootstrapping on mobile. Bet you can't find a single example to the contrary.

[2016-11-07 17:36] ohjames commented on #254
That's true, but this issue is all about mobile performance which is terrible due to systemjs.

[2016-11-08 00:19] ohjames commented on #254
After several hours porting the build system to webpack I've brought mobile load times down to less than a second with pretty much the same code as before.

[2016-11-08 00:30] AshleyGrant commented on #254
@ohjames, I'm glad to hear Aurelia isn't the problem.

[2016-11-08 13:38] ohjames commented on #254
Well it's opened up a whole other can of worms (https://github.com/aurelia/loader-webpack/issues/24 !?) but at least I managed to hack the build enough and peg dependencies *just so* that my build stopped throwing unhelpful error messages enough to work. The lack of documentation and bugs were a *huge source of pain* though.

[2016-11-10 16:24] svenvandescheur opened #653 "Suggested WebPack configuration breaks testing in (esnext) skeleton install..."
After following [this](https://github.com/aurelia/framework/blob/master/doc/article/drafts/manual-webpack-configuration.md) tutorial on how to use the original WebPack configuration, the tests in the default (esnext) skeleton no longer work.

At first, webpack 2.1.0-beta.25 complains about the about this line:

`'app': [], // <-- this array will be filled by the aurelia-webpack-plugin`

Which is i

[2016-11-10 16:53] svenvandescheur commented on #653
Some research points in the direction of CommonsChunkPlugin, I uncommented the section that uses it and everything "seems" to work again. Whats the purpose of this section?

[2016-11-11 15:33] ohjames commented on #333
Can you remove "kchomp.com" from "builtwithaurelia.com", we've had so many problems with Aurelia that we're porting the project to Angular 2.

[2016-11-11 16:03] damianof commented on #333
@ohjames funny, as for the past year it has been the other way around for me. Angular, especially for rendering performance, has lots of issues.

[2016-11-11 16:17] utrolig commented on #333
@ohjames could you elaborate on some specifics?

[2016-11-11 17:36] EisenbergEffect commented on #333
Closing this issue since we've got the new site up.

[2016-11-11 17:36] #333 closed

[2016-11-11 17:59] EisenbergEffect commented on #333
@utrolig There is apparently a bug in list rendering which crops up in edge cases which only one or two people are experiencing. He happens to be one. If it was properly reported earlier, it would have been fixed, but it wasn't until today. We are committed to resolve whatever critical issues are reported, provided that we can reproduce them. If they aren't reported or aren't reproducible then the

[2016-11-11 18:20] vdangwal commented on #333
Well said Rob. 👍👍👍

Get Outlook for iOS<https://aka.ms/o0ukef>

On Fri, Nov 11, 2016 at 12:59 PM -0500, "Rob Eisenberg" <notifications@github.com<mailto:notifications@github.com>> wrote:

@utrolig<https://github.com/utrolig> There is apparently a bug in list rendering which crops up in edge cases which only one or two people are experiencing. He happens to be one. If it was properly reported earli

[2016-11-11 18:50] opcodewriter commented on #333
I'm the OP of this, it's pretty sad to see how it got completely off-topic, arguing on password design or SCSS or complaining about Aurelia. Why's so hard to have some common sense!?
I think having concrete examples of fully fledged Aurelia apps is helpful.

@EisenbergEffect, I might need to catch up, what is the new site you mentioned, does it have a list of apps developed with Aurelia?

[2016-11-11 18:55] Gheoan commented on #333
@EisenbergEffect refers to http://builtwithaurelia.com/.

[2016-11-11 19:17] opcodewriter commented on #333
@Gheoan thanks, that's nice. That's even more appropriate than this thread on GitHub, and it's something I've been thinking about too.

[2016-11-11 22:25] sensedeep commented on #333
FYI:

We’ve been working on our Aurelia app, which is a cloud based Intrusion Detection Service for most of the year and have had a very positive experience.

We are launching late December and having used other frameworks before, we are very happy with the result and the major part Aurelia has played.

Aurelia continues to save us lots of dev time.

thank you all

Michael O'Brien
SenseDeep Inc.
m

[2016-11-13 06:54] EisenbergEffect commented on #650
Closing as duplicate.

[2016-11-13 06:54] #650 closed

[2016-11-14 04:19] EisenbergEffect commented on #653
@niieani Can you chime in here?

[2016-11-14 11:57] niieani commented on #653
@bigopon created the tutorial mentioned by @svenvandescheur.

But to be fair, this seems like some sort of a Webpack issue, or a conflict in configuration, used plugins, etc. Hard to say without the full contents of the config file.

Can be closed as it's not Aurelia-related.

[2016-11-14 12:37] bigopon commented on #653
@svenvandescheur You can drop both `app` in entry and the whole common chunks plugin if it's causing you troubles. Aurelia webpack plugin will still take care of your `src` folder nicely so no need to specify an entry point for your app modules.

I got common chunks sort the final entries in wrong order as well but I didn't have time to look into that so I once had this work around:

tl;dr: omitte

[2016-11-15 12:51] evenflow58 opened #655 "Nested templates not resolving"
**I'm submitting a bug report**

* **Library Version:**
1.0.7

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
4.6.0

* **NPM Version:**
3.10.9

* **JSPM OR Webpack AND Version**
webpack 2.1.0-beta.22
* **Browser:**
all

* **Language:**
TypeScript 2.0.9

**Current behavior:**
As described [here](http://stackoverflow.com/questions/40536509/aurelia-

[2016-11-15 13:12] evenflow58 commented on #655
This bug has been moved to the aurelia template github project [here](https://github.com/aurelia/templating/issues/493).

[2016-11-15 13:12] #655 closed

[2016-11-16 18:30] lares83 opened #656 "Creating component called CustomElement doesn't work"
**I'm submitting a bug report**

* **Library Version:**
major

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x|Linux (distro)|Windows [7|8|8.1|10]

* **Node Version:**
7.0.0

* **NPM Version:**
3.10.8

* **Browser:**
all

* **Language:**
all

**Current behavior:**
Today I stumbled accross weird behaviour namely when I created simple component called `CustomElement` and

[2016-11-16 18:33] EisenbergEffect commented on #656
Yes, that's part of the convention system. We should add something to detect if you actually name a custom element `CustomElement`.

[2016-11-16 18:46] Thanood commented on #656
Maybe related, I just recently named one custom attribute's property `activates` and another `activatesRef` (to optionally hold a `ref` of an element). The property `activatesRef` was always `null` until I renamed it.

If that's also part of the convention, I think it should be documented as well. 😃

[2016-11-16 18:59] EisenbergEffect commented on #656
`activatesRef` as a property in JS would be `activates-ref` in html. That should be documented already in the templating docs.

[2016-11-16 19:11] Thanood commented on #656
Did I do that error again? Where's the facepalm emoji? Sorry. :smiley:
Somehow I tend to forget that this is also true for custom attribute properties like this:
`<button md-dropdown="activatesRef.bind: someOtherElement">`

[2016-11-16 20:13] AshleyGrant commented on #656
@Thanood here's a facepalm gif I use whenever I make this mistake:

![facepalmt](http://i.giphy.com/14aUO0Mf7dWDXW.gif)

Because I do make this mistake from time to time :-)

[2016-11-16 20:49] Thanood commented on #656
epic 😃

[2016-11-17 14:50] gustawdaniel opened #659 "Broken JSON structure in official doc."
**I'm submitting a bug report in official docs about routing on the bottom of website**

![](http://i.imgur.com/Ss1Ev2B.png)

In `app.js` in `config.map` there should be ":" instead of "=" after layout view, because of json structure is broken.

[2016-11-17 15:01] EisenbergEffect commented on #659
This document is located in the docs folder of the router repository. Would you be interested in sending a PR to fix the typo?

[2016-11-19 03:01] #653 closed

[2016-11-19 17:11] #645 closed

[2016-11-19 17:29] EisenbergEffect commented on #642
@bigopon Any interest to do some research on this. I've done a bit myself. There was another community member looking into it but they haven't done much. It would be a nice contribution if we could somehow switch amodro trace over to rollup.

[2016-11-19 20:03] gustawdaniel commented on #659
I would be interested. I love this project, but I don't know how. In documentation on [github](https://github.com/aurelia/router/blob/master/doc/article/en-US/router-configuration.md) there is everything ok!

[![github.png](https://s21.postimg.org/5mp5stvuf/github.png)](https://postimg.org/image/8gsb69y0j/)

[2016-11-19 20:05] EisenbergEffect commented on #640
Closing since the logger regression is fixed.

[2016-11-19 20:19] EisenbergEffect commented on #659
Oh! It was probably already fixed then. We just need to release the update to the docs. The docs update release will go out early next week. Sorry for the confusion!

[2016-11-19 20:19] #659 closed

[2016-11-19 20:55] tochoromero commented on #640
Thanks!!

[2016-11-19 20:55] #640 closed

[2016-11-19 21:10] bigopon commented on #642
I was researching a bit before. But I'm neither Rollup nor Aurelia expert so I cannot really guarantee anything.

[2016-11-20 23:44] stephenlautier commented on #642
@EisenbergEffect if i use rollup without aurelia-cli, would it be possible to get it working? or it needs some new bootstrapper/loader?

[2016-11-21 01:16] EisenbergEffect commented on #642
It should work, but rollup may not be able to find all the dependencies. I'm not sure if you can pass dependencies along to rollup manually. That's one of the questions we have.

[2016-11-22 14:47] svenvandescheur opened #660 "Difficult to implement in existing project setups."
Improvement/Suggestion:
---
Aurelia is close to impossible to use in a way thats not defined by some skeleton. A better way might be like installing react:

`npm install react react-dom`

[code]

This allows for a very easy installation and allows a proper way of creating a single bundle (because everything gets explicitly imported, pointing to index.js will do the trick).

For aurelia, its actual

[2016-11-22 15:13] AshleyGrant commented on #660
We offer a version of the framework that can be loaded using a script tag. You're still going to need a module loader. The script tag version of the framework uses SystemJS as its module loader to support on-the-fly transpilation of code.

That being said, the React code you posted has the exact same type tooling requirements that you're bemoaning Aurelia for requiring, namely a build pipeline and

[2016-11-22 15:41] svenvandescheur commented on #660
Hi @AshleyGrant

Thanks for your reply.

The react example indeed needs a
- Module loader/bundler

AFAIK it strictly does not need a build pipeline as React is pretranspiled/packaged. Any loader will allow it to work. Only if you want to use your own ES6 you need "something" to compile that. But that's beyond the scope of react (and I think it should be). It does however document an example config

[2016-11-22 15:59] AshleyGrant commented on #660
Regarding this, Aurelia doesn't deal with this configuration, it *is* up to the dev and the tooling the dev chooses to configure the module loader.

Now, regarding the code sample you provided. You can do exactly this, and in fact it is pretty much what I do in the code I linked above, except that I use `System.import` instead of an `import` statment and I use the default Aurelia bootstrapper. Tha

[2016-11-23 04:15] #660 closed

[2016-11-23 07:53] nobuzz commented on #427
Any progress on this? Estimates on release/availability? We're building a large app and will need to lazy load sections of the app too.

[2016-11-23 11:04] dragoscirjan opened #661 "@bindable({}); before @bindable name = ''; will misbehave"
I do not know if this is a [babel](https://github.com/babel/babel) bug or an Aurelia one, so I submitted it to both projects ([babel#4887](https://github.com/babel/babel/issues/4887)).

### Input Code

[code]

### Babel Configuration (.babelrc, package.json, cli command)
We're using the default [Aurelia Skeleton](https://github.com/aurelia/skeleton-navigation) configuration.

[code]

### Expected

[2016-11-23 12:37] AshleyGrant commented on #661
[code]

When using the `bindable` decorator and passing the `name` property, you decorate the class. This tells Aurelia to add a bindable property to the class.

The first usage you posted isn't a valid use of the `bindable` decorator, so this isn't a bug in babel or Aurelia.

[2016-11-23 13:10] #661 closed

[2016-11-23 15:06] EisenbergEffect commented on #427
Lazy loading has worked from day one. This feature is only about adding special hooks to lazily load and invoke feature registration.

It could be done today with a pipeline step in the router. You could search each router to see if it had a feature associated and then import that module and call it's configure method against a new instance of FrameworkConfiguration. Also, if you wanted to lazily

[2016-11-23 16:50] nobuzz commented on #427
Great! Demos would be much appreciated.

[2016-11-23 18:14] antonmos commented on #174
With all due respect, I do not understand why this issue was closed.
The need to present a clean UX to the user when an unhandled error occurs is a necessity in every single app as is the need to log the cause.
@EisenbergEffect could please clarify?

[2016-11-25 10:38] stevanuz commented on #27
I believe that Aurelia.io is developed with the framework. However, it does not work on IE11? If you got to this page http://aurelia.io/hub.html#/doc/article/aurelia/framework/latest/quick-start , the left panel will always be empty.
![aurelia_ie11](https://cloud.githubusercontent.com/assets/16387544/20622527/6ee1dba4-b357-11e6-9f22-b21222b56d30.png)

[2016-11-25 16:57] atsu85 commented on #27
Maybe missing polyfill? Maybe request animation frame?
![image](https://cloud.githubusercontent.com/assets/1206512/20631720/dd1f71e2-b340-11e6-939f-ca6e54ea6988.png)

[2016-11-26 04:57] stevanuz commented on #27
Okay, so the Aurelia framework does not by default support IE11? Or at least the Aurelia hub should patch the polyfill if is required for IE11 so that it's browsable since IE11 is a pretty much modern browser.

[2016-11-29 12:40] DamageLimiter opened #663 "Make resources receivable from external repositories/cdn's etc"
**I'm submitting a bug report**

* **Library Version:**
1.0.2

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
4.6.0

* **NPM Version:**
3.10.10

* **JSPM OR Webpack AND Version**
aurelia cli

* **Browser:**
all

* **Language:**
all

**Current behavior:**
External resources (i. e. custom elements) cannot be referenced.
If I try to reference a cust

[2016-11-30 01:09] jdanyow commented on #663
I think this is probably supported by the requirejs loader used by aurelia cli projects.

Try adding the following to the top of your `main.js`:

[code]

Next, make sure you have an `index.js` at https://www.cdn-intranet.com/resources/elements/test-stuff/index.js that contains the transpiled version of this code:

[code]

Last but not least, make sure you have a transpiled `upper-value-converter.j

[2016-11-30 12:11] dagtveit opened #664 "how to share serviceclass to mulitple nested custom elements"
I am trying to share a service class across nested custom elements. but the service class dosnt have the same values. seems like its instaniated all over again. how can i fix this. or is there a better way of sharing some common info down the line to the components.

[code]
..........

here is the start of documentsdata

[code]

[2016-11-30 14:53] DamageLimiter commented on #663
I've tried something similar but actually it works for js files only (perfectly for a value-converter).
But if you try to load a custom component you need to have the html file loaded as well.

My Custom Component is called test-stuff.
So what's happening -> require loads the index.js from a remote server as expected. Then the js file of the custom component (./test-stuff) is loaded from the remot

[2016-11-30 15:11] Infuser commented on #210
Any updates on inheriting @bindable or could someone provide a code example of how this can be accomplished using a mixin

[2016-11-30 15:38] jdanyow commented on #663
ok getting close- would you be able to debug this and make a determination where things are going wrong in the loader?

[2016-11-30 16:06] DamageLimiter commented on #663
Yes. I need to download the debug version of require though. This minified version is not very handy for debugging. Back in a few... :-)

[2016-11-30 16:25] DamageLimiter commented on #663
It fails at this point here (in requirejs):
`plugin.load(map.name, localRequire, load, config);`

Via `aurelia-loader-default` it tries to load the template:
[code]

`entry.address` is "remoteStuff/test-stuff.html". Which is wrong. It is supposed to be a remote address.

this is  my require config:

[code]

aurelia config:
[code]

transpiled version of  "https://myInternalCDN.de/app/componentstore

[2016-12-01 05:09] EisenbergEffect commented on #664
This should work. It's a fundamental capability of the system. Could there be something else unique about your scenario? Can you show more code please?

[2016-12-01 05:09] #664 closed

[2016-12-01 11:09] dagtveit commented on #664
this is document.js the 2nd use of documentsdata, but the first one in the hiarchy when it comes to the componenets the first usage is simly getting a list of all documents. so i havent tried to share anything with the document(s) class/component. but when i load a document and bind that to the custom component all that stuff works well. but if i want to acess the readonly value on the dcoumentsda

[2016-12-02 07:10] EisenbergEffect commented on #664
Are you sure they are different instances? Could it be possible that you just have a sort of "timing" issue due to the ajax call, where one value is bound before the call and the other one is bound after? It should be the same instances, unless you have changed the default behavior somewhere. I think something else is going on somewhere...

[2016-12-02 10:29] DamageLimiter commented on #663
Are there any news yet? Can you work the debug information I've provided or do you need something else?

[2016-12-02 11:47] jdanyow commented on #663
@DamageLimiter it would be awesome if you could continue to attack this one. Why isn't the module loader replacing the `remoteStuff` part of `remoteStuff/test-stuff.html` with the full url from the configuration?

In the meantime, what happens if you do something like this:

*main.js:*
[code]

This kind of test ^^^ will tell us if there are any further roadblocks after we get the entry address fix

[2016-12-02 11:48] dagtveit commented on #664
i am setting the value to false in the constructor. and when i load the document it sets the value to true or false based on the status of the document. and also stores the document in the this.document variable of the documentsdata class. and i also declare the this.document variable in the contructor. i am not used to this kind of usage in javascript. are you shure the constructor is only used o

[2016-12-02 12:30] stsje commented on #663
@jdanyow @EisenbergEffect We encounter the same `Uncaught TypeError: h.load is not a function` error quite often, and it isn't telling us what is going wrong. It is only in CLI projects using es2015.
It would be nice to have a better error message, but I can't seem to figure out where in Aurelia/the cli that needs a change.

- For missing/misspelled .html files it throws the error
- Sometimes you'

[2016-12-02 13:06] DamageLimiter commented on #663
@stsje `h.load` is the minified version of `plugin.load` (see me debug information) thus the error is thrown in requirejs. At the bottom line is more or a less a `file not found` or `reference unknown` error.

@jdanyow I'll dig in debugging the hell out of this. Once I identified the culprit I'll let you know ;-)

[2016-12-02 14:51] EisenbergEffect commented on #664
Have you read this article? http://aurelia.io/hub.html#/doc/article/aurelia/dependency-injection/latest/dependency-injection-basics

[2016-12-02 15:08] dagtveit commented on #664
yea and thats where i get confused.

Aurelia does not create child containers when there are plain HTML elements, or elements with only binding expressions, value converters, etc. It only creates them when the element itself is a custom element or if the element has custom attributes.

so if i inject serviceclass into the custom element like the documentsection the documentsection has its own chil

[2016-12-02 15:19] StrahilKazlachev commented on #664
@dagtveit check the resolution examples `Example 1 - Root Container Resolution` through 3.

[2016-12-02 15:28] dagtveit commented on #664
yes i red that before, but i understand it better now. so becouse of example 2 in this case this should work. but for some reason it dosnt.

just to be absolutely shure. returning the instance of the class means that the value set to false in the constructor() will only happen the first time when its initated correct ?

[2016-12-02 16:27] StrahilKazlachev commented on #664
If not marked as `transient` or `optional`. You could also check the containers chain, if for some reason it is not a tree.

[2016-12-02 16:29] dagtveit commented on #664
How

Sent from my Samsung Galaxy smartphone.

-------- Original message --------
From: StrahilKazlachev <notifications@github.com>
Date: 02/12/2016 17:28 (GMT+01:00)
To: aurelia/framework <framework@noreply.github.com>
Cc: dagtveit <dagtveit@hotmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [aurelia/framework] how to share serviceclass to mulitple nested custom elements (#664)

If no

[2016-12-02 18:31] dagtveit commented on #664
i injected the container into both document and the custom element. and stopped the deubber in the constructor of both components. and the resolvers only contains a strategymap on the document.js and the .parent seems to be the root. which sounds correct. also the root has 2 instances of documentsdata.

![image](https://cloud.githubusercontent.com/assets/21845812/20845520/d413e26a-b8c5-11e6-8391-8

[2016-12-02 18:34] dagtveit commented on #664
this is when breakin in the document.js so it seems like aurelia is indeed creating another instance but why ?
![image](https://cloud.githubusercontent.com/assets/21845812/20845620/41b591b0-b8c6-11e6-8393-3109013e0031.png)

[2016-12-02 18:35] stoffeastrom commented on #664
I remember someone had this kind of problem with jspm/systemjs. Quick google and it I think it was [this](https://github.com/jspm/jspm-cli/issues/1746)... Don't know if it helps but...

[2016-12-02 18:40] dagtveit commented on #664
dont know if thats the case here it dosn dual load until i ask it to inject another time but it loads another instance instead of returning the existing one

[2016-12-02 18:48] stoffeastrom commented on #664
It was the same kind of problem I remember looking at it and even if it's the same class SystemJS mixed them up and didn't return the same function reference so `DocumentsData !== DocumentsData`

But it's just a hunch.. I don't if you use jspm/systemjs..

[2016-12-02 19:27] dagtveit commented on #664
i am. but i am not experienced enough to see where it causes the problem
here is my index.html
`<div aurelia-app="main">
    <div class="splash">
            <div class="message">Aurelia Navigation Skeleton</div>
            <div class="fa fa-spinner fa-spin"></div>
    </div>

    <script src="jspm_packages/npm/bluebird@3.4.6/js/browser/bluebird.min.js"></script>
    <script src="jspm_packages/sy

[2016-12-02 19:28] dagtveit commented on #664
System.config({
  defaultJSExtensions: true,
  transpiler: "babel",
  babelOptions: {
    "optional": [
      "runtime",
      "optimisation.modules.system",
      "es7.decorators",
      "es7.classProperties"
    ]
  },
  paths: {
    "*": "dist/*",
    "github:*": "jspm_packages/github/*",
    "npm:*": "jspm_packages/npm/*"
  },
  map: {
    "aurelia-animator-css": "npm:aurelia-animator-css@1.0.

[2016-12-02 19:31] dagtveit commented on #664
but what is the best way to start a new project within a .net project if jspm is buggy.

[2016-12-02 20:02] HexWrench opened #665 "Support Typescript definitions via npm"
Since Typescript 2.0, typings are easily acquired using npm. Unfortunately, Aurelia still uses `typings` so we have to use two different mechanisms.
Is it possible to publish the definition files so they are available in the [@types repository](https://www.npmjs.com/~types) and can be installed using e.g. `npm install @types\aurelia-framework --save-dev`.

[2016-12-02 20:08] StrahilKazlachev commented on #665
Aurelia packs the definitions files in the npm packages as recommended by the TS [docs](http://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html). In my projects I'm using neither `@types` nor `typings` tooling  for aurelia packages.

[2016-12-02 20:13] HexWrench commented on #665
I use jspm for Aurelia and here the definitions aren't included.

[2016-12-02 20:16] dagtveit commented on #664
ANYWAY I GOT IT..... thank you so much that helped a lot. i found out it was due to that i wrote small d in documentData in one of the imports and big D in the other one. laaaaaaaaalllalalalal hhehehehe

[2016-12-02 20:18] stoffeastrom commented on #664
Glad you figured it out! 👍

[2016-12-02 20:21] dagtveit commented on #664
that Object.keys(System._loader.modules) realy helped

[2016-12-02 20:23] dagtveit commented on #664
just a littl offtopic here. i tried doing au bundle but it says the command is not valid or something. is there a new way of bundling. thats not so well documented

[2016-12-02 21:01] jdanyow commented on #665
right- aurelia uses the recommended `types` field in the package.json: https://github.com/aurelia/binding/blob/1.0.9/package.json#L17

[2016-12-02 21:01] #665 closed

[2016-12-02 21:04] HexWrench commented on #665
So I have to install Aurelia using jspm and npm?

[2016-12-02 21:10] jdanyow commented on #665
When you execute `npm install aurelia-binding`, the definition files are included.

The TypeScript compiler can locate them without using typings or using `npm install @types/aurelia-binding` because the package.json tells the compiler where they are via it's [`types`](https://github.com/aurelia/binding/blob/1.0.9/package.json#L17) attribute.

This is TypeScript's recommended way of distributing d

[2016-12-03 08:59] atsu85 commented on #665
@jdanyow, @HexWrench is using jspm, not npm to install clien-side dependencies, like aurelia-binding. If I remember correctly, JSPM has still issues with distributing TypeScript type declarations

[2016-12-03 09:10] HexWrench commented on #665
I installed Aurelia using npm as dev-dependency now too, so this works. But it would be cleaner if we could just install the definitions.

[2016-12-03 09:34] atsu85 commented on #665
@HexWrench, this workaround for JSPM (installing client-side dependency as dev-dependency in addition to regular dependency) isn't much (if any) better compared to manually installing typings of the dependency in addition to the regular dependency).

[2016-12-05 09:02] HexWrench commented on #665
@atsu85 I know, but it works fine with Typescript 2.0 which automatically finds definitions inside the node_modules folder.

[2016-12-05 15:58] zchpit commented on #174
What is a correct way to global error handling?

I have made my own custom logger from: https://stackoverflow.com/questions/37791068/send-aurelia-error-logs-to-server-and-notify-the-user

But when I throw exception in any part of application, in example:
        var a = 2;
        if (a == 2) {
            throw "catch me if you can";
        }

My custom logger don't catch it.

[2016-12-05 16:57] antonmos commented on #174
@zchpit see `window.addEventListener('error'...)` in https://github.com/aurelia/framework/issues/174#issuecomment-173004418 where

[2016-12-05 18:06] zchpit commented on #174
@antonmos I have problem with adding:
import AjaxInterceptor from 'ajax-interceptor';

Cannot find module 'ajax-interceptor'.

I'm using Visual Studio 2015 Update3.
I have updated project.json  and node_modules was download to node_modules catalog
I have updated map property in config.js (in same catalog as Aurelias main.ts)

What I'm doing wrong? Or what I need to do, to load that file manualy (i

[2016-12-06 13:54] zchpit commented on #174
Another question:
Does[core-js]( https://github.com/zloirock/core-js#unhandled-rejection-tracking ) is in Aurelia by default or I need to install that package as external tool ?

[2016-12-06 14:29] EisenbergEffect commented on #174
We have our own set of polyfills that are the minimal required set. If you prefer core-js, you can install that instead. It isn't required.

[2016-12-06 14:47] zchpit commented on #174
@EisenbergEffect  I don't have any preferences. I want to have one global custom error handler, that will log all my unexpected error into my serwer.

At this moment, I don't have it.
I have something like this:

import 'fetch';//IE Polyfill
import {HttpClient, HttpClientConfiguration, json} from 'aurelia-fetch-client';
import {EventAggregator} from 'aurelia-event-aggregator';
import {BaseService}

[2016-12-07 15:28] QuantumInformation opened #667 "[Observation] Framework inspiring takeaway shop.."
Wow:

![image](https://cloud.githubusercontent.com/assets/216566/20973749/ac256cb8-bc91-11e6-809f-aa2fef7c3234.png)

[2016-12-07 16:17] #667 closed

[2016-12-07 20:43] halllo opened #668 "Contact Manager Tutorial (Step 2) does not seem to work in Edge"
**I'm submitting a bug report**

* **Library Version:**
1.0.7

* **Operating System:**
Windows 10

* **Node Version:**
6.9.1

* **NPM Version:**
3.10.8

* **JSPM OR Webpack AND Version**
I dont know.

* **Browser:**
Edge 38

* **Language:**
TypeScript 2.0

**Current behavior:**
I wanted to do the Contact Manager Tutorial (http://aurelia.io/hub.html#/doc/article/aurelia/framework/latest/contact-man

[2016-12-07 20:47] AshleyGrant commented on #668
What version of the CLI are you running? Please make sure it is `0.23.0` You can check using `au -v`. If you are using an older version, please upgrade and start over. There was a bug in earlier versions of the CLI that might be causing this issue. If you still have the issue after upgrading your CLI, please let us know.

Thanks!

[2016-12-07 20:49] halllo commented on #668
Yes, it already is version 0.23.0.

[2016-12-07 20:57] AshleyGrant commented on #668
Please comment out the following lines in `main.js`:
[code]
Then refresh Edge. It'll work then.

There's open issue regarding this on the CLI repo. @EisenbergEffect this issue can be closed here.

[2016-12-07 21:14] halllo commented on #668
Yes, it works now. Thanks :)

[2016-12-07 23:43] unional commented on #644
Hi, jspm support is landed in `typings` 2.0. So if `aurelia` distribute typings files during jspm install, it would be great. 🌷

[2016-12-08 03:33] EisenbergEffect commented on #668
@AshleyGrant Do we have a PR to fix this up?

[2016-12-08 03:33] #668 closed

[2016-12-08 21:15] grofit opened #669 "Trying to use string interpolation within attributes silently fails"
**I'm submitting a bug report**

* **Library Version:**
major

**Please tell us about your environment:**
* **Operating System:**
N/A

* **Node Version:**
N/A

* **NPM Version:**
N/A

* **JSPM OR Webpack AND Version**
N/A

* **Browser:**
all

* **Language:**
all

**Current behavior:**
If you attempt to put a string interpolated value inside an attribute in your markup the attribute is omitted from

[2016-12-08 21:20] EisenbergEffect commented on #669
We can't leave the attribute as is because that would contain the interpolation syntax. So, we remove the attribute. If you want the attribute to be updated with the final value that comes from the binding engine, you can use the `attr` binding behavior. The reason for this is that Aurelia's binding system works against properties, not attributes. Some properties are automatically reflected to att

[2016-12-08 21:20] #669 closed

[2016-12-08 21:31] grofit commented on #669
Is there any documentation on this `attr` approach? as I expected there was some more "official" attribute related binding much like knockout has `attr` but I couldnt find anything on a precursory look through the docs (hence why I went on SO and posted here).

[2016-12-08 22:08] MeirionHughes commented on #669
try this: https://gist.run/?id=c3d618546a0fef10a266109465eed94c

using an intermediary template:
[code]

[code]

but for some odd reason `some-thing.bind="bar & attr"` is added as `something="[0]"` :S

[2016-12-09 08:24] grofit commented on #669
Thanks for the example @MeirionHughes, it does seem quite verbose just to get a value into an attribute and although your above approach *does* provide me a value into the attribute it malforms the name so @EisenbergEffect is there any docs around best practice to do this sort of thing or any official docs on the subject of attr binding behaviours?

Ideally I need to be able to stipulate what the

[2016-12-09 08:30] kennynaoh opened #671 "About the main files"
Hello @EisenbergEffect , I am the member of [cdnjs](https://github.com/cdnjs/cdnjs) project. We want to host this library, but there is a question want to ask. Could you help me mention the files on git repo are necessary to add on cdnjs? Thanks for your help!

https://github.com/cdnjs/cdnjs/issues/9166

[2016-12-09 16:34] dkaigorodov opened #672 "Extensive calculations fail as Aurelia overrides Array.push"
**I'm submitting a bug report**

* **Library Version:**
60dabf383f

**Please tell us about your environment:**
* **Operating System:**
macOS 10.12.1

* **Browser:**
Chrome, Version 55.0.2883.75 (64-bit)

* **Language:**
JavaScipt

**Current behavior:**
I use CryptoJS library to calculate SHA256 of some data pieces. During the calculation a JavaScript exception occurs:

Exception:
`Uncaught RangeEr

[2016-12-09 17:37] EisenbergEffect commented on #671
Are you apposed to us hosting on more than one CDN?

[2016-12-12 21:41] EisenbergEffect commented on #672
I would recommend that you do these sorts of calculations in a different array and then move the results over in this case. @jdanyow Is there anything smart we could do to protect against this? For example, should there be a threshold, that, after it's crossed, we just assume the entire array changed?

[2016-12-12 21:41] #672 closed

[2016-12-12 22:11] EisenbergEffect commented on #470
Closing old questions. Lots of error improvements made over the last year as well.

[2016-12-12 22:11] #470 closed

[2016-12-13 05:41] EisenbergEffect commented on #498
@jdanyow putting this back on your radar.

[2016-12-13 05:46] #526 closed

[2016-12-13 12:56] dkaigorodov commented on #672
@EisenbergEffect

How can I exactly create an Array with the unmodified prototype? Or, different from what?

Chrome dev tools js console (for page https://app.tractionboard.com/#/login):
`[].push.toString()`
`"function (){var a=fb.apply(this,arguments);return void 0!==this.__array_observer__&&this.__array_observer__.addChangeRecord({type:"splice",object:this,index:this.length-arguments.length,remo

[2016-12-13 13:53] jdanyow commented on #672
Do your calculations in an array instance that is not being observed- eg not used in `repeat.for`, any binding expressions, or used with the binding engine's `collectionObserver` method.

You're hitting this issue because the binding system is observing an array that is being mutated extensively. Specifically, you want to avoid getting into this if block:

https://github.com/aurelia/binding/blob/m

[2016-12-14 01:17] jdanyow commented on #498
Doesn't seem to be an issue with Aurelia. I can reproduce with vanilla js in Safari 10 on a MacBook Pro:

https://plnkr.co/edit/kZBOlb51nxj9dAGjMqzG?p=preview

[code]

[2016-12-14 01:29] #498 closed

[2016-12-14 14:41] kennynaoh commented on #671
What you mean is that you keep this library on another CDN?

[2016-12-15 00:06] jdanyow opened #676 "Issues with npm update, versioning"
It seems like we've been having more issues with npm update lately, now that several of the low-level dependencies have had minor version bumps. Here's an example I recently saw:

*package.json*
[code]

*execute `npm update`*
[code]

aurelia-binding remains at 1.0.9, causing runtime errors.

**Questions**

* Do we need to update the deps in top-level packages like aurelia-framework and aurelia-boo

[2016-12-15 02:24] EisenbergEffect commented on #676
What was the cause of the errors coming from aurelia-binding? Maybe it's just one other library that needed to have the version dependency updated but didn't. If there's a new feature in one lib that another one is dependent on then we need to update the dependent so that it has the minimal version of the new library to match. It's quite possible I wasn't aware of something like this. I usually do

[2016-12-15 03:24] jdanyow commented on #676
The error had to do with the new `capture` binding command. There were changes in `templating-binding` and `binding`. Maybe all we need to do is update templating-binding's binding dependency?

[2016-12-15 03:27] EisenbergEffect commented on #676
I believe that's all that is needed. Do you want to do that? I can make a new release immediately. Just let me know.

[2016-12-15 03:34] jdanyow commented on #676
Strange- templating-binding's dependency on binding has already been updated to aurelia-binding@1.1.0:

https://github.com/aurelia/templating-binding/blob/master/package.json#L53

https://github.com/aurelia/binding/releases

[2016-12-15 03:39] jdanyow commented on #676
💤 😴

https://docs.npmjs.com/cli/update

[2016-12-15 03:39] #676 closed

[2016-12-15 03:46] EisenbergEffect commented on #676
Doh. So, the problem is happening because we don't have top level dependencies for everything?

[2016-12-15 20:17] tbnovaes opened #677 "Anchor points are considered part of route parameters instead of being ignored."
**I'm submitting a bug report**

* **Library Version:**
"aurelia-router@^1.0.1"

**Please tell us about your environment:**
* **Operating System:**
OSX 10.12

* **Node Version:**
6.2.2

* **NPM Version:**
3.10.6

* **JSPM OR Webpack AND Version**
aurelia-cli 0.23.0

* **Browser:**
all

* **Language:**
all

**Current behavior:**
using anchor point (#) after a route parameter (:id) anchor point is i

[2016-12-16 04:37] lmj0011 commented on #676
per @jdanyow in gitter:
https://gitter.im/aurelia/Discuss/archives/2016/12/15

running:
`npm install --save aurelia-logging@latest aurelia-logging-console@latest aurelia-metadata@latest aurelia-pal@latest aurelia-pal-browser@latest aurelia-path@latest aurelia-polyfills@latest aurelia-router@latest aurelia-route-recognizer@latest aurelia-task-queue@latest aurelia-templating@latest aurelia-templatin

[2016-12-17 00:53] EisenbergEffect commented on #677
Closing as duplicate: https://github.com/aurelia/router/issues/225
Contributions are welcome to add this.

[2016-12-17 00:53] #677 closed

[2016-12-17 11:03] halllo opened #678 "globalResources does not seem to work"
**I'm submitting a bug report**

* **Library Version:**
1.0.8

**Please tell us about your environment:**
* **Operating System:**
Windows  10

* **Node Version:**
v6.9.1

* **NPM Version:**
3.10.8

* **JSPM OR Webpack AND Version**
JSPM 0.16.48

* **Browser:**
Chrome 55 | Edge 38

* **Language:**
TypeScript 2.1.4

**Current behavior:**
I have a custom element (loading-indicator from the contact ma

[2016-12-18 20:36] MayGo opened #679 "Multiselect values are not updated"
**I'm submitting a bug report**

**Current behavior:**
Events are not updating multi select bindings(1.0.0-beta.1.0.8):
http://plnkr.co/edit/7yzNHKumHeCxwzdJdHKH?p=preview
There is error, in background:
Uncaught RangeError: Maximum call stack size exceeded.
This is prevented by using:
if (e.originalEvent) {
    return;
}

**Expected/desired behavior:**
In older version(at least 0.18.0) multi selec

[2016-12-18 21:37] StrahilKazlachev commented on #679
If you do `<pre repeat.for="thing of selectedThing"><code>${thing | stringify}</code></pre>` it will work.
When you select/unselect items only the content of the array is changed, not the array value.
When doing `${selectedThing2 | stringify}`, or similar, it is monitored whether the value assigned to `selectedThing2` has changed(not the contents of the value) so it does not pick up the changes. T

[2016-12-18 21:58] jdanyow commented on #679
http://aurelia.io/hub.html#/doc/article/aurelia/binding/latest/binding-selects

[2016-12-18 21:58] #679 closed

[2016-12-19 18:04] caperavensoftware opened #680 "templateEngine.enhance not working on safari"
I am using templateEngine.enhance to initialize aurelia on dynamically created UI.
All the bindings works on chrome and firefox but not on safari, it also does not work on mobile browsers.

I have tried using aurelia-polifills but that did not help.

Project reference
https://github.com/caperavensoftware/pragma-screengen

Source for initializing aurelia is in
https://github.com/caperavensoftware/p

[2016-12-20 18:33] geea789 commented on #333
Hi all. We have a website in production, without a lot of traffic which is good for now.
[https://hopayacht.com](url)
it uses Aurelia framework and if you go by mobile you can see Aurelia with Framework7.
We have a lot of work ahead of us but if anyone has any questions feel free.
Thanks for all the community around Aurelia which helps us to overcome different problems.

[2016-12-20 20:58] opcodewriter commented on #333
@geea789 looks nice.
How come your `dist/app-bundle-ca2c680a57.js` is 1.2MB ?

[2016-12-20 23:45] geea789 commented on #333
meaning its too small or too big?

[2016-12-20 23:51] opcodewriter commented on #333
@geea789 not sure exactly, because I don't know all the functionality of the app, but since it's just JS, it looks pretty big to me.

[2016-12-21 00:07] opcodewriter commented on #333
the whole app is 3.2MB which is too big if you ask me

[2016-12-21 01:06] geea789 commented on #333
@opcodewriter actually right now it has a lot of functionality. too much.
looking back i would separate it into multiple apps, each for different sections of the site. something like suggested here.
[http://stackoverflow.com/questions/33473457/multiple-aurelia-apps-on-one-page](http://stackoverflow.com/questions/33473457/multiple-aurelia-apps-on-one-page)

[2016-12-21 03:10] jdanyow commented on #678
Change [this line](https://github.com/halllo/AureliaTutorial/blob/master/tutorial_contact-manager/index.html#L6) from `aurelia-app` to `aurelia-app="main"` to ensure your main.js is used.

[2016-12-21 03:10] #678 closed

[2016-12-21 03:12] jdanyow commented on #680
@caperavensoftware any errors in the console?

[2016-12-21 06:12] bigopon commented on #642
cc @niieani @EisenbergEffect
From the look of the votes here [Webpack votes - https://webpack.js.org/vote/](https://webpack.js.org/vote/)

I think we will see scope hoisting in webpack soon, thus remove the need for rollup. If you agree maybe this issue can be closed.

[2016-12-21 06:26] caperavensoftware commented on #680
no sorry no a single error.

[2016-12-21 06:33] caperavensoftware commented on #680
I uploaded a screenshot to show off the difference.

https://github.com/caperavensoftware/pragma-screengen/blob/master/screenshots/screenshot.png

[2016-12-21 10:40] Thanood commented on #333
It's not only minified JS, it's also html and css in `app-bundle` (and a lof of `System.registerDynamic` calls containing strings).
Btw.: I'm impressed you get it to load so fast with SystemJS.

[2016-12-21 14:35] jdemeuse1204 commented on #333
I know you are looking for a production app, but I have a test production app I can share.  I am doing iterative development in my spare time, so anyone can check back for updates.

Link:  http://www.skygroundlabs.net/

Like I said, the app isn't 100% ready, I am still working on it, but here is the code for anyone to check out.  Fork it, share it, I don't mind.  There isn't any sensitive informat

[2016-12-21 14:53] don-bluelinegrid commented on #227
I am seeing something that sounds similar to this, but in IE 11.  Our app hangs on the initial app loading splash screen.  We are using latest Aurelia framework, and Typescript + Webpack.

In IE 11 the app hangs at the splash screen, but works fine on all other platforms.  I see these errors in the IE 11 console:

[code]

[2016-12-21 15:05] don-bluelinegrid commented on #227
Also as FYI, I see some pretty significant errors in the JS console of IE 11 for the aurelia.io docs page, and the left-hand navigation does not render as a result:

[code]

[2016-12-22 03:55] jdemeuse1204 commented on #333
Looks like a few people tried to login and failed because of the two-factor authentication.  I disabled 2FA, feel free to try again.

[2016-12-22 15:35] code-chris opened #682 "Add version headers to distributed library files"
**I'm submitting a feature request**

* **Library Version:**
doesn't matter

**Please tell us about your environment:**
Environment doesn't matter here

**Current behavior:**
There is no way to find out which specific version of a aurelia library file is used in an application.

**Expected/desired behavior:**
Add a short version header to each distributed file of all aurelia libraries.
E.g: `/* au

[2016-12-23 18:37] pragmat1c opened #683 "(node:28992) UnhandledPromiseRejectionWarning using au new"
**I'm submitting a bug report**

* **Library Version:**
0.23.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
v6.9.2

* **NPM Version:**
3.10.9

* **JSPM OR Webpack AND Version**
JSPM 0.16.32 | webpack 2.1.0-beta.17

* **Browser:**
all | Chrome XX | Firefox XX | Edge XX | IE XX | Safari XX | Mobile Chrome XX | Android X.X Web Browser | iOS XX Sa

[2016-12-26 16:48] Senseye commented on #450
Could also be that you are calling "this.canDeactivate()" from within the ViewModel.

[2016-12-28 12:50] fracz commented on #602
+1

It's very counterintuitive that custom element removed and re-added from the view with `if.bind` does not resets its state. Only `show.bind` should behave like this.

[2016-12-29 01:43] rviscomi opened #684 "aurelia-binding uses babel loose mode"
Why is the default babel preset to use loose mode?

I encountered this issue with ES6 code and traced it back to that mode, which appears to be set by aurelia-binding. See http://stackoverflow.com/questions/41358744/how-should-array-spread-notation-work-with-nodelists-in-babel/ for the original issue.

To summarize, `[...document.querySelectorAll(selector)]` transpiles with a bug: `[].concat(docum

[2016-12-29 01:49] EisenbergEffect commented on #684
Is this a bug inside of Aurelia or in your own code? If it's your own code, then you can just change the build configuration for your project. It's in the babelrc file or the build options file depending on which setup you are using.

[2016-12-29 01:54] rviscomi commented on #684
I'd categorize this as a bug in Babel, which is enabled by Aurelia: http://blog.aurelia.io/2016/03/23/aurelia-babel-6-and-jspm-update/. My project doesn't have any explicit build configurations to use Babel presets.

[2016-12-29 02:00] EisenbergEffect commented on #684
You just need to change the configuration inside the babelrc file.

[2016-12-29 02:00] #684 closed

[2016-12-29 02:02] rviscomi commented on #684
Sorry but that still leaves my original question unanswered: why does Aurelia use loose mode? It seems to enable pitfalls for your users.

[2016-12-29 02:04] EisenbergEffect commented on #684
Loose Mode performs way better and generates much smaller code. Believe it or not, you are the first person I've heard that has hit a problem related to it.

[2016-12-30 09:29] thomas-darling commented on #139
@EisenbergEffect I see this still doesn't work, but I was wondering if this is still impossible to support, or if something might have changed? We have a couple of use cases here which would _really_ benefit from being able to inject the router-view element, and it caught us by surprise that it was not possible.

Is there _any_ way one could get a reference to that element through dependency injec

[2016-12-30 10:30] thomas-darling commented on #139
If injecting the router-view element is not possible, how about registering a `Promise` for it instead, thus allowing that to be injected instead? We don't really need to access the element in the constructor, so if we could just have a promise that is resolved with the router-view element once routing is complete, that would be just as good - and I think this is something that really needs to be

[2016-12-30 11:15] thomas-darling commented on #139
Actually, it would also be fine to just register the element whenever it becomes available. Sure, it won't work with constructor injection then, but at least it is then _possible_ to get it, by injecting the container and then manually resolving it later using `container.get(Element)`.

I'm sure there's a better way to do this, but playing around with it, this hack does seem to work:
[code]

Now,

[2016-12-30 18:13] EisenbergEffect commented on #139
I'd be willing to take a PR to register a special service that locates the router-view. For example, in the router library we might have:

[code]

This could be registered up front and your independent service could take a dependency on it. The promise would resolve when the router-view is available. Thoughts?

[2017-01-01 23:54] ajoslin103 opened #685 "please consider incorporating npm shrinkwrap into the various build processes"
I have always used the skeleton/esnext/webpack for the basis of all my projects

I have several times found my projects suddenly won't build anymore, having been affected by changes & upgrades to the bits and pieces that support webpack

Of late I have started using npm shrinkwrap and that problem has gone away entirely

I get a fresh skeleton running and then use npm shrinkwrap which freezes all

[2017-01-02 15:29] thomas-darling commented on #139
That would work perfectly, and would be more testable, compared to just registering and manually resolving the element after the construction of the view model - same reason I initially suggested registering a promise, but of course, with that we would have the problem of which key to use.
I think your suggestion is the way to go - I'll prepare a pull request, probably later today :-)

[2017-01-02 15:32] thomas-darling commented on #139
Reading through the router code, it looks like both the child container and the component view model is instantiated by the `TemplatingRouteLoader` in the `templating-router` repository, and the `RouterView` also resides in there - so I'm thinking this service should probably also live in that repository. Agree?

[2017-01-02 17:33] EisenbergEffect commented on #139
We might want to put an abstract base class for this in the router repo, with the implementation being specific to the templating-router repo.

[2017-01-02 18:31] thomas-darling commented on #139
We could definitely do that - then the concrete implementation would just be registered using the base class as key, exactly like the route loader.

Whether we need it probably depends on where it would be most appropriate to call `_notifyOfNearestViewPort()`. We could _technically_ do it from inside the `process` method of the `RouterView` - in that case, I don't think we really need a base class

[2017-01-02 18:38] EisenbergEffect commented on #139
All good questions. It's probably nice to return `Promise<RouterView>` and then add an `element` property onto that type so that consumers can access either. Since the implementation will be RouterView specific, I think we should probably have the code inside the `process` method rather than inside `navigation-instruction`. In light of that, we probably can't have an abstraction inside the `router

[2017-01-02 19:40] thomas-darling commented on #139
Sounds good - I'll have a pull request ready to go shortly :-)
Do you still prefer `ViewPortLocator`, or would `RouterViewLocator` be a better name?

[2017-01-02 21:03] EisenbergEffect commented on #139
Since it will be specific to the templating-router implementation, I think we cdan name it RouterViewLocator. What do you think?

[2017-01-03 14:12] thomas-darling commented on #139
Ok, so this is actually an interesting question, now that I think more about it.

As we discussed this, I somehow came to look at this from the viewpoint of "how to locate the nearest router view", despite my own use case, and I suspect maybe also your initial reply, actually being more along the lines of "how to locate the nearest _element_".

If we keep this focused on just locating the `RouterV

[2017-01-04 04:52] EisenbergEffect commented on #139
Let's keep it as RouterViewLocator for now. It would be easy to build a service for element location on top of this by composing the RouterViewLocator, subscribing to it and then publishing out the element associated with the RouterView.

[2017-01-04 14:29] thomas-darling commented on #139
Sounds good to me - I've created a pull request for the feature.
Let me know if there's any adjustments needed :-)

[2017-01-09 10:51] Mario050 opened #686 "When checked.bind causes the checkbox to become disabled, change.trigger isn't called in Firefox"
**I'm submitting a bug report**

* **Library Version:**
major

**Please tell us about your environment:**
* **Operating System:**
OSX 10.12.2

* **Node Version:**
7.2.1

* **NPM Version:**
3.10.9

* **JSPM Version**
JSPM 0.16.29

* **Browser:**
Firefox 50.1.0

* **Language:**
all

**Current behavior:**
When checked.bind causes the checkbox to become disabled, change.trigger isn't called in Firefox

[2017-01-09 23:07] AshleyGrant opened #687 "@singleton() decorator no longer works as expected"
**I'm submitting a bug report**

* **Library Version:**
1.0.8

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.9.1

* **NPM Version:**
3.10.8

* **JSPM OR Webpack AND Version**
Aurelia CLI 0.24.0

* **Browser:**
all

* **Language:**
ESNext (haven't tested TypeScript)

**Current behavior:**
`@singleton` decorator does not causes pages loaded by t

[2017-01-10 00:00] mark-hahn opened #688 "web-api.js: Unexpected token"
I am trying to go through the contact manager tutorial and ran into a problem.  After doing the `au new --watch` command and specifying all the defaults,  I get this error ...

[code]

It appears the file has a variable property in a class which I thought was illegal ...

[code]

So there is apparently some language support confusion going on.  I entered all defaults doing `au new` which specified

[2017-01-10 00:04] AshleyGrant commented on #688
`isRequesting = false;` is part of the Public Class Fields proposal: https://tc39.github.io/proposal-class-public-fields/

As to why this is failing, I'm not sure. What version of the CLI are you running? (Run `au -v` in the project folder)

[2017-01-10 00:07] mark-hahn commented on #688
Thx. That was fast.

I'm wiping the folder and starting over.  I'll let you know how it goes and
what the au version is.

On Mon, Jan 9, 2017 at 4:04 PM, Ashley Grant <notifications@github.com>
wrote:

[2017-01-10 00:45] mark-hahn commented on #688
I went through the setup again carefully and this time I had no problem.  I don't know what I could have done wrong.  I'm now trying to run the contacts app the first time and I'm getting a blank page but I'll work on that.

Closing now, sorry for the trouble...

[2017-01-10 00:45] #688 closed

[2017-01-10 11:37] glenkleidon commented on #683
Trying to reproduce this now.
Do we know if the user has Admin rights?

[2017-01-10 13:04] glenkleidon commented on #683
Issue located.

[2017-01-10 16:07] Mario050 commented on #686
Moving to aurelia/binding.

[2017-01-10 16:07] #686 closed

[2017-01-10 20:33] glenkleidon commented on #683
Recommend closing this issue here and moving to aurelia-cli as it is NOT a framework issue.  Very likely two other pull requests are related to the immediate issue. https://github.com/aurelia/cli/pull/457 and https://github.com/aurelia/cli/pull/397

[2017-01-10 21:51] StrahilKazlachev commented on #687
It is not the decorator, probably also not the container.
- when `TemplatingRouteLoader.loadRoute` is called it [creates new child container](https://github.com/aurelia/templating-router/blob/1.0.1/src/route-loader.js#L15).
- then it calls [CompostionEngine.ensureViewModel](https://github.com/aurelia/templating-router/blob/1.0.1/src/route-loader.js#L33) using that child container for the `Composit

[2017-01-10 21:52] AshleyGrant commented on #687
My man!

[2017-01-10 21:54] AshleyGrant commented on #687
The thing is that this worked previously and has stopped working recently. I still need to look at the code and see what change caused the regression.

[2017-01-10 23:04] StrahilKazlachev commented on #687
I used your sample and changed the `aurelia-dependency-injection` to 1.1.0 and now `One` gets instantiated once, and `Two` on every visit. I may have a wrong understanding but I did expect the same behavior for `Two` - since not having an explicit registration should make it a singleton in the root.

[2017-01-10 23:54] EisenbergEffect commented on #687
It sounds like it's working correctly with the latest then. Can this be closed?

[2017-01-10 23:58] StrahilKazlachev commented on #687
The latest is 1.2.1

[2017-01-11 01:59] AshleyGrant commented on #687
https://github.com/aurelia/dependency-injection/commit/98739f2 and
https://github.com/aurelia/dependency-injection/commit/aa38a34
are the only changes that happened between 1.2.0 and 1.2.1

@StrahilKazlachev based on my rewatch of Rob explaining the `@singleton` decorator during the workshop he recorded in August, the behavior seen in `1.2.0` is the expected behavior.

[2017-01-11 03:33] EisenbergEffect commented on #687
So, 1.2.1 isn't working then? That's going to be an interesting problem if it's true. Because that was a fix for singleton in another scenario.

[2017-01-11 03:53] #683 closed

[2017-01-11 05:36] EisenbergEffect commented on #687
@AshleyGrant Can you link your test project here? I want to pull it down and take a look.

[2017-01-11 08:52] StrahilKazlachev commented on #687
@EisenbergEffect [repro](https://github.com/AshleyGrant/decorator_bug_demo)

[2017-01-12 07:43] EisenbergEffect commented on #687
Ok, I've got the fix for this. It was a bit tricky. I'll merge it and release tomorrow hopefully.

[2017-01-12 18:37] EisenbergEffect commented on #687
Fixed and released.

[2017-01-13 14:08] ksm2 commented on #556
What is the status regarding this issue? Is there any progress so it'll be possible to use layouts in future versions of Aurelia?

[2017-01-13 14:36] EisenbergEffect commented on #556
It should be fixed.

[2017-01-13 14:36] #556 closed

[2017-01-13 18:02] peterver opened #689 "injection of inline styles should be prevented"
**I'm submitting a bug report**

* **Library Version:**
1.0.7

**Please tell us about your environment:**
OSX 10.12.3

* **Node Version:**
7.2.0

* **NPM Version:**
3.10.9

* **Webpack**
Webpack 2.1.0-beta.27

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
Bundling an aurelia application and executing it triggers unsafe-inline styles being injected.

**Expected/desired behavior:

[2017-01-13 18:04] peterver commented on #689
For more information on how xss can occur with inline style injection : https://mikewest.org/2013/09/xss-no-the-other-s-cssconfeu-2013

[2017-01-13 18:41] peterver commented on #689
This is the exact piece of code that is troublesome in my eyes :

![screen shot 2017-01-13 at 19 40 50](https://cloud.githubusercontent.com/assets/821415/21941275/42ccfe44-d9c8-11e6-87ce-f453147115d3.png)

[2017-01-14 09:17] EisenbergEffect commented on #689
I don't think this is a problem since the styles being injected are safe. It's also not always possible to put these into a CSS file since, if you are using shadow dom, they have to be injected into the shadow dom root and cannot be elsewhere.

[2017-01-14 09:17] #689 closed

[2017-01-14 13:43] peterver commented on #689
Fact of the matter is that aurelia is most likely not the only package that's going to be used in most enterprise grade applications. I run a tight ship when it comes to security, but fair enough, i'll look into declaring a nonce for the aurelia bundle on my projects, cause enabling unsafe-inline projectwide is definitely something i don't want :].

[2017-01-14 13:49] cluka opened #690 "Is there an extension point where I can intercept all errors globally?"
**I'm submitting a feature request**

* **Library Version:**
*

**Please tell us about your environment:**
* **Operating System:**
All

* **Node Version:**
7.2.1

* **NPM Version:**
3.10.10

* **JSPM OR Webpack AND Version**
webpack 2.1.0-beta.28

* **Browser:**
all
* **Language:**
TypeScript 2.1

**Current behavior:**
I have to write try/catch block to intercept errors and display the dialog to t

[2017-01-14 15:27] AshleyGrant commented on #690
There's no need for Aurelia to have one as the browser already has this built in: `window.onerror`

https://developer.mozilla.org/en-US/docs/Web/API/GlobalEventHandlers/onerror

[2017-01-14 17:10] cluka commented on #690
Oh, ok. This is fine. :-)

[2017-01-14 17:11] #690 closed

[2017-01-14 23:21] jods4 commented on #642
Chiming in because I have this in mind while working on webpack integration.

The secret sauce in rollup is (a) tree shaking and (b) scope hoisting.

The latter is currently worked on by webpack team. Some discussions happened in webpack/webpack#2873.

The former works in webpack 2 -- but only with ES6 `import`.
That said, Aurelia is _fundamentally not tree-shaking friendly_. And for pretty much t

[2017-01-14 23:34] jods4 commented on #427
@EisenbergEffect can you please keep me in the loop if working on lazy loading features, plugins, resources, etc.? I think it's related to the work we are doing on webpack. Basically, the bundler (i.e. webpack) needs to be able to build a precise dependency graph, and decide what is lazy (in another, on-demand, bundle file) vs what is together.

Today I can easily split an application by route, so

[2017-01-14 23:47] jods4 commented on #386
Zone.js is massively hacking your browser and that approach can cause lots of side-effects.

Try to mix Angular 2 + WebComponent polyfills (maybe with Polymer on top) and you will feel massive pain. On projects we've done at my company I've observed load times of 10+ seconds when switching a view in, because of the way angular/zonejs dirty checking interacted with the MutationObserver used by webc

[2017-01-14 23:50] jods4 commented on #685
Aside: recent developments like `aurelia-loader-webpack` have used `yarn` and include `yarn.lock`, which is basically the same thing as npm shrinkwrap except it's always on.

[2017-01-15 00:21] jods4 opened #692 "Putting Aurelia on a diet"
There is a lot of awareness around "modern" web app sizes and their libs recently. I am assuming this is obvious so won't repeat all here (download times, parsing/startup time, mobiles, etc.).
Some libraries make efforts to reduce size, for example jQuery has slimmed down by stopping supporting old browsers and removed deprecated apis. It also offers non-bundled sources so that you can import only

[2017-01-15 00:27] ajoslin103 commented on #685
yes, I just tried yarn again for the 1st time in a few months - it was a lot smoother!  I'm starting up w/Electron apps and have read a few things here and there that say yarn is iffy there, but I don't imagine that will remain so for long (those might have even been old notes.)

so I'm fine with yarn or npm+shrinkwrap -- as long as it's one or the other, not just lonely npm :)

[2017-01-15 00:39] jods4 commented on #685
BTW I'm not sure the lock files deployed inside dependencies count, do they? I think it's only the one created at the root where you `npm install` (or `yarn install`).

So including `yarn.lock` (or a shrinkwrap) is great for people who work on Aurelia, but I am really not sure it will change anything for people who consume the library?

[2017-01-15 00:39] EisenbergEffect commented on #692
I actually don't think 85k Gzipped is bad at all for such a full-featured framework. None of the other competitors you mention come anywhere close to us on feature-richness. But, yes, we can probably do a few things to improve this. Here are some thoughts off the top of my head...

There are things we could pull out of binding, such as the Unparser and the SVG support. These could be put into sepa

[2017-01-15 01:35] mobilemancer commented on #692
I'd like to see the CLI use tslib when TypeScript is selected.
Having an option of what browser support is needed when creating a project would also be great, and could then be used to optimize polyfills.

[2017-01-15 10:32] jods4 commented on #692
A few unused things might be dropped by tree-shaking (I have yet to test that. When I do I'll report how much is actually dropped).

With webpack, another backward-compatible way to drop optional stuff could be to use defined variables. If we wrap SVG support in a big `if (!NO_SVG)` it won't change behavior but when someone builds with `NO_SVG` defined the code will be dropped.

Using similar tech

[2017-01-15 11:06] AshleyGrant commented on #692
Yep, IE9.

http://stackoverflow.com/q/10183440/2167109

[2017-01-15 11:44] jods4 commented on #692
@AshleyGrant Thanks for the explanation! I could swear I've used the console but it turns out `console` only exists in old IE _after you've opened the F12 tools!_ That kind of shit is worthy of a comment in the code, though.

[2017-01-15 11:46] AshleyGrant commented on #692
Yeah, it bit me back in the day. Unfortunately, IE9 is an important thing for us to support for the foreseeable future. But hey, we welcome a PR w/that comment :-P

[2017-01-15 11:48] zewa666 commented on #692
@jods4 the whole story about sizes is pretty worthless if you can't compare a common set. E.g. out of fun I started building my own ViewOnly Library for a specific project and guess what, **unminified** code version is 4kb. If I'd remove even more error handling and additional helper-functions I could bring it down to 3kb for sure. This was enough for said specific use case but would never be some

[2017-01-15 12:07] jods4 commented on #692
@zewa666 I don't agree that looking at Aurelia size and trying to make it smaller worthless.

For example by doing this exercice I could spot that `aurelia-hot-module-reload`, `aurelia-logging-console` were there although they shouldn't. That's an easy 16+Ko (minified) that can be saved.

The smaller the framework, the better startup times, working sets, etc.
Some people advocate a 300K target siz

[2017-01-15 12:10] AshleyGrant commented on #692
Hey everyone, this basket of puppies was hoping this won't turn in to an argument. Let's all be nice. #LeadingTheCommunity #NailedIt

![image](https://cloud.githubusercontent.com/assets/9885322/21962345/902f5996-daf1-11e6-9e26-474bb365c1d8.png)

[2017-01-15 13:34] jwx opened #693 "How to know if, and how, to create new Aruelia modules"
I'm working on my second PR and unlike the first one this spans over several modules (aurelia/router and aurelia/browser-history) and it might even warrant a new one: aurelia/storage. My question is how I go about to know whether to make a new module out of storage and if so how to create that new module.

I'm going to be working with Aurelia for a while and think I've got at least one more "frame

[2017-01-15 14:32] EisenbergEffect commented on #692
It is an apples to oranges comparison in many cased, but I think we can definitely improve in this area. It's worth it to spend some time looking at what we could do to improve this in the future.

[2017-01-15 14:35] EisenbergEffect commented on #693
For now, create the repo in your own library and then after we review your initial PR, we can make an official repo and move the code over.

[2017-01-15 14:35] #693 closed

[2017-01-15 14:51] atsu85 commented on #642
@jods4
what do You mean by

?

[2017-01-15 15:06] atsu85 commented on #386
@vamp, @jods4

👍

When using [aurelia-computed](https://github.com/jdanyow/aurelia-computed), then that is exactly what is happening.

Not entirely true - my app never falls back to dirty checking :)
See [comment](https://github.com/jdanyow/aurelia-computed/issues/19) and [the line in source](https://github.com/jdanyow/aurelia-computed/blob/master/src/index.js#L75) that allows you to overwrite han

[2017-01-15 15:18] jods4 commented on #386
Yes, exactly. But anything that doesn't use `aurelia-computed` and triggers dirty checking is not logged. In fact, I don't even use `aurelia-computed` here...
I would love to have that debug message built into the core observation infrastructure.

How can you be sure, did you check?
And I'm not speaking of just `aurelia-computed` log; any regular binding can trigger dirty checking. So out of curio

[2017-01-15 15:35] bigopon commented on #642
@atsu85 you will find your answer here [rollup github homepage](https://github.com/rollup/rollup). Basically it can't be shaked if you use commonjs. Only ES6 import / export statement can be analysed.

[2017-01-15 15:43] jods4 commented on #642
@bigopon
That's not what I meant. Aurelia has `es2015` and `native-modules` in its `dist` and that could be tree-shaken. (Assuming your code also uses ES imports)

@atsu85
Let's say you want to use an aurelia charting lib. Maybe it's big.
What you are likely to do is `.plugin('charting-lib')` in your config.
And at this point (startup), it will load and execute the lib and probably register all it

[2017-01-15 16:10] atsu85 commented on #386
@jods4

I've been away from FE development/Aurelia for nearly half of the year, so i may have forgotten smth...
Could You bring an example that i might have missed? If i remember correctly, Aurelia does property rewriting(or how ever it was called), so that when binding needs a property, it uses getter/setter generated by Aurelia for the property instead (that is used to intercept property changes

[2017-01-15 16:58] jods4 commented on #386
Could be lots of things.

Maybe Aurelia could not rewrite the property because it was transformed into a getter/setter by another piece of code/lib;
Maybe it was frozen.

Maybe you wrote a getter and intended to use that with `one-time` or a `signal` but forgot to do so, or the property was reused at a later time in another binding.

Maybe you intended to put a `@computedFrom` annotation on your g

[2017-01-15 17:12] atsu85 commented on #386
Maybe it was frozen.

I believe I didn't use anything that would cause it.

@jdanyow, would this be a problem that caused dirty-checking when using aurelia-computed? I thought that setter is still generated by Aurelia, that intercepts writes and notifies when property changes.

Not a problem for me, as I was using aurelia-computed and

so in this case the user would see an error (and I'd receive a

[2017-01-15 17:18] jdanyow commented on #386
All, I'd like to see some of the proposals here move forward and perhaps get PRs if we can reach consensus on a design. Some of the things discussed here have been frequent requests. I'm going to close this issue because we're not going to take a dep on zone.js. I've opened https://github.com/aurelia/binding/issues/562 and https://github.com/aurelia/binding/issues/563 to continue discussion on the

[2017-01-15 17:18] #386 closed

[2017-01-15 19:01] zewa666 commented on #692
@jods4 I didn't say it's worthless to try to reduce the size, actually this is something we should do and your examples are good. What is worthless though is to compare apples to oranges. Use cases matter as well and Aurelia simply covers different ones then Inferno etc.

As such I just meant that you shouldn't expect Aurelia ever to compete with 9kb sized Libs.

[2017-01-15 20:08] jods4 commented on #692
@zewa666 of course I don't expect Aurelia to become 9Ko in size! 😆

I was looking at my webpack builds and I definitely think we can reduce the base size of Aurelia.

The comparisons were only for some context and I agree they are not 100% meaningful. Yet I don't think we should completely ignore them.

For instance I have previously looked at Vuejs. It's _very_ similar to Aurelia and supports a l

[2017-01-16 17:14] caperavensoftware commented on #680
This is a bug as far as I can see not a question.
It works in chrome and does not in safari.
See the repository from the post.
I am hoping that this issue will be resolved soon ?

[2017-01-16 17:15] caperavensoftware commented on #680
If this is not a bug please come back to me as to how I can make this work on both chrome and safari please.

[2017-01-16 18:16] timfish commented on #637
I spent ages trying to debug this. It should be fixed or at least documented somewhere!

[2017-01-16 18:38] EisenbergEffect commented on #637
@PWKad Can you look into this? Maybe @jdanyow Something is going on there.

[2017-01-16 18:47] timfish commented on #637
This might have been fixed by some recent bug fixes. I've updated all my dependencies and no longer have this issue. @geleto is it fixed for you if you do the same?

I'm on:

[code]

[2017-01-16 22:45] jods4 commented on #692
Some news, I finally managed to get tree shaking to work properly with Aurelia.

| modules | raw | min | gzip |
|---|---|---|---|
| **commonjs, no tree shaking** | 700K | 343K | 85K |
| **ES, tree shaking** | 669K | 324K | 80K |

My comments:
- it's great to have tree shaking in the build, because it can make huge differences with some libraries that are optimized so that you only include what you

[2017-01-17 11:01] geleto commented on #637
Yes, this bug seems to be fixed in the latest release.

[2017-01-17 12:38] #637 closed

[2017-01-17 19:00] cluka opened #695 "Problems with using @useView() but getViewStrategy() works"
**I'm submitting a bug report**

* **Library Version:**
1.0.7

**Please tell us about your environment:**
* **Operating System:**
Windows 2016 Server

* **Node Version:**
7.4.0

* **NPM Version:**
4.0.5

* **JSPM OR Webpack AND Version**
webpack 2.2.0-rc.3

* **Browser:**
Chrome 55

* **Language:**
TypeScript 2.1.5

**Current behavior:**
Ok, it is hard for me to explain this. I have a sidebar with

[2017-01-18 01:12] jods4 commented on #692
Important current tree-shaking limitation, for reference: webpack/webpack#2899
Underlying cause: mishoo/UglifyJS2#1261
This is a huge hindrance to remove dead code from Aurelia as it's heavily based on classes.
Side-note: this is without even considering decorators, which are going to make matters worse.

[2017-01-18 02:59] lu4nm3 commented on #692
@jods4 Would you mind sharing your webpack configuration where you enabled tree shaking for Aurelia?

[2017-01-18 10:27] jods4 commented on #692
@lu4nm3 it's based on the new set of plugins I've made. I am holding off pushing the last (important) changes to jods4/aurelia-webkit because they need a few PR in core Aurelia packages to work out-of-the-box.
Don't worry, in time they will be the official webpack plugins to build Aurelia projects.

Webpack 2.2 always does tree-shaking, but:
- it only works if you use ES `import` style.
- Uglify w

[2017-01-19 07:35] bobrov82 opened #699 ""Out of stack space" when using a combination of replaceable part and processContent"
**I'm submitting a bug report**

* **Library Version:**
1.0.7

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
4.4.5

* **NPM Version:**
3.10.6

* **JSPM OR Webpack AND Version**
0.16.34. Using Aurelia-CLI 0.18.0

* **Browser:**
IE 11 , propably other IE too. Not a problem in latest Chrome and Firefox.

* **Language:**
ESNext

**Current behavior:*

[2017-01-20 00:10] jods4 commented on #692
I have submitted a PR to remove `hot-module-reload` (which is fat) from builds that don't use `--hot`, typically production builds.

Nice results, the size of the package is now **307K (min) 77K (gzip)**.

As far as easy build wins are concerned, there's not much left:
- There's an issue in uglify that prevents removing unused classes in ES5, not much we can do about that.
- If you can afford to t

[2017-01-21 07:55] unional opened #700 "Add supporting interfaces (e.g. RouterApp)"
* **Library Version:**
1.0.0

It may be beneficial to add supporting interfaces (e.g. RouterApp) interface into typings to help user implementing the function they need.

[code]

The same idea can apply to other components. 🌷

[2017-01-21 08:56] CasiOo commented on #700
The interfaces are there, but they aren't grouped into one single interface.
http://aurelia.io/hub.html#/doc/api/aurelia/router/1.1.0/overview
`ConfiguresRouter` `RoutableComponentActivate` ... `RoutableComponentCanDeactivate`

[2017-01-21 09:29] EisenbergEffect commented on #700
They are there for both cases.

[2017-01-21 09:29] #700 closed

[2017-01-22 17:52] niieani commented on #692
@jods4 perhaps we could try using the original `src` Aurelia files and compile them using Webpack via TS (`allowJs: true`) instead of the precompiled `native-modules`. Would be interesting to see how much we could gain without the babel helpers duplicated everywhere.

[2017-01-22 18:13] zewa666 commented on #692
@jods4 is [Babili](https://github.com/babel/babili) maybe something we could use instead for minification?

[2017-01-22 18:17] niieani commented on #692
Another option would be Closure Compiler. It supports ES6, while Uglify still doesn't. I saw there was a TypeScript fork which emits Closure Compiler annotations that the compiler can then work with to minify and do its own tree-shaking. Not sure how feature complete it is though.

[2017-01-22 19:50] jods4 commented on #692
@niieani I think duplicate helpers will be removed with the current plan to move all sources to TS?
I could experiment by pointing webpack to `src`, except that it needs a loader that I am not familiar with (since the sources are annotated JS currently). If someone wants to try once the new plugins are out, you're welcome.

@zewa666 webpack is very extensible. Uglify is just a built-in plugin, you

[2017-01-22 21:32] Gheoan commented on #692
Some ideas that may slightly reduce code size:

- Babel outputs uninitialised variable declarations as initialised to `undefined` ([Babel repl](http://babeljs.io/repl/#?babili=false&evaluate=false&lineWrap=false&presets=es2015%2Ces2015-loose&experimental=false&loose=true&spec=false&code=let%20x%3B), [search results](https://github.com/search?utf8=%E2%9C%93&q=user%3Aaurelia+path%3Adist%2Fnative-mod

[2017-01-22 21:42] Gheoan commented on #692
Regarding polyfils, https://polyfill.io/ is a service which serves only the needed polyfills for each browser (MutationObserver was added recently). It could be mentioned in the documentation alongside instructions on how to replace `aurelia-polyfills` with an empty module for each build system (I saw a few issues asking for how to do it and I had trouble doing it myself for the CLI).

[2017-01-22 22:46] jods4 commented on #692
I remember that I opened a ticket back then to make polyfills optional but it was rejected.

In our apps for example we use corejs to build exactly the set of polyfills that we use and need given our minimum browser target. This is redundant with the polyfills shipped with Aurelia.

[2017-01-23 11:44] caperavensoftware commented on #680
I am disappointed that no one actually took this issues seriously enough to provide some feedback, but you can close this issue. I found a work around.

[2017-01-23 11:44] #680 closed

[2017-01-23 20:48] boshinski opened #701 "Arelia CLI (au new) does not use latest packages in new projects"
**I'm submitting a bug report**

* **Library Version:**
AURELIA-CLI 0.24.0

**Please tell us about your environment:**
* **Operating System:**
Windows 7

* **Node Version:**
4.5.0

* **NPM Version:**
3.10.8

* **JSPM OR Webpack AND Version**
NA

* **Browser:**
NA

* **Language:**
TypeScript 2.0

**Current behavior:**
Creating a new project with aurelia-cli ("au new") does not use the latest packag

[2017-01-24 08:18] AshleyGrant commented on #701
For the non-aurelia packages listed, this is expected behavior. We would not want to automatically update the package to a new major version without first testing it. That being said, we can likely update all of these dependencies after we have done some testing to make sure everything still works.

A PR for this would be greatly appreciated, but I will try to work on this on my flight today. Than

[2017-01-24 17:11] #701 closed

[2017-01-24 17:11] EisenbergEffect commented on #701
Issue moved to [aurelia/cli #468](https://github.com/aurelia/cli/issues/468) via [**ZenHub**](https://www.zenhub.com/)

[2017-01-25 05:04] WendySanarwanto opened #702 "[Bug] Unable to run the default app created by aurelia-cli"
**I'm submitting a bug report**

* **Library Version:**
![image](https://cloud.githubusercontent.com/assets/18456618/22278356/c6cc27b8-e2fd-11e6-99ba-4abc73634d4f.png)

**Please tell us about your environment:**
* **Operating System:**
![image](https://cloud.githubusercontent.com/assets/18456618/22278368/e28bc210-e2fd-11e6-83a6-12a65882d126.png)

* **Node Version:**

![image](https://cloud.githubu

[2017-01-25 07:46] paolocarrasco commented on #671
According to this [issue](https://github.com/aurelia/bundler/issues/133), there was a plan to do so, but no updates so far.
There is a project for that: https://github.com/aurelia/aurelia
Before that, Jeremy Danyow created this gist with CDN-able files (they are similar to those on the aurelia/aurelia project) that can be seen here: https://gist.run/?id=7542e061bc940cde506b&sha=663ada1535eb7ff8eb0

[2017-01-25 15:32] cluka opened #703 "Dependency injection and inheritance"
**I'm submitting a bug report**

* **Library Version:**
1.0.7

**Please tell us about your environment:**
* **Operating System:**
Windows 2016 Server

* **Node Version:**
6.9.4

* **NPM Version:**
4.1.1

* **JSPM OR Webpack AND Version**
webpack 2.1.0-beta.27

* **Browser:**
all

* **Language:**
TypeScript 2.1.5

**Current behavior:**
I don't know if this is a bug or me not doing it right.
Let's s

[2017-01-25 15:39] StrahilKazlachev commented on #703
Which version of `aurelia-dependency-injection`? If it's prior to `1.3.0` could you try with it?

[2017-01-25 15:47] cluka commented on #703
I don't know which version. I don't have it in packages.json as a separate library and I'm on aurelia-framework v.1.0.7., the one that came with the skeleton: typescript-webpack-skeleton.
How to upgrade it?

[2017-01-25 22:25] brylie opened #704 "community.aurelia.io"
Aurelia lacks a dedicated community platform for asynchronous discussion. Gitter is great for real-time chat and StackOverflow is great for Q&A, but neither is great as a general community discussion platform.

Please consider setting up an instance of the open-source [Discourse community platform](https://www.discourse.org/). Discourse even provides [free hosting for open source communities](http

[2017-01-29 14:18] Plaristote commented on #65
This is highly confusing to me.

If I understand everything properly, `jspm` has its own `require` functions.
Aurelia *also* has its own `require` functions.
I cannot possibly use both at the same time, can I ?

Aurelia doesn't seem to care about jspm packages. If I install anything using jspm, it will just be ignored. And Aurelia cannot import "regular" npm packages (I can work with `underscore`

[2017-01-29 16:33] Narven opened #705 "Link does not work on Hub"
In:

`http://aurelia.io/hub.html#/doc/article/aurelia/i18n/latest/i18n-with-aurelia/5`

The link on  the line: `The object passed to t-params is a complex object explained in the next section`

That was supposed to go to: http://aurelia.io/hub.html#complex-objects-for-variables

does not work

[2017-01-29 16:46] AshleyGrant commented on #705
@zewa666 would you please check in to this and update the link. I think you asked about this type of linking in the chat room?

[2017-01-29 17:39] zewa666 commented on #705
Yep thanks for reporting. The issue is that the hub does not support linking to a 3rd level entry. I'll rewrite the section to make sense without a link

[2017-01-29 18:21] AshleyGrant commented on #705
@EisenbergEffect looks like this one can be assigned to @zewa666

[2017-01-29 19:35] PWKad commented on #65
For clarification if anyone comes back in the future to this and is confused by mis-information -

1. @Plaristote - Aurelia does not implement `require()` on it's own, we use a loader abstraction that is defined by the user (usually either require.js, system.js, or something similar)
2. @brunocascio -  `-` characters (dashes) are not valid names for properties / keys / objects in JavaScript, this

[2017-01-29 21:45] zewa666 commented on #705
Oh I think that's related to this issue https://github.com/aurelia/i18n/issues/190 the hub just hasn't been updated

[2017-01-29 21:48] EisenbergEffect commented on #705
Likely. I'm behind on docs updates. I'll close this out.

[2017-01-29 21:48] #705 closed

[2017-01-30 04:22] EisenbergEffect commented on #702
This looks like you have an environmental flag set on your machine that is getting picked up by the watch command (making it look for development.js). Try using this commend instead:

[code]

[2017-01-30 04:22] #702 closed

[2017-01-31 05:22] #139 closed

[2017-01-31 15:31] hadrienl opened #706 "External resources"
Hi,

I'm looking for the best way to arrange my code base with common resources shared between different projects. I have three aurelia apps. In each one, I added some resources in its resources folder (custom elements, attributes, etc). When I needed one already wrote in another project, I just pasted it. Now I have time to refacto, I'd like to move all this resources in a dedicated repository. T

[2017-01-31 15:40] hadrienl commented on #706
I forgot to tell that I don't want to make a plugin because I don't want to load every modules of my repo. What I'd like, if it is possible, would be to be able to set `.feature('../node_modules/path/resources')` and load them like I load my local resources.

[2017-01-31 15:41] AshleyGrant commented on #706
I would recommend using a private NPM repo to distribute reusable components.

Also, this question should be posted to Stack Overflow as stated in the issue template. If you'd like further guidance, please post this question to Stack Overflow. @EisenbergEffect please close this question.

[2017-01-31 15:51] hadrienl commented on #706
GOTO http://stackoverflow.com/questions/41961759/aurelia-external-resources

[2017-01-31 15:51] #706 closed

[2017-01-31 21:39] Zenorbi commented on #699
This is probably a duplicate of https://github.com/aurelia/templating/issues/460 (same underlying problem)

[2017-02-01 00:53] #699 closed

[2017-02-01 02:32] jack4it commented on #642
@jods4 Impressive explanation, thanks! @EisenbergEffect Would really love to see some overall plan of making this work. Not just the framework itself will be shakable, but also the entire ecosystem would be.

[2017-02-01 04:54] EisenbergEffect commented on #642
I think the first step is getting a solid webpack build with HMR, server-render and basic tree shaking in place. Once we have that, we can look at how we might be able to re-organize things in such a way to improve tree shaking. In a separate issue I've outlined a few ideas on how we can do some refactoring to reduce size of a few pieces. We have to be careful about the timing of this, because to

[2017-02-01 15:37] swalters commented on #704
This has been brought up many times before and keeps getting shot down.  I've never had to manage a large community so I don't know all the work involved to keep the spammers and trolls out.  I'm sure it's not trivial.  However, this type of community IS needed.  SO is for question/answer only.  There's no where I can converse with the community about best practices, etc.

[2017-02-03 01:23] jods4 commented on #692
I lurked around the code and here are a few observations:
- There are some ES5 helpers repeated a few times across the whole codebase. -> the plans to migrate to TS + use a single helpers module should help a little bit.
- The current codegen names all functions, like: `var frob = function frob() { }`, I guess to preserve `Function.name`. This results in quite some duplicated names. TS doesn't do

[2017-02-03 02:55] EisenbergEffect commented on #692
Go for it!

On Feb 2, 2017 5:23 PM, "jods" <notifications@github.com> wrote:

[2017-02-03 10:07] brylie commented on #704
One thing worth noting, if we see Discourse as a good option for the community platform, we can benefit from built-in defaults that deter SPAM and abuse (as well as being able to flag 'uncivil' behavior).

[2017-02-03 11:41] brylie opened #707 "Doc HUB not working properly, when blocking Google Analytics"
**I'm submitting a bug report**

**Please tell us about your environment:**
* **Operating System:**
Linux: Ubuntu 16.04

* **Browser:**
Firefox 50.1.0

**Current behavior:**
The Docs HUB pages do not render when navigating via the sidebar:
![peek 2017-02-03 13-40](https://cloud.githubusercontent.com/assets/17307/22590136/6faccf9e-ea16-11e6-9d8f-8dbc7d221e7e.gif)

**Expected/desired behavior:**
* *

[2017-02-03 11:44] brylie commented on #707
Allowing Google Analytics for the Doc HUB site fixes the issue. However, it might be worth the effort to make the Doc HUB site work without tracking software.

[2017-02-03 16:09] jwx opened #708 "Prioritized backlog/wishlist"
Is there a backlog or a wishlist or similar that's been prioritized by the team? I'd like to help out, but want to spend the time where it's put to the best use.

[2017-02-03 17:11] EisenbergEffect commented on #708
Anything labeled as "bug" or "help wanted" are great places to help out.

[2017-02-03 17:11] #708 closed

[2017-02-04 02:33] jods4 commented on #692
I noticed that webpack `style-loader`, which lets you `import "file.css"` from your code and automatically add it to the DOM when the module is executed is really doing the same thing as Aurelia already can with `<require from="file.css">` in your view.

So removing `style-loader` reduced my bundle to **298K** minified, which is 9K down from previous build.

There are two drawbacks, though:
- Webp

[2017-02-04 19:28] jods4 commented on #692
I am putting SVG support behind a global variable `FEATURE_NO_SVG` in PR aurelia/binding#569.
Of course at this point nothing changes for users.

But defining that variable in my webpack build brings the bundle down to **279K**, which is 19K down from previous build. (But I lost SVG support, obviously.) I started this experiment at 343K so I went already quite a long way.

📢  **If anyone is aware

[2017-02-04 19:32] EisenbergEffect commented on #692
You could potentially remove the `Unparser` in binding as well. That's generally only needed during development.

[2017-02-04 19:41] jods4 commented on #692
@EisenbergEffect This re-creates string expressions from parsed one, right? What actually uses it?

It's not nearly as heavy as SVG was and minifies a lot better; it's just over 2K in my build. Might still be an easy removal, so I'll try to look into it whenever I can.

[2017-02-04 19:45] EisenbergEffect commented on #692
Yes, that's correct. It's only used if you toString an AST I believe. (It's been a while since I looked at that code.) Ideally, this would be removed and put in the testing lib, but that would be a breaking change. You should be able to build it away safely for pretty much any app.

[2017-02-05 10:27] niieani commented on #692
@jods4 I did work on that, and CSS loaded by Aurelia hot reloads just fine for me. It doesn't hot-unload when you remove the `<require>` from the `.html` template though. Not sure what was the behavior of the `style-loader` here?
See [this file](https://github.com/aurelia/hot-module-reload/blob/master/src/hmr-css-resource.ts), which adds reference tracking for required CSS.
And [here](https://gith

[2017-02-05 14:19] jods4 commented on #692
@niieani I see, this is related to aurelia/templating-resources#272.
It is hard-wired for `.css`:
https://github.com/aurelia/hot-module-reload/blob/master/src/aurelia-hot-module-reload.ts#L46

It didn't work for me because I used `<require from="style.less">` (the magic of webpack loaders). I had to hack templating-resources to make it work and I didn't think that HMR would require the same hackin

[2017-02-05 14:33] niieani commented on #692
Yeah, the HMR CSS hot reloading is hacky that way. We have an issue somewhere about making it easier to use other extensions for CSS loading with Aurelia. Perhaps we should just add an attribute on `require` which would tell Aurelia how to treat a certain `require`?

Perhaps based on content MIME-types:

[code]

or with a more "generic" concept of "type":

[code]

And then we could internally setu

[2017-02-07 07:47] hajs opened #711 "Basic Project Template on Aurelia-Hub is not updated"
**I'm submitting a bug report**

The idea to use Aurelia without node, npm&friends for smal private or in-house projects is very appealing. Unfortunately the archive only contains an Aurelia release from seven months ago:

http://aurelia.io/downloads/basic-aurelia-project.zip
(via http://aurelia.io/hub.html#/doc/article/aurelia/framework/latest/quick-start/1)

* **What is the expected behavior?**

[2017-02-07 09:17] hajs commented on #711
Ah I guess that I found the corresponding github repository: https://github.com/aurelia/aurelia
But no updates, either :(

[2017-02-07 20:34] RichiCoder1 opened #712 "Reorganize packages under `@aurelia` npm scope."
Probably too large of a change this late in the game, but it would be very welcome to group Aurelia core packages under `@aurelia` in a similiar manner to Angular.

Docs: https://docs.npmjs.com/getting-started/scoped-packages
Examples: https://www.npmjs.com/~angular

[2017-02-07 20:56] EisenbergEffect commented on #712
Unfortunately, when we started our work, that feature wasn't yet supported on NPM. I think it's too late for that for v1. We can look to doing something like this in the future.

[2017-02-07 20:58] RichiCoder1 commented on #712
Yup! Food for though for a future major release :)

[2017-02-07 22:08] AshleyGrant commented on #712
We should go ahead and claim the namespace though, @eisenbergeffect

[2017-02-09 16:48] TomFoyster commented on #707
I'm having the same issue on Chrome, though accompanied with the following Warning/Exceptions in the console;

[code]

[code]

[2017-02-10 10:03] TomFoyster commented on #707
I've discovered this is a local issue related to our proxy :(

[2017-02-10 11:45] brylie commented on #707
Cool. For what it's worth, this problem seems to have been resolved recently.

[2017-02-12 07:02] bigopon commented on #692
One thing that could potentially reduce a lot of fat is to do something like this in class methods across Aurelia src:
[code]

A quick sum through the minified code shows me this could help. Maybe this job can be delegated to build tool.

Another 1 is to have class transformation more efficient:
[code]

I believe the latter can have good impact on production bundles, but it seems harder to achieve

[2017-02-12 13:08] jods4 commented on #692
@bigopon Yes using local variables/parameters rather than global names/properties results in smaller code because the former can easily be mangled by minifiers, while the latter can't.

In my opinion this comes at the expense of source code readability, which I see as more important -- unless we talk about large wins in specific areas. I don't know what others think about it. Moreover it tends to

[2017-02-12 19:17] don-bluelinegrid commented on #367
A common example is the router. The router processes a navigation and eventually wants to add the dom for the new view into the document. However, if there's a compose element in the new view, it may be asynchronously composing another widget. The router uses the above mechanism to know when the internal composition is complete. When it is, it then adds the view to the document. This allows comple

[2017-02-12 21:16] jods4 commented on #692
I did a build using ES6 distribution + Babili minifier (based on Babel, supports ES6).
It's quite easy you can choose the distribution with `new AureliaPlugin({ dist: 'es2015' })` and use `babili-webpack-plugin`.

The result (with default Babili options) seems to work.
Because the syntax is often shorter (e.g. `=>` for functions) and we don't need ES5 helpers, the result is more compact by a fair

[2017-02-12 21:33] EisenbergEffect commented on #692
Excellent work investigating that @jods4 My thought from the beginning is that Aurelia would get smaller over time by basing things on standards. So, smaller syntax and no polyfills as a nice side-effect of the progress of the web.

[2017-02-12 21:59] jinwangchina opened #714 "Is there a way to destroy aurelia manually? force it to trigger detached() in all components"
I manually deleted the root tag "<div aurelia-app="main"></div>" by manipulating DOM directly, but found no detached() called in my custom-element.

I wonder if there is a way to destroy aurelia manually? for example, a api like aurelia.destroy() which will trigger detached() to be called in all components.

[2017-02-12 22:07] EisenbergEffect commented on #367
@don-bluelinegrid Definitely move that out of the constructor. If you return a promise from `activate`, you should get the behavior you desire.

[2017-02-13 01:05] don-bluelinegrid commented on #367
@EisenbergEffect

Rob,

Thanks, I see this in the docs now, which I had missed before.

I had tried to attach a new .then() to my existing Promise that returns the required data, which worked.  But returning a Promise in the activate() of the parent VM is clearly the correct, and more elegant, way to cause routing to wait for required/resolved data.

Thanks,
Don

[2017-02-13 09:12] RomkeVdMeulen commented on #704
What about the [Aurelia subreddit](https://www.reddit.com/r/aureliajs/)?

[2017-02-13 09:14] brylie commented on #704
It is pretty good, yes. Perhaps could use more activity.

Honestly, though, Reddit pales in comparison with a dedicated forum, such as Discourse.

[2017-02-13 09:20] brylie commented on #704
Here are a few examples, from semi-related projects:

- [React discuss](https://discuss.reactjs.org/)
- [Vue Forum](https://forum.vuejs.org/)
- [Meteor forums](https://forums.meteor.com/)

[2017-02-13 09:31] brylie commented on #704
What are some of the main concerns **against** having a dedicated community forum? Perhaps we can work through some of them with a bit of organizing.

[2017-02-13 16:59] EisenbergEffect commented on #704
Is there some reason that Stack Overflow isn't acceptable? My primary reason for avoiding forums is maintenance.  It's another channel the entire team has to attend to every day, which means less work on issue triage, bug fixes and new features. So far, we have: Stack Overflow for questions. GitHub for bug reports and feature requests (and discussions related to these items). Gitter for quick feed

[2017-02-13 17:04] BrainBuzzer commented on #704
I don't feel like there is a need of forums for Aurelia yet. Stack Overflow community is amazing and always ready for instant reply. For most of other frameworks forums, they go blank at some point and solution is not provided. For now, sticking with Stack Overflow is good.

[2017-02-13 17:08] jpsala commented on #704
Please reconsider, I really think it would be great for the growth of the
community to have a nice forum, I definitely would love it, it's nearly
imposible to learn from gitter, and stack overflow its better but not so
much, maybe you can make a pull? sorry about my English

On Mon, Feb 13, 2017 at 2:04 PM, Aditya Giri <notifications@github.com>
wrote:

[2017-02-13 17:09] swalters commented on #704
Stack Overflow is strictly for question/answer. It's not made for discussions. That's why Atwood created Discourse.  Great explanation in this podcast. http://2ketodudes.com/show.aspx?episode=47.   A topic like 'What are the current best UI components for Aurelia' is too vague of topic for SO.

Gitter is great for quick replies, but it's junk for long conversations. Searching in gitter is painful.

[2017-02-13 18:13] AshleyGrant commented on #704
I feel personally that the aurelia subreddit could quite easily handle this need. It offers a simple way to ask opinion based questions and people can upvote and downvote answers as well as reply to answers in a threaded fashion.

[2017-02-13 18:27] CasiOo commented on #704
I'm personally looking forward to the `Aurelia cookbook` that has been discussed before. A section in the hub with recipes, setup examples, submit their different ways of accomplishing a task, and hopefully an easy way for people to submit and improve it. A cookbook that should be maintained by the community without the need for the Aurelia team to interfere too much.
I think there's an open issue

[2017-02-13 20:03] jods4 commented on #692
I just cut **2K** from the minified build by removing `Unparser`, see aurelia/binding#573.
Because `aurelia/validation` still relies on it (see aurelia/validation#412) I include it by default (opt-out).

So starting an ES6 project with the core of Aurelia is now under 250K minified.

[2017-02-13 21:53] jods4 commented on #692
aurelia/polyfills#46 adds support for selectively removing polyfills, based on `es2015`, `es2016`, `esnext` or `none`.

This is acceptable if you target only modern browsers (in which case you probably want `esnext`, which includes the `Reflect.metadata` stuff which is not even close to being a standard yet).

Another situation is that you might include a specific list of polyfills (probably from

[2017-02-13 23:01] swalters commented on #704
@AshleyGrant Reddit is the platform you want to be presented to business leaders?  I'll pass.

![reddit the front page of the internet 2017-02-13 17-00-26](https://cloud.githubusercontent.com/assets/195646/22907319/16f44cc4-f20e-11e6-8af2-47ef7fca28a4.png)

[2017-02-14 00:32] AshleyGrant commented on #704
I'm not sure why content on other subreddits matters. The Aurelia subreddit doesn't have that content you screenshotted.

There are plenty of great communities on reddit. The Angular subreddit is fairly active. As the community lead, I think that fostering a great community on one of the leading community sites in the world is a good idea.

[2017-02-14 01:25] Gheoan commented on #692
A `element.classList` polyfill is included in `aurelia-pal-browser`. Should it be moved to `aurelia-polyfills` or removed and handled like the other polyfills required for IE9 support (`MutationObserver`). Removing it might be considered a breaking change.

[2017-02-14 04:29] EisenbergEffect commented on #714
There isn't a standard way to do this. We need to add one and we'd certainly welcome your contribution. As a work around, there's a semi-private property named `root` that is the root view. You can call `detached` and then `unbind` on that to clean things up.

[2017-02-14 07:38] brylie commented on #704
Here are a few examples of other active frontend/full stack communities on Reddit:

- [Meteor](https://www.reddit.com/r/Meteor/) > 4,000 readers
- [React.js](https://www.reddit.com/r/reactjs/) > 19,000 readers
- [Vue.js](https://www.reddit.com/r/vuejs/) > 3,000 readers

Comparing (https://www.reddit.com/r/aureliajs/) to the above:

- around 600 readers
- generic design/branding
- two moderators, u

[2017-02-14 08:13] mttmccb commented on #704
Personally happy with the community setup, apart from Gitter, it's good for linking to github and tracking things but doesn't really foster a community, why not slack or discourse?

Reddit is a little nasty in my experience.

[2017-02-14 09:27] jods4 commented on #692
@Gheoan all those changes are opt-in for compatibility purposes. The default build still includes everything. You must set flags to remove parts that you don't need, which can be a breaking change, indeed.

[2017-02-14 13:52] AshleyGrant commented on #704
@brylie
NewNole2001 is me. Davismj is @davismj another core team member.

I'm really not sure what the point you are trying to make is though. Currently, the subreddit isn't not promoted as a way for our community to interact with each other. We promote the Gitter Channel, GitHub issues, and Stack Overflow questions for this. Each of these avenues is currently very active.

If we were to promote t

[2017-02-14 19:26] Gheoan commented on #692
@jods4 I was under the impression that they would be removed from the default build. Sorry for the confusion.

These flags can be used for other build systems other than `webpack`?

[2017-02-14 19:56] jods4 commented on #692
@Gheoan Surely.
In code, optional parts are wrapped by global variables (that don't exist) for example:
[code]
And likewise for a bunch of `FEATURE_NO_XXX` that I have documented in my wiki (look in the docs for the `feature` option).

What you need is a build that is able to statically evaluate `typeof FEATURE_NO_XXX === 'undefined'` as false and then drop the dead code.

Webpack has all the requ

[2017-02-14 22:02] jinwangchina commented on #714
Thanks EisenbergEffect, it works.

[2017-02-15 01:27] EisenbergEffect commented on #692
I think requirejs can use this too. I'll check.

On Feb 14, 2017 11:56 AM, "jods" <notifications@github.com> wrote:

[2017-02-15 05:29] krokofant commented on #138
I'm having almost the same problem with Metro-UI's datepicker. I found this link useful https://www.danyow.net/jquery-ui-datepicker-with-aurelia/

My solution looks like this, inspired by the link above:
[code]

[code]

Note the `ref="selectedDateNode"`.

[2017-02-15 07:44] brylie commented on #704
The point was to make note of the current 'state of aureliajs reddit'.

Perhaps the main point of this issue is that the Aurelia community need and deserve an 'official' discussion platform.

I harbor additional concerns about Reddit in terms of usability, design, and focus that could be better addressed by a 'ready-made platform' such as [Discourse](https://en.wikipedia.org/wiki/Discourse_(softwa

[2017-02-15 07:46] brylie commented on #704
Note: bold text above is for clarity and emphasis.

[2017-02-15 15:30] cluka opened #715 "Checkbox binding not working as written in documentation"
**I'm submitting a bug report**

* **Library Version:**
1.0.7

**Please tell us about your environment:**
* **Operating System:**
Windows Server 2016

* **Node Version:**
6.9.4

* **NPM Version:**
4.1.1

* **JSPM OR Webpack AND Version**
webpack 2.1.0-beta.27

* **Browser:**
all

* **Language:**
TypeScript 2.1

**Current behavior:**
Currently selecting any checkbox, selects them all.
I have create

[2017-02-15 23:25] sousekd opened #717 "Hierarchical (parent/child) select binding"
Hi,

**I'd like to submit a bug report**

* **Library Version:**
tested on 1.0.3 (gist), 1.0.8 (our dev environment)

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Browser:**
Chrome 56.0.2924.87

* **Language:**
all

**Current behavior:**

We are having issues when trying to bind two selects (dropdowns) in a typical parent/child scenario, The child dropdown (wh

[2017-02-16 01:12] te-je opened #718 "'webkitIndexedDB' is deprecated and will be removed in M57, around March 2017. Please use 'indexedDB' instead."
I get this warning in aurelia-bootstrapper. I tried updating to the latest version of aurelia and webpack and it does not go away.

[2017-02-16 02:51] EisenbergEffect commented on #718
We don't use indexDB anywhere, as far as I know.

[2017-02-16 02:51] #718 closed

[2017-02-16 13:56] cluka commented on #695
Another one I think is connected to this is:
is I use "useView('viewName')" my navigation is not working.
So if I open the view than in it i do router.navigateToRoute('routeName') it does change the url but not the viewmodel/view.
Again all works fine if I use "getViewStrategy()"

[2017-02-18 23:13] pvencill opened #719 "export default prevents CustomElement from working"
**I'm submitting a bug report**

* **Library Version:**
1.0.8

**Please tell us about your environment:**
* **Operating System:**
OSX 10.12.3

* **Node Version:**
6.9.1

* **NPM Version:**
3.10.8

* **JSPM OR Webpack AND Version**
webpack 2.2.1

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
When creating a view-model (.js) file for a CustomElement, using `export default class .

[2017-02-19 01:14] EisenbergEffect commented on #719
The reason is that your element is named `default`, which is probably not what you expect. The convention uses the export name. Try adding a `@customElement('name-here')` decorator to specify the name if you want to use default exports.

[2017-02-19 01:14] #719 closed

[2017-02-19 16:01] chabou-san commented on #685
I can confirm this, based on [yarn documentation](https://yarnpkg.com/en/docs/yarn-lock#toc-current-package-only). The `yarn.lock` is only for the current package, so it won't change a thing whether Aurelia libraries include their own `yarn.lock` file or not.
I don't know about npm's `shrinkwrap` but I wouldn't be surprised that it'd behave the same way.

[2017-02-20 00:39] philmein23 opened #720 "General question - Can Aurelia support Ramda?"
#Just out of curiosity - anyone here using Ramda in conjunction with Aurelia, and if not, are the two compatible? I have been immersing myself in the arts of functional programming but with through my experience of using Aurelia (for work) I was not sure if the two support each other. Can someone confirm? I apologize for this ridiculous question, but as a junior developer, I would love to know.

T

[2017-02-20 01:12] AshleyGrant commented on #720
Ramda could work within an MVVM framework like Aurelia, but it isn't a natural fit, I'd say. ViewModels, by design, are stateful.

You could use it in the levels below the UI though, no problem. Aurelia apps are just JavaScript apps.

[2017-02-20 15:02] gbreeze opened #721 "Repeater Binding Error (on sorting the array)"
Hi guys,

the repeater does not reflect the items order with the underlying array. See the Gist demo to reproduce the issue.

<https://gist.run/?id=ba12e33c7589c7b21386791286b3c37b>

Thanks,
George

---

* **Library Version:**
1.0.8

* **Operating System:**
Windows [10]

* **Node Version:**
6.9.4

* **Browser:**
FF | Chrome

[2017-02-20 15:28] AshleyGrant commented on #721
As a reference. After running through the steps, this is the state of the array:
![image](https://cloud.githubusercontent.com/assets/9885322/23131182/1f06d0aa-f757-11e6-9837-26fe8f634c18.png)

And below is the display I'm getting for the array:
![image](https://cloud.githubusercontent.com/assets/9885322/23131221/3845d6a6-f757-11e6-8642-6f4f2c81fabf.png)

I'm sure this has something to do with the

[2017-02-20 16:03] pvencill commented on #719
@EisenbergEffect that's not the correct behavior, though. This is definitely a bug, not a question, and it should be reopened as such.  The syntax `export default <classname>` is accepted part of the ES6 spec (https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/export), so I don't see why that's valid logic to take the keyword `default` and assume it's the name of the modu

[2017-02-20 16:32] AshleyGrant commented on #719
The name of the default export is `default`. When Aurelia inspects the module, that is the name it gets `default`. The default exportcan be though of as just another named export, with the name of `default`. Even if you do `export default class Foo`, Foo goes away.  If you don't believe me, let me show you.

I created a module for a StackOverflow question recently. I called the module `alert`. I'v

[2017-02-20 16:51] Robula commented on #7
Any news on this? I've just tried attempting this myself and I'm not even sure if it's possible.

[2017-02-20 16:52] AshleyGrant commented on #7
It is not currently supported. This is on the roadmap, though.

[2017-02-20 17:22] jdanyow commented on #721
Looks like a bug- also noticed changing the binding in the repeat to `${listService.list[$index].name}` might be a workaround.

[2017-02-20 17:29] pvencill commented on #719
@AshleyGrant I appreciate the detailed explanation.  Given that `default` has been a reserved word in ECMAScript for quite a while now, it seems like having the Aurelia framework add a check and then handle the case differently would make sense to me.  In the meantime, obviously, I can use the work-around.

[2017-02-20 17:46] AshleyGrant commented on #719
@pvencill I tried to read the spec to see if the `name` property is standard, but I had to move on with my day after a few minutes. You might have time to check here: http://www.ecma-international.org/ecma-262/6.0/

[2017-02-20 18:12] EisenbergEffect commented on #719
The `name` is a standard property of function/constructor but we can't use that because minifiers usually change the name during the minification process. Using that would mean that your code would work during dev and test but completely break with no errors in production. The export name is part of the official API contract and doesn't change, so it's the only safe thing we can use, besided the e

[2017-02-20 21:03] ptmagalhaes opened #722 "HOW to put META TAG DESCRIPTION"
**I'm submitting a bug report**
**I'm submitting a feature request**

* **Library Version:**
major.minor.patch-pre

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x|Linux (distro)|Windows [7|8|8.1|10]

* **Node Version:**
6.2.0

* **NPM Version:**
3.8.9

* **JSPM OR Webpack AND Version**
JSPM 0.16.32 | webpack 2.1.0-beta.17

* **Browser:**
all | Chrome XX | Firefox XX |

[2017-02-20 23:00] jdanyow commented on #722
please ask these types of questions on stackoverflow

[2017-02-20 23:00] #722 closed

[2017-02-20 23:20] camdebuck opened #723 "Event Listeners not working on Mobile Devices"
**I'm submitting a bug report**

* **Library Version:**
major.minor.patch-pre

**Please tell us about your environment:**
* **Operating System:**
Android - Chrome

* **Node Version:**
6.8.1

* **NPM Version:**
3.10.8

* **JSPM OR Webpack AND Version**
JSPM 0.16.47

* **Browser:**
all | Chrome XX | Firefox XX | Edge XX | IE XX | Safari XX | Mobile Chrome XX | Android X.X Web Browser | iOS XX Safari

[2017-02-21 00:34] #720 closed

[2017-02-21 15:44] camdebuck commented on #723
It also fails on iPhone using their default browser.

I entered the operating system incorrectly:
 Operating System:  macOS Sierra 10.12.3

Hope that helps.

[2017-02-21 17:46] stoffeastrom commented on #723
I don't understand. What do you mean that the event listener is not working? Is it fired and your code that tries to filter out numeric/decimal characters doesn't work? Or is it not fired? Also, I'm not sure your code will work since there are quite a lot of browser inconsistency in this area.

[2017-02-22 00:29] camdebuck commented on #723
Unfortunately, I do not know the exact details (and don't know how to debug it).  All I know is that it works fine when using a browser on the computer, but it does not work on a mobile device.

I can only assume that event listener is not being fired properly.

I'm more than willing to help where I can, I will just need some guidance to help you.  Thank you.

[2017-02-22 07:41] stoffeastrom commented on #723
@camdebuck First thing would be to figure out if the event listener is working which I think it does. Next thing would be to use more cross browser friendly code to ensure it works as you want. If you google this you will get a lot of results. What I would have tested is

* Use `keypress` event instead so you don't have to check for modifiers etz
* Use `event.which` or `event.keyCode` or check how

[2017-02-22 09:17] npelletm commented on #718
I experiment the same "issue".
Module loader : requirejs
Browser : Chrome 56.0.2924.87
module location : `define("aurelia-metadata", ["exports", "aurelia-pal"], function(n, t) {`
![image](https://cloud.githubusercontent.com/assets/1608892/23204612/9322926c-f8e7-11e6-9233-0baea7beb7bd.png)

[2017-02-22 13:07] nenadvicentic commented on #27
Does not work indeed.

[2017-02-22 14:58] jdanyow commented on #723
@stoffeastrom thanks for jumping in here.

@camdebuck please move this over to stackoverflow if you have further issues.

Some good reading:
http://www.quirksmode.org/dom/events/keys.html
http://www.quirksmode.org/js/keys.html

[2017-02-22 14:58] #723 closed

[2017-02-22 15:36] paolocarrasco commented on #27
The Aurelia problem is with the navigation bar, the bad-styling in the notes section is not an Aurelia issue but CSS.

[2017-02-22 15:54] AshleyGrant commented on #27
@paolocarrasco please create a new issue to report this display bug in our docs app. The issue you are responding to was a question of what browsers Aurelia supports. We support IE9+ and the current versions of all other browsers, as they are "Evergreen" (constantly kept updated).

[2017-02-23 18:49] deap82 opened #724 "attached() not called on custom element inside enhanced area"
**I'm submitting a bug report**

* **Library Version:**
Current, as it is reproduced in gist/gistrun (link below).

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.9.1

* **NPM Version:**
3.10.8

* **JSPM Version**
JSPM 0.16.48

* **Browser:**
Chrome, but I would suppose all.

* **Language:**
TypeScript

**Current behavior:**
A custom element th

[2017-02-23 18:54] stoffeastrom commented on #724
[code]
The `enhance` is returning the `view` so just call `attached`

[2017-02-23 18:57] stoffeastrom commented on #724
Look at the [framework](https://github.com/aurelia/framework/blob/master/src/aurelia.js#L99-L108) implementation

[2017-02-24 07:12] EisenbergEffect commented on #724
We should probably do this....
The above from @stoffeastrom is recommended for now.

[2017-02-24 07:25] stoffeastrom commented on #724
@EisenbergEffect Agree, also we might have guidelines on how to properly tear down the enhancment

[2017-02-24 17:37] sousekd commented on #717
Hi,

We are still struggling with the issue. I believe that having a set of dropdowns for editing hierarchical data on a form has to be quite a common scenario - so maybe we are just doing something completely wrong... Until this is fixed, does anybody know about some elegant workaround?

Thanks again,
David

[2017-02-24 17:54] EisenbergEffect commented on #717
@jdanyow Can you provide some insight?

[2017-02-25 04:30] jdanyow commented on #715
check the console- there's an error that explains the issue. The user class's `roles` property is undefined. Change from `roles: [];` to `roles = [];` and the gist will start working.

[2017-02-25 04:30] #715 closed

[2017-02-25 10:18] cluka commented on #715
Thanks, that solves it

[2017-02-25 23:44] estaylorco opened #725 "Normalize imports with configuration"
**I'm submitting a feature request**

* **Library Version:**
1.0.6

**Please tell us about your environment:**
* **Operating System:**
MacOS 10.12.3

* **Node Version:**
7.3.0

* **NPM Version:**
3.10.10

* **JSPM OR Webpack AND Version**
JSPM 0.16.52

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
Import statements take on many forms: strings, curly brackets, an asterisk, etc.

[2017-02-26 00:05] AshleyGrant commented on #725
The `import` statement isn't part of Aurelia. It is part of the language.

[code]

is not valid JavaScript, and thus we would not be able to support this.

[2017-02-26 00:08] AshleyGrant commented on #725
Also, a lot of the stuff you're looking for can already be done by utilizing TypeScript and Visual Studio Code.

[2017-02-26 00:10] estaylorco commented on #725
The keyword `import` isn't really a part of the language yet, either.  But we could improve what's there with transpilation, no?  We're already improving the language itself.

[2017-02-26 00:15] AshleyGrant commented on #725
`import` has been part of the language for nearly two years now. It's part of ES2015.

That being said, Aurelia doesn't currently do anything on the transpilation front. This would have to be a plugin for Babel or something. Given our stance on "Aurelia is *just JavaScript*," I highly doubt we would consider extending the language in any way.

This doesn't mean I don't like parts of your proposal,

[2017-02-26 00:21] #725 closed

[2017-02-26 00:25] EisenbergEffect commented on #725
We are constrained by the language and don't have any desire to do something that is non-standard. Having said that, as @AshleyGrant mentions, some of this can be done by VS Code, some of it could be done as a transpiler plugin (specific to the transpiler you use) and some of it could be done as an extension to the module loader or bundling solution. To achieve what you have above, would likely be

[2017-02-26 00:28] estaylorco commented on #725
I wonder if I could write a gulp task that could simply look to a configuration file and replace the import statements with ES6-compliant statements.  In other words, simply handle this pre-transpilation.

Perhaps that would be more practical?

[2017-02-26 00:32] EisenbergEffect commented on #725
That's definitely possible as part of a build step. It's not something we want to do with the Aurelia Team. We've got so much on our plates just keeping up with web standards and the general integration with popular tools.

[2017-02-26 00:35] estaylorco commented on #725
Oh, I understand:  Once it falls within the realm of gulp, it makes sense to me that it would be outside the roadmap of the Team.  I mean, that's the beauty of a task-runner.

I just hadn't thought of gulp until the prodding of your comment.

[2017-02-26 11:09] vit3k opened #726 "attached and methods used in template are not called when navigating to the same view"
**I'm submitting a bug report**

* **Library Version:**
1.0.8

* **Operating System:**
OSX 10.12.3

* **Node Version:**
6.9.4

* **NPM Version:**
3.10.10

* **JSPM OR Webpack AND Version**
JSPM 0.16.51

* **Browser:**
Chrome 56 | Firefox 51

* **Language:**
ESNext

**Current behavior:**
Attached method and methods that are used in template are not called when navigating to the same view but with d

[2017-02-26 12:22] stoffeastrom commented on #726
Does [this](http://stackoverflow.com/questions/39999969/how-to-set-default-activationstrategy-in-aurelia) help you? E.g you have to set `activationStrategy` either by implementing the `determineActivationStrategy` on the view model or setting it for the router config
[code]

[2017-02-26 15:10] vit3k commented on #726
Yes that helps. So it's not a bug it's a feature :) Thank you

[2017-02-26 15:10] #726 closed

[2017-02-26 18:14] Florimond opened #727 "Systemjs fails to import mqtt"
**I'm submitting a bug report**

* **Library Version:**
1.0.8

* **Operating System:**
Windows 10

* **Node Version:**
6.9.5

* **NPM Version:**
3.10.10

* **JSPM OR Webpack AND Version**
JSPM 0.19.46

* **Browser:**
all

**Current behavior:**
 I try to import mqtt by adding the following line in the *app.js*.

[code]

Which results in the following error :

[code]
![alt](https://raw.githubusercon

[2017-02-26 18:16] AshleyGrant commented on #727
This is a SystemJS issue, please submit the issue to https://github.com/systemjs/systemjs/issues

[2017-02-26 20:58] #727 closed

[2017-02-27 02:19] jedd-ahyoung commented on #725
@estaylorco For what it's worth, you can technically do this already by setting up your dependency injection container at startup. All you have to do is call `aurelia.container.register` with the key and the value you want, and then you can remove the import statements from your module code if you do want to do that. Basically, this is already possible.

[2017-02-27 02:22] estaylorco commented on #725
Jedd,

I didn't realize that.  Thanks for the advice!

Eric S. Taylor
CEO
TierSoft, Inc.
________________________________
From: Jedd Ahyoung <notifications@github.com>
Sent: Sunday, February 26, 2017 7:20:02 PM
To: aurelia/framework
Cc: Eric Taylor; Mention
Subject: Re: [aurelia/framework] Normalize imports with configuration (#725)

@estaylorco<https://github.com/estaylorco> For what it's worth,

[2017-02-27 02:47] AshleyGrant commented on #725
Great point @jedd-ahyoung. I knew there was a reason we kept you around. :-)

[2017-02-27 16:43] sousekd commented on #717
Ok, the workaround is actually pretty straightforward:

- In parent select: `change.delegate="onParentChange()"`
- In viewmodel: `onParentChange() { this.selectedChild = null; }`

But I still think this should be unnecessary...

[2017-02-28 12:00] javadbat opened #728 "svg class bind not work after refresh page"
i use last virsion of aurelia and this is rare problem:

in my html template i have a svg like this:
`
<svg data-map="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid meet" version="1.1" x="0" y="0" viewBox="0 0 204.2 184.5" enable-background="new 0 0 204.181 184.548" xml:space="preserve">
            <g  repeat.for="state of stateList"

[2017-02-28 12:45] stuartbloom opened #729 "installing and using i18n"
Hi there

I have the typescript skeleton application that I am staring to make changes to to get an idea of how it all fits together.

I have performed the jspm installation for i18n as per [here](http://aurelia.io/hub.html#/doc/article/aurelia/i18n/latest/i18n-with-aurelia/1).

Unfortuately, when I add
`import {I18N} from 'aurelia-i18n';
import Backend from 'i18next-xhr-backend';
`
into my main.t

[2017-02-28 13:10] cluka commented on #729
Have you installed the correct typings?
You can read more here: http://aurelia.io/hub.html#/doc/article/aurelia/i18n/latest/i18n-with-aurelia/4

[2017-02-28 13:18] stuartbloom commented on #729
clika, hanging my head in shame, thank you, however I am not out of the woods yet.  I am nw getting this error:
Error: typings\modules\aurelia-i18n\index.d.ts(4,8): error TS1192: Module ''i18next'' has no default export.

Thanks again

[2017-02-28 20:33] AshleyGrant commented on #728
Please use the issue template. Also, please format your code better using Github Markdown: https://guides.github.com/features/mastering-markdown/

[2017-02-28 22:15] adriatic commented on #704
A Community Forum (platform for discussion of issues of importance to Community members) does not need to be run and moderated by the Aurelia core team. Having a well defined group of volunteers from the Aurelia Community to create and manage such site would be a lot better choice and it would address **[Rob's concern](https://github.com/aurelia/framework/issues/704#issuecomment-279453078)**.

As

[2017-03-01 02:00] jdanyow commented on #728
stackoverflow for questions please

[2017-03-01 02:00] #728 closed

[2017-03-01 05:07] zewa666 commented on #729
@stuartbloom if you continue reading the i18n hub section about Typescript you'll find the info about allowSyntheticDefaultImports which has to be set in your tsconfig

[2017-03-01 09:27] brylie commented on #704
One goal of this discussion is to have 'official' support for the community forum. E.g. the aurelia.io website would have a link to the community forum. So, it is important that we do this in tandem with the Aurelia core team.

[2017-03-01 09:53] stuartbloom commented on #729
Folks, thank you very much, sorry i didn't continue to the end of the document.

I have everything in place; I think. but when I run the application (the simple one created with the au cli), i get the following issues in the console:
`Unhandled rejection TypeError: Cannot read property 'type' of undefined
    at I18n.use (http://localhost:9001/scripts/vendor-bundle.js:26806:15)
    at http://local

[2017-03-01 10:02] #729 closed

[2017-03-01 13:00] zewa666 commented on #729
@stuartbloom hehe np, enjoy work with the i18n plugin.

[2017-03-01 18:11] adriatic commented on #704
@brylie

Your arguments are very clear and reasonable - however, they exclude my offer, as only Rob can create what you are asking for, and only then will it be possible to claim the size of the audience that Discourse requires for free hosting.

In the mean time, while waiting on Rob's decision, you may watch a much smaller forum created for Aurelia-UI-Toolits and Aurelia Tools community at http:

[2017-03-02 05:25] jdanyow commented on #717
similar to https://github.com/aurelia/binding/issues/521
has to do with the value the child select is bound to changing prior to the child select's options being updated by the repeat.
We may need to put a mutation observer on the select to ensure we can synchronize the selected value after the options change.

[2017-03-02 09:15] AnthonyWard opened #730 "EDGE will update the DOM but not render null/undefined/whitespace model bound changes"
**I'm submitting a bug report**

* **Library Version:**
1.1.0

* **Operating System:**
Windows 10

* **Node Version:**
7.5.0

* **NPM Version:**
4.1.2

* **Browser:**
Microsoft Edge 38.14393.0.0.
Microsoft EdgeHTML 14.14393.

* **Language:**
all

**Current behavior:**

This is a strange issue in EDGE where (I think) the DOM **is** being updated, but the rendered view does not reflect that (until y

[2017-03-02 13:44] Krossmaskinen opened #731 "canDeactivate() only fired once when using navigation buttons (back/forward)"
**I'm submitting a bug report**

* **Library Version:**
1.1.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.9.4

* **NPM Version:**
4.1.2

* **JSPM OR Webpack AND Version**
JSPM 0.16.52

* **Browser:**
Chrome 56.0.2924.87
Firefox 51.0.1 (32 bit)

* **Language:**
TypeScript 2.1.5

**Current behavior:**
- If canDeactivate() returns false it doe

[2017-03-03 13:59] cluka opened #732 "Aurelia Select2 custom element binding doesn't propagate to select element"
**I'm submitting a bug report**

* **Library Version:**
1.0.7

**Please tell us about your environment:**
* **Operating System:**
Windows Server 2016

* **Node Version:**
6.9.4

* **NPM Version:**
4.1.1

* **JSPM OR Webpack AND Version**
webpack 2.1.0-beta.27

* **Browser:**
Chrome

* **Language:**
TypeScript 2.1

**Current behavior:**
When the model property is updated, the custom element view is

[2017-03-03 14:29] AshleyGrant commented on #732
This is a question, as the problems are in your code most likely. Please submit it to Stack Overflow as mentioned in the Issue Template.

[2017-03-03 14:30] cluka commented on #732
Ok:
http://stackoverflow.com/questions/42576039/aurelia-select2-custom-element-not-propagating-selected-changed

[2017-03-03 14:30] #732 closed

[2017-03-04 10:40] javadbat commented on #721
i have this problem too

[2017-03-05 12:11] martinoppitz opened #733 "Bundle aurelia apps with a transparent webpack- or rollup-configuration"
Hello @EisenbergEffect,

is there any way to use Aurelia with a transparent build process? Like webpack or rollup.

I feel there is a lot of magic, if you use the cli.

There is Aurelia, but nowhere I import it.

Thank you for your answer.

Best regards

PS: greetings to @jedd-ahyoung

[2017-03-05 17:44] EisenbergEffect commented on #733
Yes, we have a Webpack setup as well. In fact, we're about ready to release a fully updated Webpack solution.

[2017-03-05 17:44] #733 closed

[2017-03-05 18:28] martinoppitz commented on #733
://github.com/aurelia/framework/issues/642

[2017-03-05 18:29] martinoppitz commented on #733
See http://github.com/aurelia/framework/issues/642

[2017-03-05 19:06] martinoppitz commented on #642
Hello.

In the last weeks I compare some spa frameworks and there build processes. Without CLI's. The reason is, that in commercial projects we have different requirements.

So I am realy interessted to use Aurelia. I like ES6 code style.

Maybe I can help. But where I can read the aurelia magic in build.

[2017-03-06 01:04] jdanyow commented on #642
@martinoppitz this repo contains several sample projects that do not use the Aurelia CLI:
https://github.com/aurelia/skeleton-navigation

This repo contains examples that use no CLI:
https://github.com/aurelia/aurelia

Here you can read about setting up a minimal aurelia project from scratch:
http://stackoverflow.com/questions/32080221/how-to-set-up-minimal-aurelia-project-from-scratch

[2017-03-06 03:46] martinoppitz commented on #642
thanks @jdanyow

[2017-03-06 14:01] fabioluz commented on #724
The [description ](https://github.com/aurelia/templating/blob/7693dbd65e59e428e4052922920145b76240f3cf/src/templating-engine.js#L80) of the `enhance` method says:

So, I think that is the expected behavior.

[2017-03-06 14:57] AshleyGrant commented on #724
@fabioluz expected vs desired behavior would be the thing here.

[2017-03-10 19:36] jods4 opened #735 "Use `files` in package.json"
We should set `files: ['dist']` in `package.json` for all Aurelia libs.

This config key defines which files (or folders)  are included in a published NPM package.
To consume an Aurelia library, `dist` folder is all we need.
`LICENSE`, `README` and `package.json` are always included.

Note that `package.json` contains the links to source code, issues tracker, etc. on github.

What difference does

[2017-03-10 20:03] StrahilKazlachev commented on #735
In general you want to exclude src, build, etc.? If so I'm OK with that, but just a question. We are starting to use the npm scripts for the build so is it OK to have *broken* scripts in the npm package?

[2017-03-10 20:52] jods4 commented on #735
That is an interesting consideration!
For me the answer is yes.

From the official purpose of NPM `scripts`: if you had a `prepublish` script it would run before your package is published. Its purpose can be to compile your sources, so users don't have to. By virtue of compilers being `devDependencies`, `npm run prepublish` is broken in installed package, since they are not installed.

Given this

[2017-03-10 23:22] jods4 commented on #692
The journey continues...
I made IE support optional in `aurelia-pal-browser`. If you opt-out of it the minified build is around 4K smaller.

The numbers are not directly comparable with the previous build because there has been a release in between and some unrelated changes but my small build is now at **237K minified, ~67K gzipped**.

[2017-03-11 03:48] EisenbergEffect commented on #692
Keep up the great work!

[2017-03-11 04:36] EisenbergEffect commented on #735
This sounds like a reasonable improvement. We'd need to make sure we aren't breaking our JSPM configuration with that as well.

Funny enough I had lunch today with John-David Dalton (lodash). He mentioned that he's working on gzip support for lodash that would integrate into Node.js and Webpack. His goal is to shrink package sizes on disk and enable the gzips to be directly supported by the module

[2017-03-11 10:52] jods4 commented on #735
I don't use JSPM but I think everything it needs is inside `package.json`? Or is there another file we'd need to include?

[2017-03-11 14:58] javadbat opened #736 "directive binded string value cant be updated"
BUGS: Please use this template.

**I'm submitting a bug report**
* **Library Version:**
0.18.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10]

* **Node Version:**
6.2.0

* **JSPM OR Webpack AND Version**
JSPM 0.16.32

* **Browser:**
 Chrome XX
* **Language:**
 ESNext

**Current behavior:**
hi
i create a calendar directive in my project and i use `value.bind="'@Date

[2017-03-11 17:39] EisenbergEffect commented on #736
I'm having a hard time understand the scenario fully. Can you create a simple reproduction of the problem and attach or link it here?

[2017-03-11 20:04] dominiquejuergensen commented on #432
Any new news on the topic..? I want to code with aurelia in a functional way. Using factories instead of classes. This would allow for a more prototypal oo coding style. I tried the example but can't get it running for ViewModels.

To make this work, what do I need to do in aurelia..? What are the metadata I need for this that you talked about..? Where do I find the code that is responsible for ma

[2017-03-11 20:57] RichiCoder1 commented on #692
@jods4 Random, but are you documenting all this switches (and how to flip them) somewhere?

[2017-03-11 21:24] jods4 commented on #692
@RichiCoder1 Here:
https://github.com/jods4/aurelia-webpack-build/wiki/AureliaPlugin-options#features

Also relevant:
https://github.com/jods4/aurelia-webpack-build/wiki/Minimize-size
and the demo project that goes along:
https://github.com/jods4/aurelia-webpack-build/tree/master/demos/04-Small_ES6_build

[2017-03-12 03:07] AshleyGrant commented on #432
@dominiquejuergensen I'm not sure how you would go about doing functional MVVM. MVVM and functional programming really don't mix very well, since MVVM depends on mutating the state of the VM, while functional programming relies heavily on immutable state. This isn't a knock on either paradigm, it's just they don't really work well together.

But I'm willing to be proven wrong.

[2017-03-12 13:35] jdanyow commented on #730
I agree- seems to be an issue with Edge

https://plnkr.co/edit/vVaSP9PmFCaadivXRWfH?p=preview

If you remove the style from the template the issue goes away.
[code]

[2017-03-12 14:18] jdanyow commented on #730
Here's the Edge bug ticket I created: https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/11244341/

Closing here.

[2017-03-12 14:18] #730 closed

[2017-03-13 14:01] dominiquejuergensen commented on #432
@AshleyGrant its not about a specific design pattern. More about style and a way of thinking. As @themooserooster points out there are people out there that don't want to code with "class"es. Also it's in part possible as @derekgreer shows with the link to an example at stack overflow. The example works as CustomElement but not as ViewModel. The error I get when trying says that no view strategy c

[2017-03-13 20:38] arfilon commented on #268
Hello
what is the project link?

thanks

[2017-03-14 12:53] atsu85 commented on #268
The project @EisenbergEffect referred to is https://github.com/MeirionHughes/aurelia-template-lint

[2017-03-14 14:46] jdanyow commented on #432
@dominiquejuergensen take a look at the stack overflow post you mentioned (re-posting below for convenience) as well as the documentation and stackoverflow posts for the `Factory.of` resolver.

http://stackoverflow.com/questions/39122600/how-to-inject-dependencies-in-aurelia-without-using-es6-class-feature

[2017-03-16 10:30] suamikim opened #738 "aurelia-binding-loader seems to break npm shrinkwrap"
**I'm submitting a bug report**

* **Library Version:**
CLI `0.26.1`
Framework `1.1.0`

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.9.4

* **NPM Version:**
4.1.1

* **Browser:**
Chrome 56 but it's not browser related

* **Language:**
TypeScript 2.2.1

**Current behavior:**
Running `npm shrinkwrap` from my project results in the following err

[2017-03-17 05:59] RichiCoder1 commented on #198
Resurrecting this issue as this is rather confusing. If the recommendation is to import `aurelia-logging` as `LogManager`, could the docs [here](http://aurelia.io/hub.html#/doc/article/aurelia/framework/latest/app-configuration-and-startup/10) be updated? I didn't even realize that was valid.

[2017-03-17 07:53] suamikim commented on #738
As suggested in [the issue in npms repo](https://github.com/npm/npm/issues/16057#issuecomment-287108987) a simple `npm prune` fixed it for me.

[2017-03-17 07:53] #738 closed

[2017-03-17 15:12] Xceno opened #739 "ctor not called for recursive CustomElement after navigateToRoute"
**I'm submitting a bug report**

* **Library Version:**
1.1.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.9.1

* **NPM Version:**
3.10.8

* **JSPM OR Webpack AND Version**
JSPM 0.16.41

* **Browser:**
all

* **Language:**
TypeScript 2.2.1

**Current behavior:**
I have a customElement which renders childs of the same type. It renders correct

[2017-03-17 15:26] AshleyGrant commented on #739
This *might* be a bug, but given the inability to reproduce the issue, I'm leaning towards a bug in your app.

Would you mind posting this to Stack Overflow? Barring that, maybe I could set up a consulting session to figure out the issue in your code?

[2017-03-17 15:46] Xceno commented on #739
Meanwhile I figured out, that wrapping the code inside of my `attach` function into a `setTimeout` with a delay of 100ms, seems to solve the issue.
I'll experiment a bit more and reopen this issue on Stack Overflow.

[2017-03-17 15:46] #739 closed

[2017-03-17 17:32] atsu85 commented on #739
setTimeout sounds more like a workaround, rather a proper solution - You might want to use micro task queue instead

[2017-03-18 01:43] THuffam commented on #104
Just to add my 2c worth..  I find Gitter extremely ineffective..  A huge waste of time - both when trying to find something, and also being subscribed is very noisey, unless you know all about the content, then can comment.  Sure it might be flavour of the month or ok as a dev-team-chat tool like Slack, but as a knowledge base/knowledge sharing/forum/help tool, its pails even compared to even 20 y

[2017-03-18 08:47] Xceno commented on #739
Thanks for the tip @atsu85 ! I'll look into it

[2017-03-18 21:42] dasch88 opened #740 "Trouble exporting functions with ESNext"
Node v7.7.2
Npm v4.1.2
Webpack v2.2.1
Browser: verified in Chrome 56 and FF 50
Language: ESNext

I am having trouble getting exported functions to work as a view model for a component that gets loaded up by a router. I'm in the process of migrating things over from an older Angular 1.x project, and want to limit the changes I have to make to the code base for now (hence exporting functions rather

[2017-03-18 22:37] EisenbergEffect commented on #740
The framework is optimized for performance in various ways that involve using the prototype.

[2017-03-18 22:37] #740 closed

[2017-03-19 00:31] dasch88 commented on #740
Good to know, thank you for the quick feedback!

[2017-03-19 11:56] #651 closed

[2017-03-21 00:50] sorenhoyer commented on #687
There's still a problem with the singleton decorator in the latest aurelia-esnext-webpack-skeleton. I furthermore tried updating to the latest version 1.1.0 of "aurelia-framework", and checked in my nodes folder and npm dependency list that the "aurelia-dependency-injection" was indeed version 1.3.0. Still I get this error: http://aurelia-test.sorenhoyer.com/ - using the @singleton decorator it sh

[2017-03-21 09:02] piet-v opened #741 "Doc Hub - Content Projection section is broken"
* **I'm submitting a bug report**

* **Browser:**
all

**Current behavior:**
Going to http://aurelia.io/hub.html#/doc/article/aurelia/templating/latest/templating-content-projection results in non-responsive page when arriving there through tree-navigation. Or an infinite loading indicator manifests when opening this section through the supplied link.

**Expected/desired behavior:**

The documenta

[2017-03-21 11:20] lazaridis-com commented on #704
Possibly some remarks from an outsider help:

@adriatic , know that I don't even look at such kind of forums (http://forum.aureliatools.com/)

@EisenbergEffect , StackOverflow is annoying and distracting and has a terrible ui. It's usually my last choice where I ask.

@AshleyGrant , reddit is reddit  - another non-standard communication resource, but with an own dynamic (e.g. a forum for a product

[2017-03-21 12:49] lazaridis-com opened #742 "void"

[2017-03-21 18:45] sorenhoyer commented on #687
@AshleyGrant could I maybe get you to re-open the issue?

@EisenbergEffect would you perhaps take a look at this again? It seems to only be a problem for the child view which is initially loaded. I've written the steps necessary to replicate here: http://aurelia-test.sorenhoyer.com/ - hopefully that'll help narrow down the problem.

[2017-03-21 20:23] AshleyGrant commented on #687
I'm unable to re-open it. @EisenbergEffect would you, please?

[2017-03-21 20:30] atsu85 commented on #742
@AshleyGrant, could You take a look at the [implementation](https://github.com/tastejs/todomvc/tree/gh-pages/examples/aurelia) and perhaps suggest some improvements? When an official Aurelia team member (who also teaches Aurelia) gives the feedback, it might move the Aurelia TodoMVC app away from `still evaluating` group (and improve the quality when the feedback is taken into account).

One thing

[2017-03-21 20:47] AshleyGrant commented on #742
Sure thing!

[2017-03-21 22:17] sorenhoyer commented on #687
I just noticed (when trying in my large ui with lots of other routes outside the parent/child relationship in the example) that it is not linked to the **initial page load** - if that 1st rendered view is a totally different view which has nothing to do with the @singleton parent.

Instead this bug happens for the first "child" view/view-model that is activated. Navigating to the other children af

[2017-03-22 00:58] EisenbergEffect commented on #741
We have this tracked already.

[2017-03-22 00:58] #741 closed

[2017-03-22 05:50] TheNavigateur opened #743 "Allow import of exported module items into aurelia template, to allow access to static methods, static variables, enums, type definitions, etc."
**I'm submitting a feature request**

Something like

equivalent of

`import {App, SomeEnum} from "../app";`

`<require def="App, SomeEnum" from="../app"/>`

[code]

etc.

* **What is the motivation / use case for changing the behavior?**

Aurelia seems incomplete unless this is provided.

[2017-03-22 06:11] lazaridis-com opened #744 "void"

[2017-03-22 08:36] AlexanderChen1989 opened #745 "computed property function keep calling repeatedly"
**I'm submitting a bug report**

* **Library Version:**

[code]

**Please tell us about your environment:**
* **Operating System:**
OSX 10.12.3 (16D32)

* **Node Version:**
v7.7.3

* **NPM Version:**
4.1.2

* **JSPM OR Webpack AND Version**
JSPM 0.16.32 | webpack 2.1.0-beta.17

* **Browser:**
Chrome 56.0.2924.87 (64-bit)
* **Language:**
ESNext

**Current behavior:**

[code]
![image](https://cloud.

[2017-03-22 08:50] bigopon commented on #745
I reported exactly the same stuff before so ill try to help the Aurelia team.
The result you see is because Aurelia cant put the observer on your getter, so it has to fallbavk to dirty checking (120ms interval).

Theres a way for you to deal with this case thouhg, its the `computedFrom` decorator. Basically you use it to tell Aurelia what the dependencies of your getter are, then Aurelia will obse

[2017-03-22 08:56] AlexanderChen1989 commented on #745
so it's right behavior?