[2017-03-22 08:57] #745 closed

[2017-03-22 08:58] bigopon commented on #745
Yup. And expect the samething when you point to getter properties, e.g html elements `clientWidth` ..., Array length

[2017-03-22 10:34] lazaridis-com opened #746 "void"

[2017-03-22 10:43] powerbuoy opened #747 "Wrapping if statement is evaluated _after_ data binding?"
I'm not sure this is a bug in Aurelia, but I have no idea what I can change in my code to make it work.

I have an array of objects representing form fields, each with a different type. Each field has a `value` property and sometimes an `options` property (if the field type is `select`). The `value` will be `null` for most fields, but for `select` fields the value is `[]`.

In my view I render dif

[2017-03-22 15:26] AshleyGrant commented on #747
@jdanyow any thoughts?

[2017-03-22 15:48] AshleyGrant opened #748 "Add a "Submit an Issue" Button to Docs pages"
**I'm submitting a feature request**

**Current behavior:**
There is no built-in way for a user to submit an issue or comment on a specific article in our documentation.

**Expected/desired behavior:**
It'd be great to add some type of "Submit an Issue/Comment" button to the docs page so users can give feedback on the docs. Maybe we could have a separate repo that is just for these comments.

**Wh

[2017-03-22 16:01] EisenbergEffect commented on #748
Once the new dev hub is released, it will be easier to customize and do new things.

[2017-03-23 03:26] EisenbergEffect commented on #743
It can be done already, though not automatically. You would use view engine hooks to declare what should be attached to the override binding context. Then when you imported that module it would make available the items you wanted.

[2017-03-23 03:30] EisenbergEffect commented on #743
Here's an example:

resources/data/countries.js
[code]

account.html

[code]

[2017-03-23 07:30] lazaridis-com commented on #748
@AshleyGrant , if I understand you right, you want to provide kind of `[Submit an Issue]` (in addition to the existent `[Edit]`) on each doc page. This sounds like a nice and logical extension, but there is one issue here:

* the github PR workflow is already too much for typo corrections
* the github issue-tracking (and repo-hosting in general) does not work well with large-subsystem-count projec

[2017-03-23 08:58] lazaridis-com commented on #746
@EisenbergEffect , this could be provided initially as a "Subsystems.md" within the repo here.

aurelia/framework/Subsystems.md

(this of course must be done by someone who knows all subsystems)

[2017-03-23 10:09] lazaridis-com opened #749 "doc: Simplify the New Developer Quick Start"
(will comment mechanically, zero diplomacy, straight to the point)

The tutorial

http://aurelia.io/hub.html#/doc/article/aurelia/framework/latest/quick-start/1

Has several issues (taking in account that its an entry point for new developers)

* Tutorial is far too verbose
* Marketing tenor is annoying (stay strictly technical)
  * Example: "Aurelia is an amazing framework..." (keep this for the

[2017-03-23 11:16] lazaridis-com commented on #749
The other way would be to change the title: this is not a `Quick Start` tutorial, but something like a `thorough introduction` or similar.

Quick Starts enable a quick start, not much reading or thinking.

[2017-03-23 11:43] lazaridis-com opened #750 "doc: Use Term "Defaults" instead of "Conventions""
`Conventions` are usually understood to be `as-is`.

In contrast, the (natural, since early IT) concept of `defaults` is understood as `can be reconfigured`.

I understand that Aurelia provides the flexibility to override the `defaults`. See this excerpt from the docs:

Notice the use of the word "default" in the flowing text ("The root, by default, ...)

Switching to the term "default" would resu

[2017-03-23 12:33] lazaridis-com opened #751 "doc: "http-server -o -c -1" not working correct on "127.0.0.1:8080""
`"http-server -o -c -1"` besides beeing really a bit ugly, does not serve the todo correctly.

When I apply changes and stop/start the server, the changes do not appear.

next thing I know, they appear, then again not.

My workaround is to use firefox, which display things correct, and I was able to finish the tutorial.

then I realized that I went to http://127.0.0.1:8080/, as mentioned by the se

[2017-03-23 13:21] YardGnomeNinja commented on #750
+1

[2017-03-23 13:50] AshleyGrant commented on #750
I disagree. The term "convention" is well understood in the developer world, specifically in regards to how Aurelia uses it as "convention over configuration."

Examples:
* https://en.wikipedia.org/wiki/Convention_over_configuration
* http://rubyonrails.org/doctrine/#convention-over-configuration

[2017-03-23 13:57] AshleyGrant commented on #751
When filing issues, please use the issue template. It is utilized to help us gather information that will help us triage the issue you have filed.

For example, you have not mentioned which document you are referring to, which meant I had to spend time figuring out which specific document needs to be reviewed.

@EisenbergEffect I'll fix this document issue after I finish the meeting I have with a

[2017-03-23 15:48] lazaridis-com commented on #750
( @cluka & @Serabe, having fun playing "Julius Caesar" ? )

The links you provide are of no relevance.

You may want to reread my initial message with precision, and reflect on this for a few hours or days.

[2017-03-23 16:13] lazaridis-com commented on #751
Use imagination: possibly I saw the template, and refused to use it?

(an issue-template cannot replace a decent issue-tracker, which the github one simply don't is)

Sounds fair, and I really hope it took you long.

See, I spent (or better: lost) time whilst struggling with your instructions.

Then I spend time to file this issue (instead of simply going on).

And now I'll spend (again) time to e

[2017-03-23 16:14] AshleyGrant commented on #751
Actually, after further testing, this command works fine on my Windows 10 machine.

![image](https://cloud.githubusercontent.com/assets/9885322/24257794/2b64fc86-0fc2-11e7-84bc-4478158badc2.png)

[2017-03-23 16:17] lazaridis-com commented on #751
Github went nuts!

@AshleyGrant , now change the code (add something to the title) and restart. See if the change comes up.

[2017-03-23 16:21] AshleyGrant commented on #751
Please refer to the Aurelia project's code of conduct before posting further.

The Code of Conduct can be read here: https://github.com/DurandalProject/about/blob/master/CONTRIBUTING.md

[2017-03-23 16:21] MeirionHughes commented on #750
You may find a few cases where the words "default" and "convention" are interchangeable; but generally they are not.

For instance, if I have "foo-bar-ray.js" there is no "default" view-model file for it. There is however a  _default_ **convention** to replace the extension with `.html`. This contrasts with having to _configure_ the system to map "foo-bar-ray.js" -> "foo-bar-ray.html" explicitly.

[2017-03-23 16:26] #750 closed

[2017-03-23 16:27] EisenbergEffect commented on #750
"Convention over Configuration" is the standard industry term that describes this scenario, particularly when it pertains to frameworks.

[2017-03-23 16:35] lazaridis-com commented on #751
(you are aware about the logical/ethical errors in your CoC? Anyway, can you please focus at the issue at hand?

If you change the code (add something to the title) and restart, does the change come up?

[2017-03-23 16:40] lazaridis-com commented on #750
@EisenbergEffect, "standard industry term"? This sounds strong! Was it the IEEE? The W3C? Which standard-organization was it?

Aurelia uses `Defaults`, which is a **stronger** concept, a "natural" one, which has not much to do with this "Convention over Configuration" (which no standards-organization would ratify, simply because its totally fuzzy). Marketing does wonders, in thousands adopting con

[2017-03-23 20:09] Gheoan commented on #745
Similar question: https://github.com/aurelia/framework/issues/238.

[2017-03-23 20:26] Gheoan commented on #741
Duplicate of https://github.com/aurelia/documentation/issues/330, https://github.com/aurelia/templating/issues/536.

[2017-03-23 20:31] Gheoan commented on #740
Related to https://github.com/aurelia/framework/issues/432.

[2017-03-24 00:20] sorenhoyer commented on #687
I tried ALL released (systemjs/jspm esnext) versions since the ["layout-view"](https://github.com/aurelia/templating-router/commit/c5a0ad400a7abdcde16465cde831097d23645274) was introduced by @charlespockert in v. skeleton-navigation-1.0.0-beta.1.3.1 - without luck.

Then I tried to pull down @jdanyow 's [rjs-bundle](https://github.com/jdanyow/rjs-bundle), followed the instructions and updated and

[2017-03-24 00:58] Gheoan commented on #687
Perhaps because `rjs-bundle` is using old versions of aurelia libraries while the skeleton has the latest versions?

[2017-03-24 01:11] AshleyGrant commented on #687
Yeah, that's probably why. There's been a regression at some point.

[2017-03-24 01:45] jdanyow commented on #687
The rjs gist uses an old version of babel- not sure if that's a factor
On Thu, Mar 23, 2017 at 6:11 PM Ashley Grant <notifications@github.com>
wrote:

[2017-03-24 01:48] sorenhoyer commented on #687
Nope that was the point I tried to make. When I used rjs-bundle I did the step "Execute the following command to update all the aurelia libs:" so I had the latest versions. The aurelia versions doesn't seem to be the problem (also all versions since the introduction of "layout-view" had the problem, which just confirms it). The problem seem to be with the bundling in the jspm/webpack skeletons.

[2017-03-24 21:31] PWKad commented on #724
Just ran across this as well definitely need to get this in place, `attached` is also not called for any components that the enhanced element renders.  @EisenbergEffect if you want to assign this to me I can take a look at the fix.

[2017-03-25 00:56] EisenbergEffect commented on #724
I can actually fix this and release it this weekend. I found another bug in enhance that I can handle at the same time as this.

[2017-03-25 04:47] #724 closed

[2017-03-25 04:48] EisenbergEffect commented on #724
The implementation in the next release will now call `attached` automatically. This shouldn't break any old code that was manually calling it since the `attached` implementation guards against it executing any code if it's already attached.

[2017-03-25 04:51] #749 closed

[2017-03-25 04:51] #751 closed

[2017-03-25 13:29] powerbuoy commented on #747
@AshleyGrant @jdanyow any updates on this? I really don't know what I'm doing wrong here...

[2017-03-25 13:47] sorenhoyer commented on #687
Could this problem be explained with https://github.com/loganfsmyth/babel-plugin-transform-decorators-legacy#best-effort ?

Would it be possible to achieve the same as https://gist.run/?id=c529ed1092d399dbab19d9eebdab3277 - but without the use of the @singleton decorator?

If we would somehow come up with the equivalent code **without the singleton decorator**, we would know for sure whether the p

[2017-03-25 14:10] jdanyow commented on #747
@powerbuoy where did you find the gist? Reason I ask it's using a really old version of Aurelia and I'd like to get it updated. Here's the current https://gist.run/?id=7542e061bc940cde506b

[2017-03-25 14:19] powerbuoy commented on #747
Oh, that's my bad. I found it on SO I believe but didn't pay attention to the version. This happens with the latest version of Aurelia in my app however.

And I've now updated my Gist to use the same index.html as yours, and I still get the same error: https://gist.run/?id=bf10295418a18bbe0d601b0098ad5f3e

[2017-03-25 15:36] jdanyow commented on #747
putting the select part of the template after the input part of the template will resolve the issue:

https://gist.run/?id=658e04d3ae2fa13c487a5651f92a2fc8

When Form.field changes, the bindings subscribing to that property's changes evaluate sequentially. Which means there's a period of time when the select AND the input are both on the page. The html input element coaleses null values to empty s

[2017-03-25 15:43] jdanyow commented on #747
keep an eye on https://github.com/aurelia/templating-resources/pull/280 - it looks like it will help in situations where you need a more atomic swap out of two templates.

[2017-03-25 15:45] #747 closed

[2017-03-25 15:49] powerbuoy commented on #747
Oh ok I see, that's a bit strange imo, but I guess it sort of falls under the same category of issues as putting `value.bind` before `min` and `max` in a range input.

In my real app I actually use `<compose>` instead of if statements but I still get the same issue. Will try to move things around to solve it. Thanks for clearing this up!

[2017-03-25 16:27] jdanyow commented on #687
@sorenhoyer I answered stackoverflow post- is that post the same as this issue?

http://stackoverflow.com/questions/42856797/refresh-bindings-in-parent-view-when-parent-value-is-changed-from-child-through/43018901#43018901

[2017-03-25 19:09] atsu85 commented on #745
@AlexanderChen1989, I'm using [aurelia-computed](https://github.com/jdanyow/aurelia-computed/) plugin, so I don't have to add `@computedFrom(...)` everywhere. My approach is to add `@computedFrom(...)` decorators only to the places, where it is absolutely needed. To figure them out (and notice them) during development, I've overwritten the method that by default just writes warning to the console:

[2017-03-25 22:42] bigopon commented on #745
Just to clarify, I think Aurelia deals with array length by a special observer, so binding to it can be used without dirty checking. I'm not 100% sure though.

[2017-03-25 23:11] EisenbergEffect commented on #745
You are correct.

[2017-03-26 00:14] sorenhoyer commented on #687
Yes, my focus on this issue came from that.

Your answer is great, explains the details and does give a good alternative and practical solution.

But wouldn't you still agree it's still an issue that we see different behavior when applying the @singleton decorator in babel 5 vs 6? As I see it, the gist (using your rjs-bundle) is the expected behavior and updating the aurelia dependencies of your b

[2017-03-26 00:31] jdanyow commented on #687
Possibly, although I think you'd need to use `@singleton(false)` instead of `@singleton(true)`.

Here's a diagram of what I think is happening, admittedly, I didn't step through everything again, but here's what I'm thinking:

Legend:
[code]

### using `@singleton(true)` (registerInChild === true)

- [root container]
  - [child container used to construct ChildA]
    - {ChildA}
    - {SharedParent

[2017-03-27 10:51] nenadvicentic opened #753 "Blank screen when running in IE10, when using view-template from server"
**I'm submitting a bug report**

* **Library Version:**
aurelia-framework 1.1.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.10.0

* **NPM Version:**
3.10.10

* **JSPM OR Webpack AND Version**
aurelia-cli 0.27.0 (requirejs 2.3.3)

* **Browser:**
IE 10

* **Language:**
TypeScript

**Current behavior:**

When accessing page which has child com

[2017-03-27 21:40] nmocruz commented on #342
This is closed, but I would like to say that use @inlineView is not a good answer.
The idea a good, and is a minus for aurelia and angular the limitation of js first components with the html in a string.
In some components html can represent the biggest part of the code, with just a few thing in Js (thank you data-binding), jsx is ugly and not better then a script tag.
Use something like a task or

[2017-03-28 03:58] EisenbergEffect commented on #753
Please ask question on how to accomplish this in the Gitter channel.

[2017-03-28 06:10] nenadvicentic commented on #753
@EisenbergEffect can you just confirm that we did not misunderstand each other?

I have this working in production and it works on any other browser but IE10 (did not check IE9). Also, other pages, not having this remote view work normally on IE10,

I have to ask for browser specific solution/workaround on Gitter?

[2017-03-28 06:38] EisenbergEffect commented on #753
I'm sorry. This was my misunderstanding. I missed that rather important detail...

[2017-03-28 07:02] metamaker commented on #72
@EisenbergEffect First thing, much thanks for bringing such beautiful framework as Aurelia! You rock!

As I understood, official deadline or milestone are not set for this feature, aren't they? Any chance to have SSR in the nearest future?

[2017-03-28 09:25] arnonuem opened #754 "Please support opensearch"
Aurelia's doc hub needs to support opensearch so that i can use other tools for searching in Aurelia docs.

[2017-03-28 09:37] metamaker commented on #741
Still broken :( .

[2017-03-28 14:16] Robula commented on #692
@jods4 I've been having some issues with the plugin regarding the `features` object as part of the constructor options for `AureliaPlugin`.

I tried creating a fresh webpack & Aurelia project and it seems that defining `features` as part of the plugin options has absolutely no effect. To verify this I checked out your repository and tried exactly the same with one of your demos;

1. I cloned out y

[2017-03-28 14:23] EisenbergEffect commented on #72
It's already working on a branch. We're just trying to repackage it now.

On Mar 28, 2017 12:02 AM, "Dmytro Yurchenko" <notifications@github.com>
wrote:

[2017-03-28 14:53] jods4 commented on #692
I am a little bit surprised: if you use the `BabiliPlugin` directly I would expect it to work even without the `--optimize-minimize` flag, which I believe adds the Uglify plugin for you.

[2017-03-28 15:01] Robula commented on #692
I am using it like so;
[code]
My deps are;
[code]
Calling `webpack` produces 245K. Calling `webpack --optimize-minimize` produces 233K.

[2017-03-28 15:03] jods4 commented on #692
You have latest Aurelia libs? All those flags were added very recently.
I use my "small ES6" demo to test this and I can definitely see the difference.

[2017-03-28 15:16] Robula commented on #692
I have just deleted by `node_modules` and `npm-cache` folders and did a fresh `npm install` from the dependencies listed above and I am seeing the same result.

[code]
[code]

I'm personally not worried about it as I now know to pass `--optimize-minimize` if building for production.

[2017-03-28 19:46] t03apt commented on #509
Another page is broken now.
See: http://aurelia.io/hub.html#/doc/article/aurelia/templating/latest/templating-content-projection

Error:
Unhandled rejection TypeError: Cannot read property 'code' of undefined
    at e.CodeListing.e.select (http://aurelia.io/scripts/app-bundle.js:3:22729)
    at e.CodeListing.e.selectSourceForLanguage (http://aurelia.io/scripts/app-bundle.js:3:22627)
    at e.CodeL

[2017-03-28 21:09] jods4 commented on #692
@Robula I'm not sure what is going with your project.

I did an experiment with my [ES6 Small Build demo](https://github.com/jods4/aurelia-webpack-build/tree/master/demos/04-Small_ES6_build).
Using exactly what is committed, `yarn install` followed by `yarn run webpack` produces a bundle that is **277,934** bytes.

If I comment out [the feature line](https://github.com/jods4/aurelia-webpack-build/

[2017-03-29 01:14] jinwangchina opened #755 "The startup of Aurelia in IE 11 is slow"
**I'm submitting a bug report**

* **Library Version:**
aurelia-framework 1.0.7

**Please tell us about your environment:**
* **Operating System:**
Windows 7

* **Node Version:**
7.4.0

* **NPM Version:**
4.0.5

* **JSPM OR Webpack AND Version**
webpack 2.2.0

* **Browser:**
IE 11

* **Language:**
TypeScript 2.1

**Current behavior:**
The startup of Aurelia in IE 11 is slow, it takes around 5 seco

[2017-03-29 06:18] fgambino commented on #755
Are you using Bluebird for promises? Make sure longStackTraces is explicitly set to false too.

[2017-03-29 07:44] nenadvicentic commented on #753
@EisenbergEffect I think it's my bad. I checked application in debug mode with IE 10. I'm getting:

Accidentally, this happens only on view-template loaded form the server. Maybe this error should be thrown in production build too?

[2017-03-29 08:29] Thanood commented on #755
Also, make sure you don't use a "development" version of bluebird. AFAIK long stack straces is hard-coded.. 😕

[2017-03-29 09:49] Gheoan commented on #753
Please provide the full error.

I suspect Mutation Observer is not polyfilled. See http://aurelia.io/hub.html#/doc/article/aurelia/framework/latest/app-configuration-and-startup/3.

[2017-03-29 09:51] Gheoan commented on #509
@t03apt That is another issue. Already reported here: https://github.com/aurelia/templating/issues/536.

[2017-03-29 14:10] AshleyGrant commented on #342
Can someone please explain to me why single file components are such a big deal? We already have HTML only custom elements, are working on HTML only pages. For any reasonably complex component, I just don't see the point of shoehorning everything in to a single file. What's so bad about cleanly separating the view from the view-model? Honestly, to me it just seems like an "All the cool kids are do

[2017-03-29 14:15] pwhe23 commented on #342
I think the single-file thing for me is that it  just goes so well with thinking about things as components. Having the entire component self-contained in a single file just feels right to me. I certainly understand the other side of the argument but just wish we had the choice with Aurelia. Maybe I'll get around to adding it myself at some point :smile:

[2017-03-29 14:21] Thanood commented on #342
I just thought this:
When the file is longer there is more incentive to create smaller components..

I know, weak.. Don't take it too seriously. 😂

I just caught myself thinking that these vue files containing everything and I was asking myself why I thought so. Honestly, no idea.

[2017-03-29 14:27] AshleyGrant commented on #342
I know I'm coming off as rather grumpy right now, but it's probably because I'm grumpy today. :-)

[2017-03-29 14:29] cluka commented on #342
I don't see the point to have html, css and js all in one file.
1. if you want to make components in your application then simply create a folder for the component that will have 3 files in it (.html, .js. css) let the folder be the component container
2. If you want to make a distributtable component,  keep use the 3 files from 1. and create a build script that will package (bundle) everything in

[2017-03-29 15:15] zewa666 commented on #342
sa @pwhe23 pointed out, one reason why Vue's approach is getting more attention is focus on a single component. Moreof there is a mix of things.

1. Dumb / Smart components
For dumb components, most of the time you're just defining a few inputs (custom attributes) and let them be outputted (interpolation/binding). So a dumb component most of the times are very short, yet follow the principle of *p

[2017-03-29 17:46] AshleyGrant commented on #342
To add to my earlier grumpiness...

I was just reading the docs for Vue single-file components (https://vuejs.org/v2/guide/single-file-components.html). I'd like to focus on the beginning of them

This can work very well for small to medium-sized projects, where JavaScript is only used to enhance certain views. In more complex projects however, or when your frontend is entirely driven by JavaScrip

[2017-03-29 18:12] zewa666 commented on #342
Oh nice to see that some of my arguments matched Vues promotion page.

I'm fully with you that none of these is a disatvantage for Aurelia. Also I'm not to say that the feature would actually introduce any remarkable difference, except personal preferences. I personally would always stick to proper file separation but I can see the need for different approaches, based on different use cases.

I do

[2017-03-29 20:04] nmocruz commented on #342
First time when saw react I was surprised, who popular something based on that approach was. Today to me separation os concerns is not a golden rule to apply to every 200 lines of code.
If have small component, and I want to add some css rules, and some behavior with javascript, I prefer to see everything together in one file in different sections of a same document and scroll to read instead of b

[2017-03-29 22:25] nmocruz commented on #342
@AshleyGrant with vuejs is possible to split in files to, so the opposite is not disadvantage to vuejs.  But by the fact is possible to use both ways. In a project where we can abuse of code reuse, extending classes, replace div soup by proper custom-component etc. views and view model can be much smaller and .vue files can be not a problem just because there's not so much files with more than a f

[2017-03-29 22:36] jinwangchina commented on #755
Hi @fgambino ,
Thank you, you are right, I changed my Bluebird setting to the following, IE starts as fast as Chrome.
`
Bluebird.config( {
    warnings: false,
    longStackTraces: false
} );
`

Hi @Thanood ,
I am not using "development" version, thanks for your comment.

[2017-03-30 03:15] #755 closed

[2017-03-30 03:19] EisenbergEffect commented on #754
Can you provide some references or examples for how we could easily support this? I haven't done this work before so I'm not sure what is involved.

[2017-03-31 07:13] arnonuem commented on #754
# goal
A request of `http://aurelia.io/hub.html#/doc/api/aurelia/latest?q=bind` should point to something like `http://aurelia.io/hub.html#/doc/api/aurelia/binding/latest/overview`.
Maybe its a good idea to have a 3rd version of documentation where "Articles and Guides" are distilled into a style of something like Library(API). For example like this one [Lodash](https://lodash.com/docs/latest)
Or

[2017-03-31 16:54] EisenbergEffect commented on #754
It sounds like we would have to build a search backend to accomplish this. We're trying to avoid any sort of backend or server requirements for hosting our docs. Right now, the entire site is GitHub hosted.

[2017-03-31 17:28] arnonuem commented on #754
As far as i understand this topic it just means to ship the opensearchdescription.xml with the deployment of the aurelia doc app on github and react to any given search specific inputs.

[2017-03-31 17:33] EisenbergEffect commented on #754
That would be doable. We're re-writing our developer hub now with more static generation for SEO purposes. As part of that we generate a search index for runtime. We could also output that in an alternate xml form, if that's all there is to it.

[2017-04-01 02:06] #746 closed

[2017-04-01 02:06] #744 closed

[2017-04-01 02:06] #742 closed

[2017-04-04 08:54] rajeeshmenoth opened #759 "Error: (SystemJS) XHR error (404 Not Found) loading in Aurelia"
Hi,

I'm facing problem while loading view in Aurelia.

**_"Failed to load resource: the server responded with a status of 404 (Not Found)
Error: (SystemJS) XHR error (404 Not Found) loading http://localhost:63644/main.js
Error: XHR error (404 Not Found) loading http://localhost:63644/main.js
Error loading http://localhost:63644/main.js"_**

I done all the configuration through this article [click

[2017-04-04 10:58] rajeeshmenoth opened #760 "Error TS2322: Type 'Response' is not assignable to type 'string[]'"
Hi,

I'm facing problem while compiling Aurelia app in command prompt.
When I add "tsc" in cmd then I get the following error.

**_"wwwroot/src/views/values.ts(13,17): error TS2322: Type 'Response' is not assignable to type 'string[]'.
wwwroot/src/views/values.ts(13,17): error TS2322: Type 'Response' is not assignable to type 'string[]'.
  Property 'length' is missing in type 'Response'."_**

I do

[2017-04-04 12:23] cluka commented on #760
I don't think that this is a bug,. It's probably error in your code. Please post this question in StackOverflow.
Anyway I can't be sure (you have not shared any code), but to me this seems you are not doing response.json().

[2017-04-05 03:54] EisenbergEffect commented on #759
Please try asking about this on our gitter channel: gitter.im/aurelia/discussion or on Stack Overflow. Those are our official channels for questions. Thank you.

[2017-04-05 03:54] #759 closed

[2017-04-05 03:54] #760 closed

[2017-04-05 10:22] javadbat commented on #444
please update this:
http://patrickwalters.net/enhance-an-existing-page-with-aurelia/
there is no comment in site to say

[2017-04-05 18:58] manyrootsofallevil commented on #94
I tried @Aaike's suggestion but the application is severely broken

In short this is the error i get:

The bundled application file has this

`a("app.html!github:systemjs/plugin-text@0.0.8.js", ....`

so perhaps unsurprisingly, it can't find it

Any ideas?

[2017-04-06 06:42] SeanFarrow commented on #427
Is there any update on any samples for doing this. We're building a micro-service based app where all area are written by different teams and the shell needs to find/load features on-demand.

[2017-04-06 06:48] EisenbergEffect commented on #427
You could do this by using Aurelia extensibility points today:

* Use a router pipeline step to check for a feature property on a route. If present, use the feature api to load and configure it.
* Create a custom view resource plugin that enables you to use the `require` element to specify a feature. The plugin would use the feature api to load and configure it.

Ideally, implement both of these a

[2017-04-06 06:50] SeanFarrow commented on #427
Is there likely to be any sample for this?
The doc site isn’t that accessible (I’m visually impaired) but that is another issue, happy to reach out separately for this.

From: Rob Eisenberg [mailto:notifications@github.com]
Sent: Thursday, April 06, 2017 07:49
To: aurelia/framework <framework@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Comment <comment@noreply.github.com>
S

[2017-04-06 06:53] EisenbergEffect commented on #427
I don't have a sample of doing this. We'd like to build something like this into the framework but haven't gotten around to it yet. The idea is that when you use the feature api you should be able to specify that they are lazy. Then by associating the feature with a route or via a view require, the framework would be able to handle all the loading and configuring on demand.

[2017-04-06 06:55] SeanFarrow commented on #427
Ok, how easy would this be to build? Where should I start to read in terms of the docs?
Is there a way of reading docs off-line?

From: Rob Eisenberg [mailto:notifications@github.com]
Sent: Thursday, April 06, 2017 07:53
To: aurelia/framework <framework@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Comment <comment@noreply.github.com>
Subject: Re: [aurelia/framework] Lazy-loa

[2017-04-06 06:58] EisenbergEffect commented on #427
No way to read the docs right now. We are working on a completely new implementation of our docs that will enable scenarios like that though.

For learning how to do this by our docs, that's tricky mostly because this involves using some more obscure APIs, but combining them in a particular way to get the desired effect.

I could put something together this weekend maybe. Send me an email and remi

[2017-04-06 16:49] manyrootsofallevil commented on #94
this **seems** to be working for me

[code]

Using ASP.NET Core

[2017-04-09 08:53] gbreeze commented on #721
`${listService.list[$index].name}` do not really solve the problem. Modifying the array (e.g. deleting an item) after executing the sort method results again in binding issues.

The only workaround that is acceptable so far is to do a new instance of the array
`group.items = new Array(...group.items.sort(YOUR_SORTING))`

[2017-04-10 22:41] pimml commented on #740
It would be nice if the function style is supported in aurelia for view models
+1

[2017-04-12 06:17] jmvtrinidad commented on #145
Hi @EisenbergEffect
I'm trying to create a 'addPreactivateStep' pipeline. How can I load file with the name configure.ts inside the same folder of that particular `moduleId` before calling `next`?

So far I only have the default code for adding pipeline.

[code]

This would be one of my `config.map` object
`{ route: 'content', name: 'custcontentomer', title: 'Content', moduleId: 'ad-content/index'

[2017-04-12 09:41] suamikim opened #763 "New instance of view model is created before every activation"
**I'm submitting a bug report**

* **Library Version:**
CLI `0.28.0`
Framework `1.1.2`

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.9.4

* **NPM Version:**
4.1.1

* **Browser:**
Chrome 57 but I guess it happens in other browsers as well

* **Language:**
TypeScript 2.2.1

**Current behavior:**
Since one of the last updates (I guess it was fro

[2017-04-12 10:19] suamikim commented on #763
I've just created a fresh app using the CLI which shows the same behavior:

[code]

[code]

Here's a short screen recording of how this behaves:

![2017-04-12_12h13_11](https://cloud.githubusercontent.com/assets/2870365/24952921/abc12514-1f79-11e7-881c-502211a08fa8.gif)

[2017-04-12 13:02] AshleyGrant commented on #763
Yes, this is the default, and expected behavior. If you need to override this behavior for a page, you can use the `@singleton()` decorator.

[code]

@EisenbergEffect this issue can be closed.

[2017-04-12 15:47] JordanMarr commented on #704
In the past I have championed Durandal over Angular 1 on my team as I am a big fan of the convention over configuration design decisions.  As a result, we have delivered some very nice projects using that framework.

Now my team lead has pressured me to use Angular 2 on our last big web project due to its inevitably higher adoption rate.  With a another big client web project about to start this m

[2017-04-12 15:53] Thanood commented on #704
Well, you *can* create a nice subreddit. For example Angular2 has a nice one.

[2017-04-12 15:55] adriatic commented on #704
@EisenbergEffect Rob, this issue does not seem to be going away. I offered a [solution](https://github.com/aurelia/framework/issues/704#issuecomment-283178612) that is perceived as [not official enough](https://github.com/aurelia/framework/issues/704#issuecomment-283288879). So, I would hate to go against such (well meant and good) advice and I also hate to see Durandal customers go to Angular 😏

[2017-04-12 15:59] davismj commented on #704
@Thanood Noted. I'm gunna take a look at it and try to spruce it up.

[2017-04-12 15:59] AshleyGrant commented on #704
@JordanMarr if your team lead is pressuring you to move to Angular 2 due to it having a larger adoption rate, then he or she is in for a bad time. The JavaScript developer community is a fickle bunch. Pick the tool that supports your team's goals the best, not what everyone is using today, b/c the masses seem to move on quite quickly these days, as evidenced by large numbers of NG1 devs moving to

[2017-04-12 16:00] EisenbergEffect commented on #704
We're in the process of investigating putting together forum for Aurelia as part of our new Aurelia Hub release.

[2017-04-12 16:01] adriatic commented on #704
My offer withdrawn. Thank's Mr. Eisenberg 👍

[2017-04-12 16:05] #763 closed

[2017-04-12 16:14] brylie commented on #704
Woohoo! 😃

[2017-04-13 06:37] suamikim commented on #763
It seems like I (wrongly) assumed that view models are always singleton and only an internal change which happened around the time of the framework update made it obvious to me that it doesn't work this way.

Sorry for mistaking this with a bug and thanks for pointing it out!

[2017-04-17 21:45] doubleaa93 opened #765 "aurelia.enhance parses entire dom body"
**I'm submitting a bug report**

* **Library Version:**
aurelia-framework 1.2.0

**Please tell us about your environment:**
* **Operating System:**
Windows 7 64bit

* **Node Version:**
6.10.1

* **NPM Version:**
3.10.10

* **Aurelia CLI OR JSPM OR Webpack AND Version**
webpack 2.3.3

* **Browser:**
all

* **Language:**
Typescript

I'm using Aurelia to enhance an element on an existing page using a

[2017-04-18 01:22] Gheoan commented on #765
Pass an `Element` as the second argument to `aurelia.enhance` to limit the enhancement. See http://aurelia.io/hub.html#/doc/article/aurelia/framework/latest/app-configuration-and-startup/8.

[2017-04-18 01:23] AshleyGrant commented on #765
@EisenbergEffect this may be closed.

[2017-04-18 02:04] doubleaa93 commented on #765
@Gheoan Sorry forgot to mention I am passing an element
`aurelia.enhance(document.querySelector('my-component')`

In html
[code]

[2017-04-18 04:15] #765 closed

[2017-04-18 22:07] Gheoan commented on #765
@doubleaa93, the `aurelia-app` attribute on the `body` element is not needed if you are using `enhance`.

[2017-04-20 02:04] estaylorco opened #766 "Using Karma under the JSPM skeleton has issues with the lesser Aurelia framework imports"
**I'm submitting a bug report**

* **Library Version:**
1.1.2

**Please tell us about your environment:**
* **Operating System:**
OSX 10.11.6

* **Node Version:**
6.10.0

* **NPM Version:**
4.3.0

* **Aurelia CLI OR JSPM OR Webpack AND Version**
JSPM 0.16.53

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
I should mention first that I'm using the default **karma.conf.json** file

[2017-04-20 16:22] mfraiss opened #767 "Problem when using i18n and webpack"
**I'm submitting a bug report**

* **Library Version:**
major.minor.patch-pre

**Please tell us about your environment:**
* **Operating System:**
Windows [10]

* **Node Version:**
v7.9.0

* **NPM Version:**
v4.2.0

* **Aurelia CLI OR JSPM OR Webpack AND Version**
webpack 2.4.1

* **Language:**
TypeScript 2.2

**Current behavior:**
We are using the i18n plugin of aurelia, and webpack does not bundl

[2017-04-20 16:28] mfraiss commented on #767
Additional comment:
typings has been manually installed by "typings install"

[2017-04-21 03:50] EisenbergEffect commented on #766
It's because of how System.js work. You need to `jspm install aurelia-dependency-injection`. System.js can't directly import anything that isn't a root dependency, even if that module is already present. In my opinion, it's a design flaw, but that's how you fix it.

[2017-04-21 03:50] #766 closed

[2017-04-21 04:00] estaylorco commented on #766
Thanks for the response.

Perhaps a future SystemJS release will address the issue.

But since I already have **aurelia-dependency-injection** installed, will this create a problem, for either the present or for the future (when updating)?

Thanks.

[2017-04-21 04:04] EisenbergEffect commented on #766
It shouldn't cause any issues.

[2017-04-21 04:06] estaylorco commented on #766
Got it.  Thank you!

[2017-04-21 04:08] zewa666 commented on #767
@mfraiss can you share your example? A repo link or uploaded zip? I see no way to help you with the provided information :(

[2017-04-21 12:58] mfraiss commented on #767
Unfortunately i cannot share the example. We figured out the problem meanwhile: There was an error in our type-script configuration file and missing dependency npm's. Way complicated.

[2017-04-21 12:58] #767 closed

[2017-04-21 14:27] jdanyow commented on #736
closing, abandoned

[2017-04-21 14:27] #736 closed

[2017-04-21 14:38] jdanyow commented on #735
Using the files attribute would slim things down a little. To fully shrink our install footprint I propose we create a publish task that does the following:

1. creates a "publish" folder
2. copies the "dist" into the folder
3. copies the package.json into the folder, *minus all the dev dependencies*
4. does the npm publish from this folder

Or something along these lines. There may be an existing

[2017-04-21 14:46] jods4 commented on #735
dev deps are only installed when your restore your project, not for your transitive dependencies, are they?

[2017-04-25 18:26] sberney commented on #227
I am developing a large platform which uses SystemJS (the latest version), and we are experiencing this same issue, no Aurelia involved. The plugin in question is mine -- all code involved is mine (except SystemJS), code which I am confident in.

I tracked it down independently to Chakra and a plugin for fetch at the line which expects the result of fetch to be a string, not a function, exactly as

[2017-04-26 17:04] sorenhoyer commented on #687
I just tested with the latest esnext-webpack skeleton.

It seems to have been fixed. singleton(true) seem to reset the parent's bindings when navigating from 1 child to another, whereas singleton(false) seem to persist the bound values of the parent, when navigating between child routes.

At least for my use case, this is exactly how I would expect it to work.

The example can be found here: https

[2017-04-28 16:32] JackLeEmmerdeur opened #769 "Karma warning"
**I'm submitting a bug report**

* **Library Version:**
1.1.2 (According to npm:aurelia-framework in jspm_packages/.dependecies.json)

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.9.4

* **NPM Version:**
3.10.10

* **Aurelia CLI OR JSPM OR Webpack AND Version**
CLI 0.24.0

* **Browser:**
Chrome | Firefox

* **Language:**
ESNext

**Current beh

[2017-04-28 21:23] cleytonb commented on #40
The Getting Started package is being updated? I can see that the aurelia repo was updated 21 day ago, but it seems that aurelia-core.js is different from the one we can download on the Getting Started page.

P. S. maybe a good suggestion would be to include the version as comments in the beginning of the file?

[2017-05-01 11:27] gheoan commented on #671
I think the files that should be on the CDN are:
- https://github.com/aurelia/aurelia/blob/master/scripts/aurelia-core.js
- https://github.com/aurelia/aurelia/blob/master/scripts/aurelia-core.min.js
- https://github.com/aurelia/aurelia/blob/master/scripts/aurelia-routing.js
- https://github.com/aurelia/aurelia/blob/master/scripts/aurelia-routing.min.js

[2017-05-02 06:06] MarcWeber commented on #104
For those who read the last comment first: http://aurelia.io/support.html -> stackoverflow. @THuffam Your comment was outdated. The thread talked about stackoverflow

[2017-05-02 06:11] EisenbergEffect commented on #104
FYI, we are investigating and hoping to add a community forum in the near future.

[2017-05-02 06:37] MarcWeber commented on #104
I was mistaken: The last comment on github was wrong, because that
person missed stackoverflow. I fixed it by adding another comment and
telling that. So there is a place to put questions.

SRY for this noise.

Marc Weber

[2017-05-02 14:18] paolocarrasco commented on #671
It sounds good! I agree those are the files. @kennynaoh, what else do you need?

[2017-05-04 08:19] HamedFathi opened #770 "[Question] Why you dont use Interfaces with typescript in Aurelia ?"
Please see the examples

[code]

or

[code]

and ...

I think most developers can remember names of interfaces easily but methods signatures seems to be more difficult.

Why you dont use Interfaces with typescript in Aurelia ? you can use you conventions names  as names of interfaces.

[2017-05-04 11:01] AshleyGrant commented on #770
https://github.com/aurelia/router/blob/master/src/interfaces.js#L4

Most of what you're asking for is already there. It isn't currently well documented, but each part of the Framework has a `d.ts` file that includes these very interfaces you're looking for.

[2017-05-04 14:40] fgambino commented on #770
Do we have interfaces for functions that can be defined on a component? It would be nice to have one for `configureRouter` (e.g. ConfiguresRouter) so it can automatically be stubbed out. I think that's what @HamedFathi is referring to.

[2017-05-04 16:27] HamedFathi commented on #770
@AshleyGrant

Oooohhhhh, I think aurelia team should focus on documentation. so please update those.
like @fgambino I didn't know those existed !

[2017-05-04 17:01] AshleyGrant commented on #770
Now that I think about it, these things actually are in our docs, just in the API docs. Check it out!

http://aurelia.io/hub.html#/doc/api/aurelia/router/1.3.0/interface/ConfiguresRouter

http://aurelia.io/hub.html#/doc/api/aurelia/templating/1.4.2/interface/ComponentBind

http://aurelia.io/hub.html#/doc/api/aurelia/templating/latest/interface/ComponentUnbind

We probably should create articles th

[2017-05-04 17:01] AshleyGrant commented on #770
@EisenbergEffect please close this issue.

[2017-05-04 17:06] #770 closed

[2017-05-09 05:39] nashwaan commented on #692
@jods4

How did you create this treemap of the project?

![image](https://cloud.githubusercontent.com/assets/11927991/25836857/4efd661c-349b-11e7-8d8d-b8e30165a433.png)

[2017-05-09 05:55] zewa666 commented on #692
@nashwaan https://github.com/th0r/webpack-bundle-analyzer

[2017-05-10 08:24] irashid25 commented on #704
Been looking forward to this for a long time.

Hope it works out.

[2017-05-11 06:47] R74NN opened #771 "Using element selector with composition doesn't work"
**I'm submitting a bug report**

* **Library Version:**
1.1.2

**Please tell us about your environment:**
* **Operating System:**
Windows 10 Pro

* **Node Version:**
6.10.0

* **NPM Version:**
3.10.10

* **Aurelia CLI OR JSPM OR Webpack AND Version**
webpack 2.2.1

* **Browser:**
all

* **Language:**
TypeScript 2.3

**Current behavior:**
Using selector in a viewmodel to get an element marked with

[2017-05-14 04:00] EisenbergEffect commented on #769
@JeroenVinke Can you look into this?

[2017-05-14 06:28] EisenbergEffect commented on #771
Can you provide a full sample? I'm not quite following the specifics...

[2017-05-14 06:52] JeroenVinke commented on #769
Hey @JackLeEmmerdeur. Could you explain how you are using both aurelia-cli and JSPM? There currently is no support for JSPM in the CLI. If you are trying to update all dependencies of your CLI application, you should update the dependencies in package.json and run `npm install`. You shouldn't need JSPM for that.

I have tried running the tests in a newly created ESNext project, but i'm not getting

[2017-05-15 00:33] AshleyGrant commented on #771
You misspelled `history` in your viewmodel (it is spelled `hisory` in the code you posted). If you've copied the code from your project, that might be the cause.

[2017-05-15 01:29] estaylorco opened #772 "Non-view-related parent classes leak, even if DI lifetimes in the hierarchy are homogeneous"
**I'm submitting a bug report**

* **Library Version:**
1.1.2 (aurelia-framework)

**Please tell us about your environment:**
* **Operating System:**
OSX 10.12.4

* **Node Version:**
6.10.0

* **NPM Version:**
4.3.0

* **Aurelia CLI OR JSPM OR Webpack AND Version**
JSPM 0.16.53

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
Even for non-view-related classes, inheriting from a b

[2017-05-15 01:42] AshleyGrant commented on #772
Can you provide a more fleshed out example? As far as I'm aware, there isn't a separate instance of the parent class created when using inheritance, so I'm not following how the parent class isn't being released.

Also, even if there is a separate instance, the DI container isn't going to be aware of it, as the base class is "newed up" by a call to `super` in your constructor. Aurelia doesn't hand

[2017-05-15 01:51] estaylorco commented on #772
Hi Ashley,

Actually, the code I put down in the post is actually _more advanced_ than my test case.  This was my test case:

[code]

This simply example leaks, as written.

If Aurelia doesn't handle `super`, what is the proper way to do this?  I'm pretty bummed out.  I spent the day refactoring my controllers, gateways, and models to very simplistic inheritance (I happen to share the Team's opini

[2017-05-15 01:59] AshleyGrant commented on #772
Can you provide a screenshot or something showing how this is leaking?

Also, I'm confused as to why you refactored to use inheritance if you're on board with us in the "favor composition over inheritance" bus. I would never recommend to anyone to use inheritance, simple or complex, in an Aurelia app, as inheritance and dependency injection go together like oil and water.

[2017-05-15 02:27] estaylorco commented on #772
I have attached screenshots of the host class, which is the `Login` view-model class.  This class does, in fact, release once the user logs in.  No leaks there.

Into the `Login` class I import and inject the `Child` class, which inherits from `Parent`.  As you can see from the memory profile, `Child` is released but `Parent` remains, _even though `Login` has been released_.

![child](https://clou

[2017-05-15 02:31] AshleyGrant commented on #772
@EisenbergEffect is this a bug in Aurelia or is this an artifact of transpilation and thus a possible bug in Babel?

[2017-05-15 02:55] estaylorco commented on #772
Now to your question about composition over inheritance.  I just wanted to get the bug report out first...

I prefer composition over inheritance where composition is suitable.  I came up through Smalltalk, Eiffel, C++, Java (now Kotlin for me), and C#, so it has been tough to shake inheritance.  But it turns out that, in JavaScript, composition is fine most of the time anyways.

When I do have a

[2017-05-15 03:01] estaylorco commented on #772
Ashley,

One additional point (which I'll create as a separate feature request if you think it has merit): What about an `@unmanaged` decorator?

When people start out with Spring, they want to make every class a bean: in other words, place every class under the management of DI.  But not all classes should be beans.  Would it be possible with Aurelia's design to provide a means of excluding class

[2017-05-15 04:08] AshleyGrant commented on #772
But what I'm saying is that Aurelia isn't managing the lifecycle of the base class in the first place, *you* are. When you call `super()`, that is basically the same thing as `new Parent()`. The `transient` decorator on `Parent` is meaningless here.

As I mentioned above, I'm doubting this is a bug in Aurelia, and is more likely a bug in how Babel transpiles inheritance.

[2017-05-15 04:18] AshleyGrant commented on #772
Also, I'm all for inheritance in entities in your application (since you new up those yourself, and don't get instances of them from the DI container), but for services and VMs and the such, I would avoid it at all costs in an Aurelia app. The Aurelia DI container doesn't support the property injection that would be necessary to fully support scenarios with inheritance, and I'd venture to guess it

[2017-05-15 04:26] estaylorco commented on #772
Yeah, you know, I think I need to just stick with composition, even in those cases where inheritance is probably the more suitable tool.

I wasn't trying to buck the trend or anything.  My gateways, controllers, and models had taken sufficient form that I saw repetition that could be factored out.  So I did it in a way that has made sense to me for years.

Thanks for your help!

[2017-05-15 04:26] AshleyGrant commented on #772
In fact, I'm fairly sure this isn't an Aurelia bug. I just ran a test in a straight HTML file that looks like this:

[code]

I ran this page using `http-server` and I see the following:
![image](https://cloud.githubusercontent.com/assets/9885322/26042647/138ed3fe-3905-11e7-8c99-e3676030a358.png)

[2017-05-15 04:27] EisenbergEffect commented on #772
@estaylorco Can you provide a simple repro that I can look at. From the debugger output, it looks like it's the child class in memory. There wouldn't be a parent class. So, I think something else is going on. There could be various reasons why the parent class isn't GC'd, including looking at it in the debugger.

[2017-05-15 04:28] estaylorco commented on #772
What's the conclusion, then?  I take it that Babel is not involved in your sample?

[2017-05-15 04:29] AshleyGrant commented on #772
@estaylorco I used babel to generate the JS code. That's the output from the playground on the Babel website (https://babeljs.io/repl). This is the code I used as the input:

[code]

I copied the output in to an HTML file and ran it.

[2017-05-15 04:30] AshleyGrant commented on #772
Also, what Rob says makes sense, based on the heap dump I have. The instance is called `Parent`, but it has `doChildStuff` on it, which is defined in `Child`.

[2017-05-15 04:31] estaylorco commented on #772
@EisenbergEffect Yes, I will do that.  If I could have until tomorrow, that would be great.  I've been coding for 12 of the last 14 hours :).

[2017-05-15 04:31] AshleyGrant commented on #772
Yeah, I'm going to bed now too. Let me know what you figure out.

[2017-05-15 04:32] EisenbergEffect commented on #772
There's no rush. Maybe get some rest and approach this fresh in the morning 😄

[2017-05-15 04:33] estaylorco commented on #772
@AshleyGrant @EisenbergEffect Will do!

And, Ashley, it's quite a relief to know that you generated that code with Babel.  I thought, man, if you're just banging that out on a whim, I should feel altogether inadequate :)

[2017-05-15 04:35] AshleyGrant commented on #772
lol, if I could bang that code out on a whim, I'd be living in a bigger house, I think 👍

[2017-05-15 05:44] R74NN commented on #771
It is not actual code.

Because at the moment I don't have a sample I could provide, I try to describe the problem slightly better.

I create a view and a view-model and in the view I use `ref="whatever"` on an element to be able to reference it from my view-model via `this.whatever`. If I use this view/view-model pair in composition  `<compose view-model="${item.content}" model.bind="item.section

[2017-05-15 12:50] JackLeEmmerdeur commented on #769
Hi @JeroenVinke. I mixed JSPM and CLI by executing the "jspm install ..." command from the first link inside a CLI-Project. @Vheissu clearly mentions "This article is specifically for Jspm users". So I rather should have done the steps from the third link in my OP.
So if you could not reproduce this with a new ESNext project (is this a synonym for CLI?), I suppose it's a waste of time to pay atten

[2017-05-15 16:11] JeroenVinke commented on #769
Yes it is, I should have made that more clear :)

Sure, just reopen this issue if you encounter this warning in other projects.

@EisenbergEffect could you close this issue?

[2017-05-15 19:58] jridenbaugh commented on #724
@EisenbergEffect I believe this fix actually breaks one of my use cases. I'm calling enhance on an element that isn't attached to the DOM yet, but it gets attached later. The part that breaks is that I'm using material design lite (aurelia-mdl-plugin), which I believe ties into the attached() lifecycle method and tries to find elements using document.querySelector. Is there a way for me to manuall

[2017-05-15 23:05] estaylorco commented on #772
@EisenbergEffect @AshleyGrant O.K. guys.  I created a public [repository](https://github.com/estaylorco/aurelia-framework-issue-772) on my GitHub account that you can clone addressing this issue.

I started with the ESNext skeleton, created an **inheritance.js** file containing both `Parent` and `Child` classes, and then imported/injected `Child` into `Users` VM in **users.js**.  I confirmed first

[2017-05-15 23:30] AshleyGrant commented on #772
I'm telling ya, @estaylorco, it isn't the Parent class that's leaking, it is the child class instance. You can see this if you add a method to both the parent and the child, like I did in my example code.

In fact, I just ran the native ES2015 code from my example in Chrome 58. It exhibits the same exact behavior. Even when I force Garbage Collection, the object sticks around. This is with no Aure

[2017-05-15 23:38] estaylorco commented on #772
@AshleyGrant Oh yes, you did say that.  When I see `Parent` but not `Child`, I rush to `Parent` as the culprit.

Last night, after I finished my exchange with you and @EisenbergEffect, I explored Babel's issues.  I didn't see anything exotic or problematic with inheritance (other than with transpiling subclasses of built-in types, which seems to have been addressed).

This leads me to believe that

[2017-05-15 23:40] AshleyGrant commented on #772
It has been fun playing with this, I have to say.

[2017-05-15 23:44] estaylorco commented on #772
Agreed.  Apart from the academic discourse on inheritance vs. composition, which I think has been resolved, I'm more curious now than ever.

Even if the party line is "composition over inheritance," I'm sure we want it to be for reasons other than some "weirdness" of inheritance that can't be explained.

[2017-05-16 00:16] #769 closed

[2017-05-16 21:14] ejsmith opened #773 "setInterval function resolving to NodeJS.Timer in browser"
**I'm submitting a bug report**

* **Library Version:**
1.1.2

**Please tell us about your environment:**
* **Operating System:**
OSX 10

* **Node Version:**
7.9.0

* **NPM Version:**
4.5.0

* **Aurelia CLI OR JSPM OR Webpack AND Version**
Latest webpack/typescript version pulled from skeleton-navigation.

https://github.com/aurelia/skeleton-navigation/tree/master/skeleton-typescript-webpack

* **

[2017-05-16 21:46] StrahilKazlachev commented on #773
To clarify, it is not being pulled in the *browser*, it just gets installed and TS picks it up.
I would just exclude `@types/node` regardless who is installing it. I had similar issue at work, non Aurelia related project, one of the dev deps was the culprit, but we couldn't run the build without it.

[2017-05-16 22:54] ejsmith commented on #773
The whole node_modules folder is excluded. So not sure how I would exclude the node type def.

[2017-05-17 05:27] AshleyGrant commented on #773
@EisenbergEffect I think this issue should be moved to the skeleton repo and assigned to @niieani so he can take a look at it.

[2017-05-17 05:50] EisenbergEffect commented on #773
Issue moved to [aurelia/skeleton-navigation #831](https://github.com/aurelia/skeleton-navigation/issues/831) via [**ZenHub**](https://www.zenhub.com/)

[2017-05-17 05:50] #773 closed

[2017-05-17 10:49] sebastien-roch commented on #714
Also check [this link](https://stackoverflow.com/questions/40999547/how-to-tear-down-an-enhanced-fragment) about this subject.

[2017-05-18 03:22] EisenbergEffect commented on #772
Aurelia holds no references to transient instances. In the referenced sample, the only object that holds the reference to Child is Users. If Users is collected, then Child should be as well. If it's not, then something outside of Aurelia is probably holding a reference. The prime suspect would be the debug tools.

@jdanyow Any further thoughts on this?

[2017-05-18 03:29] EisenbergEffect commented on #724
Interesting. The `enhance` api was never intended to be used on nodes that are outside of the DOM. Instead, you should use the ViewCompiler directly to compile a ViewFactory and create your View instance.

[2017-05-18 04:24] jasoncarreira opened #774 "Nativescript integration"
**I'm submitting a feature request**

**Current behavior:**

Nativescript has a Typescript / Angular2 integration to allow for building mobile apps with Angular2, but no integration with Aurelia. The Nativescript / Angular2 integration is discussed here: https://www.nativescript.org/nativescript-is-how-you-build-native-mobile-apps-with-angular

**Expected/desired behavior:**

Implement an equivale

[2017-05-18 15:22] johan-v-r opened #775 "SetRoot and enhance simultaneously"
**I'm submitting a bug report**

* **Library Version:**
1.1.2

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
7.9.0

* **NPM Version:**
4.2.0

* **Aurelia CLI OR JSPM OR Webpack AND Version**
Aurelia CLI 0.27.0

* **Browser:**
Chrome 58.0.3029.110 | Firefox 53.0.2 | Brave 0.15.2

* **Language:**
ESNext

**Current behavior:**

`aurelia.setRoot()`

[2017-05-18 15:25] EisenbergEffect commented on #775
Resolve the `TemplatingEngine` and use its `enhance` API as well. When you call it from the `aurelia` object it's an either/or with `setRoot` because it assumes you are setting up a single app. With the `TemplatingEngine` you can call `enhance` as many times as you want.

[2017-05-18 15:25] #775 closed

[2017-05-18 17:22] arjendeblok commented on #774
I really would like this too. I really do want to use Aurelia over Angular2. With Angular2 you have 2 very good choices for mobile: Ionic and NativeScript. Aurelia UX could be an alternative for Ionic if it is used with Cordova, but I think NativeScript is a better option.

I would like to help, but do not know where to start. The first issue is how to use the Aurelia templating syntax not for the

[2017-05-18 17:28] arjendeblok commented on #774
Discussion on NativeScript site.
https://github.com/NativeScript/NativeScript/issues/536

[2017-05-18 17:32] jasoncarreira commented on #774
I would also be interested in helping on this, but also have no idea where to start and no familiarity with Aurelia internals

[2017-05-18 18:50] AshleyGrant commented on #774
We have spoken to the NativeScript team about this from time to time, and the constant response we get from them is "Nobody is asking us to implement Aurelia support."

Basically, until the community badgers the team over at Telerik enought that they realize we have a great developer community, if a bit quiet, that would greatly appreciate them supporting Aurelia, it isn't likely to happen.

So @j

[2017-05-18 19:22] jlooper commented on #774
So the way to go about doing this has been modeled here by a community dev who decided to build a Vue plugin for NativeScript. We are making good progress - and I'd be happy to have you join an Aurelia channel on the NativeScript Community Slack to get a port going! Here's the repo: https://github.com/rigor789/nativescript-vue

[2017-05-18 19:23] AshleyGrant commented on #774
Thanks @jlooper for the info. @jasoncarreira @arjendeblok have a look!

[2017-05-18 23:51] andrewransom commented on #774
I'll throw in a +1 for this!

[2017-05-19 01:18] jdanyow commented on #772
Any sort of console.log will cause a leak, I haven't read all the convo above ^^^, may not be relevant, but I wanted to call that out.

[2017-05-19 07:58] johan-v-r commented on #775
Thanks for the reply. I eventually got it working with the `TemplatingEngine` as suggested (that original gist has been updated).

I then realized that I actually only needed one instance of `app` for both `index.html` and `<app></app>`, so my final solution is now:
[code]

[2017-05-19 15:08] AnthonyGilliam opened #777 "aurelia-event-aggregator Not Triggering Event Handler When "messageType" is an Object"
**I'm submitting a bug report**

* **Library Version:**
aurelia-event-aggregator@1.0.1

* **Operating System:**
Windows 10 Pro

* **Node Version:**
v6.10.2

* **NPM Version:**
3.10.10

* **JSPM OR Webpack AND Version**
JSPM 0.16.52
Running against local jspm install

* **Browser:**
Chrome Version 57.0.2987.133 (64-bit)

* **Language:**
ESNext

**Current behavior:**
Looks like this feed gets the mo

[2017-05-19 15:33] #777 closed

[2017-05-20 18:44] luboid opened #778 "Boot application from package"
**I'm submitting a feature request**

* **Library Version:**
1.1.2

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
v7.4.0

* **NPM Version:**
4.1.1

* **Aurelia CLI OR JSPM OR Webpack AND Version**
SystemJS 0.20.12, Aurelia node modules

* **Browser:**
all

* **Language:**
TypeScript 2.3.2

**Current behavior:**
systemjs.config.js
[code]
main.ts

[2017-05-24 05:52] TimBailey-pnk opened #779 "IE11 unable to get property replaceChild"
I'm submitting a bug report

**Please tell us about your environment:**
* **Operating System:**
Windows 8.1

* **Node Version:**
n/a
* **NPM Version:**
n/a

* **Browser:**
IE 11

* **Language:**
n/a

**Current behavior:**
Get a unhandled rejection in IE11
As per #27, when browsing Aurelia app via IE11 get error below and screen is empty

ie visit http://aurelia.io/hub.html#/doc/index in IE11

[cod

[2017-05-24 21:34] bmarotta opened #780 "If two custom-elements extends the same base class they will share the same __metadata__ property"
**I'm submitting a bug report**

* **Library Version:**
aurelia-framework@1.1.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.9.4

* **NPM Version:**
3.10.10

* **Aurelia CLI OR JSPM OR Webpack AND Version**
CLI 0.27.0

* **Browser:**
all

* **Language:**
TypeScript 2.1.1 (but I assume it is not bound to the language)

**Current behavior:**
I

[2017-05-26 04:03] Ruchir-zealous commented on #118
Any update on this issue? I am having the same issue, let me know if you got the solution.

[2017-05-26 17:09] JohnGalt1717 commented on #72
Any update on this availability?

[2017-05-26 17:19] AshleyGrant commented on #72
It should currently be available when using the Webpack skeleton. Improved SSR is a priority for the team currently.

[2017-05-26 17:34] JohnGalt1717 commented on #72
Is there any docs on it?  Does it work with asp.net javascriptservices?

[2017-05-26 17:36] AshleyGrant commented on #72
There are no docs currently as it is still pre-release and subject to change (as far as I am aware).

[2017-05-27 14:24] gheoan commented on #780
https://github.com/aurelia/templating/issues/463

[2017-05-28 18:54] len-ro opened #781 "Cannot use custom attribute with dynamicOptions in repeat"
**I'm submitting a bug report**

* **Library Version:**
1.1.2

**Please tell us about your environment:**
* **Operating System:**
Linux (Ubuntu)

* **Node Version:**
6.9.5

* **NPM Version:**
4.1.2

* **Aurelia CLI OR JSPM OR Webpack AND Version**
 JSPM 0.16.53

* **Browser:**
all

* **Language:**
TypeScript X.X | ESNext

I am trying to use a customAttribute in a repeat. See: https://gist.run/?id=

[2017-05-29 14:30] halllo opened #782 "leaflet bundle cannot be loaded correctly when minified"
**I'm submitting a bug report**

* **Library Version:**
1.1.2

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
7.6.0

* **NPM Version:**
4.1.2

* **Aurelia CLI OR JSPM OR Webpack AND Version**
JSPM 0.16.53

* **Browser:**
Chrome 58 | Edge 38

* **Language:**
TypeScript 2.3.3

**Current behavior:**
I am using [leaflet.js](http://leafletjs.com/) and

[2017-05-29 14:39] AshleyGrant commented on #782
Everything looks correct. Is @ahmedshuhel around to give it a look?

[2017-05-30 11:30] kyvanc opened #783 "Repeat for tr causes "too much recursion" (ffox) "Maximum call stack size exceeded" (chrome)"
**I'm submitting a bug report**

* **Library Version:**
aurelia-skeleton-navigation-webpack@1.1.2

**Please tell us about your environment:**
* **Operating System:**
Linux (Arch)

* **Node Version:**
7.10.0-2

* **NPM Version:**
4.6.1-1

* **Aurelia CLI OR JSPM OR Webpack AND Version**
Webpack 2.1.0-beta27 & 2.6.1

* **Browser:**
Firefox 53.0.3
Chromium 58.0.3029

* **Language:**
TypeScript 2.3.3

[2017-05-30 11:33] JohnGalt1717 commented on #72
Thanks! Looking forward to it becoming more solidified and fully working with JavaScriptServices!

[2017-05-30 12:36] AshleyGrant commented on #783
You don't have a `td` element in your table markup.

[2017-05-30 12:42] kyvanc commented on #783
Indeed I forgot to add the td after changing the code many times. I corrected the markup in the bug report but it doesn't change the end result (actually my first tests included that td repeating for the second element of 2d number array)

[2017-05-30 14:35] kyvanc commented on #783
Just tried with custom element instead of composing and this time, no errors, the table row is repeated!

[2017-05-30 14:45] #783 closed

[2017-05-30 18:11] reeddunkle opened #784 "Binding radios model.bind before checked.bind"
**I'm submitting a bug report**

* **Library Version:**
1.1.2

* **Operating System:**
Windows 10

* **Node Version:**
7.9.0

* **NPM Version:**
4.2.0

* **Aurelia CLI OR JSPM OR Webpack AND Version**
Webpack 2.2.1

* **Browser:**
Chrome 58.0.3029.110 | IE 11

* **Language:**
JavaScript

**Current behavior:**
When binding radio buttons with object arrays in Aurelia, setting the `model.bind` must c

[2017-05-30 20:05] AshleyGrant commented on #783
Oh.. yeah... that would cause a bit of a problem :-)

If it makes you feel better, I had this type of self-induced bug bite me onstage at a conference last year.

I named my file `nav.html` instead of `nav-bar.html`. That caused a bit of a problem. I didn't realize what I had done until about an hour later.

[2017-05-30 21:36] AshleyGrant commented on #781
You aren't setting any properties in your example. You have created a "simple attribute." To use dynamic options, you would do something like this:

[code]

See the gist here: https://gist.run/?id=8e366db800358bb1d4b5fbcad1d58ccf

@EisenbergEffect this issue may be closed.

[2017-05-30 23:56] #781 closed

[2017-05-31 00:14] #772 closed

[2017-05-31 03:20] EisenbergEffect commented on #778
I believe you just need to do `<body aurelia-app="the-app/app">`

[2017-05-31 03:20] #778 closed

[2017-05-31 03:30] EisenbergEffect commented on #779
Can you provide a simplified reproduction that we can use to test this?

[2017-05-31 03:33] EisenbergEffect commented on #780
Closing as a duplicate. I think we have a solution in the works. We haven't officially supported component inheritance yet.

[2017-05-31 03:33] #780 closed

[2017-05-31 03:40] EisenbergEffect commented on #782
@ahmedshuhel Can you take a look into this?

[2017-05-31 03:43] EisenbergEffect commented on #784
@jdanyow Can you chime in on this? I don't think browsers guarantee the order of attributes. Do we have a bug here we need to address?

[2017-05-31 04:42] jdanyow commented on #784
I don't know of an issue with attribute ordering and radios. @reeddunkle what's the issue you're seeing?

I can confirm that different DOM implementations list attributes differently. Some use alphabetical order, some use the order the attributes appear in the HTML.

[2017-05-31 04:44] ahmedshuhel commented on #782
Will do tonight.

[2017-05-31 06:32] len-ro commented on #781
I was hoping to be also able to have something like:
`<div repeat.for="d of data" my-attribute="${d.c}"></div>` where c can contain a variable number of parameters. For instance `c  = 'a: aVal'` in one case, `c = 'a: aVal, b:bVal' in another but I can live with doing a bind for all parameters even the ones which are not present.

Thank you.

[2017-05-31 08:35] kyvanc commented on #783
Well, actually it made me feel better, thanks :) sometimes I think these are signs that yell at me "have a break for heaven's sake". thanks for the great framework by the way!

[2017-05-31 11:58] reeddunkle commented on #784
@jdanyow We ran into the issue while trying to get the radio group to display a pre-loaded value.

I'll see if I can get some screenshots, or an example together in a gist.

[2017-05-31 12:38] reeddunkle commented on #784
Alright, three screenshots. The first is with `model.bind` set first, the second has alphabetized attributes, and the last also with alphabetized attributes but with all MDL classes removed. Once the MDL classes are removed, it behaves fine regardless of attribute order. It's more likely this is an MDL issue than an Aurelia issue.

![model.bind first](http://i.imgur.com/7owV0rZ.png)
![ABCs](http:/

[2017-05-31 13:39] jdanyow commented on #784
Does anything change if you switch from if.bind to show.bind

[2017-05-31 15:28] Anthony-Mckale opened #786 "fix(typo) documentation says export instead of exports"
**I'm submitting a bug report**

**Current behavior:**

http://aurelia.io/hub.html#/doc/article/aurelia/framework/latest/bundling-jspm/9

[code]

is incorrect

**Expected/desired behavior:**

[code]

as per http://requirejs.org/docs/api.html

* **What is the motivation / use case for changing the behavior?**

avoid confusion for folks using old libraries

[2017-05-31 16:19] luboid commented on #778
Where main need to go

[2017-06-02 15:19] MarkoIvanetic opened #788 "router.history.previousLocation undefined at ensureConfigured() resolution."
I'm submitting a bug report

Library Version:
1.0.8

Operating System:
Windows 10

Node Version:
6.10.2

NPM Version:
3.10.10

JSPM

Browser:
Chrome 58.0.3029.110 (64-bit)

Language:
JavaScript

Current behavior:
**router.history.previousLocation** is undefined at time **ensureConfigured()** is resolved.

Expected/desired behavior:
Since I'm getting my routes via http I need to ensure refresh is w

[2017-06-05 20:04] AdamWillden commented on #644
I've had a few issues relating to this.

There's no other option, that I can see, than to distribute/duplicate the `.d.ts` in within each dist sub directory.

[I've just remembered](https://github.com/aurelia/dialog/pull/280) that  following the move to typescript aurelia-dialog no longer exhibits the issue mentioned here because the `d.ts` is indeed [distributed/duplicated in each dist sub direct

[2017-06-05 20:20] AdamWillden commented on #644
Commonly used packages to check and update would be:

- [ ] dependency-injection
- [ ] event-aggregator
- [ ] fetch-client
- [ ] framework
- [ ] http-client
- [ ] logging
- [ ] logging-console
- [ ] metadata
- [ ] pal
- [ ] i18n
- [ ] task-queue
- [ ] templating
- [ ] templating-binding
- [ ] templating-router
- [ ] templating-resources
- [ ] testing
- [ ] router
- [ ] binding
- [ ] ui-virtualizat

[2017-06-09 13:31] jdemeuse1204 opened #789 "useView decorator is unable to find my view"
**I'm submitting a bug report**

* **Library Version:**
1.1.2

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.10.0

* **NPM Version:**
3.10.10

* **Aurelia CLI OR JSPM OR Webpack AND Version**
webpack 2.5.1

* **Browser:**
Chrome 58

* **Language:**
ESNext

**Current behavior:**
Typically when I create my SPA I have views and viewmodels split i

[2017-06-09 21:56] EisenbergEffect commented on #789
@jods4 Can you provide some guidance here?

[2017-06-11 13:29] jods4 commented on #789
Assuming your webpack config includes `modules: ['src', 'node_modules']` and if I understood your structure correctly, I don't see why `@useView(PLATFORM.moduleName('views/app.html')` wouldn't work.

If you're consistent about where you put your views, yes it would be easier to configure Aurelia's default convention to fit your setup. Doing so requires tweaking the convention at runtime _and_ buil

[2017-06-11 15:21] jdemeuse1204 commented on #789
@jods4 Yes, my webpack does include `modules: ['src', 'node_modules']`.  I am not sure why this or any other convention doesn't work.  I had this all working with framework version `1.0.8`.  I have created a public repo for you, if you want to check it out and see why this is not working.  Otherwise if you pull down the latest skeleton, you will be able to see this issue as well once you split you

[2017-06-11 16:12] jods4 commented on #789
@jdemeuse1204 before I have a look at it, can you try what I suggested above? I see your Home viewmodel is not properly configured.

If it still doesn't work I would be interested in the error + the output of `webpack --display-modules`.

[2017-06-11 16:58] jdemeuse1204 commented on #789
@jods4 That worked.  I never configured `home.js` because `app.js` was not working.  But it wasn't working because of the `home.js` configuration.  Thank you for the help

[2017-06-11 16:58] #789 closed

[2017-06-11 19:59] jdemeuse1204 commented on #789
@jods4 @EisenbergEffect Is there any way to make an enhancement to get a more intuitive error?  Technically my error was not in my `app.js` file, yet that's where that's where the error was being thrown from

[2017-06-11 20:33] jods4 commented on #789
Are you sure you didn't dismiss the error too quickly because the message was similar?
I'm pretty sure after you fixed app.html the message should have changed to:

which is probably as specific as it can be.

[2017-06-12 00:00] jdemeuse1204 commented on #789
@jods4  You are correct, I must have missed the error.  I just tried to recreate what I thought I was seeing and I cannot.  With trying all the different combinations, I must have missed the name because they are so similar.  Thank you for all the help :)

[2017-06-15 07:16] Lichtjaeger commented on #774
You can also upvote for this implementation on the [NativeScript page](https://nativescript.ideas.aha.io/ideas/NS-I-50).

[2017-06-15 18:17] avrahamcool opened #791 "Unable to send $parent to a valueConverter"
**I'm submitting a bug report**

* **Library Version:**
1.1.2

* **Operating System:**
Windows 10

* **Node Version:**
6.10.2

* **NPM Version:**
5.0.3

* **Aurelia CLI OR JSPM OR Webpack AND Version**
CLI 0.30.0 (System.js + ESNext)

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
passing `$parent` variable to a `valueConverter` throws an exception.
I'm able to access the `$pare

[2017-06-16 08:28] lyptt opened #792 "Lifecycle callback 'attached' not being called for all instances of custom element"
**I'm submitting a bug report**

* **Library Version:**
1.1.2

**Please tell us about your environment:**
* **Operating System:**
OSX 10.12

* **Node Version:**
6.10.2

* **NPM Version:**
3.10.10

* **Aurelia CLI OR JSPM OR Webpack AND Version**
webpack 2.2.0

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
I have a custom element with an `attached()` callback registered. I have

[2017-06-16 09:17] lyptt commented on #792
One thing I should note is the components that do not have the callback invoked report `isAttached: false` in the aurelia inspector.

[2017-06-16 09:19] AshleyGrant commented on #792
We're going to need a minimal repro of this (preferably a runnable gist for gist.run ) so that we can verify this and then fix it.

[2017-06-16 09:19] lyptt commented on #792
I'm not sure how I can do that, the project's pretty big.

[2017-06-16 09:28] lyptt commented on #792
For reference @AshleyGrant I'm using aurelia-router, and I know there's been some issues in the past with callbacks not being fired. If you have any information on how to set up a gist that uses aurelia-router then I can try to create one for you.

[2017-06-16 09:56] AshleyGrant commented on #792
`attached` is a component lifecycle callback, not a router lifecycle callback, so using or not using the router *shouldn't* matter for this. That being said, it's easy to use the router on gist.run. Just use a `router-view` element and a `configureRouter` method like you would in any other Aurelia application. You just can't have folders.

[2017-06-16 10:11] lyptt commented on #792
@AshleyGrant so it appears it's actually _another_ custom element on the page that prevents any further attachments being called. I'm not entirely sure what part of this is breaking aurelia, but here's the source code for the component in its entirety: https://gist.github.com/lyptt/af2d1a1311d359ba8793735e8c366db0

Removing this custom element from the page fixes all of the attached not being call

[2017-06-16 10:24] lyptt commented on #792
I think that this issue may be around rapidly modifying the dom internal to the custom element during the attachment / binding phase. By adding further guards to prevent modifying the DOM unneccesarily, it fixes the issue.

[2017-06-16 10:32] AshleyGrant commented on #792
https://gist.github.com/lyptt/af2d1a1311d359ba8793735e8c366db0#file-slider-js-L41

this line is probably unnecessary and could be accomplished with

`<div ref="slider"></div>`

or similar in your code.

There's a fair amount of code in that gist that can be cleaned up using ES2015+ features :-)

I'm boarding a flight in about 90 minutes, but if you point me to the jquery plugin you're using, and s

[2017-06-16 10:34] lyptt commented on #792
Hey @AshleyGrant - sure, it's noUiSlider: https://refreshless.com/nouislider/

[2017-06-16 10:37] lyptt commented on #792
The template's probably as simple as you could get 😀

[code]

[2017-06-16 10:38] AshleyGrant commented on #792
Ah. Then yes, please switch to using the `ref="binding-context"` like I showed above.

Cheers!

[2017-06-16 12:39] wallaceturner commented on #104
@EisenbergEffect  what is the reluctance to add a google group? stackoverflow is not suitable for some discussions/suggestions and gitter is, imo, mostly unhelpful. It has been 2+ yrs now without a forum - even if it was not an official support forum just a general community forum it would be helpful.

[2017-06-16 12:40] AshleyGrant commented on #104
A forum is being prepped and will be released very soon.

[2017-06-16 13:12] B3zo0 commented on #198
@EisenbergEffect
I'd rather import the log manager from aurelia-framework. If you don't want to support that then please remove that from there or if you want to support it then please add the typing.

[2017-06-17 12:44] AshleyGrant commented on #792
[code]

Try this out.

@EisenbergEffect this issue may be closed.

[2017-06-17 16:54] #792 closed

[2017-06-17 18:44] sklinger opened #793 "PushState bug if aurelia is used in a subdirectory"
**I'm submitting a bug report**

* **Library Version:**
2.1.1

**Please tell us about your environment:**
* **Operating System:**
Windows [10]

* **Node Version:**
7.5.0

* **NPM Version:**
4.1.2

* **Aurelia Webpack AND Version**
webpack 2.6.1

**Current behavior:**
When using aurelia in a sub-directory with activated pushState:

- A link to the root of the website (outside of the aurelia app) is

[2017-06-18 21:03] EisenbergEffect commented on #793
Are you setting the router's root and the browser's base element?

[2017-06-18 21:07] sklinger commented on #793
Browser base element is set to `<base href="/client-app"/>`.
App router is set to `config.options.root = "/client-app/";`

[2017-06-22 19:04] pwhe23 commented on #342
In the [Aurelia Weekly Issue #2](http://mailchi.mp/bluespire/aurelia-weekly-issue-2?e=c7ac86b074) it was mentioned that the poll results were in and the Aurelia Core Team would be discussing possibly implementing One-file components.

Does anyone know where to track this discussion and possibly contribute?

[2017-06-22 21:25] manueljuan3 opened #794 "Dynamic Property Forwarding for Custom Elements"
Is there a way to forward all of an element's properties similar to how React can transfer all the props? [https://titobouzout.github.io/react/docs/transferring-props.html](url)

Was looking to use Dynamic Options Binding but it is only available for custom attributes and not elements. Any solutions?

[2017-06-27 10:45] gama410 opened #796 "binding context seems to be replaced by parent route's"
**I'm submitting a bug report**

* **Library Version:**
1.1.2

aurelia-binding: 1.2.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.11.0

* **NPM Version:**
3.10.10

* **Aurelia CLI OR JSPM OR Webpack AND Version**
CLI 0.27.0

* **Browser:**
chrome 58

* **Language:**
TypeScript 2.1.5

**Current behavior:**

I posted a question on stack overf

[2017-06-27 12:53] gama410 commented on #796
I noticed that, when navigating to the child route (using router.navigateTo), the problem occurs to me.

But when I entered the full URL in the browser's bar and load the page, the problem doesn't occur and I can correctly see "Child name" in the child page....
When I checked the bindingContext & overrideContext (in the bind() method), the results were exactly the same in both cases. So it looks l

[2017-06-27 20:14] EisenbergEffect commented on #794
Not currently, no. It would make a nice contribution though :)

[2017-06-27 20:27] EisenbergEffect commented on #796
Can you provide a reproduction? Also do you have any async code running during the navigation? If so, make sure that is in an activate callback and that the promise is returned from the method. You could have an issue where your child data isn't ready in time for binding so the engine finds the parent instead.

[2017-06-28 08:47] gama410 commented on #796
Thank you @EisenbergEffect ! Indeed, you're right : I had async code in my child's activate method but I was not returning the promise. I would be interested in adding this information to the doc (either in the lifecyle events or in the binding section)...

[2017-06-28 10:33] EisenbergEffect commented on #796
Glad that helped solve the problem :)

[2017-06-28 10:33] #796 closed

[2017-07-07 06:46] stalniy opened #797 "Transperency and visibility of the project"
Hi guys,

I like this library very much and tell about it to everybody who I know, so thank you for creating a great software!
I'm writing this in order to tell that due to fragmentation of repositories it's not clearly visible the progress and activity in Aurelia framework. Why do I think so? I was interviewed by a new client and he told me that his engeneers said that Aurelia is rather dead than

[2017-07-07 06:59] EisenbergEffect commented on #797
We have blog posts almost every week and a weekly newsletter. We also have releases multiple times a month. The Gitter channel is lively and there's plenty of activity elsewhere, including conferences and user groups. We're launching a new site soon and along with that improved documentation and a Discourse. Aurelia downloads and stars continue to increase, along with site visits, consulting/train

[2017-07-07 06:59] #797 closed

[2017-07-09 01:13] jemhuntr commented on #50
Are there any updates on CSS Modules? It's been a while since the last communication regarding this happened here. Is there still no reliable way to implement this right now? For IE10+?

I tried `<require as="scoped"></require>` and it didn't scope the css properly (the css contents were appended to the `<head>` element). And even if it *did* work, there's still the polyfill problem (right?).

Has

[2017-07-09 01:23] EisenbergEffect commented on #50
I have a CSS Modules plugin for Aurelia. I haven't made it public yet but
I'll look to do that soon.

On Jul 8, 2017 6:13 PM, "Jerome Indefenzo" <notifications@github.com> wrote:

[2017-07-09 01:48] weagle08 commented on #797
They don't see a lot of issues and pull requests because rob and the guys got a lot of it right the first time!

[2017-07-09 04:50] stalniy commented on #797
I didn't say that they did something wrong but just wanted to highlight that with the current approach visibility is low for people who does quick screening of different frameworks. And I guess it may be one of the main reason why vue.js has 59000+ starts and Aurelia - 9000+.

That's why I decided to highlght this concern.

[2017-07-09 07:22] smolinari commented on #797
This probably won't go over well and to be honest, I don't mean to be antagonistic. Maybe my comments can help make a bit of a paradigm change for Aurelia, if taken with neutrality and no bias (which I know is really, really hard to do). This is just my own opinion. So here goes...

First let me say, when I started looking for the "right fit" front-end framework for my project (about three years a

[2017-07-09 13:59] EisenbergEffect commented on #797
@smolinari Let me be the first to apologize to you for any negative experience you've had. It's never been our desire to be condescending. I take your feedback very seriously. Here are a few concrete things we're doing to make improvements:

* We're launching a new web site and docs platform that will make it easier for us to improve our documentation over time.
* We've recently re-invigorated our

[2017-07-09 15:11] wshayes commented on #797
Rob, we all who use Aurelia really appreciate you and the team's efforts on our behalf.  It is amazing how hard people can be on open-source providers (not talking about the comments in this thread that are providing supportive criticism).

You and the team have built and are building an incredible platform.  It's always challenging to build, document, provide tools, provide community support at t

[2017-07-09 15:32] smolinari commented on #797
Thanks Rob. Like I mentioned, the situation isn't intentional at all. You guys and gals aren't behaving badly. I don't mean to put doubt in your minds at all. In fact, I'd say you are handling yourselves fairly well. It's hard to put any one finger on my own impressions and to help you change in some possibly better way, in order to gain the traction you deserve. But, just as a simple mundane exam

[2017-07-10 07:08] tulir commented on #779
I started getting this error if I tried to load the page (in IE11) while `au build` was running. Also, refreshing the tab after `au build` had completed didn't fix the error. Only opening a new tab fixed it.

[2017-07-10 19:26] fabioluz opened #798 "Documentation Improvement"
Hi! I'm creating this issue to list Aurelia features that are not documented yet.

I can make the PR's to update the docs, but I want to be sure that I'm right before doing anything. So please, tell me if these changes are welcome.

Let's keep this list up to date!

# Documentation Improvement List

**Build Systems**

- [ ] CLI
  - [ ] CLI now supports SystemJS and Webpack. Update the docs with ne

[2017-07-10 23:06] EisenbergEffect commented on #798
We'd love this 😀 Please send each one as a separate PR so we can review
independently.

On Jul 10, 2017 12:26 PM, "Fabio Luz" <notifications@github.com> wrote:

[2017-07-11 06:01] EisenbergEffect commented on #797
@smolinari I've pushed out some updates to content based on your feedback. Have a read through this update to the "What is Aurelia?" article here:

http://aurelia.io/hub.html#/doc/article/aurelia/framework/latest/what-is-aurelia

Let me know if you think this is an improvement.

[2017-07-11 16:48] AshleyGrant commented on #755
@Infuser are you using the Aurelia CLI, webpack, or JSPM/SystemJS?

[2017-07-11 17:26] Infuser commented on #755
Hi Ashley

I am using the original esnext skeleton using jspm/systemjs

Thanks

[2017-07-12 01:22] smolinari commented on #797
Looks good. The only thing I can suggest for a further improvement is linking to sections of the docs or other resources, where possible, (mainly in the "Why choose Aurelia" section). Backs up what is explained as Aurelia advantages. I was reading and my first impression was, "Give me more!", as in, "How does Aurelia give me this?". 😄

Remember, we are devs. And, in most cases, the elite are easy

[2017-07-12 01:39] AshleyGrant commented on #797
Aurelia has had a CLI for over a year now.

[2017-07-12 04:11] fabioluz commented on #797
My 2-cents here!

One of the first things that I personally liked about Aurelia was the documentation, and I'm talking about (probably) the very first documentation that went online. I remember that the docs weren't just code, they were also telling me that I was building something, with a bit of humor.

However, I know that this isn't practical and can be even boring sometimes, specially when I j

[2017-07-12 06:20] smolinari commented on #797
Great! Then it should be mentioned and used in the "Getting Started" section.

Scott

[2017-07-12 06:23] EisenbergEffect commented on #797
We use the CLI in the second tutorial because we don't want completely new people to have to worry about installing node, the cli and git before they can do "hello world". We've actually gotten a lot of praise from having a getting started that allows people to download, with no machine setup and run an app immediately.

[2017-07-12 08:15] Infuser commented on #755
Like this?

 <script>
      Promise.config({
         longStackTraces: false
      });
   </script>

[2017-07-12 09:34] Infuser commented on #755
I found the code above in another post, I tried it but was getting config undefined

Realised I needed to load bluebird after babel polyfils

Load times in IE now down from 10 seconds to 1

[2017-07-12 12:36] atsu85 commented on #797
Based on the discussions I've had with developers who try to get started with Aurelia, the biggest problem related to current Aurelia documentation is that it isn't really clear what are the options (CLI, skeleton projects, simple script tag, gist.run) to get started with Aurelia. IMHO before introducing any specific way to get started with Aurelia, each option must be introduced first, mentioning

[2017-07-12 12:39] atsu85 commented on #797
Another thing related to my previous comment (and @smolinari's [comment](https://github.com/aurelia/framework/issues/797#issuecomment-314617274)) is that developers don't realize that Aurelia even has a CLI - search in current Aurelia hub has no results for neither "CLI" nor "Command Line Interface"

[2017-07-12 13:27] fabioluz commented on #797
I agree with you when you say that all the options may be confusing. Today, Aurelia has 3 options for development:

- Basic Project with run time transpilation
- Skeletons Projects
- CLI

I think that only CLI should be used in the first tutorials because this is what developers are expecting. Skeletons can be presented in later steps.

I don't think that NodeJS requirement is a problem. All other

[2017-07-12 13:36] smolinari commented on #797
I agree with fabioluz, KISS!

Scott

[2017-07-12 14:01] AshleyGrant commented on #797
Thanks for the great commentary @smolinari and @fabioluz. There's a lot of good stuff here.

[2017-07-12 14:46] AshleyGrant commented on #755
Awesome!

[2017-07-12 14:56] esnyder232 commented on #755
@Infuser Hey,

We are actually having the same problem. We tried to putting it in the script tag like you but it looked like it wasn't doing anything. We are also babeling our stuff from es6 to es5.

How did you load bluebird AFTER babeling?

[2017-07-12 15:01] Infuser commented on #755
Hi @esnyder232

`   <script src="./node_modules/babel-polyfill/dist/polyfill.js"></script>
   <script src="./thirdpartylibs/bluebird.min.js"></script>

   <script>
      Promise.config({
         longStackTraces: false
      });
      Promise.setScheduler(function(fn) {
         setTimeout(fn);
      });
   </script>`

[2017-07-12 15:02] Infuser commented on #755
Also to be on the safe side I did it again in main.js not sure if its needed

`import {
   Promise,
   P
} from 'bluebird';
import 'bootstrap';
import $ from 'bootstrap';
import 'whatwg-fetch';
import {
   HttpClient
} from 'aurelia-fetch-client';
import {
   I18N
} from 'aurelia-i18n';
import XHR from 'i18next-xhr-backend';

Promise.config({
   warnings: {
      wForgottenReturn: false
   },
   c

[2017-07-12 15:58] AshleyGrant commented on #755
You don't need to do this in `main.js`, in fact it should throw an error to the console when you do this.

[2017-07-12 16:01] esnyder232 commented on #755
@Infuser
Still not seeing an improvement for some reason.
We included the bluebird in the index.html and put it in the main.js as well.
Here is what our index looks like:

<body aurelia-app="main">
    <script src="jspm_packages/system.js"></script>
    <script src="jspm_packages/npm/bluebird@3.5.0/js/browser/bluebird.min.js"></script>
    <script>
        Promise.config({ longStackTraces: false }

[2017-07-12 16:05] AshleyGrant commented on #755
@esnyder232 putting the code in `main.js` won't help, as Bluebird cannot be configured after any promises have been created, and promises are created while bootstrapping Aurelia.

[2017-07-12 16:30] esnyder232 commented on #755
@AshleyGrant thanks, I removed it.

Also I asked if we can confirm the stack trace is turned off because we are also having a performance issue with bringing up details on some of our pages, particularly pages that have alot of repeat.fors in the html.

There is another thread we're looking that has this same solution (make longStackTraces: false) and it apparently solves the performance issue:
ht

[2017-07-12 16:32] AshleyGrant commented on #755
Yeah, you need to swap that order so that SystemJS (which heavily uses Promises) can use Bluebird for promises.

[2017-07-12 16:43] atsu85 commented on #797
My [comment](https://github.com/aurelia/framework/issues/797#issuecomment-314756726):

Smth like

@fabioluz replied:

I guess if CLI is introduced first, it wouldn't be too bad either, but current situation where downloading zip + transpiling on fly is introduced first (without mentioning other options), just makes developers scream and probably some of them also run away.

[2017-07-12 16:45] AshleyGrant commented on #797
I think I agreee. Maybe the starter kit could be replaced with a link to gist.run set up to allow the user to play.

[2017-07-12 16:51] weagle08 commented on #797
If Aurelia moves to a CLI first tutorial (which would probably help it attract more "casual" developers) I really think the getting started setup without CLI needs to be kept somewhere or put under more advanced usage. I like that the getting started skeletons allowed me to understand exactly how to set up aurelia from scratch, mainly because now when I tried to use the CLI the output structure do

[2017-07-12 16:53] AshleyGrant commented on #797
I need to pay for my Oreos somehow!

[2017-07-12 16:57] Infuser commented on #755
Thanks Ashley did not notice a console error but maybe

Found that code in a different post

Good to know it's not needed I will remove

Think I am using babel poyfill for async await calls, but it was all new to me as of 6 months ago so not sure

[2017-07-12 17:02] atsu85 commented on #797
That might be worth considering. I personally haven't seen the value of zip + on-fly transpilation either, but maybe it could be valuable for someone who hasn't used Node, npm etc and isn't familiar with modern FE development tools and doesn't like to install anything just to experiment a bit, so it might still have its place - i'm sure it wasn't created just to add another starter kit to maintain

[2017-07-12 21:23] peteigel opened #800 "AureliaHUB leaks memory"
**I'm submitting a bug report**

* **Library Version:**
N/A

**Please tell us about your environment:**
* **Operating System:**
OSX 10.12.5

* **Node Version:**
N/A

* **NPM Version:**
N/A

* **Aurelia CLI OR JSPM OR Webpack AND Version**
N/A

* **Browser:**
Chrome 59, Firefox 54

* **Language:**
N/A

**Current behavior:**
When navigating around AureliaHUB, memory usage appears to grow without cle

[2017-07-12 21:39] AshleyGrant commented on #800
@EisenbergEffect this looks like it's a possible bug in the framework, not the HUB.

[2017-07-13 00:27] EisenbergEffect commented on #800
To be honest, the HUB is a terrible piece of code. We're replacing it and the entire web site soon, hopefully in another month or so. The whole thing has been written from scratch: all new html, js and css. I'm closing for now. If we find a general memory leak, let's open that somewhere with a simple repro.

[2017-07-13 00:27] #800 closed

[2017-07-13 00:31] EisenbergEffect commented on #797
My plan is to make the first getting started tutorial into an all in-browser experience. We're going to build an Aurelia playground directly into the new hub. That will then be usable inside tutorials to teach specific things directly, when desired. I think someone's first experience with Aurelia should be done this way, so they don't have to worry about installing, downloading or doing any setup.

[2017-07-13 09:49] DavidColemanUK opened #801 "Unable to use the same build in CI, to deploy to different environments, due to the BaseUrl being bundled early."
**I'm submitting a bug report**

* **Operating System:**
Windows 10

* **Node Version:**
6.10.0

* **NPM Version:**
3.10.10

* **Aurelia CLI Version**
CLI 0.27.0

* **Language:**
TypeScript 2.3.2

**Current behavior:**
It gets set early, during the au build.

Our current work around is to bruteforce the line using powershell to modify, during the release process to each server.

**Expected/desired

[2017-07-13 10:21] smolinari commented on #797
I just ran into this interesting article, which also explains other factors for Vue's good traction, and this discussion popped into my mind. The factors mentioned in the article I agree with wholeheartedly and could be food for thought for everyone involved in building Aurelia too. 😄 Maybe Aurelia already fits these factors. I am uncertain about that. If it does. Never mind. 😄

https://sgoel.org/

[2017-07-13 13:19] #801 closed

[2017-07-13 13:50] harkenn commented on #800
....so are we expected to go out and find exactly where the resource leak is in the framework? I don't see any followup issue created to investigate this and @EisenbergEffect 's quick closure of this ticket mere hours after its opening leaves me uneasy that this isn't a priority for Aurelia. The scale we see this leak occurring at, its quickly becoming a huge issue for the b2b applications we're d

[2017-07-13 14:27] AshleyGrant commented on #800
@harkenn I believe that Rob is asking to have a separate issue filed for this with a simple repro of the leak. Probably something that uses one of the skeleton projects would work best.

[2017-07-13 17:06] sb2059 opened #802 "Question: Getting started with .NET is turning out to be difficult. Is there a go-to "Getting Started" template for .NET users?"
This should likely be labeled as a question.

We're looking into upgrading our .NET (pre-Core, MVC4) Durandal app into .NET Core / Aurelia implementation.  The easiest way for me to learn new things is to build on top of existing things and pluck/play instead of starting from scratch.

I know a big part of Aurelia's pitch is "unobtrusiveness" - I'm trying to do the bare-minimum amount of learning

[2017-07-13 17:30] Aniel commented on #802
Did you look at https://github.com/aspnet/JavaScriptServices ?

[2017-07-14 01:17] weagle08 commented on #802
https://github.com/aurelia/skeleton-navigation
in that github project you will find an example of using aurelia with .net core

[2017-07-14 06:08] #802 closed

[2017-07-18 00:05] rockResolve commented on #599
See closely related #288 and #308.

[2017-07-18 00:21] rockResolve commented on #308
As discussed this scenario commonly occurs when restoring model values that include nulls. Note that restoring twice, does restore the nulls, and allowing the model dirty-checking to work as expected.

Current code behaviour
This behaviour is caused by html elements not supporting null values, the value is altered to empty-string. Aurelia supports this in its binding processing. When changing a mo

[2017-07-18 15:53] maryalfred opened #803 "aurelia select2 load remote data not loading next page"
I’m trying to use select2 with load remote data (ajax) in aurelia , so I create a custom attribute Select2 and do the option following the documentation
But I faced an issue when I scroll to the end of the drop down “loading more results” message appear but doesn’t load data more or call the api (using same api from the select2 documentation to make sure I’m not missing anything)

    import { cus

[2017-07-18 18:26] AshleyGrant commented on #803
The issue template explicitly states that questions should be posted to Stack Overflow, which you have already done here: https://stackoverflow.com/questions/45171359/aurelia-select2-load-remote-data-not-loading-next-page

We'll do our best to help you over on Stack Overflow, but this issue will need to be closed.

@EisenbergEffect, please close this issue.

[2017-07-18 18:47] maryalfred commented on #803
Sorry but in the template mention that bug or issue to be posted in both. And still its not fixed and shouldn't be closed untill find solution as if anyone face the same issue and find it closed he will mot got reference

Regards,
Mary Alfred
Senior Software Engineer
[Description: Description: Description: Description: ITWORX-LOGO copy.png (293?95)]
www.itworx.com href='http://www.itworx.com/' tar

[2017-07-18 19:04] AshleyGrant commented on #803
The template states

submit them to StackOverflow using the tags aurelia and aurelia-framework
http://stackoverflow.com/questions/tagged/aurelia
or the Aurelia Gitter https://gitter.im/aurelia/discuss

The issue you have found is an issue in your code, and likely not in Aurelia.

[2017-07-18 23:41] #803 closed

[2017-07-20 10:07] dplutino opened #804 "Layout recreated on router navigation"
**I'm submitting a bug report**
**I'm submitting a feature request**

* **Library Version:**
major.minor.patch-pre

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x|Linux (distro)|Windows [7|8|8.1|10]

* **Node Version:**
6.10.2

* **NPM Version:**
3.10.10

* **Aurelia CLI OR JSPM OR Webpack AND Version**
CLI 0.27.0 | JSPM 0.16.53 | webpack 2.3.3

* **Browser:**
all | Ch

[2017-07-22 01:13] jamesond commented on #94
@manyrootsofallevil I have implemented your solution awhile ago but I still am having some caching issues with my html files it seems. Are you still using the above code?

[2017-07-23 15:57] jods4 commented on #692
I upgraded everything to Webpack 3 today.

Without any change, I was happy to see it provided a 13% minified size reduction. 😄

Then I tried the new scope hoisting, aka `ModuleConcatenationPlugin`, aka rollup.
And that saved 194 bytes. Yeah, I know...

Don't get me wrong, scope hoisting is great and provides faster load times, and smaller sizes if you use tons of small modules.

There are a couple

[2017-07-23 22:13] firelizzard18 opened #805 "Custom attribute causes custom element styles to be re-injected into head"
**I'm submitting a bug report**

From [stack overflow](https://stackoverflow.com/q/45112582/762175) by request of @AshleyGrant.

* **Library Version:**
  * bootstrapper: `^2.0.1`
    * framework: `1.0.8`

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
7.7.3

* **NPM Version:**
4.1.2

* **JSPM**
JSPM 0.17.0-beta.42

* **Browser:**
Chrome 59 (no ot

[2017-07-23 22:13] firelizzard18 commented on #805
**From stack overflow:**
I seem to have things working. I patched `aurelia/templating-resources/css-resource.js`:

     beforeCompile(content: DocumentFragment, resources: ViewResources, instruction: ViewCompileInstruction): void {
    +  if (this.done) {
    +      return
    +  } else {
    +      this.done = true
    +  }
       if (instruction.targetShadowDOM) {
         DOM.injectStyles(this.

[2017-07-23 22:18] firelizzard18 commented on #805
I have been running with this patch for a week plus and nothing weird has happened.

[2017-07-23 22:24] firelizzard18 opened #806 "ES5 generation issues"
**I'm submitting a bug report**

_This is a transpilation issue with the versions packaged for distribution via NPM/JSPM._

* **Library Version:**
  * bootstrapper: `^2.0.1`
    * framework: `1.0.8`

**Please tell us about your environment:**
* **Operating System:**
Tested in Windows 10

* **Node Version:**
7.7.3

* **NPM Version:**
4.1.2

* **JSPM**
JSPM 0.17.0-beta.42

* **Browser:**
Tested in C

[2017-07-24 01:22] AshleyGrant commented on #805
I wish all issues were this thorough!

[2017-07-24 03:39] firelizzard18 opened #807 "Child routers do not fully initialize the module"
**I'm submitting a bug report**

* **Library Version:**
1.1.4

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
7.7.3

* **NPM Version:**
4.1.2

* **JSPM Version**
0.16.53

* **Browser:**
Tested in Chrome 59

* **Language:**
all

**Current behavior:**
In scenarios with a child router, for the module in question, for that module's view, if `<router-

[2017-07-26 06:41] vinayhfs opened #808 "router-view in dialog not working every time"
* **Operating System:**
Windows 7

* **Node Version:**
6.10.3

* **NPM Version:**
3.10.10

Aurelia CLI Version*
0.27.0

* **Browser:**
Chrome 59.0

* **Language:**
TypeScript

**Current behavior:**
if we use router-view in dialog on first opening of dialog routing works well and can see view but if we close dialog and reopen dialog, view content is not visible.
Observation is view model instance i

[2017-07-26 17:39] thughes88 opened #809 "Returning False from canDeactivate() causes history to be incorrect."
**I'm submitting a bug report**

* **Library Version:**
2.1.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
4.5.0

* **NPM Version:**
3.10.8

* **Aurelia CLI OR JSPM OR Webpack AND Version**
CLI 0.30.1

* **Browser:**
Chrome 59, Edge

* **Language:**
TypeScript 2.3.0

**Current behavior:**
Create 5 pages (a, b, c, d). Navigate from a => b => c

[2017-07-31 21:40] firelizzard18 opened #810 "Initial application load presents incorrect binding context for a submodule of a module that has it's own routes"
**I'm submitting a bug report**

* **Library Version:**
  * bootstrapper: `^2.0.1`
    * framework: `1.0.8`

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
7.7.3

* **NPM Version:**
4.1.2

* **JSPM**
JSPM 0.17.0-beta.42

* **Browser:**
Chrome 59 (no other supported browser supports Shadow DOM)

* **Language:**
ESNext & TypeScript

**Context:**
An

[2017-07-31 23:34] firelizzard18 commented on #810
## Notes

When the app is initializing `App`, `CompositionEngine.createController()` calls `HtmlBehaviorResource.create()` calls `ViewFactory.create()` which eventually creates the top level `RouterView`. The top level `RouterView`'s constructor calls `AppRouter.registerViewPort()` calls `AppRouter.activate()` calls `AppRouter._dequeueInstruction()` calls `Pipeline.run()` calls `RouterView.process

[2017-08-01 02:32] firelizzard18 commented on #810
I removed `viewPortInstruction.controller.automate(this.overrideContext, owningView)` from [`ready()`](https://github.com/aurelia/templating-router/blob/92e78b0a8d81d153f82c6739d3f14b6167393182/src/router-view.js#L111) within `RouterView.swap()` and added `viewPortInstruction.controller.automate(this.overrideContext, this.view || this.owningView)` to [`RouterView.process()`](https://github.com/aur

[2017-08-01 02:35] firelizzard18 commented on #807
While trying to solve #810, I may have solved this issue. Moving `viewPortInstruction.controller.automate()` from `RouterView.swap()` to `RouterView.process()` seems to resolve this (see the comment on #810 for details).

[2017-08-02 16:38] aluanhaddad commented on #644
I have written my own tool to handle this. It is far from ideal.

[2017-08-02 19:44] atsu85 commented on #644
@AdamWillden

they are generated based on TS types in ES6 sources.

[2017-08-05 22:41] estaylorco opened #812 "Focus binding doesn't like [complicated] expressions"
**I'm submitting a bug report**

* **Library Version:**
aurelia-framework: 1.1.4
aurelia-binding: 1.2.1

**Please tell us about your environment:**
* **Operating System:**
OSX 10.12.6

* **Node Version:**
7.3.0

* **NPM Version:**
3.10.10

* **Aurelia CLI OR JSPM OR Webpack AND Version**
JSPM 0.16.52

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
Referencing this image:

![scre

[2017-08-07 09:21] metamaker commented on #731
Any update on this?

[2017-08-09 13:42] 4imble opened #813 "Aurelia not displaying correct representation of array in UI after removing item with lodash."
**I'm submitting a bug report**

* **Library Version:**
+-- aurelia-bootstrapper@2.1.1
|  -- aurelia-framework@1.1.4

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
v6.11.1

* **NPM Version:**
5.3.0

* **Aurelia CLI OR JSPM OR Webpack AND Version**
CLI 0.30.1

* **Browser:**
all

* **Language:**
TypeScript

**Current behavior:**
[code]

**Expecte

[2017-08-10 08:52] #812 closed

[2017-08-10 11:54] gheoan commented on #813
Duplicate of https://github.com/aurelia/binding/issues/597.

[2017-08-10 12:10] 4imble commented on #813
Ahh, sorry missed that. What's the best way to ensure lodash is loaded after aurelia? I currently just have it in the bundling.

[2017-08-10 13:36] gheoan commented on #813
Not sure how would you do that for the CLI. Try changing the order in aurelia.json so that lodash is the last dependency.

[2017-08-10 17:41] bliu886 opened #814 "Events in activate method in child routes are not handled in parent routes"
**I'm submitting a bug report**

* **Library Version:**
1.1.4

**Please tell us about your environment:**
* **Operating System:**
OSX 10.12.6 Sierra

* **Node Version:**
8.2.1

* **NPM Version:**
5.3.0

* **Aurelia CLI OR JSPM OR Webpack AND Version**
CLI 0.30.1

* **Browser:**
all

* **Language:**
TypeScript 2.4.1

**Current behavior:**
My page setup has a parent router with 3 child routers (A).

[2017-08-10 19:44] andy1547 opened #815 "Aurelia Framework - How to manually create a singleton instance shared across view models"
Sorry for posting here but I was unable to get a response to this question on Glitter.

I'm using container.registerInstance('MyApiClient', new MyApiClient('url-not-known-until-runtime')); in main.configure to register a global singleton which my view models can share. I'm able to inject this in my viewmodels but its constructed with no parameters, not the one registered. I've tried using both @au

[2017-08-10 19:48] Aniel commented on #815
See http://aurelia.io/hub.html#/doc/article/aurelia/dependency-injection/latest/dependency-injection-basics/5

`container.registerSingleton(key: any, fn?: Function): void`
 - This method allows you to register a class as a singleton. This is the default, as discussed above, so there's rarely a reason to call this method. It is provided in the API for completeness. When calling, provide the key tha

[2017-08-10 19:59] andy1547 commented on #815
Had to supply the Type instead of the Type string i.e.
aurelia.container.registerSingleton(Test, () => new Test('hello'));

[2017-08-10 19:59] #815 closed

[2017-08-11 19:37] thughes88 commented on #809
It does seem to be related. I am seeing the same behavior. I am not using
the browser button but rather calling the navigateBack() method on the
router. The end result appears to be the same. My canDeactivate() does fire
more than once using the router navigateBack() until you reach the end of
history, because it seems to remove the last most recent history entry even
though you did not allow navi

[2017-08-11 23:01] mryellow commented on #54
Not sure where this appears in the framework, but is one area which triggers a default `style-src` policy violation.

[code]

For Google Tag Manager based analytics and fonts this seems to work:

`default-src 'self'; connect-src 'self' ws:; script-src 'self' www.googletagmanager.com www.google-analytics.com 'sha256-Abb4VEVedds9NWypVyA7pYkisbm21wnlrkPGVR64oHE=' 'sha256-GKWAMtgBzlCzmucztJIeDl/kD0MKN

[2017-08-11 23:24] EisenbergEffect commented on #54
It is coming from the "show" behavior in templating-resources. We are open to making changes, just submit a PR and we can review.

[2017-08-21 04:11] EisenbergEffect commented on #806
I believe this is a bug in the Babel transpiler itself. Would you be willing to submit a PR with the gulp task that we could use to correct the Babel output?

[2017-08-21 04:13] EisenbergEffect commented on #807
We don't support dynamically present router-view elements. Prefer using show.bind which simply hides the router-view.

[2017-08-21 04:13] #807 closed

[2017-08-21 04:46] firelizzard18 commented on #807
I'm not trying to achieve a dynamically present router-view, but when my content is slotted in a custom-element, that's how it works out.

[2017-08-21 04:48] firelizzard18 commented on #806
I would, but since I did this at work, it's a bit complicated. My boss was planning to talk to his boss about signing the CLA, but I haven't heard back.

[2017-08-22 02:40] rossvegas opened #818 "Adding observable to DTO class properties modifies property name and has stringify issues"
**I'm submitting a bug report**

* **Library Version:**
1.1.4

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.2.1

* **NPM Version:**
5.3.0

* **Webpack**
webpack 2.5.1

* **Browser:**
Chrome 60.0.3112.101

* **Language:**
TypeScript 2.4.2

**Current behavior:**

Hi I am creating a little task tracking application to teach myself Aurelia and ha

[2017-08-22 03:43] EisenbergEffect commented on #818
@jdanyow Can you look into this? Seems like there may be an issue with the enumerable aspect of the generated properties.

[2017-08-22 03:58] bigopon commented on #818
@EisenbergEffect @jdanyow I think this is an easy fix

If it's decorated on class, then the above is expected behavior
Else just need to change descriptor enumerable to true

[2017-08-24 08:02] 0xEAB opened #819 "<map><area router-href + PushState :: Whole page reloads"
**I'm submitting a bug report**

* **Library Version:**
aurelia-framework@1.1.4 (according to `npm list`)

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.9.4

* **NPM Version:**
3.10.10

* **Aurelia CLI OR JSPM OR Webpack AND Version**
CLI 0.30.1

* **Browser:**
Chrome 59 | Edge 15.15063

* **Language:**
ESNext

**Current behavior:**

Router is

[2017-08-25 23:12] bigopon commented on #818
@rossvegas There is a work around for you in the mean time, add `toJSON` method to your model class

[code]

`JSON.stringify` will look for `toJSON` method on the object, that's why you get ISO format when calling `JSON.stringify` on a `Date` instance, if you haven't noticed.

@EisenbergEffect Since there is a work around for this, maybe no need to change this as it could be considered breaking ch

[2017-08-27 22:42] rossvegas commented on #818
Thanks @bigopon  for the workaround that works fine.

As far as not changing it because it could be a breaking change I think it is worth the change, the resultant effect will be that properties decorated with observable will still be there instead of excluded when calling stringify, this being just an addition of data to the string not a modification or deletion I don't think the impact will be t

[2017-08-28 00:47] bigopon commented on #818
@rossvegas  Oh, actually what I said was incorrect, as decorating a field will make it go to the prototype. so it will never go to json stringify. Seems like you have to use `toJSON`.

[2017-08-28 06:30] ThomasWeiss commented on #688
I just ran into the exact same issue while going through that tutorial (created in Typescript mode); for anyone getting that error, renaming `web-api.js` to `web-api.ts` solved the issue.

[2017-08-29 06:48] thinkOfaNumber commented on #804
OP here, I've subscribed to this thread if you want more info :)

[2017-08-29 07:08] thinkOfaNumber opened #820 "Weird behaviour (reference not cleaned up) with slots and validation"
**I'm submitting a bug report**

* **Library Version:**
I'm using the current skeleton-typescript-webpack - aurelia-framework 1.1.4

**Please tell us about your environment:**
* **Operating System:**
Windows 7

* **Node Version:**
6.10.2

* **NPM Version:**
4.4.4

* **Aurelia CLI OR JSPM OR Webpack AND Version**
webpack 3.3.0

* **Browser:**
Chrome  60.0.3112.101
Internet Explorer 11
possibly all?

[2017-08-29 23:32] BretMishler opened #821 "Specific Debug Messages and Warnings"
Please note that this was originally a [StackOverflow question](https://stackoverflow.com/questions/45889290/how-to-get-more-specific-debug-messages-and-warnings-from-aurelia). In a comment on that post, @AshleyGrant recommended that I follow up here.

**I'm submitting a feature request**

* **Library Version:**
Aurelia Framework 1.0.2

**Please tell us about your environment:**
* **Operating Syst

[2017-08-30 00:03] thinkOfaNumber commented on #820
OK here's a working gist showing the odd behaviour:
https://gist.run/?id=74d33945221dd5fa6aa01b42d310f097

I can't find a workaround to this, and there's a lot of places we're using slots with validation...

[2017-08-30 04:58] EisenbergEffect commented on #820
@jdanyow Can you take a look at this?

[2017-08-30 05:40] atsu85 commented on #821
@BretMishler, Looks like this problem could be detected at build-time by [aurelia-template-lint](https://github.com/MeirionHughes/aurelia-template-lint). @MeirionHughes, is this already supported? I haven't done FE development recently, so don't remember if detecting this issue was already supported or not.

[2017-08-31 13:21] bigopon commented on #432
@EisenbergEffect @AStoker Is this still desired ? Wonder how we create multiple view models ? Is it gonna be Object assign ?

[2017-08-31 13:38] AStoker commented on #432
To be honest, this one slipped off my radar. I got the other coworkers on board with classes, but they still complain about having to write `this` everywhere (don't entirely blame them). Danyow's answer actually does a good job of answering this question. However, you do bring up a good point @bigopon, I'm not sure how this would handle multiple instances of a vm. If I have a repeater for a custom

[2017-08-31 13:47] bigopon commented on #432
If insisted, i think it could be a default export with signature `createViewModel`

[code]

Or we can use `WeakMap` to link it to a fake class, then do something. Doable, but not sure if still desirable.

@AStoker

[2017-09-01 08:36] avrahamcool commented on #791
any news?

[2017-09-01 14:59] Honorato commented on #809
Same behavior is happening with me.

[2017-09-04 13:41] lpj145 opened #822 "Aurelia Inspector"
Why aurelia debugger continue working after build app ? when i devel my produtcts i found it, and try on most case of builtaurelia, i can win aurelia-solitaire without touch only one card.

![image](https://user-images.githubusercontent.com/11980109/30028957-8f424598-915d-11e7-9f24-992325796615.png)

[2017-09-04 14:04] StrahilKazlachev commented on #822
*Aurelia Inspector* is a browser extension. Do you want to disable/uninstall it or do you have another issue with it?

[2017-09-04 14:36] lpj145 commented on #822
i say about insecure applications with this extension, this works after build applications and can chanage many data on app.

[2017-09-04 14:46] StrahilKazlachev commented on #822
I don't follow. This extension is for convenience. I can do everything it does, and more, just using the dev tools.

[2017-09-04 15:07] lpj145 commented on #822
after a run au build --env prod, this exentension continue to works, example, on aurelia-solitare app : http://jdanyow.github.io/aurelia-solitaire/ i can win with this extension, without touch any card. I say it because most importants part of my app can be changed by this extension, include security parts.

[2017-09-04 15:26] AshleyGrant commented on #822
As mentioned above, all this extension does is inspect the DOM of the website that's currently loaded. This is no more a security issue than the existence of Dev Tools in the first place. This is simply part of the very nature of the web platform. It is your responsibility to guard your application against the client being able to access information they should not be able to access. This is why t

[2017-09-04 15:27] #822 closed

[2017-09-05 15:46] AshleyGrant commented on #791
I'm betting this is a parser error, where the parser thinks it is beginning another `${ ... }` block.

[2017-09-05 15:49] AshleyGrant commented on #791
In the meantime, here's a hack that can get around this: https://gist.run/?id=f5a165c276274f868256f0a849c55b8c

[code]

[2017-09-05 17:23] AshleyGrant commented on #791
@jdanyow here's the line where things fail: https://github.com/aurelia/binding/blob/048c8dd217fffbf53276e9d65745d2fd10af6686/src/parser.js#L327

In `parseAccessOrCallScope`, I'm betting if we add a `this.peek.text === '|' and `this.peek.text === '&'` to that if statement things will work.

[2017-09-05 17:45] AshleyGrant commented on #791
Working on PR

[2017-09-07 03:13] #791 closed

[2017-09-07 15:29] bliu886 commented on #814
Going over the code again, I realized that I made the dumb mistake of putting the event handlers in the attached() method instead of the constructor method().

[2017-09-07 15:29] #814 closed

[2017-09-10 10:44] devteamexpress opened #824 "Possibility for a global value convertor"
Hello All

In reference to this issue here https://github.com/aurelia/framework/issues/288

We basically want to apply a global value converter to all bindings which will ensure empty strings are always saved into the model as null. This would prevent the need to constantly mark each bind with
    | NullToEmptyStringValueConverter

Is their any current way to achieve this?

[2017-09-12 10:10] combeenator opened #825 "Unable to install from NPM (Error code E404)"
**I'm submitting a bug report**

* **Library Version:**
1.1.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.9.4

* **NPM Version:**
5.3.0

* **Aurelia CLI OR JSPM OR Webpack AND Version**
CLI 0.30.1

* **Browser:**
all

* **Language:**
all

**Current behavior:**
Running `npm install` in my project root results in the following error:

[code]

[2017-09-12 10:13] combeenator commented on #825
Sorry, I just had a typo in my `package.json`: `aurelia-templating-route` instead of `aurelia-templating-router`. Missing `r` at the end ;)

[2017-09-12 10:13] #825 closed

[2017-09-12 15:20] swalters commented on #704
@EisenbergEffect any updates?

[2017-09-12 16:03] EisenbergEffect commented on #704
Very soon. Almost ready.

Sent from my iPhone

[2017-09-18 22:51] javadbat opened #827 "Add Interface"
**I'm submitting a feature request**

* **Library Version:**
Latest
major.minor.patch-pre

**Please tell us about your environment:**
* **Operating System:**
Win10

* **Node Version:**
6.10.2

* **NPM Version:**
3.10.10

* **Aurelia CLI OR JSPM OR Webpack AND Version**
CLI 0.27.0 | JSPM 0.16.53 | webpack 2.3.3

* **Browser:**
all | Chrome XX | Firefox XX | Edge XX | IE XX | Safari XX | Mobile Chro

[2017-09-20 13:44] iakashpaul opened #828 "Project website is down."
**I'm submitting a bug report**
**I'm submitting a feature request**

* **Library Version:**
major.minor.patch-pre

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x|Linux (distro)|Windows [7|8|8.1|10]

* **Node Version:**
6.10.2

* **NPM Version:**
3.10.10

* **Aurelia CLI OR JSPM OR Webpack AND Version**
CLI 0.27.0 | JSPM 0.16.53 | webpack 2.3.3

* **Browser:**
all | Ch

[2017-09-20 15:01] AshleyGrant commented on #828
Seems to be it

[2017-09-24 06:50] homer0 commented on #602
Hi,

Sorry to revive this old issue; but is there any known workaround for this? I fully agree with what @fracz said and like @StrahilKazlachev, I'm trying to avoid using `compose` (having custom elements available makes the use of `compose` for the same thing kind of weird).

Thanks

[2017-09-26 03:14] bigopon commented on #818
@rossvegas Update: your issue can be solved by doing:

[code]

instead of

[code]

the reason is typescript doesn't provide property descriptor when decorating without parens.

@EisenbergEffect I'm recreating type observable decorator, and it will mitigate this issue

[2017-09-27 21:29] TonyLugg commented on #288
This is a very similar issue to what I reported last month here: [https://github.com/aurelia/binding/issues/617](https://github.com/aurelia/binding/issues/617)

[2017-10-04 18:38] bdefore commented on #72
any update on this?

[2017-10-05 00:19] EisenbergEffect commented on #72
It's actually fully functioning. I think we just need to figure out what the best way to ship it is. @JeroenVinke Where are we on this? Do you need me to set up any repos or approve any other PRs that are blocking the core release? Let me know. Thanks!

[2017-10-05 01:57] homer0 commented on #602
ping @EisenbergEffect - Sorry to bother, but I'm trying to push Aurelia as a replacement on my current stack and being forced to use `compose` it's like a deal breaker, If I want the element to keep "living", I use `show.bind`.

Thanks.

[2017-10-05 03:00] EisenbergEffect commented on #602
Custom elements are designed to work just like normal dom elements, so they are always transient. You can use show.bind if you jsut want to show/hide something. The compose element is for dynamic composition, when you don't know what component is going to be rendered until runtime and you need to do that based on data. In that case, compose can render any model and you can have the model be single

[2017-10-05 07:08] JeroenVinke commented on #72
@EisenbergEffect this is where I got stuck: https://github.com/aurelia/binding/pull/610#issuecomment-323654612

While it's nice if we could disable two way binding entirely, it would be enough to somehow disable the dirtychecker.

[2017-10-05 10:56] mreiche commented on #114
I've done this with:

[code]

[code]

I'm using the materialize bridge here, but this should also work with:

[code]

[2017-10-05 13:16] jpray commented on #602
I think the pain point is all about if.bind.  It seems to behave so similarly to show.bind when being toggled multiple times.  Would be nice to have a templating control that was able to blow away and recreate the DOM based on the template.  Here an example:
https://gist.run/?id=7e65836736b6c28fa8d25d192d4d8833

The following workaround is the biggest framework related code smell in my Aurelia app

[2017-10-05 18:54] atsu85 commented on #602
@jpray,

Not sure that `if.bind` (or anything else) is to blame here, it is just how custom element lifecycle is designed in Aurelia - as your initial gist showed, constructor and `created` lifecycle callback method are only called once, `bound` and `attached` lifecycle methods are called every time when in fact the custom element is bound and attached, as the method name says.

If You'd use `show

[2017-10-05 23:25] EisenbergEffect commented on #602
Internally, `if` caches the component so that if you toggle the values back and forth, it doesn't have to go through the work of creating and destroying over an over. However, we could extend the the `if` attribute itself so that you could control that behavior. For backwards compat reasons, we would leave the default behavior the same as today, but add a property to basically opt in to turning th

[2017-10-06 00:44] jpray commented on #602
💯💯💯   Just have to come up with a good name.    if-but-without-the-caching-part 😂

[2017-10-06 11:41] powerbuoy opened #830 "repeat.for renders same item twice"
I have a strange issue where when I try to push an empty object to an array that is rendered in my view - the newly pushed element is rendered twice.

The duplicate element is in fact the exact same element as the previous one (if I change the first the second also changes).

I'm unable to reproduce this in a GistRun (perhaps version differences) - but I have managed to reproduce it in a completel

[2017-10-06 12:59] jpray commented on #602
I've been wondering which of the following would make the most sense...
[code]

[2017-10-07 00:30] bigopon commented on #602
@EisenbergEffect Maybe something like this should be configurable at both application level in `FrameworkConfiguration` and per `If` via bindable property ?

[2017-10-07 01:57] homer0 commented on #602
@EisenbergEffect sounds great.

I like @bigopon idea, if possible, to make it something configurable at both application level and per instance.

@jpray As a separated attribute looks good :D.

I would live to contribute with a PR for this, but I'm kind of new to Aurelia, I've been using it only for a month, sorry!

[2017-10-07 03:21] EisenbergEffect commented on #602
We can't do this at the application level because if you are using a 3rd party component that internally uses an `if` binding, then changing it at the app level would effect the internal implementation of the component, possibly causing it to malfunction. We can do it on a per-case basis though. It can be done using some new templating features. So you could have:

**Normal Behavior**

[code]

**N

[2017-10-07 12:30] bigopon commented on #830
If you are using `templating-resources@1.5.1`, possibly it's related to aurelia/templating-resources#317

[2017-10-07 15:35] homer0 commented on #602
To be honest, I'm not a big fan of that kind of syntax, I would even prefer a dictionary over a semicolon separated list :P.

I was thinking, isn't it possible to make it a static property of the element itself? because if the element can be cached or not doesn't sound like a template issue but a model/controller issue: It's on your model that you expect for something to happen.

Taking a look at

[2017-10-07 21:31] EisenbergEffect commented on #602
The problem is, what if the custom element is nested deeply in a tree of elements? In that case, now the `if` behavior has to do a deep node walk of all views in order to determine what behavior it should use to ensure the proper functioning of the element. That would kill performance and make the entire framework unusable, so we can't do that.

The simples option is to enable controlling this on

[2017-10-07 23:34] homer0 commented on #602
- Cache: Damn it, I assumed the cache worked on a different way, every instance as a different record, but if it works that way, yeah, it would be a performance kill. But you have to admit that it will be kind of weird as you'll have to be aware of the element internal functionality in order to use it on an `if`.

- Syntax: I'm going to blame Angular and JSX :P... you are right, semicolon separate

[2017-10-08 00:06] EisenbergEffect commented on #602
Good question about `none`. I had false first, then changed my post because, without having typed bindables, you would need to do `cache.bind: false` to get a Boolean value, whereas `none` would be interpreted as a string automatically without using `bind`. I did wonder whether there could be other options, but maybe that's not realistic. We are getting close on the typed bindable feature, so we c

[2017-10-08 06:56] homer0 commented on #602
Sounds good 👍  (560 is the PR for typed bindables right?)

[2017-10-08 13:34] EisenbergEffect commented on #602
Yes, that's part of it. It's a tricky little feature, so it might take some time to get it to where we want it. In order to track the `if` cache control, @homer0 can you open a new issue on the `templating-resources` repo to track that enhancement?

[2017-10-08 23:28] homer0 commented on #602
Done aurelia/templating-resources#320

[2017-10-09 12:34] powerbuoy commented on #830
@bigopon I am indeed using 1.5.1. I'm not sure they're related though?

I've simplified my example code slightly. And FYI I'm using Aurelia CLI 0.31.3 (which I believe is the latest version?)

[2017-10-09 13:22] jwx commented on #830
Do you get the same issue if you remove the if-part from the example?

[2017-10-09 13:32] powerbuoy commented on #830
@jwx I do not. Removing the `if` solves the issue. Also switching to `show` instead of `if` solves it - however, `show` does not appear to work with `<template>`.

[2017-10-09 14:54] jwx commented on #830
@powerbuoy Then problem is probably with `if`, so yeah, at least related to it. There's a fix in that one that you could try and see if it helps.

[2017-10-09 20:37] obedm503 commented on #286
this is more of a hack to workaround the problem than a solution. I agree with @giovannicandido that removing the attribute would be best. also, many css libraries and frameworks add or remove styling depending on whether an anchor has an href attribute, so `<a href="undefined"></a>` will be styled as `<a href="#/some/valid/route"></a>` and that's generally not desired

[2017-10-10 00:11] bigopon commented on #286
There is a pending PR to address this at aurelia/binding#616

[2017-10-11 10:24] powerbuoy commented on #830
Ok, honestly I'm not sure how I would implement the fix? You mean the `ifCore` override right?

I went ahead and updated all Aurelia packages today (I basically deleted `node_modules` and just reinstalled everything with my `package.json` pointing to the latest versions of all packages). I've also got the latest version of node and npm.

However, I still get the same issue as above and now new iss

[2017-10-11 11:59] mreiche commented on #830
I've spent hours trying to rollback to a previous version with JSPM. Without luck. Problem was, that I'm not able to LOCK a specific version of templating-resources and it's gonna overridden by the dependency tree: aurelia-materialize-bridge -> aurelia-framework -> aurelia-templating -> aurelia-templating-resources.

If you figured out how to rollback, tell me, I will really appreciate that!

[2017-10-11 12:33] powerbuoy commented on #830
I've pretty much swapped out all my `if.bind`:s to `show.bind`:s instead and while it meant I had to re-code some stuff that will require rigorous testing it seems to be working at first glance for now at least.

Here's hoping for an official patch soon :)

[2017-10-11 12:53] mreiche commented on #830
Yes, but that doesn't help for ``repeat``.

[2017-10-13 17:35] einaradolfsen opened #834 "repeat.for fails to render map (Value for 'map' is non-repeatable)"
I've implemented a feature using rendering of  a map in a aurelia-cli(v0.31.3) application (1. esnext). When trying to integrate this into our product application renering fails (Value for 'map' is non-repeatable)

map:
[code]
this is how I render the map:
[code]

the same issue can be recreated in a test app
1) Create a minimum project following this [approach] (anwared by Jeremy Danyow)(https://

[2017-10-19 17:15] powerbuoy commented on #830
I see there's a fix for both https://github.com/aurelia/templating-resources/issues/317 and https://github.com/aurelia/templating-resources/issues/315 out. However, my `repeat.for` issue, as well as the issues I have with `if.bind` are not solved by the new release.

I managed to reproduce my issue in gist.run now as well; https://gist.run/?id=af8b192abd4ce89a62fe1383dba79d93

Changing from `if.bi

[2017-10-19 17:31] StrahilKazlachev commented on #830
@powerbuoy Not released yet.

[2017-10-19 17:33] powerbuoy commented on #830
Ah ok, my bad :) I guess the fix is in templating-resources?

[2017-10-19 17:38] StrahilKazlachev commented on #830
Yes.

[2017-10-21 20:57] bojanv55 opened #835 "css not cleared from previous layoutView"
I'm submitting a bug report

* **Library Version:**
0.31.3

**Please tell us about your environment:**
* **Operating System:**
Windows 7

* **Node Version:**
6.11.4

* **NPM Version:**
3.10.10

* **Aurelia CLI OR JSPM OR Webpack AND Version**
CLI 0.31.3

* **Browser:**
all

* **Language:**
all

**Current behavior:**
when switching layoutView, previous css is not removed

**Expected/desired behavio

[2017-10-21 22:23] AshleyGrant commented on #835
This is a known bug in our CSS implementation. @jdanyow we really need to solve this as well as making sure CSS files are included in the order they are required, not in the order they download.

[2017-10-23 07:13] yd021976 commented on #35
Hello, got the latest aurelia framework version and it seems that nested custome element « attached » is still not called.

Note that my nested custom element contains a repeat.for directive. Like this :
<parent-element>
   <nested-element repeat.for=« layers »></nested-element>
</parent-element>

In this case, « nested-element » attached method is never call. Only « bind » method is called.

[2017-10-24 16:44] dkent600 commented on #830
This is happening to me, but has nothing to do with if or show:

The result is that the content is rendered twice for each array item that is added using `myArray.push(newItem)` after the view has been bound.

What is really weird is that when I do a production build, the bug goes away.

[code]

[2017-10-24 17:44] dkent600 commented on #830
Wow, I just updated to v1.4.0 of templating-resources and now for every item in the array I see four instead of two!

[2017-10-24 20:05] dkent600 commented on #830
OK, referring to my repro case just above ^^^, I figured out how to make the bug go away, even in my dev build.  First, note that this applies to aurelia-typescript-webpack.  The change is in webpack.config.js.

The original, that works, looks like this in the `entry` property:

[code]

What doesn't work, and causes this bug to happen in the development build, is the following:

[code]

[2017-10-29 10:36] dancespiele opened #837 "Issue when it change the name from some components"
**I'm submitting a bug report**

**Please tell us about your environment:**
* **Operating System:**
Linux Manjaro

* **Node Version:**
 v8.8.0

* **NPM Version:**
3.10.10
 5.5.1

* **Aurelia CLI OR JSPM OR Webpack AND Version**
CLI 0.27.0 | JSPM 0.16.53 | webpack 2.3.3
 Aurelia CLI -> 0.32.0

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
When I change all the names from some co

[2017-10-29 10:43] StrahilKazlachev commented on #837
Can you provide a minimal repro of what you are trying to do?

[2017-10-29 10:48] dancespiele opened #838 "Behavior with index.js is not properly"
**I'm submitting a feature request**

* **Library Version:**
major.minor.patch-pre

**Please tell us about your environment:**
* **Operating System:**
Linux Manjaro

* **Node Version:**

 v8.8.0

* **NPM Version:**
3.10.10
 5.5.1

* **Aurelia CLI OR JSPM OR Webpack AND Version**
CLI 0.27.0 | JSPM 0.16.53 | webpack 2.3.3
 Aurelia CLI 0.32.0

* **Browser:**
all

* **Language:**
ESNext

**Current beh

[2017-10-29 11:18] StrahilKazlachev commented on #838
An import declaration is part of the ES specification, Aurelia has no saying in that.
If you are using the `feature` API of Aurelia, that is different, and does not reflect on the import declarations.

[2017-10-29 11:24] dancespiele commented on #837
For I have this:
[code]

I call in this example the component add-row and it render this

![captura de pantalla de 2017-10-29 12-04-39](https://user-images.githubusercontent.com/29615753/32142903-6c50584e-bca1-11e7-956b-2850594f7e58.png)

Now I change the name of the component:
[code]

You can see in this image that I change the name of everything regarding with the component:
![captura de pantall

[2017-10-29 11:41] StrahilKazlachev commented on #837
1. Are you sure that after renaming the folder/file/component the app is being rebuild?
2. On one of the screenshots the file is marked that it has unsaved changes.
3. I could not see anywhere the source of `add-row.js`/`add-element.js`, when trying to use with the new name - `<add-element>`, are you also changing the name in the impl?
    - by convention approach - `class AddRowCustomElement` ->

[2017-10-29 12:30] dancespiele commented on #837
Wow I didn't realise about it sorry. The class is the unique thing that I didn't change :(.
But the log should something like `Not possible to find the addElement class` or something like this. I don't know it is possible.

![captura de pantalla de 2017-10-29 13-29-59](https://user-images.githubusercontent.com/29615753/32143671-48d6da6c-bcad-11e7-9ca2-4ff89ae71f81.png)

[2017-11-01 11:21] davidpurkiss commented on #72
Hi Aurelia team,

Glad to hear this is almost ready. We've been considering porting to React or Angular to solve our load time issues. Moving over to Webpack gives us a big jump but we're afraid it won't be enough and so would like an SSR solution.

Would like to start getting something going with the pre-release. @AshleyGrant @niieani Just want to confirm that this is what I should be working fro

[2017-11-01 11:26] JeroenVinke commented on #72
@davidpurkiss I would recommend to wait a little while longer, I wouldn't use the skeleton that you're referring to. After we get the two-way binding problem out of the way (see my earlier comment) we will create a skeleton that you can use. I should have some time to work on this in 2 weeks.

[2017-11-01 11:36] davidpurkiss commented on #72
@JeroenVinke Thanks! If there's anything I can do to help or move things along quicker, let me know. My knowledge of the core framework is not extensive but have been using it since beta.

[2017-11-01 12:05] anaibol commented on #72
So, more than two years ago I asked for this server rendering feature. In these two years we have seen growing many alternatives, like React and his performant derivatives (Preact, Inferno), VueJS and even Angular now supports universal rendering. At that moment I was interested by Aurelia embracing ES6 new JavaScript standard and beeing modular. Now, all the mentioned frameworks (and even Meteor)

[2017-11-01 16:14] thomas-darling commented on #72
@anaibol Excuse me, but why did you close this again?!

We very much need server rendering to work.
Saying that it's not needed because other frameworks have it is just crazy.

We can debate whether full blown isomorphism is needed, but the basic rendering absolutely needs to be there - and it needs to be documented.

@EisenbergEffect What's your take on this?

[2017-11-01 16:16] StrahilKazlachev commented on #72
@thomas-darling either this one will be re-open or a new one will be made, work on this feature is **not* dropped.

[2017-11-01 18:22] anaibol commented on #72
Ok, I reopened then, maybe you are right, but this doesn't seem a priority at all or doesn't seem the focus of Aurelia.

[2017-11-01 20:55] EisenbergEffect commented on #72
There are many priorities which all compete with each other for resources, like on any project. This is being worked on and there should be a solution available soon.

[2017-11-03 20:25] ndelangen opened #839 "Looking for collaboration"
Hi!

Over at [Storybook](https://github.com/storybooks/storybook) ([*website*](https://storybook.js.org)), we've just received an issue / feature-request from @miguelzakharia : https://github.com/storybooks/storybook/issues/2226

I'm looking for people with Aurelia knowledge to make this a reality, maybe not today or tomorrow, but in the near future.

Are there Aurelia contributors reading this in

[2017-11-03 23:20] EisenbergEffect commented on #839
@ndelangen Thanks for dropping in here :) I'll chat with the team and see if anyone can help. Another great place to post this in on our discourse forum. discourse.aurelia.io.

[2017-11-04 08:50] eriklieben commented on #839
I would love to help out on this.

I've cloned the storybook repo after the Vue extension was released, took a quick look, but didn't fully understand back then what needed to be implemented to get it to work for Aurelia.

Will take another look.

[2017-11-04 09:37] ndelangen commented on #839
@eriklieben If you want we can do a 1 on 1 call or meet in person some day?

[2017-11-05 10:54] eriklieben commented on #839
Cool, let's discuss this in person during the coffee break at maintainerati.

Do you know if @meelisd is also joining maintainerati?
Then we can team up there and plan out steps to get this done :-)

Thanks!

[2017-11-05 14:43] ndelangen commented on #839
link to maintainerati: https://www.eventbrite.nl/e/tickets-maintainerati-unconference-amsterdam-39008825447

If anyone else is interested in coming, regard this as an invitation!

[2017-11-07 10:56] vegarringdal commented on #643
Any edits on this part ?

Got this during npm install:
`npm WARN deprecated typings@2.1.1: Typings is deprecated in favor of NPM @types -- see README for more information`

[2017-11-08 04:54] nashwaan commented on #210
It is announced in [Early October 2017 Release](http://blog.aurelia.io/2017/10/03/aurelia-release-notes-early-october-2017/) in Aurelia blog that:
**Allow inheritance of bindable properties for custom elements** in `aurelia-templating` v1.5.0. But I could not find any code example.

I tried to put up a gist to test this, but it didn't work:
https://gist.run/?id=0128b19d4121e93611321a0240a6b75b

Wh

[2017-11-08 22:28] esmoore68 commented on #830
I'm still seeing this issue in my app, using aurelia-templating-resources@1.5.4. This bug is causing me to have to jump through all kinds of hoops to avoid.

[2017-11-08 22:45] bigopon commented on #830
@esmoore68 does it occur with `templating-resources@1.4.0` ?

@jods4 If it's ok with `1.4.0`, then i think repeat has some issue, not the `if`

[2017-11-08 22:52] StrahilKazlachev commented on #830
I just tried a *cli* build with no problems - `aurelia-templating-resources@1.5.4`.
@esmoore68 please provide a repro of the problem you are facing.

[2017-11-09 00:42] dkent600 commented on #830
@StrahilKazlachev You might be able to repro with a webpack.config such as I described above.

[2017-11-09 14:16] esmoore68 commented on #830
@StrahilKazlachev, the actual cases (there are many) in my app might be difficult to distill, but I can easily recreate using the test case created by @powerbuoy above.

@bigopon- It still happens with templating-resources@1.4.0.

Aurelia entries from my packages.json:

[code]
I am using Typescript and Webpack.

related settings from my webpack.config:

[code]

[2017-11-13 09:23] BlueManiac commented on #830
I also have this problem using a simple

<tr repeat.for="op of operations">
  <td>${op.operationId}</td>
</tr>

After I have pushed two items the resulting html is:

<tr>
	<td>1</td>
</tr>
<tr>
	<td>2</td>
</tr>
<tr>
	<td></td>
</tr>
<tr>
	<td></td>
</tr>

so the duplicated items have no contents.

using:
"aurelia-bootstrapper": "^2.0.1",
"aurelia-fetch-client": "^1.1.3",
"aurelia-framework": "^1.

[2017-11-13 09:31] bigopon commented on #830
I still cant reproduce it. @esmoore68 @BlueManiac can you confirm that your `templating-resources@1.5.4` is used ? Maybe check inside `node_modules/aurelia-bootstrapper` to see if there is any `node_modules` with `templating-resources` there.

[2017-11-13 10:25] StrahilKazlachev commented on #830
You can do `npm ls aurelia-templating-resources`.

[2017-11-13 11:17] BlueManiac commented on #830
Seems to be correct. I removed dist and rebuilt the application, same thing.

```npm ls aurelia-templating-resources```

[code]

An interesting note is that if I update the view using HMR the display problem goes away until I add more rows.

[2017-11-13 14:56] esmoore68 commented on #830
`npm ls aurelia-templating-resources
`-- aurelia-templating-resources@1.5.4`

I verified that the version of aurelia-templating-resources being built in to my webpack bundle includes the code changed in  the fix that @jods4 made to this module that I _think_ was supposed to address this issue?

https://github.com/aurelia/templating-resources/commit/9548e16bc9ea574bd2e69b65cc5772c341de653a#diff-bbc

[2017-11-13 21:57] StrahilKazlachev commented on #830
Here is how I reproduced it:
1. Create a new `webpack`/`requirejs` project using `aurelia-cli`.
2. Copy&Paste the `app.js/html` from the first post.

What I saw:
1. Creating new array, lets say like this `this.items = [...this.items, [{}]];`, instead of mutating the current one makes it work as expected.
2. When using `.push` the `ChangeRecord`s seem correct to me. Here is one for the 3rd addition

[2017-11-13 22:03] jods4 commented on #830
Quite important point to notice because the timing is unlucky. 1.5 contained changes in `if` with the introduction of `else` and a few important bugs that got fixed in 1.5.4.

If it reproduces with `templating-resources@1.4.0` it means the bug is not in the recent `if` changes but was there before.

[2017-11-14 13:31] bigopon commented on #830
The issue is because `instanceChanged` and `instanceMutated` happen at the same time by `this.items.push({})` causing repeat to add duplicated view. Temporary workaround is to make sure they don't happen in the same micro task flush via:

[code]

I'm not sure how to fix this yet 😅

[2017-11-14 21:53] jods4 commented on #830
A little out of the blue because I haven't looked at the code in depth but maybe:
`instanceMutated` should look at what the current instance in the repeat viewmodel is. If it's not the one being mutated, there is a race condition in the notification microtasks and the mutation should be ignored.

[2017-11-15 10:00] jhanschoo commented on #72
@EisenbergEffect You've mentioned that it's almost done, awaiting integration or something similar. Is there any place I can get a look at this? I may be able to help with low-hanging fruit. Thanks!

[2017-11-15 10:55] JeroenVinke commented on #72
@jhanschoo yep we're putting the final things in place. There's one bug that popped up (rather late in the process) that we have to look at, but once it's fixed we'll release a skeleton thats preconfigured for ssr which you can look at and experiment with

[2017-11-15 18:04] atsu85 commented on #72
@JeroenVinke , linking to the issue might attract people helping out

[2017-11-15 18:21] JeroenVinke commented on #72
Definitely. I have made an issue here: https://github.com/aurelia/router/issues/552.

[2017-11-15 18:29] pkkummermo commented on #830
I've had the same issue, but not in 1.4.0 of templating-resources (see https://github.com/aurelia/templating/issues/580 for more details)

[2017-11-15 22:58] cbrownie commented on #830
My team has also encountered the issue that @BlueManiac has outlined exactly. We were battling with it for awhile, and ending up reverting all our package.json to an earlier working state from about a month ago to get around it. Would be very interesting in a fix.

[2017-11-15 23:09] StrahilKazlachev commented on #830
@cbrownie Could you post the versions of `aurelia-templating` and `aurelia-templating-resources` with which you don't get this issue?

[2017-11-16 12:08] codedbypaul opened #840 "Radio model.bind doesn't work if pre-selected value is set to an object"
**I'm submitting a bug report**

* **Library Version:**
1.1.5

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.2.1

* **NPM Version:**
3.9.3

* **Aurelia CLI OR JSPM OR Webpack AND Version**
CLI 0.30.1

* **Browser:**
Chrome 61.0.3163.100

* **Language:**
Javascript

**Current behavior:**
When binding radio buttons with object arrays in Aurelia,

[2017-11-16 12:27] bigopon commented on #840
The reason your pre-selected value is not used is because it's not the same object.

There are two way for you to deal with that:

1. Use the same object in `fooValues` https://gist.run/?id=88c8c19bd53140cb07f77190f1a94b4f

[code]

2. Use a matcher on `<input type="radio" />`

[code]

[code]

@codedbypaul html is case insensitive, so it should be `<bar></bar>` and `<foo></foo>`, just to avoid futu

[2017-11-16 13:07] codedbypaul commented on #840
I'm not sure I understand. In my example the Foo and Bar elements worked as I expected them to. It was the Baz element that didn't set the radio to checked.

[2017-11-16 14:34] cbrownie commented on #830
@StrahilKazlachev
These are the aurelia package versions we were using that produced the issue with repeaters and other odd errors.

    "aurelia-animator-css": "^1.0.4",
    "aurelia-api": "^3.1.1",
    "aurelia-bootstrapper": "^2.1.1",
    "aurelia-dependency-injection": "^1.3.2",
    "aurelia-dialog": "^1.0.0-rc.1.0.3",
    "aurelia-event-aggregator": "^1.0.1",
    "aurelia-fetch-client": "^1.1

[2017-11-16 15:08] StrahilKazlachev commented on #830
@cbrownie Thanks, that is really strange. I really wanted to easily pinpoint when the problem was introduced 😅.
Also Webpack should not be an issue since I reproduced it with RequireJS.

[2017-11-25 12:42] MarcScheib opened #841 "Common interface for Http/Fetch Client"
**I'm submitting a feature request**

Have you thought of introducing an interface for the Http- and Fetch-client which supports a minimal amount of methods (probably `fetch()` as this is the only one in fetch-client).

I am working with `aurelia-api` which is coupled to the Fetch-Client. I want to make this configurable based on a factory. However, somewhere, I need to call a method of the object

[2017-11-27 16:30] obedm503 opened #842 "issue with repeat.for using p tags with hr inside"
**I'm submitting a bug report**

* **Library Version:**
1.0.2

**Please tell us about your environment:**
* **Operating System:**
Linux (xubuntu 16.04)

* **Node Version:**
n/a

* **NPM Version:**
n/a

* **Aurelia CLI OR JSPM OR Webpack AND Version**
n/a

* **Browser:**
Chrome 62.0.3202.94 (haven't tested other)
* **Language:**
ESNext

**Current behavior:**
the repeater breaks when using a `p` tag

[2017-11-27 16:35] obedm503 commented on #842
/cc @lstarky

[2017-11-27 16:39] AshleyGrant commented on #842
Well, it definitely looks like a bug. @jdanyow what do you think?

[2017-11-27 19:11] ariovistus opened #843 "checkbox checked binding breaks with click handler"
**I'm submitting a bug report**

* **Library Version:**
1.1.5

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.2.1

* **NPM Version:**
5.3.0

* **Aurelia CLI OR JSPM OR Webpack AND Version**
CLI 0.31.3

* **Browser:**
Chrome 62

* **Language:**
TypeScript 2.6.1

**Current behavior:**
I have two checkboxes declared like so:
[code]
when c1 is clic

[2017-11-27 19:54] StrahilKazlachev commented on #843
Can you `return true;` from `checky(evnt, item) { }` and see if this makes any difference?

[2017-11-27 20:26] ariovistus commented on #843
that does make a difference.

[2017-11-30 15:45] alexanderozerov opened #844 "Android 4.4.2 webview issue"
**I'm submitting a bug report**

* **Library Version:**
1.1.5

* **Operating System:**
Windows [10]

* **Node Version:**
8.9.1

* **NPM Version:**
5.3.0

* **Aurelia CLI OR JSPM OR Webpack AND Version**
 webpack 2.6.1

* **Browser:**
 Mobile Chrome XX | Android 4.4.2 Web Browser

* **Language:**
 ESNext

**Current behavior:**

**Expected/desired behavior:**
I have very simple webview app (literall

[2017-11-30 15:46] AshleyGrant commented on #844
Typically, we only support the latest version of Chrome.

Is Chrome the browser that is used in a webview on Android 4.4.2?

[2017-11-30 16:12] alexanderozerov commented on #844
App works on chrome (ver62) on android 4.4.2 too. But if I try it on default android browser it does not.

[2017-12-03 04:14] jdanyow commented on #842
It has to do with how the browser is parsing `<template><p><hr></p></template>`

Compare what the alert displays with the source html:
https://gist.run/?id=fdaeb456bcf33ff5c3d48009eea7100b

Reproduces in firefox too.

[2017-12-03 04:17] jdanyow commented on #842
aurelia gist is up to date: https://gist.run/?id=7542e061bc940cde506b

[2017-12-03 04:17] #842 closed

[2017-12-03 04:21] #840 closed

[2017-12-03 20:46] obedm503 commented on #842
Why is this closed? Is it a browser bug then?

[2017-12-03 21:00] StrahilKazlachev commented on #842
It's not a browser bug, you can not have [`<hr>`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/hr) inside of [`<p>`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/p) - check *Permitted content* of `<p>` and the *Content categories* of `<hr>`. At least this is how I understand the spec.

[2017-12-03 21:36] obedm503 commented on #842
![https://memegenerator.net/img/instances/54575039/woah.jpg)

this is pretty mind blowing. but at least it's not a bug 😅

[2017-12-04 10:51] alexanderozerov commented on #844
Solution founded in this case https://github.com/aurelia/skeleton-navigation/issues/821 .

[2017-12-04 10:51] #844 closed

[2017-12-06 15:30] alankila commented on #755
I ran into this as well, in form of visibly slow startup of the site in IE11, and unusably slow rendering of search result list that maximally contains 100 elements in a repeat.for list. Disabling long stack traces fixed this issue. It seems to me that Aurelia ought to disable this feature when not explicitly used in development mode.

[2017-12-11 11:02] cirelli94 commented on #669
My array is in the view model, so I simply passed the index and get the object by the array, and the parameter by the object.

However, this would be wonderful to have interpolation within attributes.

[2017-12-18 15:56] agouveiac commented on #809
I am experiencing the same behavior.

[2017-12-23 07:13] n2liquid commented on #65
Still no idea how to easily use regular NodeJS modules (i.e. ones that aren't AMD / UMD / whatever-compatible; just simple NodeJS modules that things like Browserify and WebPack can easily load without having to replicate them on a separate file besides `package.json`).

Is it possible to do that in a RequireJS application that's been bootstrapped with `au new`?

Maybe aurelia-cli could automatica

[2017-12-23 20:50] AshleyGrant commented on #65
The Aurelia CLI supports using Webpack now, so you can just use Webpack.

[2017-12-23 22:53] Oxid2178 opened #845 "ref=theCanvas is undefined when i will render more charts in a repeat.for loop"
The problem is that a ref it doesn’t work in a repeat.for loop. if I remove the repeat.for then it works fine, that is, it chart is rendered. I suspect that I have a bug with the life-cycle of the components. I first get data in the activated method and in the method attachment I call the method that gets the canvas reference to render the chart. The error message is the following: “TypeError: _th

[2017-12-23 23:08] AshleyGrant commented on #845
This is a bug in your code. You are overwriting the `theCanvas` property every time the repeater loops. You need to do something like `ref="device.theCanvas"` and then use that property inside the `forEach` function in `changeTimeWindow` or in other places in your code.

Think about it like if you were just writing JavaScript code.
[code]

[2017-12-24 00:16] n2liquid commented on #65
So if I use WebPack I don't have to specify dependencies in `aurelia.json`? That's a good start, although WebPack is pretty bloated and I had problems with an Aurelia / WebPack before. Since Aurelia isn't very popular yet, there are lots os small pesky bugs, especially if you're not using the default configuration (RequireJS, etc). Considering RequireJS is the default, don't you think automatic AM

[2017-12-24 03:01] AshleyGrant commented on #65
Yep, it would probably be a nice feature. There's been a few times that not having that feature has been a problem for me. I'd recommend filing a feature request on the cli repo.

[2017-12-24 03:13] n2liquid commented on #65
I'm not very fond of the idea of requesting features, it doesn't feel right. If the Aurelia team had that need before and thinks it ought to be done, they should just do it. But it's good to have some confirmation from you that you think it would be a good feature. I might be able to convince my boss to take a stab at implementing it because of that. If it works out, I'll send you guys a pull requ

[2017-12-24 03:16] AshleyGrant commented on #65
On the team, we don't always know what everybody who uses Aurelia needs. That's why, in our issue template, we give the option of "I am submitting a feature request." So feel free to submit the feature request. If you can submit a pull request that implements the feature, you can reference the issue! We welcome both feature requests and pull requests to add new features!

[2017-12-24 13:16] Oxid2178 commented on #845
thanks for the tip. I have also posted on Stack Overflow without a answer.
Can I make also a component inside the repeat.for and use the canvas ref without to use a list for the canvas ref? I will try both solutions.
You can answer me on https://stackoverflow.com/questions/47956644/aurelia-ref-thecanvas-is-undefined-when-i-will-render-more-charts-in-a-repeat-fo

[2017-12-24 13:49] Oxid2178 commented on #845
now I changed my code in this form:

[code]

[code]

but still wit the error: > TypeError: device.theCanvas is undefined

sorry when I continue to post here...

[2017-12-28 07:10] PhanindraKumar commented on #830
Any update on this. I am trying to call a function in repeat.for. its been called twice, I cant able to replicate it in gist . One interesting thing i observed. when we set break-point on called function. it works fine.

I am using aurelia-templating-resources@1.5.4

[2017-12-30 12:35] #649 closed

[2018-01-02 08:29] pkkummermo commented on #830
I've had to temporary revert the version due to the numerous places it breaks within our application. Hopefully this issue will be fixed and I can update to the newest :+1:

Just to clarify what I'm reverting:
[code]

After this it works perfectly again.

[2018-01-04 21:48] niemyjski commented on #784
I'm also running into this issue and we are using mdl, works sometimes other times it doesn't :\

[2018-01-04 21:48] niemyjski commented on #784
@jdanyow did you find a solution?

[2018-01-04 22:41] niemyjski commented on #784
I forked an older sample but I'm doing as simple as this and it fails:  https://gist.run/?id=6639c5ab681aeb274a84ec8c75e2ed0e

[2018-01-04 22:58] niemyjski commented on #784
doh, I think I narrowed this down and it was not intuitive. I had a hidden (show.bind) custom element of the same component type (same yes/no control) bound to the same value (a bug). The name="blah" wasn't scoped between the two and it should have been.  Scoping the second component name solved this. I also verified if.bind would also solved this. I did both.

[2018-01-05 13:01] gama410 commented on #809
I have the same problem too.
It seems like a duplicate of https://github.com/aurelia/router/issues/528 which has been assigned to @davismj

[2018-01-06 14:18] reeddunkle commented on #784
@niemyjski For what it's worth, we have had better overall luck with the [MDC](https://github.com/material-components/material-components-web) library. (Though we aren't able to swap out MDL for MDC yet, we might in the future.)

[2018-01-07 14:12] amirqasemi74 opened #847 "aurelia-pal-browser doesn't isntall when installing aurelia framework as it's debpendency"
Hi.

Today I started to install Aurelia Using This command:
jspm install aurelia-framework aurelia-bootstrapper

as I started to run my project, it seem to not install aurelia-pal-browser as it's dependency

i fixed it by install it: jspm install aurelia-pal-browser

so it can be added to dependencies of framework when it's installing..

tanks

[2018-01-07 15:59] powerbuoy opened #848 "Unable to preventDefault on route-href when pushState is true"
I'm trying to prevent a link with a `route-href` attribute from navigating to the new URL.

When I configure the router to use `hashChange` instead of `pushState` it works fine. But if I switch to `pushState` `preventDefault()` does nothing:

[code]

`<a route-href="route: item; params.bind: {id: item.id}" prevent-href>${item.name}</a>`

[2018-01-08 08:50] arnonuem opened #849 "Multiline comments ignored in viewtemplate"
**I'm submitting a bug report**

* **Library Version:**
latest

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.9.4

* **NPM Version:**
5.6.0

* **Aurelia CLI OR JSPM OR Webpack AND Version**
CLI 0.32.0 | webpack 3.5.5

* **Browser:**
Vivaldi 1.13.1008.32

* **Language:**
ESNext

**Current behavior:**
Comments are ignored if used like this:
[cod

[2018-01-08 13:05] powerbuoy commented on #849
Multiline comments have always worked fine for me. Is it specific to `<require>` elements?

[2018-01-09 10:38] arnonuem commented on #849
Not sure whether it is specific ONLY to these but there seems to be a problem with <require>. I have not tested every other possible command but the other ones i use seem to work.

[2018-01-09 11:28] powerbuoy commented on #849
Multiline comments around `require` elements also work fine: https://gist.run/?id=711fd29206ad16202aa6662b6710fc61

[2018-01-09 13:19] arnonuem commented on #849
yes but in my aurelia application they dont work if i require something which is not there yet (files are missing).
When these requirements are commented out they are still evaluated which leads to an error that the files are missing which should be ignored since they are commented out.

[2018-01-10 20:36] rdemetrescu commented on #65
@n2liquid , another option is to use FuseBox  as bundler/loader.

https://fuse-box.org/

This one integrate Aurelia with FuseBox:
https://github.com/fuse-box/fuse-box-aurelia-loader

And this is a skeleton you can use:
https://github.com/fuse-box/fuse-box-aurelia-seed

I am also attaching my own fuse.js that I am using, which makes use of toastr...

[fuse.js.zip](https://github.com/aurelia/framewo

[2018-01-11 10:28] davismj commented on #809
@EisenbergEffect can be closed as dupe

[2018-01-11 10:31] #809 closed

[2018-01-12 06:01] davismj commented on #793
@EisenbergEffect this can be closed as a dupe

[2018-01-12 06:30] #793 closed

[2018-01-15 18:33] eriklieben commented on #774
This is probably related to this thread:

https://discourse.aurelia.io/t/aurelia-2018-roadmap/589/10
https://github.com/bigopon/aurelia-nativescript

[2018-01-16 15:48] ogliznutsa commented on #50
@EisenbergEffect Hi, you've mentioned CSS Modules plugin for Aurelia earlier - is it available? Maybe there are any other ways of doing CSS Modules + Aurelia (+webpack)?

[2018-01-18 13:37] rokaskuciauskas opened #852 "CKEditor usage"
Hi, does anyone knows how to use this component in Aurelia?

[2018-01-18 14:50] AshleyGrant commented on #852
There are multiple answers for this on Stack Overflow: https://stackoverflow.com/questions/41668170/integrating-ckeditor-with-aurelia

@EisenbergEffect please close.

[2018-01-21 01:30] rdelhommer commented on #663
@DamageLimiter Did you guys ever figure out a solution for this?  My team is looking to do something similar and I'm curious how you resolved the issue.

[2018-01-21 07:26] mattduffield commented on #663
Hi @rdelhommer, I put together a quick demo project of how I handle loading external plugins and libraries for external use. I have to do an extra step of bundling the plugins I want to use via a CDN but it works just fine. The sample project demos how you could bring in the aurelia-dialog plugin externally. I use this approach for FrontEnd Creator which is an online tool used to author Aurelia ap

[2018-01-21 10:24] powerbuoy commented on #848
So am I doing something wrong or is this expected behaviour? If so it's a little weird it behaves differently with hashChange.

[2018-01-21 11:00] bigopon commented on #848
Can you try

[code]

together with

```this.el.addEventListener('click', this.onClick, /* add this */ true)```

[2018-01-21 11:56] powerbuoy commented on #848
Unfortunately it doesn't change things... here's what my code looks like now:

[code]

[2018-01-25 12:50] jackiems82 opened #854 "copyFiles produces an error"
**I'm submitting a bug report**

* **Library Version:**
1.1.5

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
6.11.5

* **NPM Version:**
3.10.10

* **Aurelia CLI OR JSPM OR Webpack AND Version**
CLI 0.32.0

* **Browser:**
not applicable

* **Language:**
all

**Current behavior:**

SyntaxError: Unexpected token   in JSON at position 2903
    at Ob

[2018-01-25 12:58] jackiems82 commented on #854
I apperently copied some strange white space character from an example on the web. So this was actually the issue...

[2018-01-25 12:58] #854 closed

[2018-01-25 19:23] AshleyGrant opened #855 "Webpack does not know how to load CSS files from node_modules when using `noView`."
**I'm submitting a bug report**

* **Library Version:**
`"aurelia-bootstrapper": "^2.1.1",`
`"aurelia-webpack-plugin": "^2.0.0-rc.4",`

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.9.1

* **NPM Version:**
5.5.1

* **Aurelia CLI OR JSPM OR Webpack AND Version**
CLI 0.32.0

* **Browser:**
Chrome Latest, at least

* **Language:**
all

**Current

[2018-01-25 19:40] AshleyGrant commented on #855
Interestingly, it seems to work fine if I don't wrap it in PLATFORM.moduleName. Is that the expected behavior?

[2018-01-25 21:31] jpravetz commented on #333
http://console.playable.video is a public Aurelia application.

[2018-01-26 00:31] #852 closed

[2018-01-31 15:52] FunkMonkey33 opened #856 "BindPropertyChanged doesn't Fire"
**I'm submitting a bug report**

* **Library Version:**
"aurelia-framework": "npm:aurelia-framework@^1.0.0-beta.1.1.0",

**Please tell us about your environment:**
Windows 10

* **Node Version:**
6.10.3

* **NPM Version:**
3.10.10

* **Aurelia CLI OR JSPM OR Webpack AND Version**
JSPM version 0.16.26

* **Browser:**
Chrome Version 63.0.3239.132 (Official Build) (64-bit)
* **Language:**
ES6

**Curr

[2018-01-31 18:17] StrahilKazlachev commented on #856
This is documented in the [3. bind(bindingContext: Object, overrideContext: Object)](http://aurelia.io/docs/templating/html-behaviors-introduction#html-behavior-lifecycle).

[2018-01-31 20:37] AshleyGrant commented on #856
@StrahilKazlachev we probably could do a better job of calling this behavior out.

[2018-01-31 22:06] bigopon commented on #856
Yes pls @StrahilKazlachev @AshleyGrant 😄

[2018-01-31 22:31] FunkMonkey33 commented on #856
I see it!  Thanks.

And yes, it could be bolder.

Thanks, guys.

Aaron

On Wed, Jan 31, 2018 at 3:06 PM, bigopon <notifications@github.com> wrote:

[2018-01-31 22:40] AshleyGrant commented on #856
Done! PR Submitted

[2018-02-07 17:00] larserikfinholt commented on #342
Just an idea: https://github.com/aurelia/vscode-extension/issues/77

[2018-02-08 00:46] rdelhommer opened #859 "Table repeat.for: Can not wrap tr elements in a repeated div"
**I'm submitting a bug report**

* **Library Version:**
1.1.5

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.9.1

* **NPM Version:**
5.5.1

* **Aurelia CLI OR JSPM OR Webpack AND Version**
webpack 2.7.0

* **Browser:**
Chrome 63.0.3239.132

* **Language:**
TypeScript 2.5.2

**Current behavior:**
it does not appear that a table can be built by

[2018-02-08 15:17] rdelhommer commented on #859
Resolved the issue by using a template instead of a div to wrap the grouped rows

[2018-02-08 15:17] #859 closed

[2018-02-08 15:40] AshleyGrant commented on #859
Yep, `<template>` is the correct way to handle this.

[2018-02-08 16:01] rdelhommer commented on #859
It should be noted that this may lead to issues in IE per this thread -
 https://github.com/aurelia/templating/issues/565

[2018-02-08 16:18] AshleyGrant commented on #859
Things not working in IE are what makes development fun!

But seriously, the reason Aurelia has a `<require />` element and not an `<import />` element is because IE didn't like the `<import />` element for some unknown reason. IE is also why we had to implement the `css` custom attribute.

[2018-02-08 19:53] DamageLimiter opened #860 "Custom attribute "attached" event too early?"
**I'm submitting a bug report**

* **Library Version:**
"aurelia-framework": "1.1.5"

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.9.4

* **NPM Version:**
5.6.0

* **Aurelia CLI OR JSPM OR Webpack AND Version**
CLI 0.32.0 | webpack 3.5.5

* **Browser:**
all

* **Language:**
TypeScript 2.6.2

**Current behavior:**
**The custom component**<br /

[2018-02-10 01:45] bigopon commented on #860
It works fine when I was trying to reproduce it:

[code]

What I see in the console:

![image](https://user-images.githubusercontent.com/9994529/36057274-3f567a74-0e60-11e8-9988-b29a5149fcd1.png)

[2018-02-10 01:51] bigopon commented on #834
@einaradolfsen

The error report you gave likely comes when you assign an object instead of a map to `map` property, but if you can setup a minimal repro, that would be great for debugging. base: https://gist.run/?id=883568d7c8e2add9ed393150100f4744 (clone and update)

[2018-02-10 11:28] einaradolfsen commented on #834
@bigopon
Iterating over map works fine in the [gist](https://gist.run/?id=dc1192cce18ae9a421a0866094ff648c).
I think the issue is related to using jspm skeleton project and aurelia cli (v 0.31.3) esnext.
If you setup the project using jspm and npm copying app.js and app.html from the gist
this error is thrown:
Error: Value for 'map' is non-repeatable
    at Repeat.itemsChanged (repeat.js:151)

[2018-02-12 07:56] DamageLimiter commented on #860
This is weird. Once I am back home I will also do some more repro steps.

[2018-02-12 22:13] n2liquid opened #861 "repeat.for / $index: Index seems to be out of order"
**I'm submitting a bug report**

* **Library Version:**
aurelia-framework@1.1.5

**Please tell us about your environment:**
* **Operating System:**
Ubuntu 17.10

* **Node Version:**
8.7.0

* **NPM Version:**
5.4.2

* **Aurelia CLI OR JSPM OR Webpack AND Version**
CLI 0.31.3

* **Browser:**
Chrome 63

* **Language:**
TypeScript 2.7.1

**Current behavior:**
I've prepared a (somewhat) minimal repro p

[2018-02-13 19:23] n2liquid commented on #861
I noticed while debugging this today that the problem seems to be Dragula's `gu-transit` element DOM operations that seem to disregard Aurelia's `` nodes a bit. I'll open an issue on the Dragula issue tracker.

[2018-02-13 19:23] #861 closed

[2018-02-14 10:02] TedProsoft commented on #79
+1 For an example

[2018-02-17 08:47] jauniuse opened #863 "possibility to render specific children passed to a component"
**I'm submitting a feature request**

* **Library Version:**
1.1.5

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.9.4

* **NPM Version:**
5.5.1

* **Aurelia CLI OR JSPM OR Webpack AND Version**
webpack 2.3.3

* **Browser:**
all

* **Language:**
all

**Current behavior:**

Let's say I have a class called Wizard which accepts children:

[code]

[2018-02-17 19:35] bagl commented on #863
I have no idea how to do it the "Aurelia way", but you can still go with the pure JS way:

[code]

and go from there.

[2018-02-17 19:58] AshleyGrant commented on #863
I'm on mobile and have a rather full day ahead of me, but I'd probably initially approach this using replaceable parts instead of slots. If that didn't work satisfactorily, I'd switch to some direct HTML manipulation using the `processContent` decorator, passing it a function to process everything.

[2018-02-17 20:59] amirqasemi74 opened #864 "Changing "Binded Style Object" On Element does not cause style changes on element"
Hi.
here in this document page in aurelia website ( http://aurelia.io/docs/binding/class-and-style ) has been mentioned that we can bind a style as Object to an element. it works fine but when your are going to change one object property, it dost not apply in element style... but a string works...

i am wondered why change object property does not cause to aurelia rerender style of that element...

[2018-02-17 22:17] AshleyGrant commented on #864
I'm not exactly sure what you are asking. Please do two things to help us out.
1. follow the issue template when you submit your issue, as we close all issues that do not follow this template (including this one)
2. Provide a [gist.run](https://gist.run/?id=6ad573e051f53c8e163d36dc31dc36b6&sha=cd64e3040dfd964b8c92e9dce868a832b0b32c20) or similar runnable example of what you are asking.

[2018-02-17 23:21] jauniuse commented on #863
HTML manipulation using `processContent` would work for me. Is it possible to access class props in `processContent `? I would need to access `currentPageNumber` prop from `Wizard` class.

[2018-02-18 03:31] AshleyGrant commented on #863
Actually, now that I'm looking at this again and not on mobile, I want to completely change my advice. Check out this blog post: http://www.foursails.co/blog/semantic-template-parts/ for a good way to go about doing this.

[2018-02-18 15:03] jauniuse commented on #863
thanks for the answer

using template parts would make it complicated to use the `wizard` api for its consumer imho. Of course, it could be properly documented, but I will think about a different solution :)

[2018-02-18 16:46] amirqasemi74 commented on #864
this is runnin App:
https://gist.run/?id=1367379c93e787974fca01796290588b

this is the issue...

i also know that there are other way to solve this But this is a question for me why this state not Working!

[2018-02-18 17:55] StrahilKazlachev commented on #864
Because what is being observed is *only* the property `style`, *not* what is inside the *value* of property `style`.

[2018-02-18 18:15] amirqasemi74 commented on #864
If the property 'style' only is being observed, So why when i change the 'color' property, DOM  is being rerenderd?

[2018-02-18 18:50] StrahilKazlachev commented on #864
If you mean `<p>h1 tag Color: ${style.color}</p>`, that is because you are binding against `style.color` - a chain, now both `style` and `color` properties are being observed for thatspecific binding.

[2018-02-18 20:01] amirqasemi74 commented on #864
I understood why....!
Thanks

[2018-02-20 20:09] Alexander-Taran commented on #714
Can we make root public?
If there was a method .reset() or .destroy()
Would it be enough to call .detached() and .unbind() on root?
From what I learned playing with .enhance(), Aurelia stores the Host after the first call to .enhance().
There is also a boolean hostInitialized or something. So if I'm enhancing an iframe's document, the consecutive enhance will not work, so I have to clear the host

[2018-02-21 16:45] Alexander-Taran commented on #714
I'm thinking about something like aurelia-testing for ehnancing brown field apps.
just .enhance is not enough. Got to be able to enhance iframe on load, tear down on iframe navigate. And utilize mutation observer for inseparability with legacy dom manipulations

[2018-02-25 22:43] Alexander-Taran opened #867 "Links in backers.md do not work"
**I'm submitting a bug report**
Links in backers.md do not work

**Current behavior:**
most of the links are relative and lead to githubs 404

**Expected/desired behavior:**
links to profiles should work as expected

* **What is the motivation / use case for changing the behavior?**
decrease frustration and improve worlds order (-:

fixed by https://github.com/aurelia/framework/pull/866

[2018-02-26 00:37] ericguedespinto commented on #79
As an idea on how I could use this...
Imagine that I use processContent to add an attribute to the node (I would not need to know what attributes I need as the decision would only be made at compile time using processContent). Then after the element is created, I want to activate binding on it

How is that nice API coming ?

[2018-02-26 00:52] Alexander-Taran commented on #847
bootstrapper lists pal-browser as a dependency in jspm section of package.json
https://github.com/aurelia/bootstrapper/blob/master/package.json
as far as I remember, you have to add it to config.js though, which you did by runing jspm install..

[2018-02-26 01:20] Alexander-Taran commented on #786
fix merged, can be closed

[2018-02-26 01:35] Alexander-Taran commented on #748
And also "edit this page" link

[2018-02-26 01:38] Alexander-Taran commented on #838
Can be closed.. maybe

[2018-02-26 04:31] #867 closed

[2018-02-26 04:31] EisenbergEffect commented on #867
Thanks!

[2018-02-26 04:39] #786 closed

[2018-02-26 04:59] #838 closed

[2018-02-26 05:00] EisenbergEffect commented on #838
Closed since the OP is describing the ECMA standard behavior for imports.

[2018-02-26 16:51] jods4 commented on #692
Note from Webpack 4 upgrade, the same build as above but using built-in `mode: "production"` of Webpack 4 is **237'314 bytes** less than before, nothing spectacular.

I expect some larger wins if we start to use the new `side-effects: false` metadata in Aurelia packages where we can.

[2018-02-26 22:47] Alexander-Taran commented on #711
https://github.com/jdanyow/rjs-bundle
will help you

[2018-02-27 22:27] jpsala commented on #692
Yessss, thanks you

https://media.giphy.com/media/axu6dFuca4HKM/giphy.gif

[2018-02-27 22:29] EisenbergEffect commented on #692
In addition to the original plans, we're also currently experimenting with a compile-time transform version of Aurelia that would obviate the need for huge parts of the framework, move certain runtime components into the build process and allow dropping all parts of the framework unused by the app. We're early on in the experimental process, but you can watch via the experiment repo.

[2018-02-28 15:49] Alexander-Taran commented on #509
Who's issue is this?
Hub's
Who is Hub?
Hub's dead, baby.
Hub's dead

[2018-02-28 15:56] EisenbergEffect commented on #509
Re-wrote the entire site.

[2018-02-28 15:56] #509 closed

[2018-02-28 15:57] Alexander-Taran commented on #806
if (relevant) {
 tossCoin()==='eagle' ? close() : fixTask() & close();
}

[2018-02-28 15:59] #806 closed

[2018-03-01 00:34] Alexander-Taran commented on #72
with release of ssr
can be closed

[2018-03-01 02:44] EisenbergEffect commented on #72
Shipped!

[2018-03-01 02:44] #72 closed

[2018-03-01 16:43] Alexander-Taran commented on #704
https://discourse.aurelia.io/ is there.

can be closed

[2018-03-01 22:21] dkent600 opened #869 "TypeError: m.configure is not a function"
**I'm submitting a bug report**

* **Library Version:**
1.1.5

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
v9.4.0

* **NPM Version:**
5.6.0

* **Aurelia CLI OR JSPM OR Webpack AND Version**
Running tests in jest and aurelia-testing

* **Browser:**
n/a

* **Language:**
TypeScript, JavaScript

**Current behavior:**

Please see https://github.com

[2018-03-01 22:26] dkent600 commented on #869
Other diagnostic info:

In this case, `moduleId` is "aurelia-templating-resources".

`m` looks like:

[code]

[2018-03-01 22:33] Alexander-Taran commented on #869
Can you attach a zip file with your setup without node_modules ?

[2018-03-01 22:43] dkent600 commented on #869
Try this, let me know if it doesn't work.  Repo by running `npm start test`.

[repo-case.zip](https://github.com/aurelia/framework/files/1773030/repo-case.zip)

[2018-03-01 23:21] #704 closed

[2018-03-02 00:15] Alexander-Taran commented on #869
works on my machine (-:

[2018-03-02 02:06] dkent600 commented on #869
@Alexander-Taran  lucky you  ;-)

Any ideas why it would work for you and not for me?  Node? NPM? NPM cache?

[2018-03-02 02:36] dkent600 commented on #869
(just kidding)

[2018-03-02 02:37] dkent600 commented on #869
The error still happens to me after I delete node_modules and package-lock.json.

[2018-03-02 02:45] dkent600 commented on #869
Did you perchance use yarn instead of npm?

[2018-03-02 08:37] roy46 commented on #869
Are you using the local install of any cli's you may have installed or a global?

I sometimes get issues like this  when I have a different global version of the aurelia-cli or webpack for instance. Bit of a long shot but if "m" is passed in from a an old version of a package it might cause this issue.

Example call to a locally installed version of cli's:
.\node_modules\.bin\au run

[2018-03-02 12:23] dkent600 commented on #869
@Alexander-Taran Great!  I'd love to hear what is the configuration error, thanks so much!

[2018-03-02 13:31] Alexander-Taran commented on #869
Well here is where it gets weired..
you have hard lock on package versions
[code]

had to replace those for
[code]
bootstrapper also

You have not included
` "tslib": "^1.9.0",` in dev, which is AFAIK required for decorators and metadata (tsconfig settings)

and the most weird part
i removed
[code]
in cli based package json it is like this
[code]

I don't know why it is there.
Works perfectly fine

[2018-03-02 14:04] dkent600 commented on #869
Thanks!  It works!

I find that the cli version of this doesn't work either.  It really has to be removed completely:

[code]

`tslib` does not seem to be required, but is good to know about.

I don't recall for sure where I got the broken configuration.  I suspect it was from [JavaScript Services](https://blogs.msdn.microsoft.com/webdev/2017/02/14/building-single-page-applications-on-asp-net-core

[2018-03-02 14:04] #869 closed

[2018-03-02 23:39] Alexander-Taran commented on #646
WoW..
Hidden gem of cheap autocomplete UI
Support is poor though )-:

Definitely made my day

Might me closed though

[2018-03-02 23:51] Alexander-Taran commented on #656
Save the gif

Can be closed

[2018-03-03 00:19] Alexander-Taran commented on #707
Can be closed

[2018-03-03 00:25] Alexander-Taran commented on #685
shrinkwrap is gone
and package.lock.json they say is not stable.

vscode developers (electron app) moved to yarn with explicit post about it

Can be closed

[2018-03-03 08:32] #707 closed

[2018-03-03 15:54] Alexander-Taran commented on #717
Indeed it's similar to https://github.com/aurelia/binding/issues/521

one could be closed

[2018-03-03 19:20] Alexander-Taran commented on #400
Stale since 2016

[2018-03-03 19:27] Alexander-Taran commented on #687
Looks like fixed

Maybe can be closed

[2018-03-03 21:17] EisenbergEffect commented on #646
I'd like to keep this open as a legit enhancement to the binding engine in the future.

[2018-03-03 21:20] #656 closed

[2018-03-03 21:24] #685 closed

[2018-03-03 21:53] EisenbergEffect commented on #717
Closing as duplicate.

[2018-03-03 21:53] #717 closed

[2018-03-03 21:56] EisenbergEffect commented on #400
Ping @davismj to investigate since this relates to routing.

[2018-03-03 21:59] #687 closed

[2018-03-04 23:01] Alexander-Taran commented on #570
@jdanyow can you take a look at #870?

[2018-03-05 08:48] jods4 commented on #685
I don't quite agree that this can be closed on the basis that shrinkwrap is gone and `package.lock.json` is not stable. Solutions are gone but the problem remains.

If NPM is still unable to lock (transitive) dependencies to specific versions, then I suggest that we should use `yarn` instead.

[2018-03-05 09:08] Alexander-Taran commented on #685
https://github.com/npm/npm/issues/18613
frustrating read

[2018-03-05 12:50] Alexander-Taran commented on #392
stale since april 2016

[2018-03-05 13:36] StrahilKazlachev commented on #392
I think that the `primaryProperty` option covers this issue, mostly.
@bigopon what do you think?

[2018-03-05 17:29] EisenbergEffect commented on #392
Yep, this is now implemented.

[2018-03-05 17:29] #392 closed

[2018-03-06 00:30] Alexander-Taran commented on #570
can be closed

[2018-03-06 00:31] #570 closed

[2018-03-06 06:03] shaunluttin opened #872 "Consider moving aurelia-open-id-connect in to the Aurelia organization"
@AshleyGrant suggested that I open an issue here. It's about moving the https://github.com/shaunluttin/aurelia-open-id-connect repository in to the Aurelia organization. I have had less time recently to work on it, and we thought it might receive more attention if it were to live here instead.

[2018-03-06 06:05] AshleyGrant commented on #872
He's right. I told him to file this issue. I want to start the conversation on whether we'd like to support this.

Thoughts?

[2018-03-06 06:06] AshleyGrant commented on #872
Also, I gave him explicit permission to ignore the issue template.

[2018-03-06 17:36] AshleyGrant commented on #872
That sounds like a good idea.

[2018-03-06 21:37] Alexander-Taran commented on #872
@shaunluttin ping me, If you decide to move your repo to contrib.
I'll send you invite to organization.
Note that I'm not related in any way to core team.

[2018-03-07 04:09] shaunluttin commented on #872
@Alexander-Taran We have decided to move the repo to contrib to improve visibility and collaboration.

[2018-03-07 05:24] AbinayaSubbiah opened #873 "Array of string changes not trggering."
Hi all

M not able to get array ite changes in my aurelia `propertyChange`  in custom component template

refer below link for demo

https://gist.run/?id=a6a17f6f9646c3f63149a71cb2d8656d

[2018-03-07 07:27] Alexander-Taran commented on #872
@shaunluttin l'invitation est envoyée.

[2018-03-07 22:21] shaunluttin commented on #872
You're responsive. I've gone ahead and transferred ownership of the repository to aurelia-contrib.

[2018-03-07 22:22] shaunluttin commented on #872
Question: Where do you think the demos should live?

https://github.com/shaunluttin/aurelia-open-id-connect-demos

[2018-03-07 23:11] Alexander-Taran commented on #872
@shaunluttin you mean iclude them in main repo or?
I think they should be close to the source.. and there should be a link to them in main.

[2018-03-08 04:25] #193 closed

[2018-03-08 04:25] EisenbergEffect commented on #193
Agreed.

[2018-03-08 06:02] shaunluttin commented on #872
What I meant was that I think it would be good to move https://github.com/shaunluttin/aurelia-open-id-connect-demos in to the aurelia-contrib organization. Thoughts?

[2018-03-08 09:09] Alexander-Taran commented on #872
@shaunluttin I think so too. They belong together.

from gitter:
*Veikko Eeva*  09:51
Alexander-Taran aurelia/framework#872 has been a sore point in the story. Demos needed for this, together with more advanced routing.

[2018-03-08 12:03] Alexander-Taran commented on #873
duplicates https://github.com/aurelia/binding/issues/670

[2018-03-08 14:11] Alexander-Taran commented on #872
main repo transfered:
demoes will follow, I guess.
can be closed.

@shaunluttin I guess there is a question of npm package. we probably should organize some credentials for contrib org. If you can walk me through this.

this issue can be closed

[2018-03-08 17:29] Alexander-Taran commented on #863
@jauniuse could this be closed?

[2018-03-08 20:07] Alexander-Taran commented on #856
PR looks legit (-:
@EisenbergEffect can you please merge it?
or decline..
that would require reasoning though..

[2018-03-08 21:41] #856 closed

[2018-03-08 23:25] #872 closed

[2018-03-08 23:36] shaunluttin commented on #872
Here is where the existing NPM packages live:

https://www.npmjs.com/~shaunluttin

[2018-03-12 01:19] Alexander-Taran commented on #225
stale since 2016
still relevant?

[2018-03-12 01:44] Alexander-Taran commented on #7
Pretty sure that when we get there there will be a giant billboard: "web components are here"

can be closed

[2018-03-12 01:59] EisenbergEffect commented on #225
Let's keep this open. It's difficult to do in this our current version but I bet we can do it for vNext.

[2018-03-12 02:05] EisenbergEffect commented on #7
We've got a webcomponents library that turns aurelia elements into web components today. We haven't announced it, mainly because we're waiting for someone that cares enough about this feature to test it, provide feedback and help us fix any issues. So far, no takers.

[2018-03-12 02:05] #7 closed

[2018-03-12 07:04] Alexander-Taran commented on #7
need a couple of hints on how to do that
barrier of entry

[2018-03-12 17:50] EisenbergEffect commented on #7
Ok, I've published a 0.1.0 release of the web components plugin and added a bit of documentation in the readme on how to use it. It's never been tested, so it may not work at all. It was a first stab at the implementation I did a while back. It hasn't been touched in quite some time since we didn't have a lot of requests for it. I think now is the time to revisit this and get a working release out

[2018-03-12 17:52] Alexander-Taran commented on #7
@EisenbergEffect thanks a lot.
I'll get my hands on it soon.

[2018-03-13 22:20] Alexander-Taran commented on #753
similar behavior mentioned in gitter
deap82 @deap82:
If anyone is curious; My conclusion for now is that my issue from earlier today is isolated to my use of `<template>` elements within asp.net core .cshtml files (where markup is later aurelia enhanced [http://aurelia.io/docs/fundamentals/app-configuration-and-startup#leveraging-progressive-enhancement]).
Using this polyfill (http://jsfiddle.net/

[2018-03-13 22:27] Alexander-Taran commented on #735
seems stale packages still include src etc

[2018-03-15 10:55] huochunpeng commented on #810
@Alexander-Taran this sounds like same issue.

@firelizzard18 do you mind to test your code with #571 patch? Or sharing a gistrun so we can reproduce the exact one your described? Thx.

[2018-03-15 22:33] Alexander-Taran commented on #432
Nice read
but maybe can be closed
@AStoker ?

[2018-03-15 23:59] Alexander-Taran commented on #827
It is not clear what you are asking for.

[2018-03-16 17:43] #432 closed

[2018-03-17 01:43] Alexander-Taran commented on #813
stale with no answer

[2018-03-17 02:16] EisenbergEffect commented on #813
Closing since there's a workaround via loading lodash after Aurelia.

[2018-03-17 02:16] #813 closed

[2018-03-18 11:03] Alexander-Taran commented on #873
can be closed

[2018-03-18 15:22] javadbat commented on #827
something like this :
@interface('config',{
       value:'string',
        maxAlowed:'number'
});
@inject(config)
class myWidget{...}

[2018-03-18 16:16] #873 closed

[2018-03-18 16:40] Alexander-Taran commented on #827
Still not clear, sorry.
you want to use Aurelia somewhere and need some interface for it?
or you want something in Aurelia to allow you to better use your widget?

[2018-03-19 11:23] Alexander-Taran opened #874 "VM interface typings"
**I'm submitting discussion request**

* **Language:**
TypeScript

**Current behavior:**
There is no way to get intellisense for lifecycle hooks like activate / deactivate
Recent discussion about canceling dialog close and passing viewmodel https://github.com/aurelia/dialog/issues/344
got me thinking.
**Expected/desired behavior:**
What if we could have an interface with signatures for those hooks

[2018-03-19 13:00] StrahilKazlachev commented on #874
@Alexander-Taran I'm against. This has been brought to attention at one time or another. There is an issue, can't find it currently, with a discussion. It is in the *router* - where we introduced the [`RoutableComponent...`](https://github.com/aurelia/router/blob/1.5.0/src/interfaces.js#L109) interfaces.
The `activate`/`deactivate` life cycle:
1. is **not** available everywhere
2. **where** availa

[2018-03-19 13:02] Alexander-Taran commented on #864
can be closed

[2018-03-19 13:04] Alexander-Taran commented on #863
[code]

[2018-03-19 13:04] #864 closed

[2018-03-19 14:12] Alexander-Taran commented on #874
@StrahilKazlachev thanks for pointing the interfaces out.
are there as well interfaces for component lifecycle ?
I'll search myself.. but if you remember where - it'd be great

[2018-03-19 14:13] StrahilKazlachev commented on #874
@Alexander-Taran if you mean `bind`, 'attached', ..., the yes. They are in `aurelia-templating`.

[2018-03-19 14:15] Alexander-Taran commented on #860
@DamageLimiter have you had any success with repro?

[2018-03-19 14:16] Alexander-Taran commented on #855
@AshleyGrant have you checked it with wp4? recently?

[2018-03-19 14:18] Alexander-Taran commented on #849
@arnonuem can you reproduce the behavior with updated cli/webpack etc?

[2018-03-19 14:21] Alexander-Taran commented on #848
@bigopon any other ideas?

[2018-03-19 14:22] Alexander-Taran commented on #847
[code]

[2018-03-19 14:25] Alexander-Taran commented on #845
Can be closed

[2018-03-19 14:26] Alexander-Taran commented on #839
@eriklieben how is it going?

[2018-03-19 14:28] Alexander-Taran commented on #837
@dancespiele It would not know that your custom tag is a custom element.

@StrahilKazlachev will it behave like that with as-element or compose?

[2018-03-19 14:29] #847 closed

[2018-03-19 14:30] Alexander-Taran commented on #834
pinging @bigopon

[2018-03-19 14:32] Alexander-Taran commented on #830
@pkkummermo can you check out if it is resolved with latest versions?

[2018-03-19 14:34] Alexander-Taran commented on #821
Stale since mid 2017

[2018-03-19 14:35] Alexander-Taran commented on #824
Don't think this one is going to happen in v1
Might be a good Idea for extension point in future.

[2018-03-19 14:35] Alexander-Taran commented on #820
pinging @jdanyow

[2018-03-19 14:38] Alexander-Taran commented on #818
Maybe can be closed

[2018-03-19 14:43] Alexander-Taran commented on #808
@EisenbergEffect looks like not an envisioned use case. Yet almighty framework lets you do stuff like this.
Need an opinion on supporting router-view inside dialog

can't imagine a deep linking scenario for this one though

[2018-03-19 14:44] Alexander-Taran commented on #779
can't repro

[2018-03-19 14:45] Alexander-Taran commented on #753
can be closed

[2018-03-19 14:47] Alexander-Taran commented on #743
[code]

[2018-03-19 14:49] Alexander-Taran commented on #711
[code]

[2018-03-19 14:50] Alexander-Taran commented on #671
can be closed?

[2018-03-19 15:07] Alexander-Taran commented on #847
Thanks @amirqasemi74

[2018-03-19 15:07] Alexander-Taran commented on #874
@StrahilKazlachev cool.
thanks

[2018-03-19 15:07] #874 closed

[2018-03-19 18:45] EisenbergEffect commented on #863
Closing since this is more of a question for how to accomplish something, with several answers provided. Further discussion should take place on Discourse.